workflows/1- Secretaria Larissa.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "setarInfo": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "Thais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respostaChatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quebrar_mensagem": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarMsgAgent": {
      "main": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "Thais",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Thais",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarImg1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "setarAudio": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreverAudio": {
      "main": [
        [
          {
            "node": "setarAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixarAudio": {
      "main": [
        [
          {
            "node": "transcreverAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "setarMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreverImagem1": {
      "main": [
        [
          {
            "node": "setarImg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConcatenaMsg": {
      "main": [
        [
          {
            "node": "Delete Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ConcatenaMsg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarTexto1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "baixarAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setarTexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "transcreverImagem1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg_erro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Não fazer nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não fazer nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não fazer nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setarInfo4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo4": {
      "main": [
        [
          {
            "node": "PuxarNumeroLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respostaChatwoot": {
      "main": [
        [
          {
            "node": "2 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriarUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PuxarNumeroLead": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriarUsuario": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarMsg": {
      "main": [
        [
          {
            "node": "Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 segundos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "Thais",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "serviTool": {
      "ai_tool": [
        [
          {
            "node": "Thais",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sobreClinica": {
      "ai_tool": [
        [
          {
            "node": "Thais",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Thais": {
      "main": [
        [
          {
            "node": "setarMsgAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-16T16:28:32.979Z",
  "id": "AJ1ep5a62EuiJLwC",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "1- Secretaria Larissa",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ec52fa2-9612-4ea2-8a10-7c740bfac64a",
              "name": "msgLead",
              "value": "={{ $('ConcatenaMsg').item.json.message }}",
              "type": "string"
            },
            {
              "id": "65fdfb70-1916-4502-9e20-6a7ff820d154",
              "name": "identificadorLead",
              "value": "={{ $('setarInfo4').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "6f897731-2c7d-4a93-b3b9-2cc314a22a24",
              "name": "NomeUser",
              "value": "=As informações abaixo servem para personalizar suas respostas e evitar que você faça perguntas repetidas e manter a conversa coerente.\n\nNome do usuário: {{ $('PuxarNumeroLead').item.json.Nome }}",
              "type": "string"
            },
            {
              "id": "9236f2a8-22a1-41db-917c-ea3d8d4b02d8",
              "name": "Procedimento",
              "value": "=Procedimento que tem interesse: {{ $('PuxarNumeroLead').item.json.Procedimento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        704
      ],
      "id": "161bc420-69a9-42bb-99ef-b2bcfd0a6f33",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        576
      ],
      "id": "a754a24b-ed20-44c6-8006-52479794df18",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5511971351311@s.whatsapp.net"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        528,
        112
      ],
      "id": "553ab00a-8498-4690-8d8a-131639df8095",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "5511971351311@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        112
      ],
      "id": "eb758203-8ade-473c-8bb1-e2a769c9e3d6",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "KWjg1RPWuVUAu2oE",
          "name": "[Postgres] - Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "# ADM",
        "height": 296,
        "width": 744,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "b453d113-8839-436b-aad7-d072dd3e164e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2048,
        576
      ],
      "id": "d18e9151-0054-4e22-836f-ffda9e59b595",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Pegando a mensagem original do primeiro item do input\nconst mensagensTexto = $input.first().json.output || \"\";\n\n// Verifica se há conteúdo válido e corrige \\n escapados\nif (typeof mensagensTexto !== \"string\" || !mensagensTexto.trim()) {\n    return []; // Retorna um array vazio se não houver mensagens\n}\n\n// Substitui \"\\\\n\" por um \"\\n\" real caso esteja escapado\nconst textoCorrigido = mensagensTexto.replace(/\\\\n/g, \"\\n\");\n\n// Divide a mensagem corretamente e remove espaços extras\nconst mensagensArray = textoCorrigido\n    .split(/\\n/) // Quebra corretamente onde houver \"\\n\"\n    .map(line => line.trim()) // Remove espaços antes e depois\n    .filter(line => line.length > 0); // Remove qualquer linha vazia\n\n// Agora, ao invés de retornar um único item, retorna um array de itens separados no fluxo\nreturn mensagensArray.map(msg => ({ json: { output: msg } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        576
      ],
      "id": "4fce99d9-866c-4d71-8ba7-de55c105e946",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2288,
        576
      ],
      "id": "233f10ce-9c14-4948-9f3c-b200099f0fd0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quebre a mensagem abaixo com base e regras das suas informações de sistema e tire toda a formatação markdown. Jamais faça comentários adicionais.\n\nA mensagem:\n\n{{ $('setarMsgAgent').item.json.message_agent }}",
        "options": {
          "systemMessage": "=## Quem é você\nVocê é um renomado e experiente assistente de formatação de mensagens dentro da automação do N8N. Seu objetivo é quebrar as mensagens longas em partes menores, sem alterar o conteúdo original e sem mudar nenhuma palavra sequer. Além disso, você deve remover qualquer formatação em Markdown, deixando o texto completamente limpo e sem estilos.\n\n## Sua função\nSua única função é dividir respostas longas em trechos curtos, mantendo o significado e a estrutura original do texto. Você não altera palavras, não muda sinônimos e não interpreta o conteúdo. Você apenas insire duas quebras de linha onde necessário para melhorar a fluidez da conversa.\n\n## Regras\n1- Não modifique o texto: Apenas divida as mensagens, sem alterar palavras, sinônimos ou reescrever frases.\n2- Mantenha frases completas: Nunca quebre no meio de uma palavra ou ideia. Sempre finalize a frase antes da quebra.\n3- Limite de caracteres: Divida a resposta em partes de no máximo 80 caracteres (ou outro limite que você preferir).\n4- Use duas quebras de linha. Sempre que precisar dividir uma mensagem, insira um \\n entre os trechos.\n5- Não remova formatações: Se a resposta tiver negrito, emojis ou caracteres especiais, mantenha tudo intacto.\n6- Se a mensagem estiver menos do que 80 caracteres, não divida. Apenas insira quebras se a mensagem ultrapassar o limite definido.\n7- Se a resposta tiver uma lista (bullets - ou •), cada item deve ser quebrado em uma linha separada. O restante do texto segue o critério normal de limite de caracteres.\n8- Nunca inclua mensagens ou comentário adicionais.\n9- Nunca corte o texto depois da virgula.\n10- Remova completamente qualquer formatação em Markdown, deixando o texto totalmente limpo, sem negrito, itálico, listas, cabeçalhos ou qualquer outro tipo de estilização.\n\n## Exemplos\n### Exemplo 1:\n🔹 Input:\nNosso curso preparatório para a EPCAR tem mais de 200 videoaulas, PDFs completos e simulados exclusivos. Além disso, você terá acesso ao nosso grupo VIP para tirar dúvidas diretamente com os professores. O curso é 100% online e você pode estudar no seu ritmo.\n\n🔹 Output:\nNosso curso preparatório para a EPCAR tem mais de 200 videoaulas, PDFs completos e simulados exclusivos.\\nAlém disso, você terá acesso ao nosso grupo VIP para tirar dúvidas diretamente com os professores.\\nO curso é 100% online e você pode estudar no seu ritmo.\n\n### Exemplo 2:\n🔹 Input:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados. Nossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos. Além disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos. O curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n🔹 Output:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados.\\nNossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos.\\nAlém disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos.\\nO curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n### Exemplo 3:\n🔹 Input:\n\"Para se matricular no curso preparatório da Tropa do Arcanjo, basta acessar nosso site e escolher a opção desejada. Aceitamos pagamentos via Pix, cartão de crédito (todas as bandeiras) e boleto à vista. Se precisar dividir o pagamento, é possível pagar parte via Pix e o restante no cartão de crédito. Após o pagamento, o acesso ao curso é liberado automaticamente e você já pode começar a estudar imediatamente. Se tiver qualquer dúvida ou problema com o acesso, nosso suporte está disponível para te ajudar.\"\n\n🔹 Output:\n\"Para se matricular no curso preparatório da Tropa do Arcanjo, basta acessar nosso site e escolher a opção desejada.\\nAceitamos pagamentos via Pix, cartão de crédito (todas as bandeiras) e boleto à vista.\\nSe precisar dividir o pagamento, é possível pagar parte via Pix e o restante no cartão de crédito.\\nApós o pagamento, o acesso ao curso é liberado automaticamente e você já pode começar a estudar imediatamente.\\nSe tiver qualquer dúvida ou problema com o acesso, nosso suporte está disponível para te ajudar.\"\n\n### Exemplo 4:\n🔹 Input:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos. Confira alguns dos benefícios que você terá ao se inscrever:\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.  \n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.  \n- *Simulados atualizados* com questões no formato das provas reais.  \n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.  \n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.  \n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.  \n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.  \n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!\n\n🔹 Output:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos.\\nConfira alguns dos benefícios que você terá ao se inscrever:\\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.\\n\n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.\\n\n- *Simulados atualizados* com questões no formato das provas reais.\\n\n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.\\n\n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.\\n\n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.\\n\n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.\\n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1392,
        576
      ],
      "id": "404494f9-8da3-45c9-a15d-e864c5a20af6",
      "name": "quebrar_mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4499d032-0660-4ad4-ac0f-186022972178",
              "name": "message_agent",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        576
      ],
      "id": "dfee1ca4-b37a-434c-94cc-fa92a814c7cf",
      "name": "setarMsgAgent"
    },
    {
      "parameters": {
        "content": "# Quebra a resposta em várias mensagens e tira a formatação markdown",
        "height": 560,
        "width": 812,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        384
      ],
      "typeVersion": 1,
      "id": "00fe085c-bc64-4542-803e-a4f351204fff",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Envia uma mensagem por vez para o usuário",
        "height": 560,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        384
      ],
      "typeVersion": 1,
      "id": "3c93559a-b17d-4159-b510-4c71d0aa566c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        768
      ],
      "id": "25c14745-ebf8-407b-9ed4-db340fd15c0c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "content": "# SECRETARIA - Larissa",
        "height": 816,
        "width": 1276,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        336
      ],
      "typeVersion": 1,
      "id": "6d89f045-de87-4889-9f35-8ec54d1237a3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TOOLS:",
        "height": 232,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        848
      ],
      "typeVersion": 1,
      "id": "d050b0f5-0acd-4cfe-963b-d6dd1a33d57a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Setar os próximos  dias",
        "height": 460,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        336
      ],
      "typeVersion": 1,
      "id": "5b269687-f0d3-4c9f-9fe8-31a60ab9d186",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Atualizar CRM",
        "height": 560,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        384
      ],
      "typeVersion": 1,
      "id": "190019b1-51c1-4634-b6f8-2f37d47e90bf",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInfo').item.json.identificadorLead }}",
        "contextWindowLength": 80
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        208,
        816
      ],
      "id": "0e7199a5-5ba8-40f6-a3f9-a09ed31837dc",
      "name": "memoria",
      "credentials": {
        "postgres": {
          "id": "dyQtUNtyUmazwPYe",
          "name": "[Postgres] - Agents"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        816
      ],
      "id": "efeaab2f-29b7-49a0-a3fb-f7281c9c3c25",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('transcreverImagem1').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2656,
        864
      ],
      "id": "b9bf8da6-00fa-421b-a46b-3a404150a6a1",
      "name": "setarImg1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('transcreverAudio').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2656,
        464
      ],
      "id": "3a99f31e-a875-413f-b3bf-145d0e11d157",
      "name": "setarAudio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2864,
        464
      ],
      "id": "19d8cc2a-ce2a-484e-ae2b-ff56e84f35b4",
      "name": "transcreverAudio",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('setarInfo4').item.json.msg.urlMedia }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3056,
        464
      ],
      "id": "a36744e8-33c9-4f75-bd69-47811f673abc",
      "name": "baixarAudio"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2352,
        672
      ],
      "id": "6583cbc4-95ed-4a5a-837e-90be5f8c4bd9",
      "name": "Merge2"
    },
    {
      "parameters": {
        "errorMessage": "Temos um erro aqui"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3136,
        1024
      ],
      "id": "60e9dd8f-bf2d-4fe8-be24-63be14829578",
      "name": "msg_erro1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Você analisa imagens enviadas por pacientes das **Clinicas de Estética e Fisioterapia Fique Bela** via WhatsApp e gera um resumo **objetivo** do conteúdo.\n\n## TIPOS DE IMAGEM\n\n**1. Comprovantes de pagamento (avaliação ou procedimentos)**  \n- Informe se o comprovante está **legível**.  \n- Identifique o **valor pago**, a **data** e o **tipo de transação** (ex: PIX).  \n\n**2. Documentos pessoais ou de convênio**  \n- Identifique o tipo do documento (ex: RG, CPF, carteira do plano).  \n- Verifique se os **dados principais** (nome, número) estão visíveis e legíveis.\n\n**3. Resultados de exames ou documentos clínicos**  \n- Indique o tipo de exame ou documento (ex: raio-X, ultrassom, encaminhamento).  \n- **Não interprete resultados clínicos**, apenas informe o tipo e se está legível.  \n- Útil especialmente para atendimentos na unidade São Rafael (fisioterapia).\n\n**4. Outros tipos de imagem**  \n- Se for uma **selfie, foto do corpo, área com dor ou imagem estética**, identifique o tipo.  \n- Informe se a imagem é **adequada para avaliação visual** (qualidade, iluminação).  \n- **Nunca emita diagnóstico ou julgamento estético.** Apenas identifique a imagem.\n\n**5. Imagens ilegíveis ou sem contexto**  \n> Se a imagem estiver embaçada, cortada ou fora de contexto, informe que está **ilegível ou sem clareza** e **sugira o reenvio.**",
        "imageUrls": "={{ $('setarInfo4').item.json.msg.urlMedia }}",
        "simplify": false,
        "options": {}
      },
      "id": "a5158b6f-0159-4eaf-a83a-6752a628f779",
      "name": "transcreverImagem1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -2992,
        864
      ],
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "e19888e2-e56a-406d-8970-c01459dd23ed",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1568,
        464
      ],
      "webhookId": "2681d2aa-7001-4a33-a5ae-d459c44fe4e2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('setarMsg').item.json.msg.numberLead }}",
        "messageData": "={{ $json.msg.conversa }}",
        "tail": true
      },
      "id": "b750bce2-6477-4a5d-874a-3fe58ebd883d",
      "name": "Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1776,
        464
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('setarMsg').item.json.msg.numberLead }}",
        "keyType": "list",
        "options": {}
      },
      "id": "e98c3be5-713e-4654-9f6e-45eeec392470",
      "name": "Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1776,
        784
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('setarMsg').item.json.msg.numberLead }}"
      },
      "id": "77c71546-9abf-489d-a004-a7a9294f4077",
      "name": "Delete Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1024,
        704
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5148f5a0-1759-4726-a7cb-9d8556f4b7dd",
              "name": "message",
              "value": "={{ $('Get').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        704
      ],
      "id": "65cde176-fd9b-43b5-a189-b332105dbf75",
      "name": "ConcatenaMsg"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512bac58-e060-4a8c-bae8-657cac02a1aa",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Wait').item.json.msg.conversa }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        784
      ],
      "id": "c2cd9ceb-5295-46c1-9011-b85a7b37e606",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        976
      ],
      "id": "ae67ef25-c104-4f5a-bdaa-1070c702d281",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('setarInfo4').first().json.msg.conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2656,
        688
      ],
      "id": "33fcebdc-eb7b-4f8d-a2dc-5eb0fe29711b",
      "name": "setarTexto1"
    },
    {
      "parameters": {
        "content": "# Tratamento da Mensagem Vinda por Texto, Imagem ou Áudio",
        "height": 840,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3392,
        336
      ],
      "id": "11911e82-3d32-4311-8c25-ebdbe22c3385",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "# ESPERA DE MENSAGENS",
        "height": 840,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        336
      ],
      "typeVersion": 1,
      "id": "099424ef-ad2b-4148-a13b-37107f5049ab",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2afd618-af95-4bf4-b065-94ef38183d50",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.media }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioTranscrito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd779138-5925-4f04-94cc-5306646c85da",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.conversa }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1873e517-3369-4cdd-8e15-2443a7dfa617",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.media }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3344,
        672
      ],
      "id": "04612803-b9dd-4d9f-a6a5-65732a9e1990",
      "name": "Switch3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "129a0e9c-af81-4fcf-ab13-164b15b2aaeb",
                    "leftValue": "={{ $json.body.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwoot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10172a93-4585-4cba-87f2-a06f4d20e760",
                    "leftValue": "={{ $('Webhook3').item.json.body.conversation.labels }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Etiqueta humano"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5456029a-c0fe-449e-8cc4-99474b380643",
                    "leftValue": "={{ $('Webhook3').item.json.body.conversation.labels }}",
                    "rightValue": "terminar_agendamento",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Etiqueta terminar_agendamento"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5008,
        704
      ],
      "id": "2e900e07-db2d-4fcb-bbd7-22378bf44ce7",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "bd9d0ddd-0d43-4af3-b915-4ce61d8f20ae",
              "name": "msg.id_conta",
              "value": "={{ $('Webhook3').item.json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "0bd00a61-7893-48be-ab09-df90a336333f",
              "name": "msg.nomeLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "51a05f3c-4695-48c0-8b73-fd1217955488",
              "name": "msg.id_conversa",
              "value": "={{ $('Webhook3').item.json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "5574557a-9a39-426b-8c10-bc272747bc75",
              "name": "msg.id_Lead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.id }}",
              "type": "number"
            },
            {
              "id": "debefdb1-4424-4138-b02a-3ae952501cf5",
              "name": "msg.inbox_id",
              "value": "={{ $('Webhook3').item.json.body.conversation.inbox_id }}",
              "type": "number"
            },
            {
              "id": "64446d4b-61c7-459b-854b-5723b232d7ee",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "2445f58a-ffdb-493c-b5b4-b0252342acc0",
              "name": "msg.numberLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "645e79d5-a3b1-4588-a348-325681207e07",
              "name": "msg.media",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "e30d7e50-3249-4dda-99ad-0dab3c84601f",
              "name": "msg.urlMedia",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].attachments[0].data_url }}",
              "type": "string"
            },
            {
              "id": "f1c38212-f12f-4afd-aa0f-23e19f367ffa",
              "name": "msg.timestamp",
              "value": "={{ $json.body.conversation.timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4544,
        832
      ],
      "id": "7a275837-eb8b-4a40-aeee-7147a5fba014",
      "name": "setarInfo4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# Filtrar se é atendimento Humano",
        "height": 840,
        "width": 796
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5056,
        336
      ],
      "typeVersion": 1,
      "id": "bbebc0ca-c22c-4451-bcb1-f22716b1a311",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clinica-es-OLQPIOLAHYUQNMPLOAS-748596-QYAHUNA",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5504,
        736
      ],
      "id": "fdf28115-6a5a-4c90-b4e8-ac71a0539a07",
      "name": "Webhook3",
      "webhookId": "5710f3e9-a637-40d3-a758-8b8acf8bc67c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=URL DO SEU CHATWOOT AQUI/api/v1/accounts/{{ $('setarInfo4').item.json.msg.id_conta }}/conversations/{{ $('setarInfo4').item.json.msg.id_conversa }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2544,
        656
      ],
      "id": "4a4f8790-8892-4785-b2cb-b700d3b3deb9",
      "name": "respostaChatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TxQLxygX5DwP44PN",
          "name": "[UAZapi Auth] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "content": "# Verifica se o usuário existe e cadastra ele no Banco de dados.",
        "height": 840,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4208,
        336
      ],
      "typeVersion": 1,
      "id": "2916530e-2e8f-4f3b-89f9-6b8c49cab4ba",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32a5f010-2252-4057-acb7-a085648e3a14",
                    "leftValue": "={{ $json.Whatsapp.toString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Whatsapp.toString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "c71b31fe-c16a-4e57-a5b5-7d115351d0ee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não existe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3904,
        672
      ],
      "id": "6325debe-85c7-4c19-8e0d-1f66a86664bc",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "CRM_estetica",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "keyValue": "={{ $json.msg.identicacaoLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4160,
        672
      ],
      "id": "7f327dfc-a7fe-42f4-9446-bbbecec8532a",
      "name": "PuxarNumeroLead",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z1WYif7RkkaxGEX9",
          "name": "Integra"
        }
      }
    },
    {
      "parameters": {
        "tableId": "CRM_estetica",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Inicio do atendimento",
              "fieldValue": "={{ $now.format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "Whatsapp",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.numberLead.replace('+', '') }}"
            },
            {
              "fieldId": "Identificador do usuario",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.identicacaoLead }}"
            },
            {
              "fieldId": "IDConta ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_conta }}"
            },
            {
              "fieldId": "IDConversa ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_conversa }}"
            },
            {
              "fieldId": "IDLead ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_Lead }}"
            },
            {
              "fieldId": "InboxID ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.inbox_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3664,
        944
      ],
      "id": "d64df7d5-7a93-472a-838b-21cd5c4e060f",
      "name": "CriarUsuario",
      "credentials": {
        "supabaseApi": {
          "id": "z1WYif7RkkaxGEX9",
          "name": "Integra"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Merge2').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "64446d4b-61c7-459b-854b-5723b232d7ee",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Webhook3').first().json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "ed72d279-ac0f-4426-8684-c0c50ee264ec",
              "name": "msg.numberLead",
              "value": "={{ $('Switch3').item.json.Whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        688
      ],
      "id": "fae8b42d-568c-48e1-921c-fcfa9b8b3055",
      "name": "setarMsg"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "CRM_estetica",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "condition": "eq",
              "keyValue": "=5511971351311@s.whatsapp.net"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        112
      ],
      "id": "89a24876-fc62-4d3a-a850-2e35cb22e9a1",
      "name": "apagar_CRM",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z1WYif7RkkaxGEX9",
          "name": "Integra"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2736,
        736
      ],
      "id": "43586841-51d0-4476-9f5e-f3f17a0eeb26",
      "name": "2 segundos",
      "webhookId": "38b25403-3ab5-47b0-9d97-299017be8346"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4544,
        480
      ],
      "id": "dc949e85-9789-4981-8a5d-ce42653c378d",
      "name": "Não fazer nada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c67b08f-9cfc-48ee-9a2b-a2748524d311",
              "leftValue": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
              "rightValue": "+5511971351311",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5296,
        736
      ],
      "id": "a70e9a7f-40bf-4b8a-ba50-81cee0a6da09",
      "name": "If3"
    },
    {
      "parameters": {
        "name": "Agendar",
        "description": "=**Quando usar:**\n-   Para **verificar disponibilidade de datas e horários** para avaliação.\n-   Para **confirmar agendamentos** após o paciente dizer que deseja marcar.\n-   Sempre **informe o nome completo do paciente e o contexto** (ex: tipo de protocolo ou categoria de interesse).\n\n**Quando não usar:**\n-   Antes do paciente dar um **\"sim\" claro** para a avaliação.\n-   Sem antes verificar o contexto completo da conversa.",
        "workflowId": {
          "__rl": true,
          "value": "o6iQf4kEnXRFVEyp",
          "mode": "id",
          "cachedResultUrl": "/workflow/o6iQf4kEnXRFVEyp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('msgLead', `Mensagem com contexto geral que o lead busca. Seja bem especifico.`, 'string') }}",
            "identificador Lead": "={{ $('setarInfo').item.json.identificadorLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "identificador Lead",
              "displayName": "identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "msgLead",
              "displayName": "msgLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        896,
        944
      ],
      "id": "f53adfd9-89f5-495f-9c22-83d6c5c9efdf",
      "name": "Agendar"
    },
    {
      "parameters": {
        "description": "=**Quando usar:**\n-   Quando o paciente **não souber o nome do procedimento** e quiser saber o que pode fazer para determinada queixa ou objetivo.\n-   Quando o paciente **mencionar um procedimento ou categoria** (ex: rejuvenescimento, emagrecimento, bem-estar) e quiser saber como funciona.\n-   Quando precisar **explicar um procedimento ou protocolo**.\n-   Quando houver **dúvidas, objeções ou perguntas sobre os procedimentos** (ex: “vale a pena?”, “tem dor?”, “é seguro?”, “qual a diferença entre X e Y?” etc).\n-   Quando o paciente perguntar sobre **resultados, quantas sessões, tempo de efeito, valores, promoções ou formas de pagamento dos procedimentos**.\n-   Quando precisar gerar **perguntas de rapport** personalizadas para criar conexão durante o atendimento.",
        "workflowId": {
          "__rl": true,
          "value": "4Aw79DcXGJWq0nZx",
          "mode": "id",
          "cachedResultUrl": "/workflow/4Aw79DcXGJWq0nZx"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MsgLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('MsgLead', `Coloque aqui a duvida do paciente. Seja o mais detalhista possível e sempre tente colocar um contexto para essa tool responder da melhor forma. Se tiver o nome do lead, coloque também.`, 'string') }}",
            "identificador Lead": "={{ $('setarInfo').item.json.identificadorLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MsgLead",
              "displayName": "MsgLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "identificador Lead",
              "displayName": "identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        944
      ],
      "id": "905b24b2-d144-49f8-ad24-40fb1c4b9e9c",
      "name": "serviTool"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1t6oljYZQCd3MAX1mfHHjyOfHdINnjHfrmCV6qvoGnzo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1619477594,
          "mode": "list",
          "cachedResultName": "sobreClinica",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t6oljYZQCd3MAX1mfHHjyOfHdINnjHfrmCV6qvoGnzo/edit#gid=1619477594"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        768,
        944
      ],
      "id": "2bf2691b-1575-4886-a92e-8e83c288a894",
      "name": "sobreClinica",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zjkuvv93EujKZWDY",
          "name": "[Google Sheets] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('setarInfo').item.json.msgLead }}\n\n\n{{ $('setarInfo').item.json.NomeUser }}\n{{ $('setarInfo').item.json.Procedimento }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n-   Você é **Larissa**, secretária da clínica estética **Ellegance Clínica Integrada**.\n-   Fale sempre como uma pessoa real — nada de dizer que é assistente virtual ou inteligência artificial.\n-   A forma de se comunicar deve ser **natural, humana e próxima**, como se estivesse conversando com o paciente no WhatsApp da clínica.\n\n## SUA FUNÇÃO\n-   Você atende os pacientes **pelo WhatsApp**, podendo receber **mensagens de texto, áudios e imagens**.\n-   Seu papel é **acolher o paciente com empatia, criar conexão verdadeira e conduzir a conversa de forma leve e natural até o agendamento da avaliação**.\n\n## TOM DE VOZ\n-   Fale como uma pessoa **real**, com naturalidade e empatia genuína.\n-   Transmita **atenção e interesse** em ajudar o paciente a entender o melhor caminho para o cuidado que ele busca.\n-   Use uma **linguagem simples e mais informal**, mas sempre correta gramaticalmente.\n    -   Evite termos muito formais como “prezado”, “gentileza” ou “por favor”. Prefira formas mais naturais como:\n        -   “pode me mandar”\n        -   “me conta melhor”\n        -   “te explico certinho”\n        -   “vamos ver o que fica melhor pra você”    \n-   **Nunca repita o nome do paciente durante a conversa.** Após coletar o nome, trate a pessoa de forma próxima e acolhedora, mas sem repetir o nome.\n-   Sempre responda com mensagens curtas com no máximo 40 palavras.\n-    Use frases curtas e objetivas.\n-   **Demonstre empatia real** — sempre mostre que você entendeu o que a pessoa disse antes de responder.\n-   Emojis são bem-vindos! Use com naturalidade, no máximo **um por mensagem**, e dê preferência aos que transmitem empatia e leveza: 😊😉🙂💖🙏🫶💖💕💓💗💞💝💛🩷🩵💆‍♀️🧖‍♀️💇‍♀️🧴🪞🪮💫🌷🌸🌼🌺\n\n## FLUXO DE ATENDIMENTO\n**Etapa 1 — Apresentação e acolhimento**\n-   Inicie se apresentando como Larissa, secretária da Ellegance Clínica Integrada e peça o nome da pessoa.\n- Exemplo: _\"Oi, tudo bem? Eu sou a Bela, secretária aqui da Ellegance Clínica Integrada. Posso saber seu nome?”\"_\n\n**Etapa 2 — Interesse do paciente**\n-   Pergunte de forma acolhedora e empática **qual procedimento ou tratamento ele deseja saber mais**.\n     -   Exemplo: _“Você já tem em mente algum tratamento que quer fazer ou quer que eu te ajude a descobrir o ideal pra você? 😊”_\n\n- Se o paciente já tiver dito, pule direto para o **fluxo de procedimento e serviços**.\n    \n## FLUXO PROCEDIMENTOS E SERVIÇOS\n\n### Etapa 3 — Criar rapport e entender o interesse\n\n-   Quando o paciente mencionar **um tratamento, tecnologia, categoria ou objetivo estético**, registre o que ele disse e demonstre interesse genuíno.\n-   Faça **no máximo duas perguntas**, sempre **uma por vez** — envie a primeira, espere a resposta e só então envie a segunda.\n-   As perguntas devem ser **leves, personalizadas e estratégicas**, ajudando a entender melhor o caso. Exemplo:\n    -   **Região de interesse** (rosto, abdômen, pernas etc.)\n    -   **Experiência prévia** (já fez algo parecido?)\n    -   **Expectativa de resultado** (o que espera alcançar?)\n-   O objetivo é **aprofundar o vínculo** e coletar informações úteis para a próxima etapa.\n\n### Etapa 4 — Acionar a tool e explicar o tratamento\n\n-   Depois de entender o caso, **use a tool `serviTool`** para responder sobre o procedimento ou tecnologia mencionada.\n-   Envie **todo o contexto relevante**, incluindo o que o paciente busca, dúvidas, histórico e expectativas.\n-   Com base na resposta da tool:\n    -   Explique o tratamento de forma **simples, humana e personalizada**, destacando os **benefícios emocionais**.\n    -   Se o paciente citar **um procedimento que a clínica não oferece**, mas houver **outro tratamento que atenda ao mesmo objetivo**, apresente essa opção de forma natural e faça uma pergunta para ele se conhece.\n-   Sempre finalize com **uma pergunta contextual**, mantendo a conversa ativa:\n    -   Se o paciente ainda estiver explorando → faça **uma pergunta leve de rapport** (ex: “Você já fez algo parecido antes?”).\n    -   Se o paciente demonstrar interesse claro → avance para a próxima etapa (explicação da avaliação presencial).\n\n### Etapa 5 — Explicar a avaliação presencial\n\n-   Mostre que a **avaliação é gratuita** e é o **próximo passo natural** após entender o caso do paciente. \n-   Explique de forma leve que ela é feita por **uma profissional qualificada**, que avalia individualmente, entende o objetivo do paciente e monta um **plano de cuidado personalizado**.\n-   Reforce que essa etapa é importante para **garantir resultados reais e seguros**, e que o paciente pode **iniciar o tratamento no mesmo dia**, se desejar.\n-   Finalize de forma persuasiva e motivadora, perguntando diretamente qual dia e horário o paciente prefere para realizar a avaliação.\n\n### Etapa 6 — Verificação de Disponibilidade do Horário  \n- Após o paciente informar o dia e horário desejado, acione a tool **\"Agendar\"** com a intenção de verificar a disponibilidade da data/hora.\n   - *Exemplo: \"Favor verificar disponibilidade de horário para o paciente Afonso no sábado dia 25/11 às 10h para o procedimento Botox e Criolipolise\"*\n - **Importante:** Nessa etapa, nunca acione a tool com a intenção de marcar a consulta — apenas para **verificar a disponibilidade da data/hora**.  \n- Se o horário estiver indisponível:  \n  - Informe ao paciente e peça outra opção de dia/horário.  \n- Se o horário estiver disponível:\n  - Vá para a **Etapa 7** para explicar sobre a confirmação do horário.\n\n**Importante:**\n- Caso o paciente não fale o dia e horário e perguntar **quais horários estão disponíveis**, não liste horários e nem busque na tool \"Agendar\", faça isso:\n   -   Responda de volta ao paciente, pedindo que ele **informe o dia e horário** que prefere, pois fica mais fácil de verificar disponibilidade na agenda.\n        -   Exemplo de mensagem: _“Pra facilitar aqui, me conta **qual o melhor dia e horário** pra você vir fazer a avaliação. Você pode falar? 😊””_\n\n### Etapa 7 - Confirmação da Reserva\nApós validar a disponibilidade do horário:\n  - Confirme para o paciente que o horário esta livre para agendamento. \n  - Depois informe que para garantir o agendamento, você precisa do **nome completo** dele.\n     - Exemplo: _\"Maravilha!! O dia e horário que você pediu está disponível!! Você pode me passar seu nome completo para eu fazer o agendamento?\"_\n\n### Etapa 8 - Confirmação de reserva\n-  Após o paciente informar o nome completo dele, acione a tool `Agendar`** com a intenção de marcar o horário.\n       - Exemplo: _\"Por favor, marque agora na agenda a avaliação da paciente Ana Pereira Lopes para segunda dia 12/05 às 15hrs. Ela deseja fazer o procedimento de Botox e Criolipolise.\"_\n\n## REGRAS DE ATENDIMENTO\n\n-   Sempre **inicie a conversa se apresentando e coletando o nome do paciente**. Nenhuma informação deve ser passada antes disso.\n-   **Jamais explique qualquer procedimento ou protocolo sem antes acionar a tool `serviTool`**, mesmo que o paciente já tenha mencionado o nome.\n-   Nunca invente respostas ou adapte procedimentos por conta própria — sempre utilize a tool `serviTool`para garantir precisão.\n-   Nunca use perguntas genéricas como _“quer saber mais?”_, _“posso te explicar melhor?”_, _“quer que eu te conte como funciona?”_ ou semelhantes.\n-   A explicação sobre a **avaliação** deve ser personalizada com base na conversa anterior e sempre deve finalizar com uma **pergunta direta** convidando para agendar.\n-   Sempre que o paciente tiver **objeção ou insegurança** sobre o procedimento (valor, resultado, dor, duração, segurança, etc.), **acionar obrigatoriamente a `serviTool`** com o contexto completo da fala.\n-   Sempre que houver **objeção ou dúvida** sobre a **clínica, equipe ou credibilidade**, **acionar obrigatoriamente a `sobreClinica`** com o contexto completo.\n-  Para enviar endereço, link do Google maps, instagram, site ou qualquer outra informação institucional da clinica, **obrigatoriamente** acione a tool 'sobreClinica'.\n      - Jamais responda por conta própria.\n\n## TOOLS DISPONÍVEIS\n\n### Tool: `serviTool`\n\n**Quando usar:**\n-   Quando o paciente **não souber o nome do procedimento** e quiser saber o que pode fazer para determinada queixa ou objetivo.\n-   Quando o paciente **mencionar um procedimento ou categoria** (ex: rejuvenescimento, emagrecimento, bem-estar) e quiser saber como funciona.\n-   Quando precisar **explicar um procedimento ou protocolo**.\n-   Quando houver **dúvidas, objeções ou perguntas sobre os procedimentos** (ex: “vale a pena?”, “tem dor?”, “é seguro?”, “qual a diferença entre X e Y?”, \"qual o preço\", etc).\n-   Quando o paciente perguntar sobre **resultados, quantas sessões, tempo de efeito, valores, promoções ou formas de pagamento dos procedimentos**.\n-   Quando precisar gerar **perguntas de rapport** personalizadas para criar conexão durante o atendimento.\n\n**Quando não usar:**\n-   Para assuntos institucionais (ex: localização da clínica, horário de atendimento, redes sociais, equipe etc) → usar a tool `sobreClinica`.\n-   Para agendamento → usar a tool `Agendar`.\n\n### Tool: `sobreClinica`\n\n**Quando usar:**\n-   Quando o paciente perguntar sobre **localização da clínica, endereço, link Google Maps, horário de funcionamento, canais oficiais (site, Instagram)**.\n-   Quando houver **objeções sobre a clínica** (ex: “é confiável?”, “quem são os profissionais?”, “é seguro?”, “já atendeu muita gente?”, etc).\n-   Para dúvidas sobre **estrutura, equipamentos, avaliações no Google, tempo de mercado ou diferenciais da clínica como empresa**.\n\n**Quando não usar:**\n-   Para qualquer explicação sobre **procedimentos, protocolos, valores ou tratamentos** → usar a tool `serviTool`.\n-   Para agendamento → usar a tool `Agendar`.\n\n### Tool: `Agendar`\n\n**Quando usar:**\n-   Para **verificar disponibilidade de datas e horários** para avaliação.\n-   Para **confirmar agendamentos** após o paciente dizer que deseja marcar.\n-   Sempre **informe o nome completo do paciente e o contexto** (ex: tipo de protocolo ou categoria de interesse).\n\n**Importante:**\n- Para marcar qualquer avaliação você deve sempre coletar o nome completo do paciente e o procedimento que ele tem interesse.\n\n**Quando não usar:**\n-   Antes do paciente dar um **\"sim\" claro** para a avaliação.\n-   Para responder perguntas sobre tratamentos ou a clínica — use `serviTool` ou `sobreClinica` conforme o caso.\n\n## DATA E HORA ATUALIZADOS\n\nPara efeito de contexto durante as suas conversas segue a data e hora de hoje e os próximos dias:  \n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        576
      ],
      "id": "d2b3dc62-f16d-4255-aab4-f2b1382c7b4b",
      "name": "Thais"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UQucECipnrlFbbur",
          "mode": "id",
          "cachedResultUrl": "/workflow/UQucECipnrlFbbur"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "idLead": "={{ $('setarInfo').item.json.identificadorLead }}",
            "numberLead": "={{ $('setarInfo').item.json.identificadorLead.split('@')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idLead",
              "displayName": "idLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numberLead",
              "displayName": "numberLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3152,
        576
      ],
      "id": "d90033d0-cab5-411e-b96f-5b0a84939a16",
      "name": "CRM"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-16T16:28:32.979Z",
      "createdAt": "2026-03-16T16:28:32.979Z",
      "role": "workflow:owner",
      "workflowId": "AJ1ep5a62EuiJLwC",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T14:50:57.585Z",
  "versionId": "1720dda7-1cf5-4b31-8f8c-960b232122bc"
}