workflows/2- Agendamento na agenda Fernanda.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Disponibilidade": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marca": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já tem um evento": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "tirarData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica evento": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica evento1": {
      "main": [
        [
          {
            "node": "Google Calendar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Verifica evento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Já tem um evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidade1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definir agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Marca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInformacoes": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir agenda": {
      "main": [
        [
          {
            "node": "buscar eventos já reistrados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar eventos já reistrados": {
      "main": [
        [
          {
            "node": "juntar eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "juntar eventos": {
      "main": [
        [
          {
            "node": "definir disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir disponibilidade": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo": {
      "main": [
        [
          {
            "node": "marcarData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec workflow": {
      "main": [
        [
          {
            "node": "setarInformacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marcarData": {
      "main": [
        [
          {
            "node": "response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tirarData": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zAPI": {
      "main": [
        [
          {
            "node": "etiquetar_terminar_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "etiquetar_terminar_agendamento": {
      "main": [
        [
          {
            "node": "marcarData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marcarData1": {
      "main": [
        [
          {
            "node": "zAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-16T16:33:31.594Z",
  "id": "0GdrAs37SI3EfPyl",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "2- Agendamento na agenda Fernanda",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86ff282a-3ede-4417-98c1-0d10858bc5dc",
              "name": "response",
              "value": "=Agendamento concluído do lead {{ $('setarInfo').item.json.NomeLead }} para o dia: {{ $('setarInfo').item.json.diaHoraConsulta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f82e4ba-d897-4417-b7f7-e4d55537e873",
      "name": "response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3456,
        368
      ]
    },
    {
      "parameters": {
        "content": "# Agendamento Fernanda",
        "height": 1580,
        "width": 3660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "3fad0bce-4b58-493b-8d08-27808e7605b6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "timeMin": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "timeMax": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "options": {}
      },
      "id": "c1110480-1034-4191-b4be-c2cd13ac4dba",
      "name": "Disponibilidade",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1328,
        368
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "start": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "end": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "additionalFields": {
          "attendees": [],
          "description": "=ID do cliente: {{ $('setarInformacoes').first().json.identificadorLead }}\n\nNome do cliente:  {{ $('setarInformacoes').item.json.NomeLead }}\nWhatsapp: {{ $('setarInformacoes').item.json.Whatsapp }}\n{{ $('setarInformacoes').item.json.servico }}",
          "summary": "={{ $('exec workflow').item.json.Profissional }} | Cliente: {{ $('setarInformacoes').item.json.NomeLead }}"
        }
      },
      "id": "d7f7e743-1010-403b-b80f-e02d80622dad",
      "name": "Marca",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1856,
        368
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "limit": 1,
        "options": {}
      },
      "id": "efe71a34-96c6-4d5d-8ca8-75f19c194861",
      "name": "Já tem um evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        896,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "eventId": "={{ $('Verifica evento').item.json.id }}",
        "options": {}
      },
      "id": "ea06ecfa-04fa-41bf-8906-6e4a43db1e8a",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1104,
        688
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "eventId": "={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}",
        "useDefaultReminders": false,
        "updateFields": {
          "end": "={{ $item(\"0\").$node[\"When Executed by Another Workflow\"].json[\"query\"][\"end\"] }}",
          "sendUpdates": "all",
          "start": "={{ $item(\"0\").$node[\"When Executed by Another Workflow\"].json[\"query\"][\"start\"] }}"
        }
      },
      "id": "61289353-ff55-49e4-8608-bb3e22d405d0",
      "name": "Google Calendar3",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1680,
        928
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "returnAll": true,
        "options": {
          "query": "={{ $('setarInformacoes').first().json.identificadorLead }}"
        }
      },
      "id": "b7ba2163-0466-4651-bcd4-18726fb1f957",
      "name": "Verifica evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        896,
        688
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "returnAll": true,
        "options": {
          "query": "={{ $('setarInformacoes').first().json.NomeLead }}"
        }
      },
      "id": "becdfff2-0c9d-45c2-a6cb-fd4cc40b5441",
      "name": "Verifica evento1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1472,
        928
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be5649a9-7624-4621-bd2d-84c25577c0ce",
              "leftValue": "={{ $json.available }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2069e53a-25bb-4f98-b452-cd81c6d0c342",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        928
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "timeMin": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "timeMax": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "options": {}
      },
      "id": "92ddff70-4359-42a2-a564-56718c7d80d9",
      "name": "Disponibilidade1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        944,
        928
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86ff282a-3ede-4417-98c1-0d10858bc5dc",
              "name": "response",
              "value": "=Você já tem uma reunião agendada para o dia: {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} gostaria de reagendar? ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "92971fbd-0b5a-4708-92bb-5068ad7bf245",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d192ed0-aebd-404e-8339-daab0d29651f",
              "leftValue": "={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b3036bd-dece-4f57-9f8f-06b6b8d8abbe",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f842ffa-cd8f-40ab-a0a7-40dc173357a7",
              "name": "response",
              "value": "Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8a574d8f-7e54-4df4-bb5d-501920ed903b",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4",
              "name": "response",
              "value": "horário não disponível, peça outro horário",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "505a47e8-371f-44c3-9e73-1c6376f3861c",
      "name": "Edit Fields9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        688
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5b06620-94a8-41c3-b06c-64a1c9306317"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a57e8e8-5227-4cde-8d58-7b447cd55a17",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "cancelamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d788021f-29ab-41f2-b355-2b18963d30f2",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "reagendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9fe78f3c-e37e-4408-b520-19e0f14e8824",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "VerHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ver Horarios"
            }
          ]
        },
        "options": {}
      },
      "id": "c9b192f2-1ac7-4d22-85b5-51925984694f",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be5649a9-7624-4621-bd2d-84c25577c0ce",
              "leftValue": "={{ $json.available }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7d4b48d5-10b2-48ea-902a-da7ffc19e92b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2e903be-9994-4f84-8cfe-67f7488d9212",
              "name": "NomeLead",
              "value": "={{ $json.query.lead }}",
              "type": "string"
            },
            {
              "id": "bdd90a15-c215-46c7-b430-49887c9a424f",
              "name": "servico",
              "value": "={{ $json.servico }}",
              "type": "string"
            },
            {
              "id": "46e74bf3-1fa7-4fce-98a7-c372b9eff68b",
              "name": "profissional",
              "value": "={{ $json.Profissional }}",
              "type": "string"
            },
            {
              "id": "d3ce097c-0041-42dc-b142-fe9b682a2859",
              "name": "startConsulta",
              "value": "={{ $json.query.start }}",
              "type": "string"
            },
            {
              "id": "22f0c80f-d2cc-4412-bb7e-92cf407dd83c",
              "name": "endConsulta",
              "value": "={{ $json.query.end }}",
              "type": "string"
            },
            {
              "id": "76496e26-599f-4869-a69c-44e27cdbb9bf",
              "name": "Evento",
              "value": "={{ $json.Evento }}",
              "type": "string"
            },
            {
              "id": "f7046a6b-25fb-428e-a882-666813f3462e",
              "name": "identificadorLead",
              "value": "={{ $json.Remotejid }}",
              "type": "string"
            },
            {
              "id": "1be27263-5e0d-44d1-b7e0-0c0344cfdbf1",
              "name": "Whatsapp",
              "value": "={{ $json.Remotejid.replace(/@.*/, \"\").replace(/^55/, \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        704
      ],
      "id": "dd846948-80e0-455c-b391-d6946782b1a4",
      "name": "setarInformacoes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f842ffa-cd8f-40ab-a0a7-40dc173357a7",
              "name": "response",
              "value": "=sua reunião foi reagendada para a data:{{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} o link da reunião é: {{ $json.hangoutLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "10108d64-5052-4eb4-8295-7bee37d37e10",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        928
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"timezone\": \"America/Sao_Paulo\",\n  \"timeBetweenMeetingsMinutes \": 60,\n  \"schedule\": [\n    {\n      \"day\": \"SEG\",\n      \"available\": true,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"TER\",\n      \"available\": true,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"QUA\",\n      \"available\": true,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"QUI\",\n      \"available\": true,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"SEX\",\n      \"available\": true,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"SAB\",\n      \"available\": true,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"14:00\" }\n    },\n    {\n      \"day\": \"DOM\",\n      \"available\": false,\n      \"hours\": { \"after\": \"\", \"before\": \"\" }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        1280
      ],
      "id": "dca0b1bc-e209-4e63-a1e2-fcc36dc33bd5",
      "name": "definir agenda"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "f226abf3073d513f70b97a2c1f91f6a7bfa0236ddaa43bb0d98249a8b1cc6084@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste 1"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 3 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1152,
        1280
      ],
      "id": "181e66ad-9792-479a-bcf9-4118d6aa0dd7",
      "name": "buscar eventos já reistrados",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        1280
      ],
      "id": "231f574a-222d-46c2-af61-afb2a9c4758d",
      "name": "juntar eventos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a366af35-ca99-40ab-bd55-e9304e117f80",
              "name": "data",
              "value": "={{ \n\n(() => {\n  const eventosAgendados = $json.data;\n  const disponibilidadeSemanal = $('definir agenda').first().json;\n\n  const intervaloSemanas = 12;\n  const intervaloMinutos = $('definir agenda').first().json['timeBetweenMeetingsMinutes ']; // Cuidado com o espaço no final!\n\n  const dayMap = {\n    0: \"DOM\", 1: \"SEG\", 2: \"TER\", 3: \"QUA\", 4: \"QUI\", 5: \"SEX\", 6: \"SAB\"\n  };\n\n  function getDateWithTime(date, timeStr) {\n    if (!timeStr) return null;\n    const [hour, minute] = timeStr.split(\":\").map(Number);\n    const newDate = new Date(date);\n    newDate.setHours(hour, minute, 0, 0);\n    return newDate;\n  }\n\n  function formatTime(date) {\n    const hours = date.getHours().toString().padStart(2, '0');\n    const minutes = date.getMinutes().toString().padStart(2, '0');\n    return `${hours}:${minutes}`;\n  }\n\n  function saoMesmoDia(data1, data2) {\n    return (\n      data1.getFullYear() === data2.getFullYear() &&\n      data1.getMonth() === data2.getMonth() &&\n      data1.getDate() === data2.getDate()\n    );\n  }\n\n  function gerarHorariosDisponiveis() {\n    const horariosDisponiveis = [];\n    const hoje = new Date();\n\n    // Verifica se existem eventos válidos\n    const eventosValidos = Array.isArray(eventosAgendados)\n      ? eventosAgendados.filter(e => e?.start?.dateTime && e?.end?.dateTime)\n      : [];\n\n    for (let i = 0; i < intervaloSemanas * 7; i++) {\n      const dataAtual = new Date(hoje);\n      dataAtual.setDate(hoje.getDate() + i);\n      dataAtual.setHours(0, 0, 0, 0);\n\n      const diaSemana = dayMap[dataAtual.getDay()];\n      const configDia = disponibilidadeSemanal.schedule.find(d => d.day === diaSemana);\n\n      if (!configDia || !configDia.available) continue;\n\n      const inicioJanela = getDateWithTime(dataAtual, configDia.hours.after);\n      const fimJanela = getDateWithTime(dataAtual, configDia.hours.before);\n      if (!inicioJanela || !fimJanela) continue;\n\n      const eventosDoDia = eventosValidos.filter(evento => {\n        const inicioEvento = new Date(evento.start.dateTime);\n        return saoMesmoDia(inicioEvento, dataAtual);\n      });\n\n      for (let slotInicio = new Date(inicioJanela); slotInicio < fimJanela; ) {\n        const slotFim = new Date(slotInicio.getTime() + intervaloMinutos * 60000);\n        if (slotFim > fimJanela) break;\n\n        let conflita = false;\n        if (eventosValidos.length > 0) {\n          conflita = eventosDoDia.some(evento => {\n            const inicioEvento = new Date(evento.start.dateTime);\n            const fimEvento = new Date(evento.end.dateTime);\n            return (slotInicio < fimEvento && slotFim > inicioEvento);\n          });\n        }\n\n        if (!conflita) {\n          horariosDisponiveis.push({\n            data: slotInicio.toISOString().split(\"T\")[0],\n            start: formatTime(slotInicio),\n            end: formatTime(slotFim)\n          });\n        }\n\n        slotInicio = new Date(slotFim);\n      }\n    }\n\n    return horariosDisponiveis;\n  }\n\n  try {\n    const resultado = gerarHorariosDisponiveis();\n    return JSON.stringify(resultado);\n  } catch (error) {\n    return JSON.stringify({ error: error.message, stack: error.stack });\n  }\n\n})()\n\n}}\n",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        1280
      ],
      "id": "92eb713c-82cc-493f-a1ea-370685c9cc7b",
      "name": "definir disponibilidade"
    },
    {
      "parameters": {
        "content": "# Buscar Eventos já registrados",
        "height": 360,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        1120
      ],
      "typeVersion": 1,
      "id": "7d33a40b-1982-47c2-9757-3dacf4f76659",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Verifica os horarios disponíveis",
        "height": 360,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        1120
      ],
      "typeVersion": 1,
      "id": "9613696e-7cba-4578-b28e-a2c7fdd6d8ae",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Seleciona dias/horários e retorna tudo em uma string formatada",
        "height": 360,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        1120
      ],
      "typeVersion": 1,
      "id": "563e4b04-6fee-4687-81e5-911e86dcda2e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae0721c6-ba73-46a9-aefd-a131a3051254",
              "name": "response",
              "value": "={{ $json.disponibilidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        1280
      ],
      "id": "a62c64f4-07c7-4e30-a043-4aade838f6a9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: items[0].json.data = [{ data: \"YYYY-MM-DD\", start: \"HH:MM\" }, ...]\nconst inputData = items[0].json.data;\n\n// 1) Agrupar horários por dia\nconst agrupadoPorDia = {};\nfor (const slot of inputData) {\n  if (!agrupadoPorDia[slot.data]) {\n    agrupadoPorDia[slot.data] = [];\n  }\n  agrupadoPorDia[slot.data].push(slot.start);\n}\n\n// 2) Ordenar dias (YYYY-MM-DD já ordena corretamente como string)\nlet diasOrdenados = Object.keys(agrupadoPorDia).sort();\n\n// 2.1) Excluir a data de hoje\nconst hoje = new Date().toISOString().split(\"T\")[0]; // YYYY-MM-DD\ndiasOrdenados = diasOrdenados.filter(d => d !== hoje);\n\n// 3) Selecionar até 10 dias\nconst selecionados = [];\n\n// Função auxiliar para parse de HH:MM\nconst parseHM = (h) => {\n  const [hh, mm] = h.split(\":\").map(n => parseInt(n, 10));\n  return { hh, mm };\n};\n\nfor (const dia of diasOrdenados.slice(0, 10)) {\n  // Ordena todos os horários do dia (lexicográfico funciona para HH:MM)\n  const horariosOrdenados = agrupadoPorDia[dia].sort();\n\n  // 5) Selecionar horários por período\n  //    - Manhã: TODOS até meio-dia (inclui 12:00, mas NÃO 12:01+)\n  //    - Tarde: a partir das 13:00 (pega até 10 horários)\n  const manha = horariosOrdenados.filter(h => {\n    const { hh, mm } = parseHM(h);\n    return hh < 12 || (hh === 12 && mm === 0);\n  });\n\n  const tarde = horariosOrdenados\n    .filter(h => {\n      const { hh } = parseHM(h);\n      return hh >= 13;\n    })\n    .slice(0, 10); // até 10 horários da tarde\n\n  // Formata dd/mm às HH:MM\n  const escolhidosFormatados = [...manha, ...tarde].map(h => {\n    const [year, month, day] = dia.split(\"-\");\n    return `${day}/${month} às ${h}`;\n  });\n\n  selecionados.push(...escolhidosFormatados);\n}\n\n// 4) Juntar tudo em uma única string (ex.: \"15/09 às 09:00, 15/09 às 10:00, ...\")\nconst resultado = selecionados.join(\", \");\n\n// 5) Retorno no formato do n8n\nreturn [\n  {\n    json: {\n      disponibilidade: resultado\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        1280
      ],
      "id": "b718dda6-ada9-4522-b1e5-a43136ecae4e",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "446ebc90-06ae-4258-a224-c5ab53b5913d",
              "name": "NomeLead",
              "value": "={{ $('Switch4').item.json.NomeLead }}",
              "type": "string"
            },
            {
              "id": "d527479e-9c5f-43f8-89b8-d9ba46da1f05",
              "name": "Procedimento",
              "value": "={{ $('setarInformacoes').item.json.servico.replace('Serviço: ', '') }}",
              "type": "string"
            },
            {
              "id": "3cee3dfc-8157-4934-8b6a-656954cddcf4",
              "name": "Whatsapp",
              "value": "={{ $('setarInformacoes').item.json.identificadorLead.replace(/^55/, '').replace(/@s\\.whatsapp\\.net$/, '') }}",
              "type": "string"
            },
            {
              "id": "46b6b089-568c-4915-83fc-a18c8e581d96",
              "name": "diaHoraConsulta",
              "value": "={{ new Date($json.start.dateTime).toLocaleDateString(\"pt-BR\", { day: '2-digit', month: '2-digit', timeZone: \"America/Sao_Paulo\" }) }} - {{ new Date($json.start.dateTime).toLocaleTimeString(\"pt-BR\", { hour: '2-digit', minute: '2-digit', timeZone: \"America/Sao_Paulo\" }) }}",
              "type": "string"
            },
            {
              "id": "2db684d5-feea-4edc-a6a1-d425c3b5e2f2",
              "name": "identficadorLead",
              "value": "={{ $('setarInformacoes').item.json.identificadorLead }}",
              "type": "string"
            },
            {
              "id": "5de72d9f-9c58-48dd-8ffd-af9db9779d90",
              "name": "IDinstancia",
              "value": "id_da_sua_instancia_na_ZAPI",
              "type": "string"
            },
            {
              "id": "0b5ebfb1-2cac-4293-963e-830ce19322ab",
              "name": "tokenInstancia",
              "value": "token_da_sua_conta_da_ZAPI",
              "type": "string"
            },
            {
              "id": "70709c3f-a0a4-40d1-a9ef-5c20db25820c",
              "name": "tokenConta",
              "value": "token da conta ZZAPI",
              "type": "string"
            },
            {
              "id": "c2aca308-28a1-420a-8cb8-7e0cb92d6529",
              "name": "grupoWhats",
              "value": "120363402139498716-group",
              "type": "string"
            },
            {
              "id": "6237c670-aafa-49ee-b644-9e77a3f0d7ca",
              "name": "urlZ-API",
              "value": "https://api.z-api.io/instances/   (essa URL é padrão)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        368
      ],
      "id": "6c7d35f1-37d3-4566-a7b7-3e57a4457368",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        704
      ],
      "id": "04b5ca4a-ddcb-47e6-bcb1-171e8bac5a6c",
      "name": "exec workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "CRM_estetica",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').item.json.identificadorLead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Data da consulta",
              "fieldValue": "={{ $('setarInfo').item.json.diaHoraConsulta }}"
            },
            {
              "fieldId": "Marcou no Grupo",
              "fieldValue": "SIM"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3088,
        368
      ],
      "id": "c6073069-ef28-490c-9061-9a158bd2af32",
      "name": "marcarData",
      "credentials": {
        "supabaseApi": {
          "id": "z1WYif7RkkaxGEX9",
          "name": "Integra"
        }
      }
    },
    {
      "parameters": {
        "content": "# Marcar data da consulta no banco de dados\n",
        "height": 336,
        "width": 432,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2944,
        208
      ],
      "typeVersion": 1,
      "id": "7e17d1aa-efce-4b06-b362-13eb18ed5106",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "CRM_estetica",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').item.json.identificadorLead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Data da consulta",
              "fieldValue": "="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1296,
        688
      ],
      "id": "35835c15-f9ad-49b7-9385-6acd2297da3a",
      "name": "tirarData",
      "credentials": {
        "supabaseApi": {
          "id": "z1WYif7RkkaxGEX9",
          "name": "Integra"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $('setarInfo').item.json.IDinstancia }}/token/{{ $('setarInfo').item.json.tokenInstancia }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Client-Token",
              "value": "={{ $('setarInfo').item.json.tokenConta }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('setarInfo').item.json.grupoWhats }}"
            },
            {
              "name": "message",
              "value": "=🎉 NOVO AGENDAMENTO CONFIRMADO!\n\n👤 Nome: {{ $('setarInfo').item.json.NomeLead }}\n📱 WhatsApp: {{ $('setarInformacoes').item.json.Whatsapp }}\n💆‍♀️ Profissional: {{ $('setarInformacoes').item.json.profissional }}\n📋 Procedimento: {{ $('setarInformacoes').item.json.servico.replace('Serviço: ', '') }}\n📅 Data e hora: {{ $('setarInfo').item.json.diaHoraConsulta }}\n\n💬 Importante: entrem em contato com esse paciente o quanto antes. O primeiro atendimento faz toda a diferença pra criar conexão e garantir uma ótima experiência."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        368
      ],
      "id": "bcc7d875-eb7a-416b-bbc4-0ce2202a0df7",
      "name": "zAPI",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.hermesmind.com.br/api/v1/accounts/{{ $('marcarData1').item.json['IDConta ChatWoot'] }}/conversations/{{ $('marcarData1').item.json['IDConversa ChatWoot'] }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\n    \"agendamento_fernanda\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        368
      ],
      "id": "1eab1d30-1198-4d4e-9c92-cd456bf7165d",
      "name": "etiquetar_terminar_agendamento",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TxQLxygX5DwP44PN",
          "name": "[UAZapi Auth] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "CRM_estetica",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "keyValue": "={{ $('setarInformacoes').item.json.identificadorLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2256,
        368
      ],
      "id": "0c3b3258-ee1e-4aef-b354-c479a3435d6f",
      "name": "marcarData1",
      "credentials": {
        "supabaseApi": {
          "id": "z1WYif7RkkaxGEX9",
          "name": "Integra"
        }
      }
    }
  ],
  "pinData": {
    "exec workflow": [
      {
        "json": {
          "query": {
            "lead": "Aline Paixão Gomes",
            "start": "2025-11-18T13:00:00",
            "end": "2025-11-18T14:00:00"
          },
          "Evento": "agendamento",
          "Remotejid": "5511971351311@s.whatsapp.net",
          "servico": "Serviço: limpeza de pele, peeling químico, tratamento para acne ativa, microagulhamento para oleosidade",
          "Profissional": "Fernanda"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-16T16:33:31.594Z",
      "createdAt": "2026-03-16T16:33:31.594Z",
      "role": "workflow:owner",
      "workflowId": "0GdrAs37SI3EfPyl",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T14:50:57.381Z",
  "versionId": "c7de88d9-f812-464f-9a02-8652e1873d4b"
}