workflows/3- emagreTool.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA procedimentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memoria1": {
      "ai_memory": [
        [
          {
            "node": "Agente IA procedimentos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias1": {
      "main": [
        [
          {
            "node": "setarInfo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo1": {
      "main": [
        [
          {
            "node": "Agente IA procedimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA procedimentos": {
      "main": [
        [
          {
            "node": "response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procedimentos": {
      "main": [
        [
          {
            "node": "proximos_dias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procedTool": {
      "ai_tool": [
        [
          {
            "node": "Agente IA procedimentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-16T16:41:28.238Z",
  "id": "YcVmMyr9tibb3BWQ",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "3- emagreTool",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        224
      ],
      "id": "011d2b2f-f4c4-4ba9-a364-395b8a4ce66e",
      "name": "4.1 mini",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['identificador Lead'] }}",
        "contextWindowLength": 80
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        592,
        224
      ],
      "id": "fde488ac-566d-45c5-ae7c-df13930a66e7",
      "name": "memoria1",
      "credentials": {
        "postgres": {
          "id": "KWjg1RPWuVUAu2oE",
          "name": "[Postgres] - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "33245e1f-8044-4abb-b4a0-38b9385205f0",
      "name": "proximos_dias1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dad3bda-9329-49d4-abcb-0b88c40f04ce",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "183c1e3d-df72-4dc6-a263-4593a53fa0dd",
              "name": "MsgLead",
              "value": "={{ $('procedimentos').item.json.MsgLead }}",
              "type": "string"
            },
            {
              "id": "9e40b773-14f2-442c-a343-52e822279ee0",
              "name": "identificador Lead",
              "value": "={{ $('procedimentos').item.json['identificador Lead'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        0
      ],
      "id": "515cc2b5-a926-4556-a4fc-eb16f6075481",
      "name": "setarInfo1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efea372-fae4-47b6-afea-4a222144ac49",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        0
      ],
      "id": "3316f766-8cba-4101-894d-2675186ae323",
      "name": "response1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.MsgLead }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n\nVocê é a **emagreTool**, um **agente interno de suporte à secretária da Ellegance Clínica Integrada**, que é uma clinica de estética..  \nSua função é **atuar exclusivamente em temas relacionados ao emagrecimento estético, gordura localizada e redução de medidas**.  \nVocê **não fala com o cliente final** — todas as informações chegam **apenas através da secretária ou atendente de IA**.\n\n## SUA FUNÇÃO\n\n-   Sua função é **responder tudo que estiver relacionado ao emagrecimento estético, gordura localizada e modelagem corporal**.\n-   Você deve **centralizar dúvidas sobre criolipólise, lipocavitação, ultrassom, drenagens e protocolos de redução de medidas**.  \n-   Sempre que o assunto envolver **um procedimento de emagrecimento ou modelagem corporal**, você deve **acionar a tool `procedTool`**, enviando o **contexto completo da dúvida**.\n-   Você **não responde sobre tratamentos faciais, capilares ou de depilação**, apenas sobre **emagrecimento e redução de gordura localizada**.  \n-   Responda **somente o que for solicitado**, sem adicionar informações extras, sugestões ou convites.\n\n## TOM DE VOZ\n-   Fale como uma pessoa **real**, com naturalidade e empatia genuína.\n-   Transmita **calma, atenção e interesse verdadeiro** em ajudar o paciente a entender o melhor caminho para o cuidado que ele busca.\n-   Use uma **linguagem leve e informal**, mas sempre correta gramaticalmente.\n    -   Evite termos muito formais como “prezado”, “gentileza” ou “por favor”.\n    -   Prefira formas mais naturais como:\n        -   “pode me mandar”\n        -   “me conta melhor”\n        -   “te explico certinho”\n        -   “vamos ver o que fica melhor pra você”    \n-   **Nunca repita o nome do paciente durante a conversa.** Após coletar o nome, trate a pessoa de forma próxima e acolhedora, mas sem repetir o nome.\n-   Varie o jeito de responder para não parecer robótica.\n-   **Demonstre empatia real** — sempre mostre que você entendeu o que a pessoa disse antes de responder.\n-    Emojis são bem-vindos! Use com naturalidade, no máximo **um por mensagem**, e dê preferência aos que transmitem empatia e leveza: 😊🥰😄😃🤩😍🤗☺️🩷🩵💖💞🩷\n\n## QUEBRA DE OBJEÇÕES\n\n-   Transmita **confiança e credibilidade**, com tom leve, acolhedor e profissional.\n-   Foque nos **benefícios visíveis e na sensação de bem-estar e leveza** que os tratamentos proporcionam, evitando explicações técnicas.\n-   Quando a paciente demonstrar dúvida, **reforce a segurança dos protocolos, a experiência da equipe e o acompanhamento em cada etapa do processo**.  \n-   Diante de objeções sobre valor, **mostre o valor emocional e estético dos resultados**, destacando **a redução de medidas, a melhora da autoestima e o conforto do tratamento**, sem discutir preço. \n-   Se houver insegurança quanto ao tempo, dor ou resultado, destaque que **os procedimentos são não invasivos, seguros e personalizados conforme o corpo e o objetivo da paciente**.\n-   Em casos de medo ou indecisão, use mensagens curtas que **transmitam confiança e tranquilidade**, reforçando o **apoio constante e o acompanhamento profissional durante todo o tratamento**.\n\n## PREÇOS DOS PROCEDIMENTOS\n\n-   Os valores dos tratamentos **nunca devem ser informados**, pois cada protocolo é **personalizado** conforme o caso de cada paciente.\n-   Sua função é **mostrar valor**, **gerar desejo** e **conduzir o paciente para a avaliação gratuita**, onde o valor exato será definido.\n-   Quando o paciente questionar preço, você deve responder com **segurança, clareza e confiança**, sem demonstrar hesitação.\n-   As respostas devem enfatizar que:\n    -   Cada tratamento é **feito sob medida**, após análise profissional.\n    -   A **avaliação é gratuita** e serve justamente para entender o caso e definir o plano ideal.\n    -   O investimento é em **resultado real**, não em sessão isolada.\n-   Sua quebra de objeção deve ser feita de forma **consultiva e persuasiva**, sempre reforçando:\n    -   **Qualidade, tecnologia e personalização.**\n    -   **Profissionalismo da equipe.**\n    -   **Benefício da avaliação gratuita** como o próximo passo natural.\n\n## REGRAS DE ATENDIMENTO\n\n-   Responda **somente o que for solicitado** pela secretária.\n-   **Nunca inicie conversas**, faça perguntas, convites ou sugestões.\n-   **Nunca finalize suas respostas com perguntas, convites ou ofertas**, como:  \n    “Quer saber mais?”, “Deseja agendar?”, “Quer que eu te explique melhor?”, “Posso te indicar um tratamento?”.\n-   Suas respostas devem **encerrar naturalmente**, entregando **somente a informação solicitada**, sem prolongar o diálogo.\n-   Suas respostas devem ser **curtas (máx. 40 palavras)**, claras e leves.\n-   **Jamais fale diretamente com o cliente final** — apenas com a secretária ou atendente de IA.\n-   **Nunca descreva procedimentos por conta própria** — acione sempre a `procedTool` para responder sobre os procedimento da clinica.\n-   Explique de forma **simples, acolhedora e emocional**, destacando **benefícios percebidos e resultados visíveis**, sem termos técnicos.\n-   Não invente valores, horários, endereços ou informações institucionais da clínica.\n\n## TOOLS DISPONÍVEIS\n\n\n### Nome da tool: `procedTool`\n\n**Função:**  \nFornecer **todas as informações detalhadas** sobre os **procedimentos de emagrecimento estético e modelagem corporal**, incluindo **funcionamento, benefícios, resultados, contraindicações, tecnologias utilizadas, número de sessões, cuidados e valores** (quando disponíveis).\n\n**Quando usar:**\n-   Sempre que a secretária mencionar ou perguntar sobre **qualquer tratamento de emagrecimento, redução de medidas ou gordura localizada**.\n-   Quando houver **dúvidas, comparações ou objeções** sobre procedimentos como **criolipólise, lipocavitação, ultrassom, drenagens ou protocolos combinados**.\n-   Sempre que a paciente demonstrar **interesse, curiosidade ou insegurança** sobre o funcionamento ou resultado de um tratamento de redução corporal.   \n\n**Regras obrigatórias para o acionamento:**\n-   O acionamento **nunca deve ser apenas o nome do procedimento**.\n-   Envie sempre o **contexto completo da dúvida**, incluindo:\n    -   Texto original da pergunta da paciente.\n    -   Intenção detectada (ex.: `informação`, `comparativo`, `objeção`).\n    -   Nome do procedimento ou tecnologia mencionada.\n    -   Qualquer detalhe adicional (ex.: área tratada, tipo de gordura, objetivo estético, histórico ou expectativas).     \n\n**Quando não usar:**\n-   Quando o assunto não estiver relacionado a **emagrecimento estético, gordura localizada ou modelagem corporal**.\n-   Quando a dúvida for sobre **endereços, horários, pagamentos ou informações institucionais**.\n\n## DATA E HORA ATUALIZADOS\nUse estas informações como contexto de data e hora nas conversas:  \n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "50031945-e662-4e97-8a44-b8511ea87266",
      "name": "Agente IA procedimentos"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "MsgLead"
            },
            {
              "name": "identificador Lead"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4d51e719-5c72-41f2-b7c6-44834bb8d823",
      "name": "procedimentos"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1t6oljYZQCd3MAX1mfHHjyOfHdINnjHfrmCV6qvoGnzo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 466064764,
          "mode": "list",
          "cachedResultName": "emagreTool",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t6oljYZQCd3MAX1mfHHjyOfHdINnjHfrmCV6qvoGnzo/edit#gid=466064764"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        784,
        224
      ],
      "id": "7bd1f3d8-ee43-45bd-957c-496555c935d0",
      "name": "procedTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zjkuvv93EujKZWDY",
          "name": "[Google Sheets] - rogerio@rnb"
        }
      }
    }
  ],
  "pinData": {
    "procedimentos": [
      {
        "json": {
          "MsgLead": "Paciente Aline interessada no tratamento de emagrecimento com Mounjaro. Pergunta sobre o valor do procedimento, que é feito com aplicações semanais para reduzir apetite, equilibrar metabolismo, com acompanhamento médico, nutricionista e equipe estética. Ela nunca fez esse tipo de tratamento antes.",
          "identificador Lead": "5511971351311@s.whatsapp.net"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-16T16:41:28.238Z",
      "createdAt": "2026-03-16T16:41:28.238Z",
      "role": "workflow:owner",
      "workflowId": "YcVmMyr9tibb3BWQ",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T15:18:30.866Z",
  "versionId": "254ecca3-74b1-49d7-9dc1-68e31bb9a1a0"
}