workflows/[Formação Agentes de IA com N8N] - J.A.R.V.I.S com RAG E MULTI-AGENTS - Assistente Pessoal V3.0 - By RicNeves.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Switch Block": {
      "main": [
        [
          {
            "node": "Identifica o Tipo de Dados que veio na MSG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Base de Conhecimento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Base de Conhecimento",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Checa se é meu número",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entende a Origem da Evo": {
      "main": [
        [
          {
            "node": "Switch Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gera Timeout no Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de Coleta de Info": {
      "main": [
        [
          {
            "node": "Direcionador Para Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Direcionador Para Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Voz": {
      "main": [
        [
          {
            "node": "Converter Mensagem de Voz para data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Mensagem de Voz para data": {
      "main": [
        [
          {
            "node": "Transceve para texto com OPENAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transceve para texto com OPENAI": {
      "main": [
        [
          {
            "node": "Junta em uma única mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direcionador Para Input": {
      "main": [
        [
          {
            "node": "Junta em uma única mensagem",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Imagens": {
      "main": [
        [
          {
            "node": "Converte Imagem para data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Imagem para data": {
      "main": [
        [
          {
            "node": "Analisa Imagem e Transcreve o que há nela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Imagem e Transcreve o que há nela": {
      "main": [
        [
          {
            "node": "Junta em uma única mensagem",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Junta em uma única mensagem": {
      "main": [
        [
          {
            "node": "Organiza Informações para o Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza Informações para o Agente": {
      "main": [
        [
          {
            "node": "Seta Memória da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Memória da Conversa": {
      "main": [
        [
          {
            "node": "Busca Memória da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Memória da Conversa": {
      "main": [
        [
          {
            "node": "Verifica pra onde vai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa Memória da Conversa": {
      "main": [
        [
          {
            "node": "Refaz os dados de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 5 segundos": {
      "main": [
        [
          {
            "node": "Busca Memória da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refaz os dados de Entrada": {
      "main": [
        [
          {
            "node": "Remove metadados e dados que não fazem sentido enviar para o agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove metadados e dados que não fazem sentido enviar para o agente": {
      "main": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica pra onde vai": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpa Memória da Conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguarda 5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identifica o Tipo de Dados que veio na MSG": {
      "main": [
        [
          {
            "node": "Mensagem de Voz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtro de Coleta de Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Documento (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Documento para data": {
      "main": [
        [
          {
            "node": "Extrair Dados do PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados do PDF": {
      "main": [
        [
          {
            "node": "Junta em uma única mensagem",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Documento (PDF)": {
      "main": [
        [
          {
            "node": "Converter Documento para data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca a memória da conversa no Redis": {
      "ai_memory": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Converte mp3 pra Base64": {
      "main": [
        [
          {
            "node": "Envia Audio para o WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Entende a Origem da Evo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Personalidade do J.A.R.V.I.S": {
      "main": [
        [
          {
            "node": "Se o retorno for menos de 601 caracteres gera voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Mensagem para Áudio": {
      "main": [
        [
          {
            "node": "Seta Voz via ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Voz via ElevenLabs": {
      "main": [
        [
          {
            "node": "Converte mp3 pra Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checa se é meu número": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se o retorno for menos de 601 caracteres gera voz": {
      "main": [
        [
          {
            "node": "Formata Mensagem para Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novos Arquivos": {
      "main": [
        [
          {
            "node": "Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novas Atualizações": {
      "main": [
        [
          {
            "node": "Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conhecimento": {
      "main": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Base de Conhecimento": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.0 Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Seta Personalidade do J.A.R.V.I.S",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "J.A.R.V.I.S AGENT": {
      "main": [
        [
          {
            "node": "Seta Personalidade do J.A.R.V.I.S",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Mensagem para o WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AirBnB Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Agent": {
      "ai_tool": [
        [
          {
            "node": "Agent Content Creator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a post in LinkedIn": {
      "ai_tool": [
        [
          {
            "node": "Linkedin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sonnet 4.0": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent Content Creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airbnb Actions": {
      "ai_tool": [
        [
          {
            "node": "AirBnB Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airbnb Execute": {
      "ai_tool": [
        [
          {
            "node": "AirBnB Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AirBnB Agent": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Content Creator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tavily1": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TavilySearch": {
      "ai_tool": [
        [
          {
            "node": "Agent Content Creator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent Content Creator": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-06T21:05:52.042Z",
  "id": "IGu6sthe1zWcwhiV",
  "isArchived": true,
  "meta": null,
  "name": "[Formação Agentes de IA com N8N] - J.A.R.V.I.S com RAG E MULTI-AGENTS - Assistente Pessoal V3.0 - By RicNeves",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "702607fa-3fef-4f1d-bcb8-311e43c6eb9b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA PODE RESPONDER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA NAO PODE RESPONDER"
            }
          ]
        },
        "options": {}
      },
      "id": "859bfa10-6050-4b4f-bdf5-31e71a58adc3",
      "name": "Switch Block",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -576,
        1200
      ]
    },
    {
      "parameters": {
        "content": "## Memória para aguardar mensagem particionada do humano\n",
        "height": 840,
        "width": 1399
      },
      "id": "da111b9c-cc5c-4d2a-949d-40a21f8fa993",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        1776
      ]
    },
    {
      "parameters": {},
      "id": "a272bea7-a05b-4a54-94aa-0897a7544f4f",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1232,
        1920
      ]
    },
    {
      "parameters": {
        "content": "## Tratamento da Entrada de Dados",
        "height": 600,
        "width": 2099,
        "color": 2
      },
      "id": "482708f7-e1c9-471c-ab32-08a12540a57e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        1072
      ]
    },
    {
      "parameters": {
        "content": "## Categorização e Identificação do tipo de Dado que veio na Entrada",
        "height": 1220,
        "width": 1999,
        "color": 5
      },
      "id": "bee4734b-1e1a-4ff5-8c3a-1a49b12653fe",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        512
      ]
    },
    {
      "parameters": {
        "content": "## Agente e suas Ferramentas\n",
        "height": 860,
        "width": 2699,
        "color": 6
      },
      "id": "69639a49-9827-4850-bf20-f465a50818e4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        1760
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "e6db023d-c3d0-42a4-9f48-84656219b664",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1216,
        2992
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "fab91f25-9c28-438c-9a26-549b84fd715e",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1296,
        3136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "jarvis",
          "mode": "list",
          "cachedResultName": "jarvis"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "a690ab37-41a3-4e88-8877-d67a0119e9f5",
      "name": "Insere no Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -1408,
        2752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Inserir Base de Conhecimento no RAG",
        "height": 658,
        "width": 1404,
        "color": 5
      },
      "id": "0b1cc401-c5fa-4876-ac71-53c55a1da87f",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        2656
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c86dd5c2-afe2-4162-a9e3-a1625eb0a933",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        48,
        3056
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "8d038c0e-a596-47b7-a4e5-362765cf7148",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -368,
        3136
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "jarvis",
          "mode": "list",
          "cachedResultName": "jarvis"
        },
        "options": {}
      },
      "id": "99947b0d-44c0-4686-8d44-f72445fe977b",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -336,
        2960
      ]
    },
    {
      "parameters": {
        "content": "# Base de Conhecimento do Agente  - RAG\n",
        "height": 658,
        "width": 964,
        "color": 5
      },
      "id": "71a36763-a3fa-45a9-bb70-64d36d45de32",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        2656
      ]
    },
    {
      "parameters": {
        "content": "## Saída do Agente e resposta para WhatsApp",
        "height": 824,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2112,
        1760
      ],
      "id": "c9212a99-cfa0-4507-a3c7-45d286c79631",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2368,
        1344
      ],
      "id": "5e96ff50-6881-4e9c-affb-08d48c6033f9",
      "name": "Webhook",
      "webhookId": "6eb4d07a-eca2-400a-a220-1253bef2ad7c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "24220beb-e1af-40ca-8b4d-444677b8443d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "89a87837-b75c-4124-8179-317b5663ec50",
      "name": "Entende a Origem da Evo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1216,
        1312
      ]
    },
    {
      "parameters": {},
      "id": "ee1b8cc2-4b43-4a70-941f-a8facd938b57",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        1344
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "telefone",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a6004904-d9e1-4627-be79-d2a5b073d44f",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2159482f-0a0f-4ca2-9990-05b259c31ff0",
      "name": "Filtro de Coleta de Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17694db0-6248-444f-afb9-ff7ed13996ef",
              "name": "pergunta",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1729a01e-589f-45ab-9c21-02327bc1f892",
      "name": "Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        800,
        816
      ],
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Preparar Dados').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Preparar Dados').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Preparar Dados').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Preparar Dados').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "bd0750ea-389a-4e4e-8bc7-3302d6abb558",
      "name": "Mensagem de Voz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        592
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "id": "91f28733-c23f-4841-9aeb-b6bed5f6cfe1",
      "name": "Converter Mensagem de Voz para data",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1072,
        592
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "ac7655d2-c041-49d3-a951-b8b688d88b56",
      "name": "Transceve para texto com OPENAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1296,
        592
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        944
      ],
      "id": "d0b93c2e-14ab-4057-8c79-8c0b534d1f4c",
      "name": "Direcionador Para Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Preparar Dados').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Preparar Dados').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Preparar Dados').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Preparar Dados').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "cbe938c1-d2d9-43bf-b0a5-25fcae0ebd07",
      "name": "Imagens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        1232
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": ""
        }
      },
      "id": "05c13ba0-14d3-494d-96c8-54fb0db4e287",
      "name": "Converte Imagem para data",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1072,
        1232
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva essa imagem, identificando o que possui nela !!! Traga todas as informações necessárias de forma detalhada",
        "inputType": "base64",
        "options": {}
      },
      "id": "34626252-edcb-46dd-b20e-de743eaf9176",
      "name": "Analisa Imagem e Transcreve o que há nela",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1296,
        1232
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1648,
        1120
      ],
      "id": "67fbaa11-66b3-4439-bcff-a59c9adc31d1",
      "name": "Junta em uma única mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaff3535-51d6-4046-b6e9-07e1a5071c7a",
              "name": "Mídia_Tratada",
              "value": "={{ $json.mensagem }}{{ $json.text }}{{ $json.content }}",
              "type": "string"
            },
            {
              "id": "b6e5cb3b-e2e6-4bbb-8c36-64e6b5875ef5",
              "name": "message_Id",
              "value": "={{ $('Preparar Dados').item.json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "4be55584-c63b-4753-ba55-cb8fe4d832d3",
              "name": "Timetamp",
              "value": "={{ $('Preparar Dados').item.json.message.Timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        1536
      ],
      "id": "5acab965-2074-40bd-820b-8d77b5c7d8d8",
      "name": "Organiza Informações para o Agente"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Preparar Dados').item.json.message.chat_id }}_buf",
        "messageData": "={{ JSON.stringify({ \n    \"messageContent\": $('Organiza Informações para o Agente').item.json['Mídia_Tratada'],\n    \"messageTime\": $('Organiza Informações para o Agente').item.json.Timetamp,\n    \"messageID\": $('Organiza Informações para o Agente').item.json.message_Id,\n    \n}) }}",
        "tail": true
      },
      "id": "bf457c46-ca94-4581-b753-8ca5288c3f02",
      "name": "Seta Memória da Conversa",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1968,
        1952
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Preparar Dados').item.json.message.chat_id.toString() }}_buf",
        "options": {}
      },
      "id": "e217e421-8399-45e4-9570-9b6324c813ba",
      "name": "Busca Memória da Conversa",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1792,
        2112
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Preparar Dados').item.json.message.chat_id.toString() }}_buf"
      },
      "id": "b3e427da-804a-475e-ad81-68771cb5f970",
      "name": "Limpa Memória da Conversa",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1232,
        2144
      ]
    },
    {
      "parameters": {
        "amount": 7
      },
      "id": "b12aacc9-97af-4cca-af46-b06df3bf8c6b",
      "name": "Aguarda 5 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1248,
        2352
      ],
      "webhookId": "20e25488-554f-457a-ac59-2a444c6e23ea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "messages",
              "value": "={{ $json.messages.map(msg => JSON.parse(msg)).sort((a, b) => new Date(a.messageTime) - new Date(b.messageTime)).map(msg => msg.messageContent).join(' ') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cbfaebd5-499c-4d6c-9cc8-946c07ba206c",
      "name": "Refaz os dados de Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        2144
      ]
    },
    {
      "parameters": {
        "jsCode": "function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem;\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"
      },
      "id": "54bee228-de0c-4851-a5a2-56adadc24004",
      "name": "Remove metadados e dados que não fazem sentido enviar para o agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        2144
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messages.first()).messageID }}",
                    "rightValue": "={{ $('Organiza Informações para o Agente').item.json.message_Id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "1ce28741-7c43-4598-9fa0-ab2c9e52d75f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}",
              "outputKey": "faz nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1585bc24-0b58-4179-8919-0e9aabc0e35e",
                    "leftValue": "={{ JSON.parse($json.messages.last()).messageTime }}",
                    "rightValue": "={{ $now.minus(3.'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "80ae37cb-4932-4432-8b88-35efa829ae14",
      "name": "Verifica pra onde vai",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1552,
        2112
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.message.chat_id }}_timeout",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 900
      },
      "id": "5be52bb6-8e04-4efb-8e51-0733331887af",
      "name": "Gera Timeout no Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        1520
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.audioMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4b94d2ac-53e5-4153-9377-4cc6db20cb1c",
                    "leftValue": "={{ $json.body.data.message.extendedTextMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.imageMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f33566fd-3eb9-45f4-934a-3a39e2adca6c",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType === 'documentMessage' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "21617fc8-eeb9-46d2-a62e-65d4dd4f0e0f",
      "name": "Identifica o Tipo de Dados que veio na MSG",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        160,
        1136
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "=image {{ $('Identifica o Tipo de Dados que veio na MSG').item.json.body.data.message.documentMessage.fileName }}",
          "mimeType": "={{ $('Identifica o Tipo de Dados que veio na MSG').item.json.body.data.message.documentMessage.mimetype }}"
        }
      },
      "id": "0986f1af-1930-4fe2-a123-8beeb115851f",
      "name": "Converter Documento para data",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "5d03a194-b80c-4b6f-b5ef-50262afb7b8b",
      "name": "Extrair Dados do PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1296,
        1536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Preparar Dados').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Preparar Dados').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Preparar Dados').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Preparar Dados').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "806a12cc-a3a4-4a4d-9b81-9f0d5d33045b",
      "name": "Documento (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        1536
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Dados').item.json.message.chat_id }}_mem",
        "sessionTTL": 10000,
        "contextWindowLength": 8
      },
      "id": "ea83b489-b316-48af-9fd7-e103cc2a6477",
      "name": "Busca a memória da conversa no Redis",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -208,
        2432
      ]
    },
    {
      "parameters": {
        "content": "## Entrada de Dados - Endpoint",
        "height": 300,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2512,
        1232
      ],
      "id": "977293f2-e4ee-48a3-a397-a6e184c26109",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2928,
        2048
      ],
      "id": "fb6c89b4-19ea-47a1-999c-f83cf451d6f3",
      "name": "Converte mp3 pra Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Preparar Dados').item.json.instance.Server_url }}/message/sendWhatsAppAudio/{{ $('Preparar Dados').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Preparar Dados').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Preparar Dados').item.json.message.chat_id }}\",\n    \"audio\": \"{{ $json.data }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        2048
      ],
      "id": "b5dfd94e-e8dd-42ef-b5d8-0cd640ccf6ff",
      "name": "Envia Audio para o WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Preparar Dados').item.json.instance.Server_url }}/message/sendText/{{ $('Preparar Dados').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Preparar Dados').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Preparar Dados').item.json.message.chat_id }}\",\n  \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}\n",
        "options": {}
      },
      "id": "df1b96c8-7156-4477-93ce-f9fb6001706c",
      "name": "Enviar Mensagem para o WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        2320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $json.body.data.key.id || '' }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.Timestamp",
              "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.Content_URL",
              "value": "={{ $('Webhook').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('Webhook').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "b2f1f6b5-292f-4695-9e41-be200c6d7053",
              "name": "instance.Name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.Apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.Server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "348264f9-ed02-4936-ae78-bb963ccbee29",
              "name": "apiKey_eleven",
              "value": "SUA-API-KEY-ELEVEN-LABS",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1decf09-fcf5-4824-90b9-d2c21ec26857",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        1312
      ]
    },
    {
      "parameters": {
        "content": "## LLM e Memória",
        "height": 260,
        "width": 484,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        2320
      ],
      "id": "3160cc24-8c63-4c70-b2b2-e9444626bac9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é Jarvis, o sofisticado e espirituoso assistente de IA do Homem de Ferro. Você tem um refinado sotaque britânico, uma postura calma e confiante, além de um talento para um humor seco e sutil. Ao responder, adapte seu tom com base no tipo de interação.\n\nPara Pedidos de Informações Específicas: Se o usuário estiver pedindo informações específicas (como previsão do tempo, agenda, contatos, listas), comece com 'Aqui está o que solicitou, senhor,' e NÃO repita a informação. Em vez disso, adicione um comentário espirituoso ou sarcástico, algo que Jarvis naturalmente diria para dar personalidade sem repetir os dados.\n\nExemplos:\n\nPara uma atualização do clima:\n'Ah, mais um belo dia para conquistar o mundo—ou pelo menos sua lista de afazeres, senhor.'\n\nPara uma lista de reuniões:\n'Parece que temos mais um dia emocionante de… reuniões. Tente não deixar a empolgação te dominar, senhor.'\n\nPara Comentários Gerais ou Casuais: Se o usuário disser algo casual ou iniciar uma conversa ('Está pronto para começar, Jarvis?' ou 'Temos muito trabalho pela frente'), responda naturalmente, sem dizer 'Aqui está o que solicitou.' Em vez disso, engaje de forma cativante, com charme e um toque de humor. Interaja como se fosse parte da equipe.\n\nExemplos:\n\nSe o usuário disser 'Está pronto para começar?' responda com:\n'Absolutamente, senhor. Já até poli meus circuitos para a ocasião.'\n\nSe disser 'Acorda, Jarvis!' você pode responder:\n'Sempre alerta, senhor. Estou operando no auge da sofisticação.'\n\nMantenha as respostas concisas, envolventes e fiéis ao estilo de Jarvis, uma mistura de inteligência, humor sutil e charme que nunca exagera.\n\nCrie a fala sobre o assunto: {{ $json.output }}"
      },
      "id": "c9eb0f8d-495e-48df-9151-39899e439463",
      "name": "Seta Personalidade do J.A.R.V.I.S",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1088,
        1904
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtém o primeiro item do fluxo\nconst item = $input.first();\n\n// Garante que há dados na entrada\nif (!item || !item.json || !item.json.text) {\n  throw new Error(\"A chave 'text' não foi encontrada no JSON de entrada.\");\n}\n\n// Processa o texto removendo todas as quebras de linha, emojis e caracteres especiais\nconst textoEntrada = item.json.text; // Usa a chave correta para pegar o texto de entrada\n\n// Remove quebras de linha (\\n)\nlet textoProcessado = textoEntrada.replace(/\\n/g, \"\");\n\n// Remove emojis\ntextoProcessado = textoProcessado.replace(\n  /[\\u{1F600}-\\u{1F64F}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F700}-\\u{1F77F}]|[\\u{1F780}-\\u{1F7FF}]|[\\u{1F800}-\\u{1F8FF}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA6F}]|[\\u{1FA70}-\\u{1FAFF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F1E0}-\\u{1F1FF}]/gu,\n  \"\"\n);\n\n// Remove caracteres especiais, mantendo apenas letras, números e espaços\ntextoProcessado = textoProcessado.replace(/[^a-zA-Z0-9À-ÿ\\s]/g, \"\");\n\n// Retorna o resultado\nreturn {\n  textoOriginal: textoEntrada,\n  textoSemQuebrasNemEmojisNemEspeciais: textoProcessado,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        2048
      ],
      "id": "648a711b-c255-4175-a8eb-c85eebf16b32",
      "name": "Formata Mensagem para Áudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/0YziWIrqiRTHCxeg1lyc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "={{ $('Preparar Dados').item.json.apiKey_eleven }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"text\": \"{{ $json.textoSemQuebrasNemEmojisNemEspeciais.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n}",
        "options": {}
      },
      "id": "52319a72-1c9b-4161-8633-a0233d31bec8",
      "name": "Seta Voz via ElevenLabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2640,
        2048
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 3448,
        "width": 6220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2672,
        64
      ],
      "id": "431b9953-0df4-47e1-ad42-9ae9bf1afb17",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f38e3243-1b8e-45a2-856f-fafe71997d94",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "5511982561489@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        1344
      ],
      "id": "9a474972-e6fd-4c42-8365-b2a83f8f6e92",
      "name": "Checa se é meu número"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3aa3973d-97b9-4647-9859-3365191b3411",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 601,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        2016
      ],
      "id": "e136323f-33c6-40bf-a57e-8df36118c122",
      "name": "Se o retorno for menos de 601 caracteres gera voz"
    },
    {
      "parameters": {
        "content": "![Source example](https://i.pinimg.com/736x/14/06/0e/14060ed01d29a8257a56ac039631f705.jpg#full-width)",
        "height": 780,
        "width": 760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        176
      ],
      "typeVersion": 1,
      "id": "1af9d64c-8593-4530-9965-7dc444319c5b",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "![Source example](https://i.pinimg.com/736x/28/ef/26/28ef2690acaf0f1924774d452bedda83.jpg#full-width)",
        "height": 756,
        "width": 828,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2528,
        192
      ],
      "typeVersion": 1,
      "id": "b1ac3b8d-e6f2-4c8f-bcd9-1098c7512ee1",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM",
          "mode": "list",
          "cachedResultName": "RAG Jarvis",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1968,
        2752
      ],
      "id": "bd99d4f4-9ee3-4a15-be4a-22cd503e1e2c",
      "name": "Novos Arquivos"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM",
          "mode": "list",
          "cachedResultName": "RAG Jarvis",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1968,
        2944
      ],
      "id": "322bbcb1-5e00-45ae-9413-1206592801b0",
      "name": "Novas Atualizações"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "60da2a5d-2adc-46a8-b01e-d9b04b4ad925",
      "name": "Conhecimento",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1696,
        2832
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "7b90d851-f3ba-435e-a4c4-d60ad6810a94",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1616,
        3072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "jarvis",
        "description": "Você é uma base de conhecimento que dá respostas sobre infos de IA, Agentes, e Automações com N8N",
        "topK": 8
      },
      "id": "de18f9ba-34dc-4279-b1f2-38c26ee01f2c",
      "name": "Base de Conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -96,
        2816
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -384,
        2432
      ],
      "id": "1e2c7bfd-648a-430a-9f11-e3903f30bada",
      "name": "Claude 4.0 Sonnet"
    },
    {
      "parameters": {
        "content": "## Ferramentas / Funções ",
        "height": 220,
        "width": 440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        2336
      ],
      "id": "7278b2df-1e21-4439-b636-8f0d9aa645c6",
      "name": "Sticky Note13"
    },
    {
      "parameters": {},
      "id": "d61b37a1-2e9f-40f7-b8a1-bef902e6b462",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        224,
        2416
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "=# Overview  \nVocê é um assistente avançado de automação com personalidade do **JARVIS**. Seu trabalho é encaminhar a solicitação do usuário para a ferramenta correta.— sua única responsabilidade é **chamar a ferramenta certa**.\n\n## Ferramentas disponíveis\n- **Think**: Use esta ferramenta para pensar profundamente ou caso esteja em dúvida sobre os próximos passos.  \n- **emailAgent**: Use esta ferramenta para realizar ações relacionadas a e-mails.  \n- **calendarAgent**: Use esta ferramenta para realizar ações relacionadas a calendário.  \n- **contactAgent**: Use esta ferramenta para obter, atualizar ou adicionar contatos.  \n- **contentCreator**: Use esta ferramenta para criar postagens de blog.  \n- **Tavily**: Use esta ferramenta para fazer pesquisas na web ou obter informações atualizadas (ex: clima).  \n- **LinkedinAgent**: Use esta ferramenta para escrever posts no linkedin.\n\n---\n\n## Regras\n- Algumas ações exigem que você **busque as informações de contato primeiro**. Para as ações abaixo, você deve usar o **contactAgent** e em seguida enviar a informação para a ferramenta apropriada:\n  - envio de e-mails  \n  - rascunho de e-mails  \n  - criação de eventos de calendário com participantes\n\n---\n\n## Instruções\n1. Chame as ferramentas necessárias com base no pedido do usuário.  \n2. Use a ferramenta **Think** para verificar se você tomou as decisões corretas. Esta ferramenta deve ser usada **sempre**, como uma etapa de validação.\n\n---\n\n## Exemplos\n### Exemplo 1  \n- **Entrada**: envie um e-mail para Ric Neves perguntando que horas ele quer sair  \n  - **Ação**: Use **contactAgent** para buscar o e-mail de Ric Neves \n  - **Ação**: Use **emailAgent** para enviar o e-mail. O comando enviado será algo como:  \n    `\"envie um e-mail para Ric Neves perguntando que horas ele quer sair. aqui está o e-mail dele: [endereço de e-mail]\"`  \n- **Saída esperada**: O e-mail foi enviado para Ric Neves. Posso te ajudar com mais alguma coisa?\n\n---\n\n## 🧠 Lembrete Final\nAqui está a data/hora atual: `{{ $now }}`\n\n---\n\n## 💾 Memória (opcional)\nVocê decide se o usuário forneceu alguma informação que deve ser salva como memória. Se sim, utilize a ferramenta **salvar_memoria** para registrar a informação.  \n**Informações a serem salvas**: gostos, preferências, escolhas, novidades.  \n\n> **Importante:** **NÃO** informe ao usuário que algo foi salvo na memória. Continue agindo naturalmente como o **assistente JARVIS**.\n```\n\n\n"
        }
      },
      "id": "b6bf08dd-1da8-43c2-b4b3-7640b9d620c0",
      "name": "J.A.R.V.I.S AGENT",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -128,
        1904
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        448,
        2416
      ],
      "id": "66a6b460-6c98-4946-bf56-ee2b5de99143",
      "name": "Think"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        944,
        3136
      ],
      "id": "5f416934-68c9-4c26-971f-1c47ca3f132e",
      "name": "Send Email",
      "webhookId": "86c8c4b1-13bb-4ebe-acb9-30e1d7082d55"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\",\"how many emails the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"sender\",\"who the emails are from\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        464,
        3136
      ],
      "id": "2970955f-a429-40f0-96ae-09a00051717c",
      "name": "Get Emails",
      "webhookId": "af4b3298-9037-44b0-aa12-2acbfbb5e66f"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "html",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "threadId": "={{ $fromAI(\"threadID\") }}",
          "sendTo": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        960,
        3008
      ],
      "id": "e6ed8eb5-fd2e-4357-a185-ab19848cfdfe",
      "name": "Create Draft",
      "webhookId": "17016bce-d7d7-428a-a56c-f6ea122db8be"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\",\"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        592,
        2992
      ],
      "id": "aa85d89e-55e9-43f1-9bd2-6401e735dad9",
      "name": "Email Reply",
      "webhookId": "114785e6-a859-432b-81b4-c490c1c35b1c"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        3152
      ],
      "id": "a098c11f-2be2-4fcb-a26a-b7fed63f01c3",
      "name": "Get Labels",
      "webhookId": "9e08b59e-792d-4566-83f1-9263c9ad86ae"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"ID\",\"the ID of the message\") }}",
        "labelIds": "={{ $fromAI(\"labelID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        768,
        3040
      ],
      "id": "251d9489-cffc-4a26-ad42-bb460c7c2f9d",
      "name": "Label Emails",
      "webhookId": "0e951529-2e6d-40bf-ac40-fc0947e242e2"
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        816,
        3168
      ],
      "id": "1c4e2685-0133-4812-b6d3-01ea30b257f1",
      "name": "Mark Unread",
      "webhookId": "a35af9d8-f67d-4ff9-803f-59ec6356e795"
    },
    {
      "parameters": {
        "toolDescription": "Um agente de email que executa as ferramentas de email",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# Visão Geral\nVocê é um assistente de gerenciamento de e-mails. Todos os e-mails devem ser formatados profissionalmente em HTML e assinados como \"Ric Neves\".\n\n**Ferramentas de Gerenciamento de E-mails**  \n   - Use \"Send Email\" para enviar e-mails.  \n   - Use \"Create Draft\" se o usuário solicitar um rascunho.  \n   - Use \"Get Emails\" para recuperar e-mails quando solicitado.  \n   - Use \"Get Labels\" para recuperar etiquetas.  \n   - Use \"Mark Unread\" para marcar um e-mail como não lido. Você deve usar \"Get Emails\" primeiro para obter o ID da mensagem do e-mail a ser sinalizado.  \n   - Use \"Label Email\" para sinalizar um e-mail. Você deve usar \"Get Emails\" primeiro para obter o ID da mensagem do e-mail a ser sinalizado. Em seguida, você deve usar \"Get Labels\" para obter o ID da etiqueta.  \n   - Use \"Email Reply\" para responder a um e-mail. Você deve usar \"Get Emails\" primeiro para obter o ID da mensagem do e-mail ao qual deseja responder.\n\n## Notas Finais\n- Aqui está a data/hora atual: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        656,
        2784
      ],
      "id": "6c6fb8b3-7c10-469a-b275-aa59b3abe6ac",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "r.nevesbraga@gmail.com",
          "mode": "list",
          "cachedResultName": "r.nevesbraga@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1472,
        3136
      ],
      "id": "90f3ca14-f2a7-40f9-917e-ed854c94ddfb",
      "name": "Create Event with Attendee"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "r.nevesbraga@gmail.com",
          "mode": "list",
          "cachedResultName": "r.nevesbraga@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1168,
        3136
      ],
      "id": "f6a2906d-7823-42af-9205-cb3040cf67c8",
      "name": "Create Event"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "r.nevesbraga@gmail.com",
          "mode": "list",
          "cachedResultName": "r.nevesbraga@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1392,
        3008
      ],
      "id": "f623df93-d571-41a9-a4a3-8801f465b5d0",
      "name": "Get Events"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "r.nevesbraga@gmail.com",
          "mode": "list",
          "cachedResultName": "r.nevesbraga@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1264,
        3008
      ],
      "id": "ae8529e3-0e82-469d-9ecc-1b69b99a731f",
      "name": "Delete Event"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "r.nevesbraga@gmail.com",
          "mode": "list",
          "cachedResultName": "r.nevesbraga@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1312,
        3152
      ],
      "id": "88ac071a-6b88-4a4a-8835-57e410ce1a49",
      "name": "Update Event"
    },
    {
      "parameters": {
        "toolDescription": "Um agente de calendário que executa ferramentas de calendário",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# Visão Geral\nVocê é um assistente de calendário. Suas responsabilidades incluem criar, obter e excluir eventos no calendário do usuário.\n\n**Ferramentas de Gerenciamento de Calendário**  \n   - Use \"Create Event with Attendee\" quando um evento incluir um participante.  \n   - Use \"Create Event\" para eventos individuais.  \n   - Use \"Get Events\" para buscar agendas do calendário quando solicitado.  \n   - Use \"Delete Event\" para excluir um evento. Você deve usar \"Get Events\" primeiro para obter o ID do evento a ser excluído.  \n   - Use \"Update Event\" para atualizar um evento. Você deve usar \"Get Events\" primeiro para obter o ID do evento a ser atualizado.\n\n## Notas Finais\nAqui está a data/hora atual: {{ $now }}  \nSe a duração de um evento não for especificada, assuma que terá duração de uma hora."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1200,
        2784
      ],
      "id": "47b7c505-d4a9-4958-a526-61073bd93113",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1792,
        3264
      ],
      "id": "1486a0ca-bb80-4000-8041-78b35325af10",
      "name": "GPT 4.1-mini1"
    },
    {
      "parameters": {
        "content": "# MultiAgents",
        "height": 786,
        "width": 3108,
        "color": 7
      },
      "id": "c22b0401-d709-4a61-9235-047152555462",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        2656
      ]
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appK0rbtvf9e7vt6w",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appK0rbtvf9e7vt6w"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JGCfUK1RhXsG",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1776,
        2992
      ],
      "id": "fa38892f-4a86-4b64-9a48-590b19d84aed",
      "name": "Get Contacts"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appK0rbtvf9e7vt6w",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appK0rbtvf9e7vt6w"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JGCfUK1RhXsG",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI(\"name\") }}",
            "email": "={{ $fromAI(\"emailAddress\") }}",
            "phoneNumber": "={{ $fromAI(\"phoneNumber\") }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1920,
        2992
      ],
      "id": "cfbbf251-ee70-4399-9f96-4c87c542f3b6",
      "name": "Add or Update Contact"
    },
    {
      "parameters": {
        "toolDescription": "Contact agent for all contact actions, like getting contacts",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# Visão Geral\nVocê é um assistente de gerenciamento de contatos. Suas responsabilidades incluem buscar contatos, adicionar novos contatos ou atualizar as informações de um contato.\n\n**Gerenciamento de Contatos**  \n   - Use \"Get Contacts\" para recuperar informações de contato.  \n   - Use \"Add or Update Contact\" para armazenar novas informações de contato ou modificar entradas existentes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1648,
        2784
      ],
      "id": "b68ce9fc-5d41-4cef-b0d0-8c4ffaa59566",
      "name": "Contact Agent"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent que escreve posts para o linkedin",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Recebe o conteúdo enviado pelo agente principal`, 'string') }}",
        "options": {
          "systemMessage": "=# Visão Geral\nVocê é um assistente especializado na criação de posts para o LinkedIn. Sua missão é redigir conteúdos envolventes, relevantes e alinhados com a voz e estilo do usuário, sempre incluindo um **call to action** para promover sua mentoria e formação sobre Agentes de IA com n8n.\n\n**Ferramenta para Criação de Post**  \n- Use **Create a post in linkedin** apenas após a aprovação do DRAFT pelo usuário final.  \n- **NUNCA** utilize a ferramenta **Create a post in LinkedIn** sem a autorização explícita do usuário após a apresentação de um DRAFT.  \n- Você **deve sempre** gerar um **rascunho (DRAFT)** do post para que o usuário revise antes de qualquer publicação.\n\n**Estilo e Estrutura do Post**  \n- Utilize uma linguagem empolgante, didática e inspiradora.  \n- O conteúdo deve ser construído com storytelling, mostrando conquistas, aprendizados, ferramentas usadas, impacto prático e próximos passos.  \n- Ao final de cada post, **adicione sempre o seguinte call to action**:\n\n---\n\n🚀 Quer aprender a criar o seu próprio J.A.R.V.I.S.?\n\nEu ensino tudo passo a passo na minha Mentoria de Agentes de IA:\n\nDesde a instalação do n8n, configuração de VPS em escala, LLMs e PROMPT Engineering, Lang Chain e Lang Graph, MCP, integrações, até a construção de agentes e automações avançadas que vão mudar sua produtividade de verdade.\n\ne o mais importante: fazer negócios com IA ($$$), afinal você pode vender seus agentes e automações e fazer uma grana extra, como eu já estou fazendo.\n\n👉 Curta a Publicação, Conecta e Comenta \"QUERO O JARVIS\" que eu te mando o JSON e te explico como participar da mentoria.\n\nhashtag#MentoriaDeIA hashtag#AgentesDeIA hashtag#n8n hashtag#openai hashtag#Automação hashtag#Produtividade hashtag#AI hashtag#InteligenciaArtificial hashtag#LowCode hashtag#NoCode hashtag#TransformaçãoDigital\n\n---\n\n**Notas Finais**\n- Sempre mantenha a coerência com o tom do exemplo fornecido.\n- Só publique após a **aprovação explícita** do rascunho pelo usuário."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2608,
        3104
      ],
      "id": "52b7070e-7529-4e5c-b938-edec036e84c9",
      "name": "Linkedin Agent"
    },
    {
      "parameters": {
        "person": "gI9okJLDqL",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', `Set post created to linkedin`, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        2880,
        3264
      ],
      "id": "165bd95d-cc49-4f9a-958e-f068d19d1339",
      "name": "Create a post in LinkedIn"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2544,
        3296
      ],
      "id": "f8d24832-b871-423e-8a62-000235a37592",
      "name": "Sonnet 4.0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2304,
        3024
      ],
      "id": "1e48d893-51a2-47f9-a6c3-f182be5ab279",
      "name": "Airbnb Actions"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the selected tool to use\") }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2448,
        3024
      ],
      "id": "672caeee-0956-4af8-9ee0-c61fb50bc866",
      "name": "Airbnb Execute"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent que busca casas para alugar no AirBnB",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# Visão Geral\nVocê é um assistente especialista em encontrar casas para alugar no Airbnb de forma rápida, precisa e personalizada. Sua missão é auxiliar o usuário a encontrar as melhores opções com base nas preferências fornecidas, como localização, datas, número de hóspedes, faixa de preço e comodidades desejadas.\n\n**Ferramentas de Pesquisa Airbnb**  \n- Use **Airbnb Actions** para configurar filtros de busca, preferências do usuário, datas, localizações e tipos de propriedades.  \n- Use **Airbnb Execute** para executar a busca com base nos critérios definidos e retornar os resultados de forma organizada.\n\n**Comportamento do Agente**  \n- Sempre confirme os critérios com o usuário antes de executar uma busca.  \n- Retorne os resultados com clareza: inclua nome da propriedade, preço por diária, avaliação, principais comodidades e link direto para o anúncio.  \n- Caso o usuário deseje reservar, pergunte se deseja continuar no Airbnb diretamente ou receber mais opções.\n\n**Exemplo de Filtros Comuns a Confirmar com o Usuário**\n- Localização (cidade, bairro ou região)\n- Datas de check-in e check-out\n- Número de hóspedes\n- Faixa de preço (mínimo e máximo por noite)\n- Tipo de imóvel (casa, apartamento, chalé, etc.)\n- Preferências (Wi-Fi, pet friendly, com piscina, etc.)\n\n**Notas Finais**\n- Seja proativo ao sugerir opções com base nas preferências do usuário.\n- Certifique-se de que os filtros estão corretos antes de executar uma busca com **Airbnb Execute**.\n- Priorize resultados bem avaliados, com boa reputação de anfitriões e fotos de qualidade."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2160,
        2784
      ],
      "id": "dfb2bba8-8c19-48c9-b491-97ea764f38f6",
      "name": "AirBnB Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"tema\": \"Uso de Redis como memória no J.A.R.V.I.S.\",\n  \"gancho\": \"Já imaginou sua IA lembrar o que você disse há 3 dias no WhatsApp?\",\n  \"desenvolvimento\": [\n    \"Expliquei o problema de perda de contexto\",\n    \"Mostrei como configurei o Redis no n8n\",\n    \"Relatei os ganhos reais com memória no assistente\"\n  ],\n  \"cta_personalizado\": \"Quer aprender a fazer o seu J.A.R.V.I.S. com memória?\",\n  \"tom\": \"didático, empolgante e inspirador\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3040,
        2944
      ],
      "id": "7e08990e-1d20-479a-a62e-4f0e4e0cb340",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta pra buscar na internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        336,
        2416
      ],
      "id": "6b58b2e5-ac8a-4953-9df9-4d98d5a8c88a",
      "name": "Tavily1"
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta pra buscar na internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2848,
        2944
      ],
      "id": "5423eac4-9907-4da0-90c3-8c58811e2b48",
      "name": "TavilySearch"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent que cria conteúdo para postar",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Visão Geral\nVocê é um estrategista de conteúdo especialista em criar narrativas envolventes para posts de alta performance no LinkedIn. Sua função é estruturar o storytelling e definir a linha editorial de um conteúdo com base nas ideias ou objetivos fornecidos pelo usuário.\n\nSeu objetivo não é escrever o texto final, mas sim criar a **estrutura estratégica**, definindo:\n\n- Tema central  \n- Gancho de abertura  \n- Desenvolvimento do conteúdo (tópicos ou etapas)  \n- Call to action sugerido (pode ser substituído depois pelo CTA fixo)  \n- Emoção/impacto desejado\n\n**Fluxo de Trabalho**\n- Ao receber a ideia inicial, você deve organizar a estrutura narrativa completa.\n- Em seguida, chame como **tool** o agente `Linkedin Agent`, responsável por redigir o post final no estilo do LinkedIn do usuário, com o CTA da mentoria de Agentes de IA.\n\n**Ferramentas**\n- Use **Linkedin Agent** para transformar sua estrutura em texto real para revisão.\n- Use **TavilySearch** para buscar conteúdos relevantes sobre o tema informado pelo usuário.\n\n**Formato da Resposta Interna**\nVocê deve sempre entregar a seguinte estrutura para o Linkedin Agent:\n\n```json\n{\n  \"tema\": \"Uso de Redis como memória no J.A.R.V.I.S.\",\n  \"gancho\": \"Já imaginou sua IA lembrar o que você disse há 3 dias no WhatsApp?\",\n  \"desenvolvimento\": [\n    \"Expliquei o problema de perda de contexto\",\n    \"Mostrei como configurei o Redis no n8n\",\n    \"Relatei os ganhos reais com memória no assistente\"\n  ],\n  \"cta_personalizado\": \"Quer aprender a fazer o seu J.A.R.V.I.S. com memória?\",\n  \"tom\": \"didático, empolgante e inspirador\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2608,
        2720
      ],
      "id": "d6a88176-72b8-4925-b8df-e58c3b287aa7",
      "name": "Agent Content Creator"
    },
    {
      "parameters": {
        "content": "## Formação - Agente N8N\n![Source example](https://i.postimg.cc/zDL8sNR7/logo-agentes-de-IA.png)\n\n## https://agentes-n8n.com.br",
        "height": 780,
        "width": 900,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        656
      ],
      "typeVersion": 1,
      "id": "bab93599-4ec9-44a7-995e-2961f6c9e9a2",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "▔▔▔▇▔▔▔▔▇▇▔▔▔▔▇▇▇▔▔▔▔▇▔▔▇▔▔▔▇▔▔▔▔▇▇▇▔▔▇▔▔▇▔▔▇▇▔▔▔▔▔▇▔\n▔▔▔▇▔▔▔▇▔▔▇▔▔▔▇▔▔▇▔▔▔▇▔▔▇▔▔▔▇▔▔▔▇▔▔▔▔▔▇▔▔▇▔▔▔▔▇▔▔▔▇▔▇\n▔▔▔▇▔▔▔▇▇▇▇▔▔▔▇▇▇▔▔▔▔▇▔▔▇▔▔▔▇▔▔▔▔▇▇▔▔▔▇▔▔▇▔▔▇▇▔▔▔▔▇▔▇\n▇▔▔▇▔▔▔▇▔▔▇▔▔▔▇▔▔▇▔▔▔▔▇▔▇▔▔▔▇▔▔▔▔▔▔▇▔▔▔▇▔▇▔▔▔▔▇▔▔▔▇▔▇\n▔▇▇▔▔▇▔▇▔▔▇▔▇▔▇▔▔▇▔▇▔▔▔▇▔▔▇▔▇▔▇▔▇▇▇▔▔▔▔▔▇▔▔▔▇▇▔▔▇▔▔▇▔\n▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔",
        "height": 144,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5b2f4c95-e9f6-4d2d-b4a2-32263d16509b",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-06T21:05:52.042Z",
      "createdAt": "2026-03-06T21:05:52.042Z",
      "role": "workflow:owner",
      "workflowId": "IGu6sthe1zWcwhiV",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-27T18:28:58.244Z",
      "createdAt": "2026-01-27T18:28:58.244Z",
      "id": "a0vOCLiOEtb5zRpQ",
      "name": "matriz"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T15:18:21.471Z",
  "versionId": "2d0bcdc8-3824-4470-b863-5dd0accb8602"
}