workflows/[RNB][WhatsApp] - Assistente Financeiro | v1 copy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "recebe_mensagem_usuario": {
      "main": [
        [
          {
            "node": "formata_celular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_celular": {
      "main": [
        [
          {
            "node": "pega_data_atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega_data_atual": {
      "main": [
        [
          {
            "node": "verifica_cadastro_usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_cadastro_usuario": {
      "main": [
        [
          {
            "node": "valida_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "valida_cadastro": {
      "main": [
        [
          {
            "node": "verifica_thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastra_usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastra_usuario": {
      "main": [
        [
          {
            "node": "verifica_thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_thread": {
      "main": [
        [
          {
            "node": "cria_thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "classifica_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_thread": {
      "main": [
        [
          {
            "node": "salva_thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salva_thread": {
      "main": [
        [
          {
            "node": "classifica_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm_classificador": {
      "ai_languageModel": [
        [
          {
            "node": "classifica_mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "classifica_mensagem": {
      "main": [
        [
          {
            "node": "switch_tipo_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_tipo_mensagem": {
      "main": [
        [
          {
            "node": "extrai_gastos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "extrai_entradas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "busca_transacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm_gastos": {
      "ai_languageModel": [
        [
          {
            "node": "extrai_gastos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "extrai_gastos": {
      "main": [
        [
          {
            "node": "parse_gastos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_gastos": {
      "main": [
        [
          {
            "node": "salva_gasto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salva_gasto": {
      "main": [
        [
          {
            "node": "envia_resposta_gasto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm_entradas": {
      "ai_languageModel": [
        [
          {
            "node": "extrai_entradas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "extrai_entradas": {
      "main": [
        [
          {
            "node": "parse_entradas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_entradas": {
      "main": [
        [
          {
            "node": "salva_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salva_entrada": {
      "main": [
        [
          {
            "node": "envia_resposta_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_transacoes": {
      "main": [
        [
          {
            "node": "formata_historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_historico": {
      "main": [
        [
          {
            "node": "agente_consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm_consulta": {
      "ai_languageModel": [
        [
          {
            "node": "agente_consulta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "calculadora": {
      "ai_tool": [
        [
          {
            "node": "agente_consulta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agente_consulta": {
      "main": [
        [
          {
            "node": "envia_resposta_consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-09T20:08:02.554Z",
  "id": "KorvQDnT1t1pfYaj",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[RNB][WhatsApp] - Assistente Financeiro | v1 copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db5fc880-6e1e-439e-b8a5-ef710751c920",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        17744,
        6272
      ],
      "id": "c1f662fe-bdf5-48e8-a238-9c135ef33164",
      "name": "recebe_mensagem_usuario",
      "webhookId": "db5fc880-6e1e-439e-b8a5-ef710751c920"
    },
    {
      "parameters": {
        "jsCode": "// Remove formatacao: +, espacos, tracoes, parenteses\nreturn [{\n  telefone_limpo: $json.body.chat.phone.replace(/\\D/g, '')\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17984,
        6272
      ],
      "id": "55b68394-d9ab-4e06-85e8-21160fda9522",
      "name": "formata_celular"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        18224,
        6272
      ],
      "id": "20cff691-80cf-4520-889a-f34f7eaa1277",
      "name": "pega_data_atual"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, numero_usuario, thread_id FROM wpp_usuarios WHERE numero_usuario = '{{ $('formata_celular').item.json.telefone_limpo }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        18464,
        6272
      ],
      "id": "08e068d7-c383-48cc-a58a-69cb6757684e",
      "name": "verifica_cadastro_usuario",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.numero_usuario }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cadastrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1fb1915e-576b-4729-a204-61718f51a0ce",
                    "leftValue": "={{ $json.numero_usuario }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sem cadastro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        18672,
        6272
      ],
      "id": "0fba015f-0afe-40e4-945a-92f0af3b71cb",
      "name": "valida_cadastro"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO wpp_usuarios (numero_usuario) VALUES ('{{ $('formata_celular').item.json.telefone_limpo }}') ON CONFLICT (numero_usuario) DO NOTHING RETURNING id, numero_usuario, thread_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        18880,
        6512
      ],
      "id": "b172abd5-55a3-4348-9235-dfb547a49bff",
      "name": "cadastra_usuario",
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8df05c6-f0d2-46d6-987f-d6ed0f429116",
              "leftValue": "={{ $json.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19024,
        6256
      ],
      "id": "05d29cee-c3f9-45da-a63a-4fba11ad0c86",
      "name": "verifica_thread"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19152,
        5952
      ],
      "id": "da77766e-78fb-4e4d-b297-acd948298517",
      "name": "cria_thread",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE wpp_usuarios SET thread_id = '{{ $('cria_thread').item.json.id }}' WHERE id = {{ $('verifica_thread').item.json.id }} RETURNING id, numero_usuario, thread_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        19456,
        5952
      ],
      "id": "67ee4a44-82da-4937-b73a-179da83f0a10",
      "name": "salva_thread",
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        19360,
        6480
      ],
      "id": "3fae45af-d668-46c8-8dd5-ab13c9860597",
      "name": "llm_classificador",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Categorize a mensagem em: \"gasto\", \"entrada\" ou \"consulta\".\nValor pago ou gasto = gasto. Valor recebido = entrada. Pergunta sobre financas = consulta.\nResponda apenas com uma palavra.\nMensagem: {{ $('recebe_mensagem_usuario').item.json.body.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        19360,
        6272
      ],
      "id": "ad5c0d4e-d824-44c7-9d24-f8de8e1fbf3a",
      "name": "classifica_mensagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "gasto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GASTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6fb900a-e5a8-497f-8978-373424bbb81f",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "entrada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ENTRADA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ba17ab5e-f0a8-4ec4-ab49-895223e6e3cd",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "consulta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONSULTA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        19712,
        6272
      ],
      "id": "e14f9372-5535-4dc6-bcba-1d85aa44ad2b",
      "name": "switch_tipo_mensagem"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        19984,
        6080
      ],
      "id": "45a4cc41-a49c-49de-b85d-c15c93889e2c",
      "name": "llm_gastos",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extraia detalhes do gasto e retorne apenas JSON valido sem markdown:\n{\"categoria\": \"...\", \"subcategoria\": \"...\", \"valor\": \"R$ XX,XX\", \"data\": \"DD/MM/AAAA\", \"mensagem\": \"Gasto de R$ XX,XX em [subcategoria] cadastrado com sucesso!\"}\nDATA ATUAL: {{ $('pega_data_atual').item.json.currentDate }}\nMensagem: {{ $('recebe_mensagem_usuario').item.json.body.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        19984,
        5888
      ],
      "id": "2214038f-1ce5-46b2-815e-745d054509ef",
      "name": "extrai_gastos"
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json.output;\nconst cleanData = inputData.replace(/```json\\n?/g, '').replace(/\\n?```/g, '').trim();\nconst parsedData = JSON.parse(cleanData);\nreturn [{ json: { categoria: parsedData.categoria, subcategoria: parsedData.subcategoria, valor: parsedData.valor, data: parsedData.data, mensagem: parsedData.mensagem } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20384,
        5888
      ],
      "id": "5acb2c00-3fe3-4b7e-8941-5546b32157d3",
      "name": "parse_gastos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO wpp_transacoes (numero_usuario, categoria, subcategoria, valor, data, tipo) VALUES ('{{ $('formata_celular').item.json.telefone_limpo }}', '{{ $json.categoria }}', '{{ $json.subcategoria }}', '{{ $json.valor }}', '{{ $json.data }}', 'Gasto') RETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        20624,
        5888
      ],
      "id": "550efdd0-719a-42d3-a86a-8b1bc8bfc5e1",
      "name": "salva_gasto",
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $('formata_celular').item.json.telefone_limpo }}",
        "text": "={{ $('parse_gastos').item.json.mensagem }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        20864,
        5888
      ],
      "id": "71c0ee20-c42f-4194-84c3-a1850e4edd2d",
      "name": "envia_resposta_gasto",
      "credentials": {
        "uazApiApi": {
          "id": "qikY3V4flnORNDfM",
          "name": "[UazAPI] - Assistente Financeiro"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20064,
        6448
      ],
      "id": "9245e11f-ca37-4099-86a4-14b359e77986",
      "name": "llm_entradas",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extraia detalhes da entrada e retorne apenas JSON valido sem markdown:\n{\"categoria\": \"...\", \"subcategoria\": \"...\", \"valor\": \"R$ XX,XX\", \"data\": \"DD/MM/AAAA\", \"mensagem\": \"Entrada de R$ XX,XX em [subcategoria] cadastrada com sucesso!\"}\nDATA ATUAL: {{ $('pega_data_atual').item.json.currentDate }}\nMensagem: {{ $('recebe_mensagem_usuario').item.json.body.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        20064,
        6272
      ],
      "id": "6fbafbd1-ff61-48f9-9922-dbcf6ad109d5",
      "name": "extrai_entradas"
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json.output;\nconst cleanData = inputData.replace(/```json\\n?/g, '').replace(/\\n?```/g, '').trim();\nconst parsedData = JSON.parse(cleanData);\nreturn [{ json: { categoria: parsedData.categoria, subcategoria: parsedData.subcategoria, valor: parsedData.valor, data: parsedData.data, mensagem: parsedData.mensagem } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20464,
        6272
      ],
      "id": "08c52d21-6d61-4d68-9d57-0ed9e1f2cebd",
      "name": "parse_entradas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO wpp_transacoes (numero_usuario, categoria, subcategoria, valor, data, tipo) VALUES ('{{ $('formata_celular').item.json.telefone_limpo }}', '{{ $json.categoria }}', '{{ $json.subcategoria }}', '{{ $json.valor }}', '{{ $json.data }}', 'Entrada') RETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        20720,
        6272
      ],
      "id": "a5060e06-809b-4b98-87fc-86f57b280691",
      "name": "salva_entrada",
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $('formata_celular').item.json.telefone_limpo }}",
        "text": "={{ $('parse_entradas').item.json.mensagem }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        20960,
        6272
      ],
      "id": "27fa2a01-6d80-4933-b92a-13da633429e5",
      "name": "envia_resposta_entrada",
      "credentials": {
        "uazApiApi": {
          "id": "qikY3V4flnORNDfM",
          "name": "[UazAPI] - Assistente Financeiro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tipo AS \"Tipo\", categoria AS \"Categoria\", subcategoria AS \"Sub-categoria\", valor AS \"Valor\", data AS \"Data\" FROM wpp_transacoes WHERE numero_usuario = '{{ $('formata_celular').all()[0].json.telefone_limpo }}' ORDER BY created_at DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        20064,
        6672
      ],
      "id": "9b92f688-4a65-4d99-805e-0d750abb57db",
      "name": "busca_transacoes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (!items || items.length === 0 || !items[0].json.Tipo) {\n  return [{ json: { mensagem: 'Nenhuma transacao registrada ainda.' } }];\n}\nconst messages = items.map(item =>\n  `[${item.json.Tipo}] ${item.json.Categoria} - ${item.json['Sub-categoria']} - ${item.json.Valor} (${item.json.Data})`\n);\nreturn [{ json: { mensagem: messages.join('\\n') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20272,
        6672
      ],
      "id": "ba925dc1-add4-441a-9cc9-a98b5b865c47",
      "name": "formata_historico"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20496,
        6912
      ],
      "id": "d88403ae-0848-4673-9620-04e59f43a050",
      "name": "llm_consulta",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        20752,
        6896
      ],
      "id": "e2a6ddc4-5808-43f9-951e-e0415772b15a",
      "name": "calculadora"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('recebe_mensagem_usuario').all()[0].json.body.message.text }}",
        "options": {
          "systemMessage": "=Voce e um assistente financeiro. Analise a consulta e responda com base nos dados.\nData de hoje: {{ $('pega_data_atual').item.json.currentDate }}\nDados: {{ $json.mensagem }}\nFormate valores em Real Brasileiro. Use linguagem clara e amigavel."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        20560,
        6672
      ],
      "id": "aaa58e19-9dd8-428b-842a-8d7d1b73ede6",
      "name": "agente_consulta"
    },
    {
      "parameters": {
        "number": "={{ $('formata_celular').all()[0].json.telefone_limpo }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        20944,
        6672
      ],
      "id": "982a70f1-b6b0-4237-a78a-3ab58aa5a2cc",
      "name": "envia_resposta_consulta",
      "credentials": {
        "uazApiApi": {
          "id": "qikY3V4flnORNDfM",
          "name": "[UazAPI] - Assistente Financeiro"
        }
      }
    },
    {
      "parameters": {
        "content": "VERSAO FINAL\nBaserow removido\nEvolution API removido\n\nBANCO: Supabase PostgreSQL\nTabelas: wpp_usuarios | wpp_transacoes\nMENSAGERIA: Uazapi (n8n-nodes-uazapi.uazApi)\n\nPENDENTE AO IMPORTAR:\n1. Nodes Postgres: selecionar credencial [Supabase] - PostgreSQL\n2. Nodes Uazapi: credencial [UazAPI] - Vitrine ja referenciada\n3. Rodar plano de testes",
        "height": 260,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        17744,
        5808
      ],
      "id": "6ea9ff00-576d-48f0-95e6-6e66a622d7bc",
      "name": "sticky_note"
    }
  ],
  "pinData": {
    "recebe_mensagem_usuario": [
      {
        "json": {
          "headers": {
            "host": "n8n.ep.rnbsolucoes.com.br",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "2534",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "65.108.141.240",
            "x-forwarded-host": "n8n.ep.rnbsolucoes.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "021c824624ec",
            "x-real-ip": "65.108.141.240"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://rnbsolucoes.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "r7323d69123752d",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/591610015_1217245523644552_575697414688013912_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3wHK5wO2Pdl_i1bxlVDpXz4ILgQtWWF8dLahULw77U071A&oe=69AC69A7&_nc_sid=5e03e0&_nc_cat=111",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "Gabriel Siqueira Rush Company",
              "owner": "556782243300",
              "phone": "+55 88 8813-6242",
              "wa_archived": false,
              "wa_chatid": "558888136242@s.whatsapp.net",
              "wa_chatlid": "264136747446489@lid",
              "wa_contactName": "Gabriel Siqueira Rush Company",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "556782243300:558888136242",
              "wa_isBlocked": false,
              "wa_isGroup": false,
              "wa_isGroup_admin": false,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": false,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "264136747446489@lid",
              "wa_lastMessageTextVote": "oi",
              "wa_lastMessageType": "Conversation",
              "wa_lastMsgTimestamp": 1772812187000,
              "wa_muteEndTime": 0,
              "wa_name": "Gabriel Siqueira",
              "wa_unreadCount": 2
            },
            "chatSource": "updated",
            "instanceName": "Assistente Financeiro",
            "message": {
              "buttonOrListid": "",
              "chatid": "558888136242@s.whatsapp.net",
              "chatlid": "264136747446489@lid",
              "content": "oi",
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "Unknown",
              "id": "556782243300:3B6D3AEE18D9B905B0C5",
              "isGroup": false,
              "mediaType": "",
              "messageTimestamp": 1772812187000,
              "messageType": "Conversation",
              "messageid": "3B6D3AEE18D9B905B0C5",
              "owner": "556782243300",
              "quoted": "",
              "reaction": "",
              "sender": "264136747446489@lid",
              "senderName": "Gabriel Siqueira",
              "sender_lid": "264136747446489@lid",
              "sender_pn": "558888136242@s.whatsapp.net",
              "source": "unknown",
              "status": "",
              "text": "oi",
              "track_id": "",
              "track_source": "",
              "type": "text",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "556782243300",
            "token": "371dea50-c173-4bfc-8eb4-edbd53f6893f"
          },
          "webhookUrl": "https://n8n.ep.rnbsolucoes.com.br/webhook/wpp-financeiro",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-09T20:08:02.554Z",
      "createdAt": "2026-03-09T20:08:02.554Z",
      "role": "workflow:owner",
      "workflowId": "KorvQDnT1t1pfYaj",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-27T17:05:49.634Z",
      "createdAt": "2026-01-27T17:05:49.634Z",
      "id": "F171zldw4G7U1HuZ",
      "name": "legacy"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T15:18:21.254Z",
  "versionId": "98501aff-2faa-4faa-9b32-e9abcbca4c4b"
}