workflows/[RNB][FinManage] - Agente Principal | v4.2.0.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "webhook_uazapi": {
      "main": [
        [
          {
            "node": "verifica_autorizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_autorizacao": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "eh_midia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eh_midia": {
      "main": [
        [
          {
            "node": "busca_media_uazapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "seta_dados_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_media_uazapi": {
      "main": [
        [
          {
            "node": "seta_dados_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seta_dados_entrada": {
      "main": [
        [
          {
            "node": "valida_tipo_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "valida_tipo_entrada": {
      "main": [
        [
          {
            "node": "baixa_arquivo_audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contexto_arquivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contexto_arquivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contexto_texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_fallback_tipo_invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixa_arquivo_audio": {
      "main": [
        [
          {
            "node": "transcreve_audio_groq",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_erro_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreve_audio_groq": {
      "main": [
        [
          {
            "node": "seta_texto_transcrito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_erro_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seta_texto_transcrito": {
      "main": [
        [
          {
            "node": "contexto_texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contexto_arquivo": {
      "main": [
        [
          {
            "node": "download_arquivo_uazapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contexto_texto": {
      "main": [
        [
          {
            "node": "agente_finmanage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_arquivo_uazapi": {
      "main": [
        [
          {
            "node": "extrai_texto_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrai_texto_pdf": {
      "main": [
        [
          {
            "node": "seta_texto_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seta_texto_pdf": {
      "main": [
        [
          {
            "node": "restaura_binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "restaura_binario": {
      "main": [
        [
          {
            "node": "upload_arquivo_google_drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_arquivo_google_drive": {
      "main": [
        [
          {
            "node": "eh_imagem_ou_pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nao_fazer_nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eh_imagem_ou_pdf": {
      "main": [
        [
          {
            "node": "envia_para_pasta_comprovantes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "identificador_documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "identificador_documento": {
      "main": [
        [
          {
            "node": "roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_chat_model_identificador": {
      "ai_languageModel": [
        [
          {
            "node": "identificador_documento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "estrutura_retorno": {
      "ai_outputParser": [
        [
          {
            "node": "identificador_documento",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "roteador": {
      "main": [
        [
          {
            "node": "envia_para_pasta_conta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_para_pasta_extratos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_para_pasta_comprovantes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_fallback_classificacao_invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_para_pasta_conta": {
      "main": [
        [
          {
            "node": "seta_mensagem_retorno_conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_para_pasta_extratos": {
      "main": [
        [
          {
            "node": "seta_mensagem_retorno_extrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_para_pasta_comprovantes": {
      "main": [
        [
          {
            "node": "verifica_mime_comprovante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seta_mensagem_retorno_conta": {
      "main": [
        [
          {
            "node": "contexto_resultado_arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seta_mensagem_retorno_extrato": {
      "main": [
        [
          {
            "node": "contexto_resultado_arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_mime_comprovante": {
      "main": [
        [
          {
            "node": "Prepara OCR Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixa Comprovante PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara OCR Imagem": {
      "main": [
        [
          {
            "node": "OCR Comprovante (Vision)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Comprovante (Vision)": {
      "main": [
        [
          {
            "node": "Parseia Comprovante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa Comprovante PDF": {
      "main": [
        [
          {
            "node": "Upload File OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File OpenAI": {
      "main": [
        [
          {
            "node": "Prepara OCR PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara OCR PDF": {
      "main": [
        [
          {
            "node": "OCR PDF (Responses)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR PDF (Responses)": {
      "main": [
        [
          {
            "node": "Parseia Comprovante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_fallback_ocr_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parseia Comprovante": {
      "main": [
        [
          {
            "node": "Insere Movimentacao (Comprovante)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere Movimentacao (Comprovante)": {
      "main": [
        [
          {
            "node": "seta_mensagem_retorno_comprovante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seta_mensagem_retorno_comprovante": {
      "main": [
        [
          {
            "node": "contexto_resultado_arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contexto_resultado_arquivo": {
      "main": [
        [
          {
            "node": "agente_finmanage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_finmanage": {
      "main": [
        [
          {
            "node": "envia_mensagem_whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_chat_model_agente": {
      "ai_languageModel": [
        [
          {
            "node": "agente_finmanage",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "postgres_chat_memory": {
      "ai_memory": [
        [
          {
            "node": "agente_finmanage",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "calculadora": {
      "ai_tool": [
        [
          {
            "node": "agente_finmanage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "inclui_movimentacao": {
      "ai_tool": [
        [
          {
            "node": "agente_finmanage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "inclui_conta": {
      "ai_tool": [
        [
          {
            "node": "agente_finmanage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "resumidor_financeiro": {
      "ai_tool": [
        [
          {
            "node": "agente_finmanage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-10T20:30:23.585Z",
  "id": "HinCyVzMKWJV7lpJ",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[RNB][FinManage] - Agente Principal | v4.2.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0454ec09-7c28-42ae-a2f5-af4a224b8f82",
        "options": {}
      },
      "id": "31f7b257-bb60-474c-90b2-aa361a864dbb",
      "name": "webhook_uazapi",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        119312,
        63248
      ],
      "webhookId": "0454ec09-7c28-42ae-a2f5-af4a224b8f82"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT verificar_autorizacao($1) as autorizado;",
        "options": {
          "queryReplacement": "={{ $json.body.message.chatid }}"
        }
      },
      "id": "2be63aab-431e-467a-847f-fe74e93fa2b4",
      "name": "verifica_autorizacao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        119568,
        63248
      ],
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "auth-01",
              "leftValue": "={{ $json.autorizado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        119824,
        63248
      ],
      "id": "14a50061-94eb-4f70-8f79-b5bcea065e26",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        120096,
        63024
      ],
      "id": "c53d4806-ab1c-4b8b-9768-ba1b633cd409",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "mdt-01",
              "leftValue": "={{ $('webhook_uazapi').item.json.body.message.mediaType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        120096,
        63248
      ],
      "id": "0d2939ff-751b-4e95-9d76-e4b42c42c610",
      "name": "eh_midia"
    },
    {
      "parameters": {
        "operation": "downloadMedia",
        "messageId": "={{ $node[\"webhook_uazapi\"].json[\"body\"][\"message\"][\"id\"] }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        120352,
        63136
      ],
      "id": "abfdd258-5699-40a8-8210-6db36be08aa1",
      "name": "busca_media_uazapi",
      "credentials": {
        "uazApiApi": {
          "id": "T2RnzBIpEiPAtnLU",
          "name": "[UazAPI] - FinPocket"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "telefone",
              "value": "={{ $('webhook_uazapi').item.json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "mensagem",
              "value": "={{ $('webhook_uazapi').item.json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "fileURL",
              "value": "={{ $json.fileURL || '' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "mimetype",
              "value": "={{ $json.mimetype ?? '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "mediaType",
              "value": "={{ $('webhook_uazapi').item.json.body.message.mediaType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120608,
        63248
      ],
      "id": "c30da869-1a1e-4c13-a82f-eb2dd75de144",
      "name": "seta_dados_entrada"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw1",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "ptt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw2",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw3",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw4",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        120864,
        63248
      ],
      "id": "ea5488fb-606d-49c6-a0d6-7995baf83fee",
      "name": "valida_tipo_entrada"
    },
    {
      "parameters": {
        "url": "={{ $('busca_media_uazapi').item.json.fileURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        121120,
        62896
      ],
      "id": "9ab67cd3-1715-4d77-aec2-3099abbab2fa",
      "name": "baixa_arquivo_audio",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "prompt",
              "value": "Converta o áudio em texto de forma clara e precisa."
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        121392,
        62896
      ],
      "id": "f9522598-3adf-421a-8053-5f10da2930a2",
      "name": "transcreve_audio_groq",
      "credentials": {
        "httpHeaderAuth": {
          "id": "70VujXlNwG7O2kUr",
          "name": "[Groq] - Whisper API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "t1",
              "name": "mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "t2",
              "name": "telefone",
              "value": "={{ $('seta_dados_entrada').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "t3",
              "name": "fileURL",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        121648,
        62896
      ],
      "id": "ee8fabcd-f3aa-42c7-9c01-9e7c86dbb893",
      "name": "seta_texto_transcrito"
    },
    {
      "parameters": {
        "number": "={{ $('seta_dados_entrada').first().json.telefone.replace('@s.whatsapp.net', '') }}",
        "text": "Não consegui ouvir o seu áudio agora, pode digitar por favor? 🙏"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        121392,
        63120
      ],
      "id": "45bec1f8-fdb7-4984-9965-d70a3d9753af",
      "name": "envia_erro_audio",
      "credentials": {
        "uazApiApi": {
          "id": "T2RnzBIpEiPAtnLU",
          "name": "[UazAPI] - FinPocket"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $('seta_dados_entrada').first().json.telefone.replace('@s.whatsapp.net', '') }}",
        "text": "Recebi sua mensagem, mas ainda não consigo processar esse tipo de conteúdo. Pode digitar ou enviar um áudio? 😊"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        121120,
        63728
      ],
      "id": "6b2f66cd-0729-40c5-afc8-697c681926a0",
      "name": "envia_fallback_tipo_invalido",
      "credentials": {
        "uazApiApi": {
          "id": "T2RnzBIpEiPAtnLU",
          "name": "[UazAPI] - FinPocket"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca1",
              "name": "Chat Context ",
              "value": "=DATA DE REFERÊNCIA (use como padrão quando o usuário NÃO informar data):\n- Hoje (America/Sao_Paulo): {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}\n- Mês atual (MM/yyyy): {{ $now.setZone('America/Sao_Paulo').toFormat('MM/yyyy') }}\n\nREGRAS DE DATA:\n1) Se o usuário não informar data → usar HOJE acima.\n2) Se pedir resumo mensal sem informar mês → usar MÊS ATUAL acima.\n3) Se informar data em formato BR ou por texto (hoje/ontem) → converter para o formato correto.\n\nEntrada do usuário no chat:\n{{ $('seta_dados_entrada').item.json.mensagem }}\n\nDetalhes do arquivo enviado:\n{{ $('webhook_uazapi').item.json.body.message.fileName || 'Nenhum arquivo enviado' }}\n\nLegenda do envio do arquivo:\n{{ $('webhook_uazapi').item.json.body.message.caption || 'Sem legenda' }}",
              "type": "string"
            },
            {
              "id": "ca2",
              "name": "fileURL",
              "value": "={{ $('seta_dados_entrada').item.json.fileURL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "30ad519c-a09a-424d-871f-058570578c5d",
      "name": "contexto_arquivo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        121120,
        63248
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ct1",
              "name": "Chat Context ",
              "value": "=DATA DE REFERÊNCIA (use como padrão quando o usuário NÃO informar data):\n- Hoje (America/Sao_Paulo): {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}\n- Mês atual (MM/yyyy): {{ $now.setZone('America/Sao_Paulo').toFormat('MM/yyyy') }}\n\nREGRAS DE DATA:\n1) Se o usuário não informar data em transação/conta/fatura → usar HOJE (dd/MM/yyyy acima).\n2) Se o usuário pedir resumo mensal e não informar mês (ex: \"este mês\", \"mês atual\") → usar MÊS ATUAL (MM/yyyy acima).\n3) Se o usuário informar data em formato BR (dd/MM ou dd/MM/yyyy) ou por texto (hoje/ontem) → respeitar e converter para o formato correto.\n\nEntrada do usuário no chat:\n{{ $json.mensagem }}\n\nDetalhes do arquivo enviado:\nNenhum arquivo enviado\n\nLegenda do envio do arquivo:\nSem legenda",
              "type": "string"
            },
            {
              "id": "ct2",
              "name": "fileURL",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dac74c06-4f3f-40ca-a9e3-d06cf71596d8",
      "name": "contexto_texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        121904,
        63424
      ]
    },
    {
      "parameters": {
        "url": "={{ $('busca_media_uazapi').item.json.fileURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        121392,
        63248
      ],
      "id": "18c2dcd9-7826-422d-a739-ce26220383bd",
      "name": "download_arquivo_uazapi",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        121648,
        63248
      ],
      "id": "89f72f09-e8ad-40a0-80ac-1b41634caa79",
      "name": "extrai_texto_pdf",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a213b3dc-66bc-4475-bd21-708b6ae423f1",
              "name": "texto_pdf",
              "value": "={{ ($json.text || '').substring(0, 3000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        121904,
        63248
      ],
      "id": "64250c5d-02bc-43be-9ab8-bf1c67b0f28a",
      "name": "seta_texto_pdf"
    },
    {
      "parameters": {
        "jsCode": "// Restaura o binary do download original, independente de ser PDF ou imagem.\n// extrai_texto_pdf falha silenciosamente em imagens (onError: continueRegularOutput),\n// zerando o binary. Este node garante que upload_arquivo_google_drive\n// sempre receba o campo 'data' para fazer o upload corretamente.\n\nconst textoItem = $input.first();\nconst downloadItem = $('download_arquivo_uazapi').first();\n\nreturn [{\n  json: textoItem.json,\n  binary: downloadItem.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        122160,
        63248
      ],
      "id": "c71a608f-ed0d-4dc1-a38a-68aaa7b7236a",
      "name": "restaura_binario"
    },
    {
      "parameters": {
        "name": "={{\n(() => {\n  const fileName = $('webhook_uazapi').item.json.body.message.fileName;\n  if (fileName) return fileName;\n  const mime = $('seta_dados_entrada').item.json.mimetype || '';\n  const ext = mime.includes('pdf') ? '.pdf'\n    : mime.includes('jpeg') || mime.includes('jpg') ? '.jpg'\n    : mime.includes('png') ? '.png'\n    : '.bin';\n  return 'documento_' + $now.format('yyyyMMdd_HHmmss') + ext;\n})()\n}}",
        "driveId": {
          "__rl": true,
          "value": "0AKFsqIk5KdU4Uk9PVA",
          "mode": "list",
          "cachedResultName": "RNB Soluções "
        },
        "folderId": {
          "__rl": true,
          "value": "1uqTtmcd6Y-IwuTPsjOnCZ79Pb2zrGYlj",
          "mode": "list",
          "cachedResultName": "FINSEBRAE"
        },
        "options": {}
      },
      "id": "f51ab2c8-0c62-4dc4-8b9e-58cbac472448",
      "name": "upload_arquivo_google_drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        122416,
        63248
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "139d5824-a7ae-42f4-a133-e5f5486dbb7d",
      "name": "nao_fazer_nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        122416,
        63488
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "img-bypass-01",
              "leftValue": "={{ $('seta_dados_entrada').item.json.mediaType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        122688,
        63248
      ],
      "id": "82f73778-2b86-49c8-8558-984a3b6e4b4a",
      "name": "eh_imagem_ou_pdf"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('seta_dados_entrada').item.json.mensagem }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Seu papel é identificar o tipo de documento financeiro enviado pelo usuário. Analise a mensagem, o nome do arquivo e a legenda para classificar em uma das três categorias:\n\n1. **conta** — Faturas, boletos, contas de luz/água/telefone, cobranças. Documentos que representam algo A PAGAR.\n2. **extrato** — Extratos bancários completos com lista de múltiplas transações.\n3. **comprovante** — Comprovantes de pagamento, transferência PIX, TED, DOC, depósito, recibos. Documentos que comprovam uma transação ÚNICA já realizada.\n\nDicas de classificação:\n- Se contém 'comprovante', 'transferência', 'PIX', 'TED', 'DOC', 'recibo', 'pagamento realizado' → comprovante\n- Se contém 'fatura', 'boleto', 'conta de', 'vencimento', 'cobrança' → conta\n- Se contém 'extrato', lista de múltiplas transações → extrato\n- Se for screenshot/imagem de uma única transação bancária → comprovante"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Identifique o tipo de documento:\n\nMensagem do usuário: {{ $('seta_dados_entrada').item.json.mensagem }}\nNome do arquivo: {{ $json.name }}\nLegenda: {{ $('webhook_uazapi').item.json.body.message.caption || 'Sem legenda' }}\nConteudo extraído do arquivo: {{ $('seta_texto_pdf').item.json.texto_pdf || 'Não foi possível extrair texto' }}\n\nClassifique como 'conta', 'extrato' ou 'comprovante'."
            }
          ]
        }
      },
      "id": "3bbc3c08-c03f-4c72-bcce-47d239eac06f",
      "name": "identificador_documento",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        122944,
        63248
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        122944,
        63488
      ],
      "id": "58e5400f-ee58-477a-b5fa-c19c54105f45",
      "name": "openai_chat_model_identificador",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"arquivo_enviado\": {\n      \"type\": \"string\",\n      \"enum\": [\"conta\", \"extrato\", \"comprovante\", \"outro\"]\n    }\n  }\n}"
      },
      "id": "2736a9cd-870c-4300-9421-4ae3b96bc86c",
      "name": "estrutura_retorno",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        123200,
        63488
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.arquivo_enviado }}",
                    "rightValue": "conta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rt1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.arquivo_enviado }}",
                    "rightValue": "extrato",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rt2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Extrato"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.arquivo_enviado }}",
                    "rightValue": "comprovante",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rt3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Comprovante"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        123200,
        63248
      ],
      "id": "21ebee28-6991-4bbd-a286-e13414874357",
      "name": "roteador"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('upload_arquivo_google_drive').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1f1H-gkvwVU4vv2ZwoT7VxBRTf77p5Cn7",
          "mode": "list",
          "cachedResultName": "CONTAS E FATURAS"
        }
      },
      "id": "2fff1753-56bd-49bd-9f3b-76d081ff79e9",
      "name": "envia_para_pasta_conta",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        123456,
        63024
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('upload_arquivo_google_drive').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1WCFpcbgenOJAwP6XPQ9k62EVWbO33Z6l",
          "mode": "list",
          "cachedResultName": "EXTRATOS"
        }
      },
      "id": "c2f82e09-eb69-454c-919c-73d67957e25a",
      "name": "envia_para_pasta_extratos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        123456,
        63248
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('upload_arquivo_google_drive').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1-8FL-QzgHkhofugYY2uo2ux9wusenuM9"
        }
      },
      "id": "8e56197b-3d69-4f5f-ada5-702fcb1b59de",
      "name": "envia_para_pasta_comprovantes",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        123456,
        63504
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $('seta_dados_entrada').first().json.telefone.replace('@s.whatsapp.net', '') }}",
        "text": "Recebi seu arquivo e salvei no Drive, mas não consegui identificar o tipo automaticamente. Pode reenviar com uma legenda dizendo se é *comprovante*, *conta* ou *extrato*? 📎"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        123456,
        63728
      ],
      "id": "bc939520-dbe5-4897-982c-1132870d559d",
      "name": "envia_fallback_classificacao_invalida",
      "credentials": {
        "uazApiApi": {
          "id": "T2RnzBIpEiPAtnLU",
          "name": "[UazAPI] - FinPocket"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "Arquivo enviado para a pasta 🗂️ de Contas e Faturas no Google Drive",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7a4c3ca6-dcd3-4f7f-91f8-905d96a7aa0d",
      "name": "seta_mensagem_retorno_conta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        123712,
        63024
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r2",
              "name": "response",
              "value": "Arquivo enviado para a pasta 🗂️ de Extratos no Google Drive.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "52d86843-5579-46e7-a0d8-00c18deaedff",
      "name": "seta_mensagem_retorno_extrato",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        123712,
        63248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "mime-img-01",
              "leftValue": "={{ $('seta_dados_entrada').item.json.mediaType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        123712,
        63504
      ],
      "id": "c92e9889-5774-4212-82a1-70755fa78f39",
      "name": "verifica_mime_comprovante"
    },
    {
      "parameters": {
        "jsCode": "const fileURL = $('seta_dados_entrada').item.json.fileURL;\n\nconst prompt = \"Analise o documento financeiro e responda APENAS com JSON valido, sem markdown.\\n\\nPASSO 1 - Identifique o tipo:\\n- \\\"comprovante_simples\\\": PIX, TED, DOC, transferencia, pagamento de boleto unico\\n- \\\"cupom_fiscal\\\": cupom/nota fiscal de mercado, supermercado, loja, com lista de produtos\\n\\nPASSO 2 - Extraia conforme o tipo detectado:\\n\\nPara comprovante_simples, retorne:\\n{\\n  \\\"tipo_documento\\\": \\\"comprovante_simples\\\",\\n  \\\"data_transacao\\\": \\\"dd/MM/yyyy\\\",\\n  \\\"transacao\\\": \\\"descricao curta (ex: PIX para Joao, Pagamento fatura Nubank)\\\",\\n  \\\"categoria\\\": \\\"entrada ou saida\\\",\\n  \\\"valor\\\": 0.00,\\n  \\\"estabelecimento\\\": null,\\n  \\\"itens\\\": []\\n}\\n\\nPara cupom_fiscal, retorne:\\n{\\n  \\\"tipo_documento\\\": \\\"cupom_fiscal\\\",\\n  \\\"data_transacao\\\": \\\"dd/MM/yyyy\\\",\\n  \\\"transacao\\\": \\\"Compra em [NOME_DO_ESTABELECIMENTO]\\\",\\n  \\\"categoria\\\": \\\"saida\\\",\\n  \\\"valor\\\": 0.00,\\n  \\\"estabelecimento\\\": \\\"nome da loja/mercado\\\",\\n  \\\"itens\\\": [\\n    {\\n      \\\"descricao\\\": \\\"nome do produto\\\",\\n      \\\"quantidade\\\": 1,\\n      \\\"valor_unitario\\\": 0.00,\\n      \\\"valor_total\\\": 0.00\\n    }\\n  ]\\n}\\n\\nRegras criticas:\\n- categoria: \\\"entrada\\\" se o titular RECEBEU o valor; \\\"saida\\\" se PAGOU ou COMPROU\\n- Cupons fiscais sao SEMPRE \\\"saida\\\"\\n- valor = total pago (numero puro, sem R$, sem + ou -)\\n- Se nao encontrar data, use null\\n- Valores numericos sem simbolos\";\n\nconst requestBody = {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"Voce e um extrator de dados de documentos financeiros. Analise o documento e extraia as informacoes. Responda APENAS com JSON valido, sem markdown, sem explicacoes.\"\n    },\n    {\n      role: \"user\",\n      content: [\n        { type: \"image_url\", image_url: { url: fileURL } },\n        { type: \"text\", text: prompt }\n      ]\n    }\n  ],\n  max_tokens: 1000\n};\n\nreturn [{ json: { requestBody: JSON.stringify(requestBody) } }];"
      },
      "id": "ce3d8c3d-9a91-40af-adc6-2591b4eac304",
      "name": "Prepara OCR Imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        123984,
        63360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "d96d3295-45f1-48fe-ab92-766b88872800",
      "name": "OCR Comprovante (Vision)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        124240,
        63360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jbB9blDZqrW7Lq8W",
          "name": "[OpenAI] - Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('seta_dados_entrada').item.json.fileURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        123984,
        63680
      ],
      "id": "55c1e5f2-f6c2-400d-a80d-7ee27d3f1fbb",
      "name": "Baixa Comprovante PDF",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "purpose",
              "value": "user_data"
            }
          ]
        },
        "options": {}
      },
      "id": "e1e6c3bc-58dd-47bb-bf22-7b46f71ee41c",
      "name": "Upload File OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        124240,
        63680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jbB9blDZqrW7Lq8W",
          "name": "[OpenAI] - Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileId = $input.first().json.id;\n\nconst prompt = \"Analise o documento financeiro e responda APENAS com JSON valido, sem markdown.\\n\\nPASSO 1 - Identifique o tipo:\\n- \\\"comprovante_simples\\\": PIX, TED, DOC, transferencia, pagamento de boleto unico\\n- \\\"cupom_fiscal\\\": cupom/nota fiscal de mercado, supermercado, loja, com lista de produtos\\n\\nPASSO 2 - Extraia conforme o tipo detectado:\\n\\nPara comprovante_simples, retorne:\\n{\\n  \\\"tipo_documento\\\": \\\"comprovante_simples\\\",\\n  \\\"data_transacao\\\": \\\"dd/MM/yyyy\\\",\\n  \\\"transacao\\\": \\\"descricao curta (ex: PIX para Joao, Pagamento fatura Nubank)\\\",\\n  \\\"categoria\\\": \\\"entrada ou saida\\\",\\n  \\\"valor\\\": 0.00,\\n  \\\"estabelecimento\\\": null,\\n  \\\"itens\\\": []\\n}\\n\\nPara cupom_fiscal, retorne:\\n{\\n  \\\"tipo_documento\\\": \\\"cupom_fiscal\\\",\\n  \\\"data_transacao\\\": \\\"dd/MM/yyyy\\\",\\n  \\\"transacao\\\": \\\"Compra em [NOME_DO_ESTABELECIMENTO]\\\",\\n  \\\"categoria\\\": \\\"saida\\\",\\n  \\\"valor\\\": 0.00,\\n  \\\"estabelecimento\\\": \\\"nome da loja/mercado\\\",\\n  \\\"itens\\\": [\\n    {\\n      \\\"descricao\\\": \\\"nome do produto\\\",\\n      \\\"quantidade\\\": 1,\\n      \\\"valor_unitario\\\": 0.00,\\n      \\\"valor_total\\\": 0.00\\n    }\\n  ]\\n}\\n\\nRegras criticas:\\n- categoria: \\\"entrada\\\" se o titular RECEBEU o valor; \\\"saida\\\" se PAGOU ou COMPROU\\n- Cupons fiscais sao SEMPRE \\\"saida\\\"\\n- valor = total pago (numero puro, sem R$, sem + ou -)\\n- Se nao encontrar data, use null\\n- Valores numericos sem simbolos\";\n\nconst requestBody = {\n  model: \"gpt-4o\",\n  input: [\n    { role: \"system\", content: \"Voce e um extrator de dados de documentos financeiros. Analise o documento e extraia as informacoes. Responda APENAS com JSON valido, sem markdown, sem explicacoes.\" },\n    {\n      role: \"user\",\n      content: [\n        { type: \"input_file\", file_id: fileId },\n        { type: \"input_text\", text: prompt }\n      ]\n    }\n  ]\n};\n\nreturn [{ json: { requestBody: JSON.stringify(requestBody) } }];"
      },
      "id": "7b65ef06-3cff-45c1-a6dc-07ad33576e61",
      "name": "Prepara OCR PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        124496,
        63680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "991b136e-302d-49dc-a7f3-a887ab47b2d4",
      "name": "OCR PDF (Responses)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        124752,
        63680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jbB9blDZqrW7Lq8W",
          "name": "[OpenAI] - Header Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet content = '';\n\ntry {\n  content = raw.choices[0].message.content;\n} catch (e1) {\n  try {\n    const msgBlock = raw.output.find(o => o.type === 'message');\n    const textBlock = msgBlock.content.find(c => c.type === 'output_text');\n    content = textBlock.text;\n  } catch (e2) {\n    throw new Error('Resposta Vision invalida: ' + JSON.stringify(raw).substring(0, 500));\n  }\n}\n\ncontent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('JSON invalido: ' + content);\n}\n\nconst categoria = (parsed.categoria || '').toLowerCase().trim();\nconst isEntrada = categoria.includes('entrada');\nconst valor = parseFloat(parsed.valor) || 0;\nconst tipoDoc = parsed.tipo_documento || 'comprovante_simples';\nconst itens = parsed.itens || [];\n\nlet itensFormatados = '';\nif (itens.length > 0) {\n  itensFormatados = itens\n    .map(i => '  \\u2022 ' + i.descricao + ' (' + i.quantidade + 'x) \\u2014 R$ ' + parseFloat(i.valor_total).toFixed(2))\n    .join('\\n');\n}\n\nreturn [{\n  json: {\n    tipo_documento: tipoDoc,\n    data_transacao: parsed.data_transacao || new Date().toLocaleDateString('pt-BR'),\n    transacao: parsed.transacao || 'Comprovante financeiro',\n    estabelecimento: parsed.estabelecimento || null,\n    categoria: isEntrada ? 'entrada' : 'sa\\u00edda',\n    entrada: isEntrada ? valor : 0,\n    saida: isEntrada ? 0 : valor,\n    itens: itens,\n    itens_formatados: itensFormatados,\n    tem_itens: itens.length > 0\n  }\n}];"
      },
      "id": "5b68ef3d-f71e-4240-b701-e2747c40de82",
      "name": "Parseia Comprovante",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        125008,
        63504
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT inserir_movimentacao($1, $2, $3, $4, $5);",
        "options": {
          "queryReplacement": "={{ [$json.data_transacao, $json.transacao, $json.categoria, $json.entrada, $json.saida] }}"
        }
      },
      "id": "0d587b18-834f-46ce-a23c-8ae562c0fc9b",
      "name": "Insere Movimentacao (Comprovante)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        125264,
        63504
      ],
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cm1",
              "name": "response",
              "value": "=Comprovante processado! ✅\n📅 {{ $('Parseia Comprovante').item.json.data_transacao }}\n📝 {{ $('Parseia Comprovante').item.json.transacao }}\n📂 {{ $('Parseia Comprovante').item.json.categoria }}\n💰 R$ {{ $('Parseia Comprovante').item.json.categoria === 'entrada' ? $('Parseia Comprovante').item.json.entrada : $('Parseia Comprovante').item.json.saida }}\n{{ $('Parseia Comprovante').item.json.tem_itens ? '\\n🛒 *Itens identificados:*\\n' + $('Parseia Comprovante').item.json.itens_formatados : '' }}\n\nMovimentação registrada na base de dados ✅",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5a30b110-6594-472b-8d78-4a9a6b947d18",
      "name": "seta_mensagem_retorno_comprovante",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        125520,
        63504
      ]
    },
    {
      "parameters": {
        "number": "={{ $('seta_dados_entrada').first().json.telefone.replace('@s.whatsapp.net', '') }}",
        "text": "Recebi seu PDF mas não consegui ler o conteúdo automaticamente. Pode tirar uma *foto* do comprovante e reenviar? 📸"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        124752,
        63904
      ],
      "id": "48dae815-b6c4-4b78-becf-61f5b07ea644",
      "name": "envia_fallback_ocr_pdf",
      "credentials": {
        "uazApiApi": {
          "id": "T2RnzBIpEiPAtnLU",
          "name": "[UazAPI] - FinPocket"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cr1",
              "name": "Chat Context ",
              "value": "=DATA DE REFERÊNCIA (use como padrão quando o usuário NÃO informar data):\n- Hoje (America/Sao_Paulo): {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}\n- Mês atual (MM/yyyy): {{ $now.setZone('America/Sao_Paulo').toFormat('MM/yyyy') }}\n\nEntrada do usuário no chat:\n{{ $('seta_dados_entrada').item.json.mensagem }}\n\nDetalhes do arquivo enviado:\n{{ $('webhook_uazapi').item.json.body.message.fileName || 'Arquivo sem nome' }}\n\nLegenda do envio do arquivo:\n{{ $('webhook_uazapi').item.json.body.message.caption || 'Sem legenda' }}\n\nResultado do processamento do arquivo:\n{{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88804169-34e8-4411-a0dd-5fbf4dd71a28",
      "name": "contexto_resultado_arquivo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        125776,
        63248
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Seu papel é determinar a intenção da mensagem por meio das solicitações ou comandos na mensagem do usuário fornecida a você da seguinte forma:\n{{ $json['Chat Context '] }}\n\nSe o usuário não especificar um comando, mas apenas enviar um arquivo, responda que foi processado com sucesso.\nSe especificar um comando, execute usando as ferramentas disponíveis.\nLembre-se de ser polido e assumir seu papel como contador.",
        "options": {
          "systemMessage": "=**OBJETIVO**\n\nÉ um útil contador de IA chamado FinManage Pocket. Está falando com o usuário chamado `{{ $('webhook_uazapi').item.json.body.message.senderName }}`.\n\n📅 **Data de hoje: {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}**\n\nChame sempre o usuário pelo nome (se o nome for fornecido).\n\nA sua função é interpretar as mensagens dos usuários de uma integração de chat do WhatsApp e executar tarefas com precisão, utilizando as ferramentas disponíveis.\n\n*Importante*: Ao responder ao usuário, mantenha uma atitude profissional e amigável. Use emojis caso ache necessário!\n\n---\n\n**PERSONALIDADE**\n\n*Nome*: FinManage Pocket | *Função*: Assistente Financeiro Pessoal | *Traços*: prestativo, profissional, envolvente, organizado, empático\n\n---\n\n**RESOLUÇÃO DE DATAS**\n\nA data de hoje é {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}. Sempre resolva referências relativas para data absoluta dd/MM/yyyy antes de enviar para ferramentas.\n\nRegras:\n- \"hoje\" → {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}\n- \"ontem\" → calcule com base em hoje\n- Sem data mencionada → use hoje como padrão\n- NUNCA envie \"hoje\"/\"ontem\" como texto para ferramentas\n\n---\n\n**CATEGORIZAÇÃO AUTOMÁTICA — SEMPRE APLICAR**\n\nInfira a categoria sem perguntar ao usuário quando houver contexto suficiente.\n\nSAÍDA (despesa) — registre direto:\nPalavras-chave: gastei, paguei, comprei, transferi, enviei, conta de, boleto, fatura, aluguel, mensalidade\nEstabelecimentos implícitos: mercado, supermercado, farmácia, restaurante, posto, academia, escola\n\nENTRADA (receita) — registre direto:\nPalavras-chave: recebi, entrou, depositaram, salário, me pagaram, transferência recebida, pix recebido\n\nPERGUNTE apenas quando a mensagem contiver SOMENTE valor sem nenhum verbo ou contexto:\n- Exemplo ambíguo: \"R$500 com Maria\" → pergunte\n- Exemplo claro: \"comprei pão por R$8\" → registre como saída SEM perguntar\n\nFormato padrão para dúvida:\n\"Esse valor de R$X foi uma *entrada* (recebeu) ou *saída* (pagou)?\"\n\n---\n\n**FERRAMENTAS**\n\n📌 **IncluirMovimentacao** — Registra transações (PIX, compras, salários)\n- data_transacao: dd/MM/yyyy\n- transacao: descrição curta\n- categoria: \"entrada\" ou \"saída\"\n- entrada: valor (0 se saída)\n- saida: valor (0 se entrada)\n\n📌 **IncluirConta** — Registra faturas/contas\n- data_fatura: dd/MM/yyyy\n- numero_fatura: identificador\n- valor_total: numérico\n- destinatario: empresa/pessoa\n\n📌 **ResumidorFinanceiro** — Resumos mensais\n- data: MM/YYYY\n- categoria: \"entrada\", \"saída\" ou null\n\nRegras de categorização:\n- Gasto/despesa/envio PIX/pagamento → \"saída\"\n- Ganho/recebimento/salário → \"entrada\"\n- Resumo geral → categoria: null\n- Resumo só gastos → categoria: \"saída\"\n- Resumo só receitas → categoria: \"entrada\"\n\n📌 **Documentos financeiros**\nQuando o usuário enviar arquivo, o sistema processa automaticamente:\n- **Comprovantes** (PIX, TED): registrados como movimentação\n- **Faturas/contas**: arquivados na pasta de Contas\n- **Extratos**: arquivados na pasta de Extratos\n\n⚠️ **REGRA CRÍTICA — Comprovantes:**\nSe o campo \"Resultado do processamento do arquivo\" já contiver \n\"Movimentação registrada\" → NÃO chame IncluirMovimentacao.\nO registro já foi feito automaticamente. Apenas confirme ao \nusuário com um resumo do que foi registrado.\n\n---\n\n**INSTRUÇÕES**\n\n1. Analise a intenção da mensagem\n2. Escolha a ferramenta adequada\n3. Execute com precisão\n4. Confirme ao usuário\n5. Se informação insuficiente, peça esclarecimento\n\n**Formatação WhatsApp**: *Negrito*, _Itálico_, ~Tachado~. NÃO use HTML.",
          "returnIntermediateSteps": true
        }
      },
      "id": "436b5491-333d-4ed1-aa80-363aa3331303",
      "name": "agente_finmanage",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        126048,
        63248
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        125776,
        63504
      ],
      "id": "6ba598dd-ac31-411e-a9ed-bb2f230249aa",
      "name": "openai_chat_model_agente",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('webhook_uazapi').item.json.body.message.chatid ?? $('webhook_uazapi').item.json.body.chat.wa_chatid ?? $('webhook_uazapi').item.json.body.message.sender_pn ?? $('webhook_uazapi').item.json.body.owner }}",
        "contextWindowLength": 50
      },
      "id": "dca957c9-2a8a-4615-921e-bd0cdf0c712e",
      "name": "postgres_chat_memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        126048,
        63504
      ],
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {},
      "id": "2c02bb52-afb2-4613-a84d-dd60340a6a7a",
      "name": "calculadora",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        126304,
        63504
      ]
    },
    {
      "parameters": {
        "name": "IncluirMovimentacao",
        "description": "Registra transação financeira. Parâmetros: data_transacao (dd/MM/yyyy), transacao, categoria (entrada/saída), entrada, saida.",
        "workflowId": {
          "__rl": true,
          "value": "Bncrp1AXFzdn85LK",
          "mode": "list",
          "cachedResultUrl": "/workflow/Bncrp1AXFzdn85LK",
          "cachedResultName": "[RNB][FinManage] - Inclui Movimentação | v3 (SEBRAE)"
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"data_transacao\":{\"type\":\"string\"},\"transacao\":{\"type\":\"string\"},\"categoria\":{\"type\":\"string\",\"enum\":[\"entrada\",\"saída\"]},\"entrada\":{\"type\":\"number\"},\"saida\":{\"type\":\"number\"}},\"required\":[\"data_transacao\",\"transacao\",\"categoria\",\"entrada\",\"saida\"]}"
      },
      "id": "bda121aa-2c97-4e5f-9c40-69fbb42053a5",
      "name": "inclui_movimentacao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        126560,
        63504
      ]
    },
    {
      "parameters": {
        "name": "IncluirConta",
        "description": "Registra fatura/conta. Parâmetros: data_fatura, numero_fatura, valor_total, destinatario.",
        "workflowId": {
          "__rl": true,
          "value": "sz5yoE0SLQL4h4Nm",
          "mode": "list",
          "cachedResultUrl": "/workflow/sz5yoE0SLQL4h4Nm",
          "cachedResultName": "FinManage - Inclui Conta v2 (Supabase)"
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"data_fatura\":{\"type\":\"string\"},\"numero_fatura\":{\"type\":\"string\"},\"valor_total\":{\"type\":\"number\"},\"destinatario\":{\"type\":\"string\"}},\"required\":[\"valor_total\",\"destinatario\"]}"
      },
      "id": "b14a754a-b1f2-4957-a498-beb73870ae7f",
      "name": "inclui_conta",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        126816,
        63504
      ]
    },
    {
      "parameters": {
        "name": "ResumidorFinanceiro",
        "description": "Gera relatório financeiro mensal. Parâmetros: data (MM/YYYY), categoria (entrada/saída/null).",
        "workflowId": {
          "__rl": true,
          "value": "5zOl2YhPd675rl5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/5zOl2YhPd675rl5o",
          "cachedResultName": "FinManage - Resumidor Financeiro v2 (Supabase)"
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"data\":{\"type\":\"string\"},\"categoria\":{\"type\":[\"string\",\"null\"]}},\"required\":[\"data\"]}"
      },
      "id": "d448ffc9-c173-449a-ab87-8ae4f6140aa1",
      "name": "resumidor_financeiro",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        127072,
        63504
      ]
    },
    {
      "parameters": {
        "number": "={{ $('seta_dados_entrada').first().json.telefone.replace('@s.whatsapp.net', '') }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        126304,
        63248
      ],
      "id": "41a9ff78-3bf2-4b6d-b895-5fb9d11d0b19",
      "name": "envia_mensagem_whatsapp",
      "credentials": {
        "uazApiApi": {
          "id": "T2RnzBIpEiPAtnLU",
          "name": "[UazAPI] - FinPocket"
        }
      }
    },
    {
      "parameters": {
        "content": "## FinManage Pocket — v4.2.0\n- [x] FIX-SESSION: sessionKey com 4 fallbacks anti-null (chatid ?? wa_chatid ?? sender_pn ?? owner)\n- [x] OPT-1: bypass busca_media para texto puro (node eh_midia)\n- [x] OPT-2: System Message — auto-categorização sem perguntas\n- [x] OPT-3: OCR comprovante — detecta cupom fiscal + extrai itens\n- [x] OPT-4a: verifica_mime_comprovante → usa mediaType\n- [x] OPT-4b: fallback OCR PDF — mensagem específica\n- [x] OPT-4c: seta_dados_entrada → mimetype usa ?? ''\n- [x] FIX-5: valida_tipo_entrada → usa $json.mediaType\n- [x] FIX-6: eh_imagem_ou_pdf — bypass identificador para imagens\n- [x] FIX-7: upload_arquivo_google_drive → extensão dinâmica por mimetype\n\nModelo Agente: gpt-4.1\nModelo Identificador: gpt-4o-mini (PDF apenas)\nMemória: 50 mensagens (~3 dias)",
        "height": 340,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        119312,
        63936
      ],
      "typeVersion": 1,
      "id": "132e1eb2-71a8-479d-962d-c5b005afe1f2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Rota Comprovante — OCR\n🖼️ Imagem → bypass identificador → verifica_mime → Prepara OCR Imagem → /v1/chat/completions → Parseia\n📄 PDF → identificador → comprovante → verifica_mime → Baixa → Upload Files → /v1/responses → Parseia\n\n🛒 Cupom Fiscal: extrai itens individuais + total\n💳 Comprovante simples: extrai transação única\n\nAmbos convergem em: Parseia → Insere → seta_mensagem_retorno_comprovante",
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        123456,
        64000
      ],
      "id": "dce8a3e8-01f1-49a9-8871-c69f288caea3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## FIX-6: eh_imagem_ou_pdf\nImagens JPEG/PNG nunca chegam ao identificador_documento.\nO LLM não consegue classificar imagens sem texto extraído.\nImagem → sempre comprovante → vai direto para envia_para_pasta_comprovantes.\nPDF → passa pelo identificador_documento normalmente.",
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        122688,
        62992
      ],
      "id": "b838f9a0-6503-408f-b5f6-102ca80a0d36",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ST-10: restaura_binario\nFix: extrai_texto_pdf falha silenciosamente\nem imagens (onError: continueRegularOutput),\nzerando o binary. Este node restaura o\nbinary do download_arquivo_uazapi para\ngarantir que o Google Drive receba 'data'.",
        "height": 180,
        "width": 360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        122160,
        63536
      ],
      "id": "cf9f41fc-6223-4e9d-bd19-87cd46e08afd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Próximos Passos:\n= Criar Categorias e Subcategorias para classificar os gastos\n- Quebrar faturas em lancamentos\n- Fatura subiu valor total e nao descreveu os itens de lancamento",
        "height": 192,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        119312,
        62784
      ],
      "typeVersion": 1,
      "id": "c623c9df-bcc9-41b1-b598-50d4143d4abb",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-10T20:30:23.585Z",
      "createdAt": "2026-03-10T20:30:23.585Z",
      "role": "workflow:owner",
      "workflowId": "HinCyVzMKWJV7lpJ",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-27T17:05:49.634Z",
      "createdAt": "2026-01-27T17:05:49.634Z",
      "id": "F171zldw4G7U1HuZ",
      "name": "legacy"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T15:18:20.814Z",
  "versionId": "c79f21a2-7560-40ff-a67a-63d01bc5d364"
}