workflows/[RNB][SOFIA] - Aviso de Agendamento Próximo para o cliente | v1.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-28T11:05:17.206Z",
    "createdAt": "2026-01-28T11:05:08.033Z",
    "versionId": "8172d28a-10f1-45aa-bc3a-92bb403a53e7",
    "workflowId": "mqql7NGRzXWlH5ms",
    "nodes": [
      {
        "parameters": {
          "content": "",
          "height": 620,
          "width": 1720,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          448,
          80
        ],
        "typeVersion": 1,
        "id": "fd35d175-6b65-47bd-9ec2-8402bfb4571f",
        "name": "Sticky Note46"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              },
              {
                "triggerAtHour": 18
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          496,
          224
        ],
        "id": "2d8b74ae-c087-4065-ae8b-e2b7bd0ff145",
        "name": "Roda Aviso"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "SUA-INSTANCIA",
          "remoteJid": "={{ $('Busca Aviso de agendamento próximo').item.json.telefone_cliente }}",
          "messageText": "={{ $json.text }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          1712,
          240
        ],
        "id": "4df1af47-b8b8-4d24-a351-ab681797cbdc",
        "name": "Envia Aviso",
        "credentials": {
          "evolutionApi": {
            "id": "MJGauyHYt3yXYgaK",
            "name": "[Evolution] - RNB"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1056,
          224
        ],
        "id": "ef0bd2ed-8afa-4324-9ca7-011545f9ed46",
        "name": "Itera sobre os agendados"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4",
            "mode": "list",
            "cachedResultName": "Salao de Beleza Agenda",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Serviços",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Data Agendada",
                "lookupValue": "={{ $now.plus({ days: 1 }).toFormat('dd/MM/yyyy') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          784,
          224
        ],
        "id": "24374b68-3906-449a-b46b-dfdc5ae23b61",
        "name": "Lista de Agendamento",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "agenda",
          "limit": 100,
          "filters": {
            "conditions": [
              {
                "keyName": "status",
                "condition": "ilike",
                "keyValue": "CONFIRMADO"
              },
              {
                "keyName": "data_inicio",
                "condition": "eq",
                "keyValue": "={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd')}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          784,
          448
        ],
        "id": "2d063b8e-022a-4542-ab9d-8119d5328001",
        "name": "Busca Aviso de agendamento próximo",
        "credentials": {
          "supabaseApi": {
            "id": "F69sc7ShbbiD3KcE",
            "name": "[Supabase] - Vitrine Project"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json }}",
          "messages": {
            "messageValues": [
              {
                "message": "=Você é um agente que cria avisos amigáveis de agendamento de serviço.\nBaseado no json que lhe enviei crie um aviso para whatsapp para serviços de salão de beleza para o cliente.\n\nExemplo de como usar:\n\nOlá fulano de tal, estamos passando aqui para lembrar que seu agendamento com xxx está próximo ..."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1360,
          240
        ],
        "id": "03fe3c3c-a700-433e-847f-a863a683e47c",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1296,
          448
        ],
        "id": "59f2461c-3274-4115-bf49-eb0525b62d20",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "PKDbkzhf4tikHNrE",
            "name": "[OpenAi] - Vitrine"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1952,
          240
        ],
        "id": "c3a6430a-0ba5-4b65-9cf8-d4acf29c42c3",
        "name": "Espera 5 segundos",
        "webhookId": "4c982b43-2841-48f3-b923-624ba23a00e2"
      },
      {
        "parameters": {
          "content": "### Atualize sua instância",
          "height": 304,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1648,
          160
        ],
        "id": "15af3f26-7e27-4ada-861a-08391d04e13c",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "Roda Aviso": {
        "main": [
          [
            {
              "node": "Lista de Agendamento",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca Aviso de agendamento próximo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia Aviso": {
        "main": [
          [
            {
              "node": "Espera 5 segundos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Itera sobre os agendados": {
        "main": [
          [],
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lista de Agendamento": {
        "main": [
          [
            {
              "node": "Itera sobre os agendados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Aviso de agendamento próximo": {
        "main": [
          [
            {
              "node": "Itera sobre os agendados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Envia Aviso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Espera 5 segundos": {
        "main": [
          [
            {
              "node": "Itera sobre os agendados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "RNB Soluções",
    "name": "Version 8172d28a",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "8172d28a-10f1-45aa-bc3a-92bb403a53e7",
  "connections": {
    "Roda Aviso": {
      "main": [
        [
          {
            "node": "Lista de Agendamento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Aviso de agendamento próximo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Aviso": {
      "main": [
        [
          {
            "node": "Espera 5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itera sobre os agendados": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de Agendamento": {
      "main": [
        [
          {
            "node": "Itera sobre os agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Aviso de agendamento próximo": {
      "main": [
        [
          {
            "node": "Itera sobre os agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Envia Aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 5 segundos": {
      "main": [
        [
          {
            "node": "Itera sobre os agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-27T18:37:19.706Z",
  "id": "mqql7NGRzXWlH5ms",
  "isArchived": false,
  "meta": null,
  "name": "[RNB][SOFIA] - Aviso de Agendamento Próximo para o cliente | v1",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 1720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        80
      ],
      "typeVersion": 1,
      "id": "fd35d175-6b65-47bd-9ec2-8402bfb4571f",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        496,
        224
      ],
      "id": "2d8b74ae-c087-4065-ae8b-e2b7bd0ff145",
      "name": "Roda Aviso"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SUA-INSTANCIA",
        "remoteJid": "={{ $('Busca Aviso de agendamento próximo').item.json.telefone_cliente }}",
        "messageText": "={{ $json.text }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1712,
        240
      ],
      "id": "4df1af47-b8b8-4d24-a351-ab681797cbdc",
      "name": "Envia Aviso",
      "credentials": {
        "evolutionApi": {
          "id": "MJGauyHYt3yXYgaK",
          "name": "[Evolution] - RNB"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        224
      ],
      "id": "ef0bd2ed-8afa-4324-9ca7-011545f9ed46",
      "name": "Itera sobre os agendados"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4",
          "mode": "list",
          "cachedResultName": "Salao de Beleza Agenda",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Serviços",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Data Agendada",
              "lookupValue": "={{ $now.plus({ days: 1 }).toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        784,
        224
      ],
      "id": "24374b68-3906-449a-b46b-dfdc5ae23b61",
      "name": "Lista de Agendamento",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agenda",
        "limit": 100,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "ilike",
              "keyValue": "CONFIRMADO"
            },
            {
              "keyName": "data_inicio",
              "condition": "eq",
              "keyValue": "={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        448
      ],
      "id": "2d063b8e-022a-4542-ab9d-8119d5328001",
      "name": "Busca Aviso de agendamento próximo",
      "credentials": {
        "supabaseApi": {
          "id": "F69sc7ShbbiD3KcE",
          "name": "[Supabase] - Vitrine Project"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um agente que cria avisos amigáveis de agendamento de serviço.\nBaseado no json que lhe enviei crie um aviso para whatsapp para serviços de salão de beleza para o cliente.\n\nExemplo de como usar:\n\nOlá fulano de tal, estamos passando aqui para lembrar que seu agendamento com xxx está próximo ..."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1360,
        240
      ],
      "id": "03fe3c3c-a700-433e-847f-a863a683e47c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        448
      ],
      "id": "59f2461c-3274-4115-bf49-eb0525b62d20",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1952,
        240
      ],
      "id": "c3a6430a-0ba5-4b65-9cf8-d4acf29c42c3",
      "name": "Espera 5 segundos",
      "webhookId": "4c982b43-2841-48f3-b923-624ba23a00e2"
    },
    {
      "parameters": {
        "content": "### Atualize sua instância",
        "height": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        160
      ],
      "id": "15af3f26-7e27-4ada-861a-08391d04e13c",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE"
  },
  "shared": [
    {
      "updatedAt": "2026-01-27T18:37:19.706Z",
      "createdAt": "2026-01-27T18:37:19.706Z",
      "role": "workflow:owner",
      "workflowId": "mqql7NGRzXWlH5ms",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": {
    "node:Roda Aviso": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2026-01-27T16:44:05.212Z",
      "createdAt": "2026-01-27T16:44:05.212Z",
      "id": "s2J2VpgJ8BDJBXAr",
      "name": "dev"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-06T15:42:26.390Z",
  "versionId": "8172d28a-10f1-45aa-bc3a-92bb403a53e7"
}