workflows/[RNB][Vitrine] - AI Agent | Secretária Clínica | Starter v1.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE RESTAURANTE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem enviada pelo cliente": {
      "main": [
        [
          {
            "node": "Tratar Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Lead está no BD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar cliente ao BD": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Dados1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem enviada pelo atendente": {
      "main": [
        [
          {
            "node": "VERICA TIPO DE MENSAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Enviada pelo cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cliente está ativo": {
      "main": [
        [
          {
            "node": "LEAD ATIVO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LEAD INATIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead está no BD?": {
      "main": [
        [
          {
            "node": "SIM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NÃO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD ATIVO": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviada pelo cliente?": {
      "main": [
        [
          {
            "node": "Mensagem enviada pelo cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem enviada pelo atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SIM": {
      "main": [
        [
          {
            "node": "If Cliente está ativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NÃO": {
      "main": [
        [
          {
            "node": "Adicionar cliente ao BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE RESTAURANTE": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Divide-mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divide-mensagens": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "TEXTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Audio": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "audio.formatado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "GravaDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg.formatada": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXTO": {
      "main": [
        [
          {
            "node": "msg.formatada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AUDIO": {
      "main": [
        [
          {
            "node": "Tratar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio.formatado": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GravaDados": {
      "main": [
        [
          {
            "node": "Recupera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "NADA A FAZER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CONTINUA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AGUARDA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGUARDA": {
      "main": [
        [
          {
            "node": "ESPERA 5S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESPERA 5S": {
      "main": [
        [
          {
            "node": "Recupera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recupera": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONTINUA": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "todas_mensagens_formatadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todas_mensagens_formatadas": {
      "main": [
        [
          {
            "node": "AGENTE RESTAURANTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VERICA TIPO DE MENSAGEM": {
      "main": [
        [
          {
            "node": "IDENTIFICA GATILHO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IDENTIFICA GATILHO": {
      "main": [
        [
          {
            "node": "ATIVA LEAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DESATIVA  LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AGENTE RESTAURANTE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-27T17:06:42.441Z",
  "id": "A6F4NBSviMn3X987",
  "isArchived": true,
  "meta": null,
  "name": "[RNB][Vitrine] - AI Agent | Secretária Clínica | Starter v1",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        496
      ],
      "id": "b8f5522a-c102-4957-be6e-abdedf2c8e1c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5088,
        112
      ],
      "id": "970eff63-1091-43ff-ae78-d533d754f69a",
      "name": "Mensagem enviada pelo cliente"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads-whatsapp",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4560,
        112
      ],
      "id": "b1ff6278-e6f0-4895-8df5-b600af9831f0",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "F69sc7ShbbiD3KcE",
          "name": "[Supabase] - Vitrine Project"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads-whatsapp",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome",
              "fieldValue": "={{ $('Tratar Dados1').item.json.Nome }}"
            },
            {
              "fieldId": "Telefone",
              "fieldValue": "={{ $('Tratar Dados1').item.json.Telefone }}"
            },
            {
              "fieldId": "Ativo",
              "fieldValue": "SIM"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3728,
        400
      ],
      "id": "c419b74c-2fc1-4afc-9fbf-0a73eccc05bf",
      "name": "Adicionar cliente ao BD",
      "credentials": {
        "supabaseApi": {
          "id": "F69sc7ShbbiD3KcE",
          "name": "[Supabase] - Vitrine Project"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "512ccc0a-c013-4dbf-a7aa-74bc18f3b831",
              "name": "Nome",
              "value": "={{ $json.body.body.pushName }}",
              "type": "string"
            },
            {
              "id": "3ed3d306-edd8-46ae-a881-d66f486607ea",
              "name": "Telefone",
              "value": "={{ $json.body.body.key.remoteJid.split(\"@\")[0]}}",
              "type": "string"
            },
            {
              "id": "1836ac95-5912-4bb2-b6df-6990fc112b3b",
              "name": "Mensagem usuario",
              "value": "={{ $('Webhook').item.json.body.body.message.conversation }}{{ $json.body.body.message.extendedTextMessage.text }}",
              "type": "string"
            },
            {
              "id": "40b30cf4-7d31-4950-87ff-e67d1fefec5d",
              "name": "ID instancia",
              "value": "",
              "type": "string"
            },
            {
              "id": "e2025196-0711-43fe-a2ae-826f47507690",
              "name": "Token instancia",
              "value": "",
              "type": "string"
            },
            {
              "id": "10baf19a-d5c0-40ae-807f-8446b8e576de",
              "name": "Token GPT",
              "value": "",
              "type": "string"
            },
            {
              "id": "e3a48fcd-5cf2-45e7-9d98-9fb2536a740b",
              "name": "session_id",
              "value": "=sessionid_{{ $json.body.body.key.remoteJid.split(\"@\")[0]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4800,
        112
      ],
      "id": "85c2a6d7-6555-424c-bb42-51c3f7282497",
      "name": "Tratar Dados1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4720,
        960
      ],
      "id": "47211153-f3ee-44aa-8227-ce773188224d",
      "name": "Mensagem enviada pelo atendente"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e5676528-9083-41ba-b24f-43cfdfcc3c98",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5680,
        112
      ],
      "id": "1e80637d-136a-4754-966f-52d2b01d27bd",
      "name": "Webhook",
      "webhookId": "e5676528-9083-41ba-b24f-43cfdfcc3c98"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_id{{ $('Tratar Dados1').item.json.Telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        512
      ],
      "id": "d2b80473-beda-4ab2-99ad-4a5ef347bc63",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d38121be-5f1a-4613-8308-5fb16ec351d0",
              "leftValue": "={{ $('Supabase').item.json.ATIVO }}",
              "rightValue": "SIM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3792,
        128
      ],
      "id": "1b387cbd-b67b-448b-b8eb-a3f06afee2e1",
      "name": "If Cliente está ativo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e59128b-7aa9-40f8-a5f7-d1b601e85276",
              "leftValue": "={{ $json.Telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4272,
        112
      ],
      "id": "fd6164c7-4af1-43c3-b63e-272ee5e10c59",
      "name": "Lead está no BD?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3120,
        80
      ],
      "id": "eeb18722-7526-4bc8-83ef-43c8b3fff13e",
      "name": "LEAD ATIVO"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7acb623-db0c-49b1-b96a-afcb0ee376a8",
              "leftValue": "={{ $json.body.body.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5440,
        112
      ],
      "id": "1653ae5c-2366-4bfd-8a18-de9d8d6d9fca",
      "name": "Enviada pelo cliente?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3984,
        96
      ],
      "id": "49f0981f-a7e1-4dfa-ba6d-72373bdd7441",
      "name": "SIM"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4032,
        336
      ],
      "id": "028d396a-7fd3-4cd2-ace8-4ad58e095d38",
      "name": "NÃO"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3472,
        208
      ],
      "id": "853596a0-0acb-4b78-89fe-087114653899",
      "name": "LEAD INATIVO"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.TodasMensagens }}",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        448,
        128
      ],
      "id": "ce9bb9db-9338-4d53-a261-2e2a05b5b520",
      "name": "AGENTE RESTAURANTE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://zap01.notificamais.com.br/message/sendText?connectionKey={{ $('Tratar Dados1').item.json['ID instancia'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Tratar Dados1').item.json['Token instancia'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumber",
              "value": "={{ $('Tratar Dados1').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.resposta_ai }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        208
      ],
      "id": "3f13d684-7d7c-46ee-bbd4-070b3800531e",
      "name": "Enviar mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "198e0d58-d111-431d-a358-e171816ffe8b",
              "name": "resposta_ai",
              "value": "={{ $json.output.split(\"\\n\\n\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        240
      ],
      "id": "a5be87f2-a984-4728-aaa5-52055f751965",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "resposta_ai",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1328,
        240
      ],
      "id": "27a5e157-e1d0-4a49-90c3-4ddde07f48d1",
      "name": "Divide-mensagens"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1536,
        240
      ],
      "id": "101115ba-61a8-4e82-9198-f637ffc899bd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        240
      ],
      "id": "931cc46f-7033-4451-b62c-863106432cf3",
      "name": "Wait",
      "webhookId": "7746fab0-40e8-45fd-acba-fb31ecfb967d"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.body.text.messages[0].message.conversation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "b36532a6-423e-44bb-9f56-085d241bf6b7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "061a01ed-ac1f-44a3-84ed-1c7c0f6b69d0",
                    "leftValue": "={{ $('Webhook').item.json.body.body.msgContent }}",
                    "rightValue": "audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2768,
        240
      ],
      "id": "fed75883-f3e7-40f9-8239-42b38e9904b9",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6d73332-b89b-49e8-a957-180823efdb53",
              "name": "Audio",
              "value": "={{ $('Webhook').item.json.body.body.msgContent.replace(\"data:audio/ogg; codecs=opus;base64,\",\"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        416
      ],
      "id": "55ae290b-a255-4ed2-b35a-f99d25711458",
      "name": "Tratar Audio"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "Audio",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2208,
        416
      ],
      "id": "4b6f5202-fc1d-4cf6-b6ad-cb43700f0948",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1952,
        448
      ],
      "id": "9d2db965-eb88-4da0-a5f8-16c4c1b826c6",
      "name": "OpenAI"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1568,
        240
      ],
      "id": "73d137bb-f204-4a23-b223-d15fbef1830b",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## IDENFICA QUEM ENVIOU",
        "height": 660,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5504,
        16
      ],
      "id": "75af09b7-00d7-40fb-959e-ec083a8d2727",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## SUPABASE\n",
        "height": 660,
        "width": 2020,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4832,
        16
      ],
      "id": "9ae4fa14-e344-4863-9160-9e412d0e2849",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## TIPO DE MENSAGEM\n",
        "height": 660,
        "width": 1400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2784,
        16
      ],
      "id": "3b8c5cfe-92dc-4bd3-b011-9dcc141ec2ad",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## AGENTE IA\n",
        "height": 660,
        "width": 600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        16
      ],
      "id": "f1f2e17f-9b24-4454-8135-7e25032c01cb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ENVIA MENSAGEM",
        "height": 660,
        "width": 1500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        16
      ],
      "id": "e8354f0b-9499-47f7-9a0b-7ebb1c485370",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75b66355-90e8-478c-8079-71d5ca39167a",
              "name": "mensagem.texto",
              "value": "={{ $('Tratar Dados1').item.json['Mensagem usuario'] }}",
              "type": "string"
            },
            {
              "id": "e865a21a-b6f2-4c8a-a6fd-97a57e55d050",
              "name": "mensagem.id",
              "value": "={{ $('Webhook').item.json.body.body.key.id }}",
              "type": "string"
            },
            {
              "id": "50f4543f-6aa2-4368-92f2-afdc4dc63bdb",
              "name": "mensagem.horaEnvio",
              "value": "={{ $('Webhook').item.json.body.body.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "c1fed46d-1123-4eaf-b1bb-28c567909d0c",
              "name": "mensagem.remoteID",
              "value": "={{ $('Webhook').item.json.body.body.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1984,
        112
      ],
      "id": "f3dc9e6c-744a-4897-967a-105ec66037f9",
      "name": "msg.formatada"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2448,
        96
      ],
      "id": "800bd09f-f0dd-41da-a9bd-75cc9c3ec239",
      "name": "TEXTO"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2608,
        368
      ],
      "id": "e11d88d0-81b8-4497-8ab7-1d45364bac55",
      "name": "AUDIO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75b66355-90e8-478c-8079-71d5ca39167a",
              "name": "mensagem.audio",
              "value": "={{ $('Tratar Dados1').item.json['Mensagem usuario'] }}",
              "type": "string"
            },
            {
              "id": "e865a21a-b6f2-4c8a-a6fd-97a57e55d050",
              "name": "mensagem.id",
              "value": "={{ $('Webhook').item.json.body.body.key.id }}",
              "type": "string"
            },
            {
              "id": "50f4543f-6aa2-4368-92f2-afdc4dc63bdb",
              "name": "mensagem.horaEnvio",
              "value": "={{ $('Webhook').item.json.body.body.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "c1fed46d-1123-4eaf-b1bb-28c567909d0c",
              "name": "mensagem.remoteID",
              "value": "={{ $('Webhook').item.json.body.body.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        416
      ],
      "id": "d015cb8c-02d7-4cae-9078-3ec230715ce7",
      "name": "audio.formatado"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.mensagem.remoteID }}",
        "messageData": "={{ $json.mensagem.toJsonString() }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1280,
        240
      ],
      "id": "a81645ed-f27d-4a24-b842-c483375c5c16",
      "name": "GravaDados",
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.mensagens[0]).id }}",
                    "rightValue": "={{ $('Merge').item.json.mensagem.id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ac9372a3-80b2-4707-ba96-604b1ad32562"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nada a fazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b6c962cf-b497-48ee-9b05-5e6acf8c16a3",
                    "leftValue": "={{ $json.mensagens.last().parseJson().horaEnvio }}",
                    "rightValue": "={{ $now.minus(20, \"seconds\") }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continua"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Espera mensagem"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -848,
        240
      ],
      "id": "20efcbbc-8f03-4564-b684-8f4d7d6ce722",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -528,
        192
      ],
      "id": "7c21f721-714d-4182-957b-5148633cc6b7",
      "name": "CONTINUA"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -368,
        32
      ],
      "id": "2a409654-d7a8-4a0c-b473-7a0d3d715872",
      "name": "NADA A FAZER"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -512,
        336
      ],
      "id": "961c169d-ee28-4a4e-8067-bc8e7f0d317f",
      "name": "AGUARDA"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -288,
        480
      ],
      "id": "ad0f5df1-e165-4ab4-b879-923236536f0a",
      "name": "ESPERA 5S",
      "webhookId": "98ace819-0a18-409e-a75d-3b9d6e6c2a58"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $('Merge').item.json.mensagem.remoteID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1072,
        240
      ],
      "id": "23230905-9e52-4af8-aa2d-3ea86f593f96",
      "name": "Recupera",
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Merge').item.json.mensagem.remoteID }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -208,
        208
      ],
      "id": "bd5d973f-c742-4360-8dc5-6cf1bc019858",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31b38ee9-e157-49a3-9f07-8a0eff748f24",
              "name": "TodasMensagens",
              "value": "={{ $('Recupera').item.json.mensagens.map(item => JSON.parse(item).texto).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        208
      ],
      "id": "823a4b15-5a9d-41d2-8a72-6610e998b667",
      "name": "todas_mensagens_formatadas"
    },
    {
      "parameters": {
        "content": "## BUFFER DE MENSAGENS\n",
        "height": 660,
        "width": 1580,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        16
      ],
      "id": "875bda2e-1bdc-4f71-932a-d4418b8013eb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## GATILHOS CLIENTE\n\n",
        "height": 660,
        "width": 1480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4800,
        688
      ],
      "id": "0da35911-607a-442b-a3c8-a39974a1cfb5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads-whatsapp",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $json.body.body.key.remoteJid.split(\"@\")[0]}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ATIVO",
              "fieldValue": "SIM"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3584,
        800
      ],
      "id": "b6ace4ea-50ea-4def-9539-f54dee3267e1",
      "name": "ATIVA LEAD",
      "credentials": {
        "supabaseApi": {
          "id": "F69sc7ShbbiD3KcE",
          "name": "[Supabase] - Vitrine Project"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads-whatsapp",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $json.body.body.key.remoteJid.split(\"@\")[0]}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ATIVO",
              "fieldValue": "NAO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3584,
        1056
      ],
      "id": "21e15374-6397-4749-8c5a-ec7c25f4235c",
      "name": "DESATIVA  LEAD",
      "credentials": {
        "supabaseApi": {
          "id": "F69sc7ShbbiD3KcE",
          "name": "[Supabase] - Vitrine Project"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.body.message.conversation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "af8d5bda-c695-4200-94d6-8cccf6c046ca"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4288,
        928
      ],
      "id": "b5ca8b34-1d21-4bcc-bc2b-dabd18c7c23d",
      "name": "VERICA TIPO DE MENSAGEM"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.body.message.conversation }}",
                    "rightValue": "#START",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3023d5dd-f407-4828-904c-e786c81b869e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ATIVA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f5520ca-abb1-4c70-997e-b892c1458627",
                    "leftValue": "={{ $json.body.body.message.conversation }}",
                    "rightValue": "#STOP",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DESATIVA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3888,
        912
      ],
      "id": "e403b138-b8a3-45ed-bb62-5442b30362e7",
      "name": "IDENTIFICA GATILHO"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_id{{ $('Tratar Dados1').item.json.Telefone }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        576,
        400
      ],
      "id": "5ff80140-0cee-4fe2-a173-922ae861fa7d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "KWjg1RPWuVUAu2oE",
          "name": "[Postgres] - Supabase"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automacao.madsonagency.com.br",
            "user-agent": "axios/1.7.5",
            "content-length": "655",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "5.78.92.64",
            "x-forwarded-host": "automacao.madsonagency.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1c78774654ff",
            "x-real-ip": "5.78.92.64"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "message",
            "body": {
              "key": {
                "remoteJid": "554191314439@s.whatsapp.net",
                "fromMe": true,
                "id": "3EB0EA09BA0AC0E0B6B1AF"
              },
              "messageTimestamp": 1748988851,
              "pushName": "Cantinho Mineiro",
              "broadcast": false,
              "status": 2,
              "message": {
                "conversation": "Teste de campo"
              },
              "verifiedBizName": "Cantinho Mineiro",
              "device": "web",
              "text": {
                "messages": [
                  {
                    "key": {
                      "remoteJid": "554191314439@s.whatsapp.net",
                      "fromMe": true,
                      "id": "3EB0EA09BA0AC0E0B6B1AF"
                    },
                    "messageTimestamp": 1748988851,
                    "pushName": "Cantinho Mineiro",
                    "broadcast": false,
                    "status": 2,
                    "message": {
                      "conversation": "Teste de campo"
                    },
                    "verifiedBizName": "Cantinho Mineiro"
                  }
                ],
                "type": "notify"
              },
              "msgContent": ""
            },
            "connectionKey": "ED0PBFQAWO"
          },
          "webhookUrl": "https://automacao.madsonagency.com.br/webhook/teste-aula",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-27T17:06:42.441Z",
      "createdAt": "2026-01-27T17:06:42.441Z",
      "role": "workflow:owner",
      "workflowId": "A6F4NBSviMn3X987",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-27T16:44:05.212Z",
      "createdAt": "2026-01-27T16:44:05.212Z",
      "id": "s2J2VpgJ8BDJBXAr",
      "name": "dev"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T14:50:59.833Z",
  "versionId": "f133a90e-157b-486b-964c-f82da2b59b14"
}