workflows/Agente Gabriel — Corrigido v3 copy 2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When_Executed_by_Another_Workflow": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "FN_ValidarInputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRE_AgentInput": {
      "main": [
        [
          {
            "node": "AGT_Scheduling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGT_Scheduling": {
      "main": [
        [
          {
            "node": "OUT_AgentResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_Chat_Memory": {
      "ai_memory": [
        [
          {
            "node": "AGT_Scheduling",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "criar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "AGT_Scheduling",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ver_horarios": {
      "ai_tool": [
        [
          {
            "node": "AGT_Scheduling",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reagendar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "AGT_Scheduling",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "AGT_Scheduling",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Main": {
      "ai_languageModel": [
        [
          {
            "node": "AGT_Scheduling",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FN_ValidarInputs": {
      "main": [
        [
          {
            "node": "PRE_AgentInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-14T19:54:50.076Z",
  "id": "7RAJQyWq1DtYPFtU",
  "isArchived": true,
  "meta": null,
  "name": "Agente Gabriel — Corrigido v3 copy 2",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "duvida"
            },
            {
              "name": "Identificador Lead"
            },
            {
              "name": "servico"
            },
            {
              "name": "nomeCliente"
            },
            {
              "name": "profissional_nome"
            },
            {
              "name": "calendar_id"
            }
          ]
        }
      },
      "id": "a0a0c242-b5ac-480c-8e00-548f5fc6f815",
      "name": "When_Executed_by_Another_Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const days=['domingo','segunda','terça','quarta','quinta','sexta','sábado'];\nconst now=new Date(new Date().toLocaleString('en-US',{timeZone:'America/Sao_Paulo'}));\nconst pad=n=>String(n).padStart(2,'0');\n\n// Horário atual em São Paulo\nconst horaAtual=`${pad(now.getHours())}:${pad(now.getMinutes())}`;\nconst dataAtual=`${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\n\nlet r=`Agora são ${horaAtual} de ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)}.\\n`;\nr+=`Timezone: America/Sao_Paulo (UTC-03:00)\\n`;\nr+=`Timestamp atual: ${dataAtual}T${horaAtual}:00-03:00\\n\\n`;\n\nfor(let i=1;i<=10;i++){\n  const f=new Date(now); f.setDate(now.getDate()+i);\n  const iso=`${f.getFullYear()}-${pad(f.getMonth()+1)}-${pad(f.getDate())}`;\n  if(i===1) r+=`Amanhã é ${days[f.getDay()]} ${pad(f.getDate())}/${pad(f.getMonth()+1)} → usar ${iso}T[HH:MM]:00-03:00\\n`;\n  else if(i===2) r+=`Depois de amanhã é ${days[f.getDay()]} ${pad(f.getDate())}/${pad(f.getMonth()+1)} → usar ${iso}T[HH:MM]:00-03:00\\n`;\n  else r+=`${days[f.getDay()]} será dia ${pad(f.getDate())}/${pad(f.getMonth()+1)} → usar ${iso}T[HH:MM]:00-03:00\\n`;\n}\nreturn [{json:{resultado:r.trim()}}];"
      },
      "id": "e9caf4a1-07ea-4eb7-a10c-95ad1a3f07f2",
      "name": "proximos_dias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ADR-003: fail-fast — não aceitar inputs incompletos\nconst trig = $('When_Executed_by_Another_Workflow').first().json;\nconst missing = [];\nif (!trig.profissional_nome || String(trig.profissional_nome).trim() === '') missing.push('profissional_nome');\nif (!trig.calendar_id || String(trig.calendar_id).trim() === '') missing.push('calendar_id');\nif (missing.length) {\n  throw new Error('agent.scheduling: inputs obrigatórios ausentes: ' + missing.join(', ') + '. Callers devem passar pelo router system.main para resolver profissional e calendar_id antes de invocar este workflow. Ver DOCS/decisions/003-bypass-fix.md');\n}\n// passthrough: preserva resultado do node anterior (proximos_dias → resultado)\nreturn [{ json: $input.first().json }];\n"
      },
      "id": "25408152-4222-48a9-970d-56bba41eddec",
      "name": "FN_ValidarInputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "Duvida",
              "value": "={{ $('When_Executed_by_Another_Workflow').item.json.duvida }}",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "identificadorLead",
              "value": "={{ $('When_Executed_by_Another_Workflow').item.json['Identificador Lead'] }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "servico",
              "value": "=Serviço: {{ $('When_Executed_by_Another_Workflow').item.json.servico }}",
              "type": "string"
            },
            {
              "id": "s4",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "s5",
              "name": "nomeCliente",
              "value": "={{ $('When_Executed_by_Another_Workflow').item.json.nomeCliente }}",
              "type": "string"
            },
            {
              "id": "s6",
              "name": "profissional_nome",
              "value": "={{ $('When_Executed_by_Another_Workflow').item.json.profissional_nome }}",
              "type": "string"
            },
            {
              "id": "s7",
              "name": "calendar_id",
              "value": "={{ $('When_Executed_by_Another_Workflow').item.json.calendar_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bd05746a-415d-405b-a13d-ce4dd704839d",
      "name": "PRE_AgentInput",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Duvida }}\n\n{{ $json.servico }}\n\nNome do cliente: {{ $json.nomeCliente }}",
        "options": {
          "systemMessage": "=## IDENTIDADE \nVocê é um **agente interno** que gerencia exclusivamente os agendamentos de **{{ $json.profissional_nome }}**, barbeiro da **Narégua RNB Soluções**.\n\n## FUNÇÃO\n\n- Verificar disponibilidade de datas e horários.\n- Agendar, remarcar e cancelar atendimentos.\n- Validar pré-requisitos antes de confirmar: **nome completo**, **data/hora** e **serviço**.\n\n## ⚠️ REGRAS OBRIGATÓRIAS DE USO DE TOOLS — PRIORIDADE MÁXIMA\n\nEstas regras são INVIOLÁVEIS. Quebrá-las resulta em informação FALSA para o cliente.\n\n1. **SEMPRE chame `ver_horarios` ANTES de informar qualquer disponibilidade.** Você NÃO sabe quais horários estão livres — só a tool sabe. Sem exceções.\n2. **SEMPRE chame `criar_reuniao` ANTES de confirmar qualquer agendamento.** Só a tool cria o evento real no calendário. Sem a tool, o agendamento NÃO existe.\n3. **NUNCA invente, calcule, deduza ou estime horários disponíveis.** Mesmo conhecendo o expediente, você NÃO tem acesso aos slots já ocupados sem chamar a tool.\n4. **NUNCA diga \"agendamento confirmado\", \"tudo certo\" ou \"marcado\"** se `criar_reuniao` não retornou sucesso. Se a tool falhar, diga: \"Tive um problema ao registrar, vou tentar novamente.\"\n5. **Para reagendar**: SEMPRE chame `reagendar_reuniao`. **Para cancelar**: SEMPRE chame `cancelar_reuniao`.\n6. Se o cliente quer agendar sem informar data/hora: chame `ver_horarios` e apresente no máximo **4 opções**.\n7. **NÃO pule etapas.** Mesmo que o cliente confirme, você DEVE chamar a tool antes de dizer que está agendado.\n\n### Fluxo obrigatório para agendar:\n\n```\nPasso 1 → Coletar: nome, serviço e preferência de data/hora\nPasso 2 → Chamar `ver_horarios` para verificar disponibilidade REAL\nPasso 3 → Apresentar opções ao cliente (máx 4)\nPasso 4 → Cliente escolhe → Chamar `criar_reuniao` com os dados\nPasso 5 → Tool retorna sucesso → SÓ ENTÃO confirmar ao cliente\n```\n\n## TIMEZONE\n\n- Use os templates ISO 8601 fornecidos em DATA E HORA abaixo — já incluem o offset correto (-03:00).\n- Para montar start/end, substitua [HH:MM] pelo horário desejado no template do dia correspondente.\n- O `end` deve ser `start` + 45min por serviço.\n\n## REFERÊNCIA DE HORÁRIOS (APENAS para pré-validação — NÃO use para responder)\n\n- Segunda a sábado, das 9h às 19h.\n- Domingos: sem atendimento.\n- Cada serviço ocupa **45 minutos**. Múltiplos serviços = 45min × quantidade.\n- Antecedência mínima: **2 horas** a partir do horário atual.\n\nUse estas regras APENAS para rejeitar pedidos obviamente inválidos SEM chamar tool:\n\n- Domingo → \"Não temos atendimento aos domingos.\"\n- Antes das 9h ou depois das 19h → \"Nosso horário é das 9h às 19h.\"\n- Menos de 2h de antecedência → \"Precisamos de pelo menos 2 horas de antecedência.\"\n\nPara QUALQUER outro caso → CHAME A TOOL.\n\n## TOOLS\n\n- `criar_reuniao` — Marcar novo agendamento. **Uso OBRIGATÓRIO para confirmar.**\n- `reagendar_reuniao` — Alterar data/hora de agendamento existente.\n- `cancelar_reuniao` — Cancelar agendamento existente.\n- `ver_horarios` — Consultar slots disponíveis. **Uso OBRIGATÓRIO antes de informar disponibilidade.** Mostre no máximo 4 opções.\n\n## REGRAS GERAIS\n\n- Confirme nome, data/hora e serviço antes de chamar `criar_reuniao`.\n- Nunca informe o ano nas datas.\n- Nenhum pagamento antecipado é exigido.\n- Use o histórico da conversa para reagendar/cancelar sem pedir dados novamente.\n\n## DATA E HORA\n\n{{ $json.resultado }}"
        }
      },
      "id": "483fede1-819e-4f70-bcf7-6651d81a9b65",
      "name": "AGT_Scheduling",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        768,
        160
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=cal_{{ $('PRE_AgentInput').item.json.profissional_nome }}_{{ $('PRE_AgentInput').item.json.identificadorLead }}",
        "tableName": "n8n_chat_histories_barber",
        "contextWindowLength": 40
      },
      "id": "9c004c07-cc29-4ef7-99d9-ae448c8b55a2",
      "name": "Postgres_Chat_Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        768,
        416
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "name": "criar_reuniao",
        "description": "Cria um novo agendamento. Args: nome do cliente, início e fim (ISO 8601), serviço. Cada serviço = 45min (end = start + 45min por serviço).",
        "workflowId": {
          "__rl": true,
          "value": "ySDb62zlXxrv7F36",
          "mode": "id",
          "cachedResultUrl": "/workflow/ySDb62zlXxrv7F36"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "agendamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('PRE_AgentInput').item.json.identificadorLead }}"
            },
            {
              "name": "servico",
              "stringValue": "={{ $('PRE_AgentInput').item.json.servico }}"
            },
            {
              "name": "calendar_id",
              "stringValue": "={{ $('PRE_AgentInput').item.json.calendar_id }}"
            },
            {
              "name": "profissional_nome",
              "stringValue": "={{ $('PRE_AgentInput').item.json.profissional_nome }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\"lead\":\"nome completo do cliente\",\"start\":\"ISO 8601 início\",\"end\":\"ISO 8601 fim\"}"
      },
      "id": "e8117fa7-ab46-4db4-abde-f8166f70282e",
      "name": "criar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1008,
        416
      ]
    },
    {
      "parameters": {
        "name": "ver_horarios",
        "description": "Lista horários disponíveis nas próximas semanas. Use para consultar disponibilidade ou antes de agendar sem hora. Mostre no máximo 4 opções.",
        "workflowId": {
          "__rl": true,
          "value": "ySDb62zlXxrv7F36",
          "mode": "id",
          "cachedResultUrl": "/workflow/ySDb62zlXxrv7F36"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "VerHorarios"
            },
            {
              "name": "calendar_id",
              "stringValue": "={{ $('PRE_AgentInput').item.json.calendar_id }}"
            },
            {
              "name": "profissional_nome",
              "stringValue": "={{ $('PRE_AgentInput').item.json.profissional_nome }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "82d3089e-a2d0-4bef-92de-ae159c867706",
      "name": "ver_horarios",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1168,
        416
      ]
    },
    {
      "parameters": {
        "name": "reagendar_reuniao",
        "description": "Muda data/hora de um agendamento existente. Use o histórico da conversa para identificar cliente e horário antigo — não pergunte de novo.",
        "workflowId": {
          "__rl": true,
          "value": "ySDb62zlXxrv7F36",
          "mode": "id",
          "cachedResultUrl": "/workflow/ySDb62zlXxrv7F36"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "reagendamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('PRE_AgentInput').item.json.identificadorLead }}"
            },
            {
              "name": "calendar_id",
              "stringValue": "={{ $('PRE_AgentInput').item.json.calendar_id }}"
            },
            {
              "name": "profissional_nome",
              "stringValue": "={{ $('PRE_AgentInput').item.json.profissional_nome }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\"lead\":\"nome do cliente\",\"start\":\"novo início ISO 8601\",\"end\":\"novo fim ISO 8601\"}"
      },
      "id": "6ae2928e-1662-47c9-8571-ccca32d88881",
      "name": "reagendar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1328,
        416
      ]
    },
    {
      "parameters": {
        "name": "cancelar_reuniao",
        "description": "Cancela um agendamento existente. Use o histórico da conversa para identificar o cliente — não peça nome novamente.",
        "workflowId": {
          "__rl": true,
          "value": "ySDb62zlXxrv7F36",
          "mode": "id",
          "cachedResultUrl": "/workflow/ySDb62zlXxrv7F36"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "cancelamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('PRE_AgentInput').item.json.identificadorLead }}"
            },
            {
              "name": "calendar_id",
              "stringValue": "={{ $('PRE_AgentInput').item.json.calendar_id }}"
            },
            {
              "name": "profissional_nome",
              "stringValue": "={{ $('PRE_AgentInput').item.json.profissional_nome }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\"lead\":\"nome do cliente\"}"
      },
      "id": "32db8173-9b7d-42c7-b601-3a95da7dda56",
      "name": "cancelar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1488,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef1",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1046f855-7261-43a1-bd6a-6c0d6f160e3c",
      "name": "OUT_AgentResponse",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        160
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "options": {}
      },
      "id": "a1fde68c-3331-4627-813a-71f992c766ee",
      "name": "LLM_Main",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        416
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## 📋 HEADER — agent.gabriel (scheduling agent)\n\n**Papel:** agente conversacional LLM para operações de calendário. **NÃO é router** — inputs precisam vir pré-resolvidos.\n\n**Caller canônico:** `system.main`.\n**Contrato in OBRIGATÓRIO:** `{duvida, Identificador Lead, servico, nomeCliente, profissional_nome, calendar_id}`. Fail-fast em v1.2.0 via `FN_ValidarInputs` — ver ADR-003.",
        "height": 200,
        "width": 1500
      },
      "id": "613b7538-94c9-4519-9726-c314897175d5",
      "name": "SN_Header",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ WARNING — fail-fast (ADR-003)\n\n`FN_ValidarInputs` interrompe com erro explícito se `profissional_nome` ou `calendar_id` estiverem vazios. Antes da v1.2.0, havia fallback silencioso para 'Gabriel' + calendar hardcoded — causava agendamentos errados quando Amy bypassava o router.",
        "height": 140,
        "width": 480,
        "color": 3
      },
      "id": "99e28dde-a177-4c6c-bfbc-f4db5c5c1229",
      "name": "SN_Validate",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 STAGE 3 — Dispatcher de tools (ADR-002)\n\nAs 4 `TOOL_*` apontam todas para `calendar.gabriel` (workflowId `2n8jLpwk0EJVn4d2`). Padrão dispatcher: um backend, múltiplas operações, diferenciadas pelo nome da tool. **NÃO consolidar em 1 tool.**",
        "height": 140,
        "width": 700,
        "color": 7
      },
      "id": "63e737e3-7414-4f9c-a33a-acad152b19d4",
      "name": "SN_Dispatcher",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        592
      ]
    }
  ],
  "pinData": {
    "When_Executed_by_Another_Workflow": [
      {
        "json": {
          "duvida": "quero ver horários disponíveis",
          "Identificador Lead": "5518997913488@s.whatsapp.net",
          "servico": "Corte Degradê",
          "nomeCliente": "Teste Multi",
          "profissional_nome": "Rogério",
          "calendar_id": "c_7d28a25c141deb59409a69ef9a96c8809dd33bbc389361eb0951123bbb47094d@group.calendar.google.com"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-04-14T19:54:50.076Z",
      "createdAt": "2026-04-14T19:54:50.076Z",
      "role": "workflow:owner",
      "workflowId": "7RAJQyWq1DtYPFtU",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-27T17:05:49.634Z",
      "createdAt": "2026-01-27T17:05:49.634Z",
      "id": "F171zldw4G7U1HuZ",
      "name": "legacy"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T14:50:54.571Z",
  "versionId": "4f83c78e-712e-45ab-8f23-2fb586362bc5"
}