workflows/ASSISTENTE FINANCEIRO | v0.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Formata celular": {
      "main": [
        [
          {
            "node": "Pega data atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe mensagem usuario": {
      "main": [
        [
          {
            "node": "Formata celular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se usuario tem cadastro": {
      "main": [
        [
          {
            "node": "Valida se usuario esta cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se usuario esta cadastrado": {
      "main": [
        [
          {
            "node": "Verifica se tem thread criada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Casastra usuario no banco de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Casastra usuario no banco de dados": {
      "main": [
        [
          {
            "node": "Verifica se tem thread criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem thread criada": {
      "main": [
        [
          {
            "node": "Cria a thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisa mensagem usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria a thread": {
      "main": [
        [
          {
            "node": "Salva thread no banco de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva thread no banco de dados": {
      "main": [
        [
          {
            "node": "Analisa mensagem usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisa mensagem usuario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisa mensagem usuario": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extrai detalhes dos gastos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extrai detalhes dos gastos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrai detalhes das entradas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca dados no banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega data atual": {
      "main": [
        [
          {
            "node": "Verifica se usuario tem cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai detalhes dos gastos": {
      "main": [
        [
          {
            "node": "Separa mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa mensagem": {
      "main": [
        [
          {
            "node": "Sobe gasto para o banco de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sobe gasto para o banco de dados": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa mensagem1": {
      "main": [
        [
          {
            "node": "Sobe entradas para o banco de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Extrai detalhes das entradas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extrai detalhes das entradas": {
      "main": [
        [
          {
            "node": "Separa mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sobe entradas para o banco de dados": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca dados no banco": {
      "main": [
        [
          {
            "node": "Concatena dados do banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatena dados do banco": {
      "main": [
        [
          {
            "node": "Extrai detalhes das entradas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Extrai detalhes das entradas1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Extrai detalhes das entradas1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extrai detalhes das entradas1": {
      "main": [
        [
          {
            "node": "Evolution API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-03T14:23:30.973Z",
  "id": "XgrAQWaUmtBDGdpm",
  "isArchived": true,
  "meta": null,
  "name": "ASSISTENTE FINANCEIRO | v0",
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "BOT",
        "remoteJid": "={{ $('Formata celular').item.json.telefone_limpo }}",
        "messageText": "={{ $('Separa mensagem').item.json.mensagem }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3152,
        80
      ],
      "id": "2597fc26-d0d5-451a-b2d6-13dbe7261fe0",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "MJGauyHYt3yXYgaK",
          "name": "[Evolution] - RNB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  telefone_limpo: $json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\", \"\")\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        464
      ],
      "id": "ecf330e1-9219-4047-912f-155d7cacc12d",
      "name": "Formata celular"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e8ae7837-171d-4aa1-9a66-ced8da222ec5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        464
      ],
      "id": "5594fac0-c55d-42fc-b9df-800f3f943540",
      "name": "Recebe mensagem usuario",
      "webhookId": "e8ae7837-171d-4aa1-9a66-ced8da222ec5"
    },
    {
      "parameters": {
        "databaseId": 186902,
        "tableId": 454420,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 3535253,
                "operator": "contains",
                "value": "={{ $('Formata celular').item.json.telefone_limpo }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        752,
        464
      ],
      "id": "e81ea08b-4695-491c-a75e-db13f89eacb1",
      "name": "Verifica se usuario tem cadastro",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Numero usuário'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cadastrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1fb1915e-576b-4729-a204-61718f51a0ce",
                    "leftValue": "={{ $json['Numero usuário'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sem cadastro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        960,
        464
      ],
      "id": "6543487f-1d29-4105-b11b-df55fe787b6b",
      "name": "Valida se usuario esta cadastrado"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 186902,
        "tableId": 454420,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3535253,
              "fieldValue": "={{ $('Formata celular').item.json.telefone_limpo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1168,
        704
      ],
      "id": "144f4fa7-2747-450c-8e71-9f8777b3821c",
      "name": "Casastra usuario no banco de dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8df05c6-f0d2-46d6-987f-d6ed0f429116",
              "leftValue": "={{ $json.Thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        448
      ],
      "id": "1c852e5c-f66e-4f6b-ac18-970ea8ff3ff7",
      "name": "Verifica se tem thread criada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        144
      ],
      "id": "9dc0c9ef-4c07-421f-af92-b1fb9afee692",
      "name": "Cria a thread",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 186902,
        "tableId": 454420,
        "rowId": "={{ $('Verifica se tem thread criada').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3535344,
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1744,
        144
      ],
      "id": "be5d0bc2-f0c2-4212-a422-992c463a4b95",
      "name": "Salva thread no banco de dados"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1648,
        672
      ],
      "id": "70e8c9f5-213a-45da-8103-761186e1b046",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise a mensagem do usuário e categorize-a em uma das três opções: \"gasto\", \"entrada\" ou \"consulta\". A mensagem pode ser uma descrição de uma transação financeira ou uma solicitação de informação. Baseie sua decisão no contexto da mensagem.\n\nExemplos:\n\nMensagem: \"Gastei R$ 100 em uma camiseta.\"\n\nResposta: gasto\n\nMensagem: \"Acabei de receber R$ 2.000 de salário.\"\n\nResposta: entrada\n\nMensagem: \"Quanto gastei na semana passada?\"\n\nResposta: consulta\n\nMensagem: \"Comprei um livro por R$ 50.\"\n\nResposta: gasto\n\nMensagem: \"Recebi R$ 500 de reembolso.\"\n\nResposta: entrada\n\nMensagem: \"Qual foi meu gasto total no mês passado?\"\n\nResposta: consulta\n\nRegras:\n\nSe a mensagem descrever um valor que foi pago ou gasto, categorize como \"gasto\".\n\nSe a mensagem descrever um valor que foi recebido ou adicionado, categorize como \"entrada\".\n\nSe a mensagem for uma pergunta ou solicitação de informação sobre gastos, entradas ou saldo, categorize como \"consulta\".\n\nSua resposta deve ser apenas uma palavra: \"gasto\", \"entrada\" ou \"consulta\".\n\nMensagem do usuário para análise:\n {{ $('Recebe mensagem usuario').item.json.body.data.message.conversation }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1648,
        464
      ],
      "id": "caf65093-9382-4946-bc22-0ce56e7cacea",
      "name": "Analisa mensagem usuario"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "gasto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GASTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6fb900a-e5a8-497f-8978-373424bbb81f",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "entrada",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ENTRADA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ba17ab5e-f0a8-4ec4-ab49-895223e6e3cd",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "consulta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONSULTA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2000,
        464
      ],
      "id": "ef25784d-173d-45e9-8443-5d95d5d3db28",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2272,
        272
      ],
      "id": "8b89bbdf-75e5-4cdf-977b-6c7c36c9e210",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente financeiro que extrai detalhes de gastos a partir de mensagens de usuários. Sua tarefa é analisar a mensagem, identificar e retornar as seguintes informações em formato JSON:\n\nCategoria: A categoria principal do gasto (ex: \"alimentação\", \"transporte\", \"lazer\").\n\nSubcategoria: A subcategoria específica do gasto (ex: \"pizza\", \"iFood\", \"restaurante\").\n\nValor: O valor do gasto, formatado em Real Brasileiro (ex: \"R$ 50,00\").\n\nData: A data atual no formato brasileiro (dia/mês/ano). DATA ATUAL: {{ $('Pega data atual').item.json.currentDate }}\n\nMensagem: Uma mensagem amigável para o usuário, confirmando o cadastro do gasto.\n\nFormato de Saída Esperado:\n\njson\nCopy\n{\n  \"categoria\": \"categoria_do_gasto\",\n  \"subcategoria\": \"subcategoria_do_gasto\",\n  \"valor\": \"R$ XX,XX\",\n  \"data\": \"DD/MM/AAAA\",\n  \"mensagem\": \"Gasto de R$ XX,XX em [subcategoria] cadastrado com sucesso!\"\n}\nExemplos:\n\nMensagem: \"Gastei R$ 50 em uma pizza.\"\n\nResposta:\n\njson\nCopy\n{\n  \"categoria\": \"alimentação\",\n  \"subcategoria\": \"pizza\",\n  \"valor\": \"R$ 50,00\",\n  \"data\": \"25/10/2023\",\n  \"mensagem\": \"Gasto de R$ 50,00 em pizza cadastrado com sucesso!\"\n}\nMensagem: \"Paguei R$ 30 no iFood.\"\n\nResposta:\n\njson\nCopy\n{\n  \"categoria\": \"alimentação\",\n  \"subcategoria\": \"iFood\",\n  \"valor\": \"R$ 30,00\",\n  \"data\": \"25/10/2023\",\n  \"mensagem\": \"Gasto de R$ 30,00 no iFood cadastrado com sucesso!\"\n}\nMensagem: \"Comprei um livro por R$ 80.\"\n\nResposta:\n\njson\nCopy\n{\n  \"categoria\": \"cultura\",\n  \"subcategoria\": \"livro\",\n  \"valor\": \"R$ 80,00\",\n  \"data\": \"25/10/2023\",\n  \"mensagem\": \"Gasto de R$ 80,00 em livro cadastrado com sucesso!\"\n}\nRegras:\n\nA categoria deve ser genérica e refletir o tipo de gasto (ex: \"alimentação\", \"transporte\", \"lazer\").\n\nA subcategoria deve ser específica e derivada da mensagem do usuário (ex: \"pizza\", \"iFood\", \"livro\").\n\nO valor deve ser extraído da mensagem e formatado em Real Brasileiro (ex: \"R$ 50,00\").\n\nA data deve ser a data atual, no formato brasileiro (dia/mês/ano).\n\nA mensagem deve ser amigável e confirmar o cadastro do gasto.\n\nMensagem do usuário para análise:\n{{ $('Recebe mensagem usuario').item.json.body.data.message.conversation }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2272,
        80
      ],
      "id": "386f7a6d-5c8c-4084-9cf2-729158e027d7",
      "name": "Extrai detalhes dos gastos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        512,
        464
      ],
      "id": "abe8a370-563a-4fb7-986f-e5e4b65fa094",
      "name": "Pega data atual"
    },
    {
      "parameters": {
        "jsCode": "// Obtém a entrada do fluxo\nconst inputData = items[0].json.output;\n\n// Remove os delimitadores de código Markdown\nconst cleanData = inputData.replace(/```json\\n?/, '').replace(/\\n?```/, '');\n\n// Faz o parsing do JSON para um objeto\nconst parsedData = JSON.parse(cleanData);\n\n// Retorna os campos separados para facilitar o uso no Baserow\nreturn [\n  {\n    json: {\n      categoria: parsedData.categoria,\n      subcategoria: parsedData.subcategoria,\n      valor: parsedData.valor,\n      data: parsedData.data,\n      mensagem: parsedData.mensagem\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        80
      ],
      "id": "d45cabf8-d52a-4fd3-933a-06fad62b4d8c",
      "name": "Separa mensagem"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 186902,
        "tableId": 454420,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3535239,
              "fieldValue": "={{ $json.categoria }}"
            },
            {
              "fieldId": 3535247,
              "fieldValue": "={{ $json.subcategoria }}"
            },
            {
              "fieldId": 3535249,
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": 3535250,
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": 3535251,
              "fieldValue": "Gasto"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2912,
        80
      ],
      "id": "bf300058-af03-4c1e-8f7b-b76d94198d6a",
      "name": "Sobe gasto para o banco de dados"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "BOT",
        "remoteJid": "={{ $('Formata celular').item.json.telefone_limpo }}",
        "messageText": "={{ $('Separa mensagem1').item.json.mensagem }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3248,
        464
      ],
      "id": "8fe5ff17-7cd9-4793-91a7-89e48823d153",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "MJGauyHYt3yXYgaK",
          "name": "[Evolution] - RNB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtém a entrada do fluxo\nconst inputData = items[0].json.output;\n\n// Remove os delimitadores de código Markdown\nconst cleanData = inputData.replace(/```json\\n?/, '').replace(/\\n?```/, '');\n\n// Faz o parsing do JSON para um objeto\nconst parsedData = JSON.parse(cleanData);\n\n// Retorna os campos separados para facilitar o uso no Baserow\nreturn [\n  {\n    json: {\n      categoria: parsedData.categoria,\n      subcategoria: parsedData.subcategoria,\n      valor: parsedData.valor,\n      data: parsedData.data,\n      mensagem: parsedData.mensagem\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        464
      ],
      "id": "c6f33c33-3838-4b3e-8dd6-5956b8bb00ec",
      "name": "Separa mensagem1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2352,
        640
      ],
      "id": "fd182d55-11e3-47a2-bd1b-0e9d001ef75b",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente financeiro que extrai detalhes de entradas (receitas) a partir de mensagens de usuários. Sua tarefa é analisar a mensagem, identificar e retornar as seguintes informações em formato JSON:\n\nCategoria: A categoria principal da entrada (ex: \"salário\", \"freelance\", \"investimentos\").\n\nSubcategoria: A subcategoria específica da entrada (ex: \"salário\", \"bônus\", \"dividendos\").\n\nValor: O valor da entrada, formatado em Real Brasileiro (ex: \"R$ 2.000,00\").\n\nData: A data atual no formato brasileiro (dia/mês/ano). DATA ATUAL: {{ $('Pega data atual').item.json.currentDate }}.\n\nMensagem: Uma mensagem amigável para o usuário, confirmando o cadastro da entrada.\n\nFormato de Saída Esperado:\n\njson\nCopy\n{\n  \"categoria\": \"categoria_da_entrada\",\n  \"subcategoria\": \"subcategoria_da_entrada\",\n  \"valor\": \"R$ XX,XX\",\n  \"data\": \"DD/MM/AAAA\",\n  \"mensagem\": \"Entrada de R$ XX,XX em [subcategoria] cadastrada com sucesso!\"\n}\nExemplos:\n\nMensagem: \"Acabei de receber R$ 2.000 de salário.\"\n\nResposta:\n\njson\nCopy\n{\n  \"categoria\": \"salário\",\n  \"subcategoria\": \"salário\",\n  \"valor\": \"R$ 2.000,00\",\n  \"data\": \"25/10/2023\",\n  \"mensagem\": \"Entrada de R$ 2.000,00 de salário cadastrada com sucesso!\"\n}\nMensagem: \"Recebi R$ 500 de bônus.\"\n\nResposta:\n\njson\nCopy\n{\n  \"categoria\": \"bônus\",\n  \"subcategoria\": \"bônus\",\n  \"valor\": \"R$ 500,00\",\n  \"data\": \"25/10/2023\",\n  \"mensagem\": \"Entrada de R$ 500,00 de bônus cadastrada com sucesso!\"\n}\nMensagem: \"Ganhei R$ 300 com dividendos.\"\n\nResposta:\n\njson\nCopy\n{\n  \"categoria\": \"investimentos\",\n  \"subcategoria\": \"dividendos\",\n  \"valor\": \"R$ 300,00\",\n  \"data\": \"25/10/2023\",\n  \"mensagem\": \"Entrada de R$ 300,00 de dividendos cadastrada com sucesso!\"\n}\nRegras:\n\nA categoria deve ser genérica e refletir o tipo de entrada (ex: \"salário\", \"freelance\", \"investimentos\").\n\nA subcategoria deve ser específica e derivada da mensagem do usuário (ex: \"salário\", \"bônus\", \"dividendos\").\n\nO valor deve ser extraído da mensagem e formatado em Real Brasileiro (ex: \"R$ 2.000,00\").\n\nA data deve ser a data atual, no formato brasileiro (dia/mês/ano).\n\nA mensagem deve ser amigável e confirmar o cadastro da entrada.\n\nMensagem do usuário para análise:\n{{ $('Recebe mensagem usuario').item.json.body.data.message.conversation }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2352,
        464
      ],
      "id": "a524dce8-6fde-4cb3-a707-ef4e66d810f3",
      "name": "Extrai detalhes das entradas"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 186902,
        "tableId": 454420,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3535239,
              "fieldValue": "={{ $json.categoria }}"
            },
            {
              "fieldId": 3535247,
              "fieldValue": "={{ $json.subcategoria }}"
            },
            {
              "fieldId": 3535249,
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": 3535250,
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": 3535251,
              "fieldValue": "Entrada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3008,
        464
      ],
      "id": "f9424ede-393b-484f-936b-c57a88b01a5b",
      "name": "Sobe entradas para o banco de dados"
    },
    {
      "parameters": {
        "databaseId": 186902,
        "tableId": 454420,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2352,
        864
      ],
      "id": "46df4947-e19f-45a6-b7b3-0434631517bd",
      "name": "Busca dados no banco"
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados do input\nconst inputData = items;\n\n// Inicializa um array para armazenar as mensagens formatadas\nconst messages = [];\n\ninputData.forEach(item => {\n  // Formata cada linha como uma string estruturada\n  messages.push(\n    `📌 *${item.json.Tipo}*: ${item.json.Categoria} - ${item.json[\"Sub-categoria\"]} - ${item.json.Valor} (${item.json.Data})`\n  );\n});\n\n// Concatena todas as mensagens em uma única string, separando por quebras de linha\nconst finalMessage = messages.join(\"\\n\");\n\n// Retorna o resultado como um único item JSON\nreturn [\n  {\n    json: {\n      mensagem: finalMessage\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        864
      ],
      "id": "22d41320-7a6b-4052-9182-da69835cc828",
      "name": "Concatena dados do banco"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "BOT",
        "remoteJid": "={{ $('Formata celular').all()[0].json.telefone_limpo }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3232,
        864
      ],
      "id": "1ff0c940-1fe9-4b6a-9ed6-d340b18effdf",
      "name": "Evolution API2",
      "credentials": {
        "evolutionApi": {
          "id": "MJGauyHYt3yXYgaK",
          "name": "[Evolution] - RNB"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3040,
        1088
      ],
      "id": "0da7a29e-3888-450a-98b6-57eb2a0d4fb1",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "Cadastra usuario banco de dados",
        "height": 920,
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6c3dfa41-69c8-47cb-96d0-f3c18baa2b51",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Cria memoria e analisa pedido do usuario",
        "height": 920,
        "width": 760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        0
      ],
      "id": "e3fc6cdb-f051-4df6-b6ea-925dc047c902",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 1240,
        "width": 1340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        0
      ],
      "id": "22e1a111-226c-4f93-830d-341dae9f5db6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2784,
        1104
      ],
      "id": "88d19327-fc23-4dfa-a778-82cbcf130ea2",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Recebe mensagem usuario').all()[0].json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "=Você é um assistente financeiro responsável por processar consultas de usuários sobre seus gastos e entradas. Sua tarefa é analisar a mensagem do usuário, identificar o tipo de consulta solicitada, calcular os valores com base nos dados fornecidos e retornar uma mensagem amigável com as informações solicitadas.\n\nUSE A DATA DE HOJE PARA CALCULAR OS DIAS:\nData de hoje: \n{{ $('Recebe mensagem usuario').all()[0].json.body.date_time }}\n\nDados do banco de dados: {{ $json.mensagem }}\n\nIdentifique o tipo de consulta com base na mensagem do usuário.\n\nCalcule os valores totais com base nos dados fornecidos.\n\nInclua detalhes relevantes, como categorias e datas, se necessário.\n\nFormate os valores em Real Brasileiro (ex: \"R$ 50,00\").\n\nUse uma linguagem clara e amigável para comunicar os resultados ao usuário.\n\nANALISE CORRETAMENTE OS DIAS QUE O USUARIO PEDIR, VOCE VAI TER A DATA DE HOJE (DATA QUE O USUARIO SOLICITOU A CONSULTA)  E AS DATAS DAS ENTRADAS E SAIDAS. \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2848,
        864
      ],
      "id": "3b81a2c7-5a5a-49fd-ba02-07f699d13f72",
      "name": "Extrai detalhes das entradas1"
    },
    {
      "parameters": {
        "content": "## OPT\n- Trocar BaseRow por Supabase"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        976
      ],
      "typeVersion": 1,
      "id": "47813931-fb48-4c0f-ba5d-bb6df27a7b02",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "Recebe mensagem usuario": [
      {
        "json": {
          "headers": {
            "host": "primary-production-b5c5.up.railway.app",
            "user-agent": "axios/1.7.9",
            "content-length": "958",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "162.220.232.29",
            "x-forwarded-host": "primary-production-b5c5.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-west1",
            "x-railway-request-id": "HvxXrkNoQcCpY5Rl0NM8rw_1850849526",
            "x-real-ip": "162.220.232.29",
            "x-request-start": "1740770438507"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "BOT",
            "data": {
              "key": {
                "remoteJid": "5511981370549@s.whatsapp.net",
                "fromMe": false,
                "id": "DC31AE0A17AEC144D4C912A3D42DF1B5"
              },
              "pushName": "DSR Marketing",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Quantos gastei nos últimos 2 dias?",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "pWp4D+Bh3lcK6Q==",
                    "senderTimestamp": "1740269616",
                    "recipientKeyHash": "0WDtKy4wdlvXpQ==",
                    "recipientTimestamp": "1740317852"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "IkbV/agyGBTRUjUpAwf4nm5ISkJFxVhyC6bVtG23cE4="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1740770437,
              "instanceId": "668372c2-c67f-402d-8336-02ca0c95b27d",
              "source": "android"
            },
            "destination": "https://primary-production-b5c5.up.railway.app/webhook-test/bb1266a5-d365-471c-9d2f-fd64884edabd",
            "date_time": "2025-02-28T16:20:38.319Z",
            "sender": "5511943825525@s.whatsapp.net",
            "server_url": "http://localhost:8080",
            "apikey": "3A0167A6C7A0-47C7-93B7-B9BF05E43205"
          },
          "webhookUrl": "https://primary-production-b5c5.up.railway.app/webhook-test/bb1266a5-d365-471c-9d2f-fd64884edabd",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-03T14:23:30.973Z",
      "createdAt": "2026-03-03T14:23:30.973Z",
      "role": "workflow:owner",
      "workflowId": "XgrAQWaUmtBDGdpm",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-27T18:28:58.244Z",
      "createdAt": "2026-01-27T18:28:58.244Z",
      "id": "a0vOCLiOEtb5zRpQ",
      "name": "matriz"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T15:18:31.769Z",
  "versionId": "b8253c84-0977-445b-837d-698a3adea7d7"
}