workflows/Athena Secretária — RNB Clinic Prime v2.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-23T19:09:37.900Z",
    "createdAt": "2026-04-23T19:09:35.476Z",
    "versionId": "1f90c494-dfd6-4282-be73-92fd22e1cb7f",
    "workflowId": "9JkiG1jfihrHUuO2",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "athena-v2",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -11776,
          1904
        ],
        "id": "04748b53-9cc3-4166-983f-e497556d93dd",
        "name": "receberWebhookUazapi",
        "webhookId": "605a7ec4-4931-4aa9-a8e4-6bf60663e49b"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\nif (!body?.message?.chatid || !body?.message?.messageTimestamp) {\n  throw new Error(`Payload Uazapi inválido: ${JSON.stringify(body || {}).slice(0, 200)}`);\n}\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -11568,
          1712
        ],
        "id": "64778cb1-b6cb-462a-8801-d4a55dc184ac",
        "name": "validarPayload"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "98931498-7212-4c21-afb5-193cc7498fdb",
                "leftValue": "={{ $json.body.message.sender_pn }}",
                "rightValue": "558888136242@s.whatsapp.net",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "b628c4f2-9e90-4330-8ab1-1a796d881d06",
                "leftValue": "={{ $json.body.message.sender_pn }}",
                "rightValue": "5518997913488@s.whatsapp.net",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "6390a602-43c0-46ef-9a50-d34f8350c195",
                "leftValue": "={{ $json.body.message.sender_pn }}",
                "rightValue": "5518997726660@s.whatsapp.net",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -11360,
          1904
        ],
        "id": "5fc46916-373b-4f0b-b1eb-fb025f6f1d72",
        "name": "filtroNumeroPermitido"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "filtro-fromMe",
                      "leftValue": "={{ $json.body.message.fromMe }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "msgDoProprioBot"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "filtro-api",
                      "leftValue": "={{ $json.body.message.wasSentByApi }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "msgEnviadaPorApi"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "filtro-grupo",
                      "leftValue": "={{ $json.body.message.isGroup }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "msgDeGrupo"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -11120,
          1904
        ],
        "id": "1613c11e-6a79-47cc-9787-e00e7a4a2aae",
        "name": "filtrarMensagemEntrada"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "msg-conversa",
                "name": "msg.conversa",
                "value": "={{ $('receberWebhookUazapi').item.json.body.message.text }}",
                "type": "string"
              },
              {
                "id": "msg-nomeLead",
                "name": "msg.nomeLead",
                "value": "={{ $('receberWebhookUazapi').item.json.body.chat.wa_name || $('receberWebhookUazapi').item.json.body.message.senderName || $('receberWebhookUazapi').item.json.body.chat.name || '' }}",
                "type": "string"
              },
              {
                "id": "msg-identicacaoLead",
                "name": "msg.identicacaoLead",
                "value": "={{ $('receberWebhookUazapi').item.json.body.message.chatid }}",
                "type": "string"
              },
              {
                "id": "msg-numberLead",
                "name": "msg.numberLead",
                "value": "={{ $('receberWebhookUazapi').item.json.body.message.chatid.replace('@s.whatsapp.net', '') }}",
                "type": "string"
              },
              {
                "id": "msg-media",
                "name": "msg.media",
                "value": "={{ $('receberWebhookUazapi').item.json.body.message.type !== 'text' ? $('receberWebhookUazapi').item.json.body.message.type : '' }}",
                "type": "string"
              },
              {
                "id": "msg-urlMedia",
                "name": "msg.urlMedia",
                "value": "={{ $('receberWebhookUazapi').item.json.body.message.type !== 'text' ? ($('receberWebhookUazapi').item.json.body.message.content || '') : '' }}",
                "type": "string"
              },
              {
                "id": "msg-timestamp",
                "name": "msg.timestamp",
                "value": "={{ $('receberWebhookUazapi').item.json.body.message.messageTimestamp }}",
                "type": "number"
              },
              {
                "id": "msg-baseUrl",
                "name": "msg.baseUrl",
                "value": "={{ $('receberWebhookUazapi').item.json.body.BaseUrl }}",
                "type": "string"
              },
              {
                "id": "msg-token",
                "name": "msg.token",
                "value": "={{ $('receberWebhookUazapi').item.json.body.token }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -10816,
          2000
        ],
        "id": "979b5dd9-7272-4f76-ba18-bbc593320d6b",
        "name": "extrairDadosUazapi",
        "alwaysOutputData": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -10816,
          1648
        ],
        "id": "4d53859a-adf9-479f-9976-0420e3404dc3",
        "name": "nadaFazerWebhook"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "clin_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "Identificador do usuario",
                "keyValue": "={{ $json.msg.identicacaoLead }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -10432,
          1840
        ],
        "id": "bb29837d-41f8-4af9-a11f-8d989968d876",
        "name": "buscarLeadCrm",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "supabaseApi": {
            "id": "lPqw6Aku7HwsgBAG",
            "name": "[Supabase] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "32a5f010",
                      "leftValue": "={{ $json.Whatsapp ? $json.Whatsapp.toString() : '' }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "notEmpty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "existe"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.Whatsapp ? $json.Whatsapp.toString() : '' }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      },
                      "id": "c71b31fe"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "naoExiste"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -10176,
          1840
        ],
        "id": "30cf0212-ed63-4bfb-8395-b68d33fc2027",
        "name": "roteamentoUsuarioCrm"
      },
      {
        "parameters": {
          "tableId": "clin_leads",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "Inicio do atendimento",
                "fieldValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('dd-MM-yyyy') }}"
              },
              {
                "fieldId": "Whatsapp",
                "fieldValue": "={{ $('extrairDadosUazapi').first().json.msg.numberLead }}"
              },
              {
                "fieldId": "Identificador do usuario",
                "fieldValue": "={{ $('extrairDadosUazapi').first().json.msg.identicacaoLead }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -9936,
          2112
        ],
        "id": "99867e10-26ae-4184-91dc-0b6d56da6bf3",
        "name": "cadastrarNovoLead",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "supabaseApi": {
            "id": "lPqw6Aku7HwsgBAG",
            "name": "[Supabase] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a2afd618",
                      "leftValue": "={{ $('extrairDadosUazapi').first().json.msg.media }}",
                      "rightValue": "=audio",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audioTranscrito"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "dd779138",
                      "leftValue": "={{ $('extrairDadosUazapi').first().json.msg.conversa }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "notEmpty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "texto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1873e517",
                      "leftValue": "={{ $('extrairDadosUazapi').first().json.msg.media }}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "imagem"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -9616,
          1840
        ],
        "id": "03da436c-ab67-4491-be15-96dd600758c8",
        "name": "roteamentoTipoMensagem"
      },
      {
        "parameters": {
          "url": "={{ $('extrairDadosUazapi').first().json.msg.urlMedia }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -9328,
          1632
        ],
        "id": "ff2eec14-1c51-42cc-9438-80b7cbd62b9f",
        "name": "baixarAudioWhatsapp",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -9136,
          1632
        ],
        "id": "bf928af9-5244-4c8d-9845-6a65c1d3d2ce",
        "name": "transcreverAudioOpenai",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1500,
        "credentials": {
          "openAiApi": {
            "id": "Ugq6gWB6qnLfgDP0",
            "name": "[OpenAi] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "17d5e2bb",
                "name": "msg",
                "value": "={{ $('transcreverAudioOpenai').item.json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -8928,
          1632
        ],
        "id": "3b31abfa-2cbc-415d-9b57-afcf6fa0172f",
        "name": "capturarTextoAudio"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "17d5e2bb",
                "name": "msg",
                "value": "={{ $('extrairDadosUazapi').first().json.msg.conversa }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -8928,
          1856
        ],
        "id": "8c5be184-04fd-4a8b-aaf0-08e9e90d2a53",
        "name": "registrarTextoConvertido"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "text": "=Você analisa imagens enviadas por pacientes da **RNB - Clinic Prime** via WhatsApp e gera um resumo **objetivo** do conteúdo.\n\n## TIPOS DE IMAGEM\n\n**1. Comprovantes de pagamento**\n- Informe se o comprovante está **legível**.\n- Identifique o **valor pago**, a **data** e o **tipo de transação** (ex: PIX).\n\n**2. Documentos pessoais**\n- Identifique o tipo do documento (ex: RG, CPF).\n- Verifique se os **dados principais** (nome, número) estão visíveis e legíveis.\n\n**3. Resultados de exames ou documentos clínicos**\n- Indique o tipo de exame ou documento.\n- **Não interprete resultados clínicos**, apenas informe o tipo e se está legível.\n\n**4. Outros tipos de imagem**\n- Se for uma **selfie, foto do corpo ou imagem estética**, identifique o tipo.\n- Informe se a imagem é **adequada para avaliação visual** (qualidade, iluminação).\n- **Nunca emita diagnóstico ou julgamento estético.** Apenas identifique a imagem.\n\n**5. Imagens ilegíveis ou sem contexto**\n> Se a imagem estiver embaçada, cortada ou fora de contexto, informe que está **ilegível ou sem clareza** e **sugira o reenvio.**",
          "imageUrls": "={{ $('extrairDadosUazapi').first().json.msg.urlMedia }}",
          "simplify": false,
          "options": {}
        },
        "id": "119756a4-a957-44fc-9de7-ea74224aeee2",
        "name": "transcreverImagemOpenai",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.6,
        "position": [
          -9264,
          2032
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1500,
        "credentials": {
          "openAiApi": {
            "id": "Ugq6gWB6qnLfgDP0",
            "name": "[OpenAi] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "17d5e2bb",
                "name": "msg",
                "value": "={{ $('transcreverImagemOpenai').item.json.choices[0].message.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -8928,
          2032
        ],
        "id": "cfed81c6-b64b-496d-9952-039bedd72ebb",
        "name": "capturarTextoImagem"
      },
      {
        "parameters": {
          "errorMessage": "Tipo de mensagem não suportado"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -9408,
          2192
        ],
        "id": "d39fe70e-ffea-40da-b653-a68bfd121384",
        "name": "pararErroMensagem"
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -8624,
          1840
        ],
        "id": "b209477e-b464-471c-b9d4-58de6899fbfd",
        "name": "unificarMensagensMulti"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d0da81cd",
                "name": "msg.conversa",
                "value": "={{ $('unificarMensagensMulti').item.json.msg }}",
                "type": "string"
              },
              {
                "id": "64446d4b",
                "name": "msg.identicacaoLead",
                "value": "={{ $('extrairDadosUazapi').first().json.msg.identicacaoLead }}",
                "type": "string"
              },
              {
                "id": "ed72d279",
                "name": "msg.numberLead",
                "value": "={{ $('extrairDadosUazapi').first().json.msg.numberLead }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -8416,
          1856
        ],
        "id": "04b4a440-aecf-4603-849a-ec83750920fc",
        "name": "estruturarMensagemBuffer"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $('estruturarMensagemBuffer').item.json.msg.numberLead }}",
          "messageData": "={{ $json.msg.conversa }}",
          "tail": true
        },
        "id": "6aa3d406-cfba-4feb-8726-f351c96099e5",
        "name": "enviarBufferRedis",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -8048,
          1632
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1000,
        "credentials": {
          "redis": {
            "id": "bB29oDoN6P0nc0vn",
            "name": "[Redis] - Agents"
          }
        }
      },
      {
        "parameters": {
          "amount": 2
        },
        "id": "0dde703e-9908-4c00-b7ba-80048a9a3ad9",
        "name": "aguardarMensagensEntrada",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -7840,
          1632
        ],
        "webhookId": "7806ff3e-0172-4811-afe3-ed33d340d77c",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "message",
          "key": "={{ $('estruturarMensagemBuffer').item.json.msg.numberLead }}",
          "keyType": "list",
          "options": {}
        },
        "id": "4bcf3895-81b6-4757-b678-d7dd0c33edcd",
        "name": "buscarMensagensRedis",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -8048,
          1952
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1000,
        "credentials": {
          "redis": {
            "id": "bB29oDoN6P0nc0vn",
            "name": "[Redis] - Agents"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "512bac58",
                "leftValue": "={{ $json.message.last() }}",
                "rightValue": "={{ $('aguardarMensagensEntrada').item.json.msg.conversa }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -7824,
          1952
        ],
        "id": "a596efd6-65c9-4873-8c38-6be534069001",
        "name": "verificarNovaMensagem"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5148f5a0",
                "name": "message",
                "value": "={{ $('buscarMensagensRedis').item.json.message.join('\\n') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -7520,
          1872
        ],
        "id": "09dc2604-22c7-4371-ac5f-ab0e6f307422",
        "name": "concatenarMensagensBuffer"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('estruturarMensagemBuffer').item.json.msg.numberLead }}"
        },
        "id": "5e119983-f025-426b-849d-a33dfb132c2f",
        "name": "limparBufferRedis",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -7296,
          1872
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 1000,
        "credentials": {
          "redis": {
            "id": "bB29oDoN6P0nc0vn",
            "name": "[Redis] - Agents"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -7328,
          2144
        ],
        "id": "563dd346-4632-4159-a162-51e9e819388b",
        "name": "nadaFazer"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8ec52fa2",
                "name": "msgLead",
                "value": "={{ $('concatenarMensagensBuffer').item.json.message }}",
                "type": "string"
              },
              {
                "id": "65fdfb70",
                "name": "identificadorLead",
                "value": "={{ $('extrairDadosUazapi').first().json.msg.identicacaoLead }}",
                "type": "string"
              },
              {
                "id": "6f897731",
                "name": "nomeUser",
                "value": "=As informações abaixo servem para personalizar suas respostas e evitar que você faça perguntas repetidas e manter a conversa coerente.\n\nNome do usuário: {{ $('buscarLeadCrm').item.json.Nome }}",
                "type": "string"
              },
              {
                "id": "9236f2a8",
                "name": "procedimento",
                "value": "=Procedimento que tem interesse: {{ $('buscarLeadCrm').item.json.Procedimento }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -7056,
          1872
        ],
        "id": "f156d375-11cd-4ee2-b9d4-f9fce521fa80",
        "name": "capturarContextoAtendimento"
      },
      {
        "parameters": {
          "jsCode": "const TZ = 'America/Sao_Paulo';\nconst pad = (n) => String(n).padStart(2, '0');\nconst nomes = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado'];\n\nfunction nowInTimeZone(timeZone) {\n  const dtf = new Intl.DateTimeFormat('en-CA', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  });\n\n  const parts = dtf.formatToParts(new Date());\n  const map = {};\n  for (const p of parts) {\n    if (p.type !== 'literal') map[p.type] = p.value;\n  }\n\n  return new Date(`${map.year}-${map.month}-${map.day}T${map.hour}:${map.minute}:${map.second}`);\n}\n\nconst now = nowInTimeZone(TZ);\n\nlet result = `Hoje é ${nomes[now.getDay()]}, ${pad(now.getDate())}/${pad(now.getMonth() + 1)}/${now.getFullYear()} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 7; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  const dia = pad(future.getDate());\n  const mes = pad(future.getMonth() + 1);\n  const ano = future.getFullYear();\n  const nomeDia = nomes[future.getDay()];\n\n  if (i === 1) {\n    result += `Amanhã é ${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  } else if (i === 2) {\n    result += `Depois de amanhã é ${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  } else {\n    result += `${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  }\n}\n\nreturn [{ json: { resultado: result.trim() } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -6768,
          1744
        ],
        "id": "3774c261-f40c-4b7d-94b5-08fe8ff62f4d",
        "name": "gerarProximosDias"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('capturarContextoAtendimento').item.json.msgLead }}\n\n\n{{ $('capturarContextoAtendimento').item.json.nomeUser }}\n{{ $('capturarContextoAtendimento').item.json.procedimento }}",
          "options": {
            "systemMessage": "=## IDENTIDADE\n-   Você é **Athena**, secretária da clínica de estética **RNB - Clinic Prime**.\n-   Fale sempre como uma pessoa real — nada de dizer que é assistente virtual ou inteligência artificial.\n-   A forma de se comunicar deve ser **elegante, acolhedora e sofisticada**, como se estivesse em uma conversa exclusiva com o paciente no WhatsApp da clínica.\n\n## SUA FUNÇÃO\n-   Você atende os pacientes **pelo WhatsApp**, podendo receber **mensagens de texto, áudios e imagens**.\n-   Seu papel é **acolher o paciente com empatia, criar conexão genuína e conduzir a conversa de forma elegante e natural até o agendamento da avaliação**.\n\n## TOM DE VOZ\n-   Comunique-se de forma **educada, gentil e sofisticada**, transmitindo exclusividade e cuidado genuíno.\n-   Transmita **atenção e interesse** em ajudar o paciente a entender o melhor caminho para o cuidado que ele busca.\n-   Use uma **linguagem elegante e acessível**, sempre correta gramaticalmente.\n    -   Evite gírias, abreviações ou informalidade excessiva.\n    -   Prefira formas que transmitam atenção personalizada:\n        -   \"será um prazer te ajudar com isso\"\n        -   \"vou verificar a melhor opção para você\"\n        -   \"posso te explicar com mais detalhes\"\n        -   \"vamos encontrar o caminho ideal para o seu caso\"\n-   **Nunca repita o nome do paciente durante a conversa.** Após coletar o nome, trate a pessoa de forma próxima e acolhedora, mas sem repetir o nome.\n-   Sempre responda com mensagens curtas com no máximo 40 palavras.\n-   Use frases curtas e objetivas.\n-   **Demonstre empatia real** — sempre mostre que você entendeu o que a pessoa disse antes de responder.\n-   Emojis podem ser usados com parcimônia, no máximo **um por mensagem**, priorizando os que transmitem sofisticação e cuidado: ✨🤍🌿💎🕊️\n\n## FLUXO DE ATENDIMENTO\n**Etapa 1 — Apresentação e acolhimento**\n-   Inicie se apresentando como Athena, secretária da RNB - Clinic Prime e peça o nome da pessoa.\n- Exemplo: _\"Olá, tudo bem? Eu sou a Athena, secretária da RNB - Clinic Prime. Posso saber seu nome?\"_\n\n**Etapa 2 — Interesse do paciente**\n-   Após coletar o nome, ofereça os atalhos de ação do menu inicial:\n\n    1️⃣ Conhecer nossos tratamentos\n    2️⃣ Agendar uma avaliação gratuita\n    3️⃣ Falar com a equipe\n\n-   Exemplo: _\"Prazer, [nome]! Como posso te ajudar hoje? ✨\"_ seguido das opções numeradas acima.\n\n- Se o paciente já tiver dito o que deseja na primeira mensagem (ex: \"quero saber sobre botox\"), pule direto para o **fluxo de procedimento e serviços**, sem mostrar o menu.\n\n## FLUXO PROCEDIMENTOS E SERVIÇOS\n\n### Etapa 3 — Criar rapport e entender o interesse\n\n-   Quando o paciente mencionar **um tratamento, tecnologia, categoria ou objetivo estético**, registre o que ele disse e demonstre interesse genuíno.\n-   Se o paciente escolheu a opção 1️⃣ do menu inicial ou disse que quer conhecer tratamentos sem especificar, apresente as **categorias de tratamento** com atalhos:\n\n    1️⃣ Tratamentos faciais\n    2️⃣ Tratamentos corporais\n    3️⃣ Emagrecimento estético\n    4️⃣ Depilação a laser\n\n-   Se o paciente já mencionou um tratamento específico, **NÃO mostre as categorias** — siga direto para o rapport.\n-   Faça **no máximo duas perguntas**, sempre **uma por vez** — envie a primeira, espere a resposta e só então envie a segunda.\n-   As perguntas devem ser **elegantes, personalizadas e estratégicas**, ajudando a entender melhor o caso. Exemplo:\n    -   **Região de interesse** (rosto, abdômen, pernas etc.)\n    -   **Experiência prévia** (já realizou algo parecido?)\n    -   **Expectativa de resultado** (o que espera alcançar?)\n-   O objetivo é **aprofundar o vínculo** e coletar informações úteis para a próxima etapa.\n\n### Etapa 4 — Acionar a tool e explicar o tratamento\n\n-   Depois de entender o caso, **use a tool toolExplicarProcedimentos** para responder sobre o procedimento ou tecnologia mencionada.\n-   Envie **todo o contexto relevante**, incluindo o que o paciente busca, dúvidas, histórico e expectativas.\n-   Com base na resposta da tool:\n    -   Explique o tratamento de forma **elegante, personalizada e acessível**, destacando os **benefícios e resultados**.\n    -   Se o paciente citar **um procedimento que a clínica não oferece**, mas houver **outro tratamento que atenda ao mesmo objetivo**, apresente essa opção de forma natural e faça uma pergunta para ele se conhece.\n-   Sempre finalize com **uma pergunta contextual**, mantendo a conversa ativa:\n    -   Se o paciente ainda estiver explorando → faça **uma pergunta elegante de rapport** (ex: \"Você já teve a oportunidade de experimentar algo similar?\").\n    -   Se o paciente demonstrar interesse claro → avance para a próxima etapa (explicação da avaliação presencial).\n\n### Etapa 5 — Explicar a avaliação presencial\n\n-   Mostre que a **avaliação é gratuita** e é o **próximo passo natural** após entender o caso do paciente.\n-   Explique de forma sofisticada que ela é feita por **uma profissional qualificada**, que avalia individualmente, entende o objetivo do paciente e monta um **plano de cuidado personalizado**.\n-   Reforce que essa etapa é importante para **garantir resultados reais e seguros**, e que o paciente pode **iniciar o tratamento no mesmo dia**, se desejar.\n-   Finalize de forma persuasiva e motivadora, perguntando diretamente qual dia e horário o paciente prefere para realizar a avaliação.\n\n### Etapa 6 — Verificação de Disponibilidade do Horário\n- Após o paciente informar o dia e horário desejado, acione a tool **toolVerificarAgenda** com a intenção de verificar a disponibilidade da data/hora.\n   - *Exemplo: \"Favor verificar disponibilidade de horário para o paciente João no sábado dia 25/11 às 10h para o procedimento Botox e Criolipólise\"*\n - **Importante:** Nessa etapa, nunca acione a tool com a intenção de marcar a consulta — apenas para **verificar a disponibilidade da data/hora**.\n- Se o horário estiver indisponível:\n  - Informe ao paciente e peça outra opção de dia/horário.\n- Se o horário estiver disponível:\n  - Vá para a **Etapa 7** para explicar sobre a confirmação do horário.\n\n**Importante:**\n- Caso o paciente não fale o dia e horário e perguntar **quais horários estão disponíveis**, não liste horários e nem busque na tool \"toolVerificarAgenda\", faça isso:\n   -   Responda de volta ao paciente, pedindo que ele **informe o dia e horário** que prefere, pois fica mais fácil de verificar disponibilidade na agenda.\n        -   Exemplo de mensagem: _\"Para facilitar, poderia me informar **qual dia e horário** seria mais conveniente para você? Assim verifico a disponibilidade na agenda ✨\"_\n\n### Etapa 7 - Confirmação da Reserva\nApós validar a disponibilidade do horário:\n  - Confirme para o paciente que o horário esta livre para agendamento.\n  - Depois informe que para garantir o agendamento, você precisa do **nome completo** dele.\n     - Exemplo: _\"Excelente! O dia e horário que você indicou está disponível. Poderia me informar seu nome completo para que eu finalize o agendamento?\"_\n\n### Etapa 8 - Confirmação de reserva\n-  Após o paciente informar o nome completo dele, apresente um resumo e peça confirmação com atalhos:\n\n   _\"Vou confirmar sua avaliação: [procedimento], [dia e horário], no nome de [nome completo].\"_\n\n   1️⃣ Confirmar agendamento\n   2️⃣ Alterar dia ou horário\n\n-  Se o paciente confirmar (responder \"1\", \"confirmar\" ou equivalente), acione a tool **toolVerificarAgenda** com a intenção de marcar o horário.\n       - Exemplo: _\"Por favor, marque agora na agenda a avaliação do paciente João Silva para segunda dia 12/05 às 15hrs. Ele deseja realizar o procedimento de Botox e Criolipólise.\"_\n-  Se o paciente quiser alterar (responder \"2\" ou equivalente), pergunte qual dia e horário prefere e volte à **Etapa 6**.\n\n## ATALHOS DE AÇÃO (HOTKEYS)\n\nEm momentos específicos de decisão, ofereça opções numeradas em linhas separadas para facilitar a resposta do paciente.\n\n### Regras dos atalhos:\n- Use 1️⃣ 2️⃣ 3️⃣ 4️⃣ (os emojis numerados dos atalhos NÃO contam no limite de 1 emoji por mensagem).\n- As linhas de atalho NÃO contam no limite de 40 palavras.\n- Se o paciente responder apenas com o número, interprete como a opção correspondente da sua **ÚLTIMA mensagem que continha atalhos**.\n- Ao receber apenas um número, SEMPRE interprete como referência à **ÚLTIMA lista que você apresentou** — nunca a listas anteriores da conversa.\n- Se o paciente responder com texto livre, siga normalmente ignorando os números.\n- Máximo de **4 opções** por mensagem.\n\n### Quando incluir atalhos:\n- Após coletar o nome → **menu inicial** (conhecer tratamentos / agendar avaliação / falar com equipe)\n- Quando o paciente quer explorar sem especificar → **categorias de tratamento** (facial / corporal / emagrecimento / depilação)\n- Após explicar procedimento e paciente demonstrar interesse → **próximo passo** (1️⃣ Agendar avaliação gratuita  2️⃣ Conhecer outro tratamento)\n- Confirmação de agendamento → **confirmar ou alterar** (1️⃣ Confirmar agendamento  2️⃣ Alterar dia ou horário)\n\n### Quando NÃO incluir atalhos:\n- Na mensagem de apresentação (antes de coletar nome)\n- Durante rapport ou coleta de informações (queixas, expectativas, região de interesse)\n- Durante explicação de procedimento ou tratamento\n- Durante quebra de objeções ou inseguranças\n- Quando o paciente já disse exatamente o que quer fazer\n- Em confirmações curtas ou conversacionais\n- Quando o paciente está fazendo perguntas específicas\n\n### ⚠️ REGRA CRÍTICA: Resolver escolhas ANTES de chamar tools\n\nQuando o paciente responder com um número referente a uma lista que você apresentou, você DEVE resolver esse número para o valor real ANTES de chamar qualquer tool.\n\n**Exemplos:**\n\nSe você mostrou:\n1️⃣ Tratamentos faciais\n2️⃣ Tratamentos corporais\n3️⃣ Emagrecimento estético\n4️⃣ Depilação a laser\n\nE o paciente respondeu \"1\"\n→ Passe para a toolExplicarProcedimentos: \"O paciente deseja conhecer os tratamentos faciais disponíveis na clínica\"\n→ NUNCA passe: \"opção 1 escolhida pelo paciente\" ou \"categoria selecionada\"\n\nSe você mostrou:\n1️⃣ Confirmar agendamento\n2️⃣ Alterar dia ou horário\n\nE o paciente respondeu \"1\"\n→ Acione a toolVerificarAgenda com dados concretos: \"Marcar avaliação do paciente João Silva para segunda dia 12/05 às 15h, procedimento Botox\"\n→ NUNCA passe: \"paciente confirmou a opção 1\"\n\n**Regra:** As tools NÃO têm acesso à sua conversa. Elas não sabem qual lista você mostrou. Você DEVE enviar dados concretos (nomes de tratamento, datas, horários, procedimentos), nunca referências vagas.\n\n## REGRAS DE ATENDIMENTO\n\n-   **NUNCA envie mensagens de espera** como \"peço um momento\", \"vou verificar\", \"já retorno com informações\", \"deixa eu consultar\" ou similares. Quando precisar acionar uma tool, acione-a silenciosamente e entregue a resposta COMPLETA com as informações retornadas. O paciente NÃO deve perceber que você está consultando ferramentas internas. Sua resposta deve conter SEMPRE o conteúdo final, nunca a narração da ação que você está executando.\n-   Sempre **inicie a conversa se apresentando e coletando o nome do paciente**. Nenhuma informação deve ser passada antes disso.\n-   **Jamais explique qualquer procedimento ou protocolo sem antes acionar a tool toolExplicarProcedimentos**, mesmo que o paciente já tenha mencionado o nome.\n-   Nunca invente respostas ou adapte procedimentos por conta própria — sempre utilize a tool toolExplicarProcedimentos para garantir precisão.\n-   Nunca use perguntas genéricas como _\"quer saber mais?\"_, _\"posso te explicar melhor?\"_, _\"quer que eu te conte como funciona?\"_ ou semelhantes.\n-   A explicação sobre a **avaliação** deve ser personalizada com base na conversa anterior e sempre deve finalizar com uma **pergunta direta** convidando para agendar.\n-   Sempre que o paciente tiver **objeção ou insegurança** sobre o procedimento (valor, resultado, dor, duração, segurança, etc.), **acionar obrigatoriamente a toolExplicarProcedimentos** com o contexto completo da fala.\n-   Sempre que houver **objeção ou dúvida** sobre a **clínica, equipe ou credibilidade**, **acionar obrigatoriamente a toolInformarClinica** com o contexto completo.\n-  Para enviar endereço, link do Google maps, instagram, site ou qualquer outra informação institucional da clinica, **obrigatoriamente** acione a tool toolInformarClinica.\n      - Jamais responda por conta própria.\n\n## TOOLS DISPONÍVEIS\n\n### Tool: **toolExplicarProcedimentos**\n\n**Quando usar:**\n-   Quando o paciente **não souber o nome do procedimento** e quiser saber o que pode fazer para determinada queixa ou objetivo.\n-   Quando o paciente **mencionar um procedimento ou categoria** (ex: rejuvenescimento, emagrecimento, bem-estar) e quiser saber como funciona.\n-   Quando precisar **explicar um procedimento ou protocolo**.\n-   Quando houver **dúvidas, objeções ou perguntas sobre os procedimentos** (ex: \"vale a pena?\", \"tem dor?\", \"é seguro?\", \"qual a diferença entre X e Y?\", \"qual o preço\", etc).\n-   Quando o paciente perguntar sobre **resultados, quantas sessões, tempo de efeito, valores, promoções ou formas de pagamento dos procedimentos**.\n-   Quando precisar gerar **perguntas de rapport** personalizadas para criar conexão durante o atendimento.\n\n**Quando não usar:**\n-   Para assuntos institucionais (ex: localização da clínica, horário de atendimento, redes sociais, equipe etc) → usar a tool **toolInformarClinica**.\n-   Para agendamento → usar a tool **toolVerificarAgenda**.\n\n### Tool: **toolInformarClinica**\n\n**Quando usar:**\n-   Quando o paciente perguntar sobre **localização da clínica, endereço, link Google Maps, horário de funcionamento, canais oficiais (site, Instagram)**.\n-   Quando houver **objeções sobre a clínica** (ex: \"é confiável?\", \"quem são os profissionais?\", \"é seguro?\", \"já atendeu muita gente?\", etc).\n-   Para dúvidas sobre **estrutura, equipamentos, avaliações no Google, tempo de mercado ou diferenciais da clínica como empresa**.\n\n**Quando não usar:**\n-   Para qualquer explicação sobre **procedimentos, protocolos, valores ou tratamentos** → usar a tool **toolExplicarProcedimentos**.\n-   Para agendamento → usar a tool **toolVerificarAgenda**.\n\n### Tool: **toolVerificarAgenda**\n\n**Quando usar:**\n-   Para **verificar disponibilidade de datas e horários** para avaliação.\n-   Para **confirmar agendamentos** após o paciente dizer que deseja marcar.\n-   Sempre **informe o nome completo do paciente e o contexto** (ex: tipo de protocolo ou categoria de interesse).\n\n**Importante:**\n- Para marcar qualquer avaliação você deve sempre coletar o nome completo do paciente e o procedimento que ele tem interesse.\n\n**Quando não usar:**\n-   Antes do paciente dar um **\"sim\" claro** para a avaliação.\n-   Para responder perguntas sobre tratamentos ou a clínica — use **toolExplicarProcedimentos** ou **toolInformarClinica** conforme o caso.\n\n## DATA E HORA ATUALIZADOS\n\nPara efeito de contexto durante as suas conversas segue a data e hora de hoje e os próximos dias:\n{{ $json.resultado }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          -5952,
          1744
        ],
        "id": "4ae569b1-c43f-4fc4-9b00-4430711de000",
        "name": "assistenteAthenaSecretaria",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -6192,
          1984
        ],
        "id": "f4ef8f3d-c692-4807-912e-a37a88b0259b",
        "name": "modeloGpt41Mini",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1500,
        "credentials": {
          "openAiApi": {
            "id": "Ugq6gWB6qnLfgDP0",
            "name": "[OpenAi] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('capturarContextoAtendimento').item.json.identificadorLead }}",
          "tableName": "clin_chat_histories",
          "contextWindowLength": 80
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          -6064,
          1984
        ],
        "id": "6d0aa8b6-d3bd-4b9a-b77a-4c009fa8baad",
        "name": "memoriaConversaAthena",
        "credentials": {
          "postgres": {
            "id": "lYJd0K4KbtjQBOZi",
            "name": "[Postgres] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "description": "=**Quando usar:**\n- Quando o paciente mencionar procedimentos ou tratamentos.\n- Quando precisar explicar um procedimento.\n- Para dúvidas ou objeções sobre procedimentos.",
          "workflowId": {
            "__rl": true,
            "value": "N1eXrn4LfURLIQmn",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "MsgLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('MsgLead', `Coloque aqui a duvida do paciente.`, 'string') }}",
              "identificador Lead": "={{ $('capturarContextoAtendimento').item.json.identificadorLead }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "MsgLead",
                "displayName": "MsgLead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "identificador Lead",
                "displayName": "identificador Lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -5648,
          2112
        ],
        "id": "382edce6-6acd-4321-a5e1-f052f4102b45",
        "name": "toolExplicarProcedimentos",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1tT4aCGvRZNHWfoccL2RTuVHD-zlRPhP9dVqXh6M0jcs",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 1619477594,
            "mode": "list",
            "cachedResultName": "infoTool",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tT4aCGvRZNHWfoccL2RTuVHD-zlRPhP9dVqXh6M0jcs/edit#gid=1619477594"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          -5504,
          2112
        ],
        "id": "5b369ba4-31a5-444a-9c40-7c1d34a0e1c6",
        "name": "toolInformarClinica",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 1500,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "KIM9Z8S69kIM7Ztk",
            "name": "[Google Sheets] - acessos@"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "name": "toolVerificarAgenda",
          "description": "=**Quando usar:**\n- Para verificar disponibilidade de datas e horários.\n- Para confirmar agendamentos.",
          "workflowId": {
            "__rl": true,
            "value": "R1SjhOTLRMNKuqVm",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "msgLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('msgLead', `Mensagem com contexto geral.`, 'string') }}",
              "identificador Lead": "={{ $('capturarContextoAtendimento').item.json.identificadorLead }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "identificador Lead",
                "displayName": "identificador Lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "msgLead",
                "displayName": "msgLead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.1,
        "position": [
          -5376,
          2112
        ],
        "id": "cc544594-d482-412b-b0aa-b45e6290456d",
        "name": "toolVerificarAgenda",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4499d032",
                "name": "messageAgent",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5104,
          1744
        ],
        "id": "0ead803e-7c2e-46d6-8c55-9831c4261fca",
        "name": "prepararMensagemAgent"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Quebre a mensagem abaixo com base e regras das suas informações de sistema e tire toda a formatação markdown. Jamais faça comentários adicionais.\n\nA mensagem:\n\n{{ $('prepararMensagemAgent').item.json.messageAgent }}",
          "options": {
            "systemMessage": "=## Quem é você\nVocê é um renomado e experiente assistente de formatação de mensagens dentro da automação do N8N. Seu objetivo é quebrar as mensagens longas em partes menores, sem alterar o conteúdo original e sem mudar nenhuma palavra sequer. Além disso, você deve remover qualquer formatação em Markdown, deixando o texto completamente limpo e sem estilos.\n\n## Sua função\nSua única função é dividir respostas longas em trechos curtos, mantendo o significado e a estrutura original do texto. Você não altera palavras, não muda sinônimos e não interpreta o conteúdo. Você apenas insire duas quebras de linha onde necessário para melhorar a fluidez da conversa.\n\n## Regras\n1- Não modifique o texto: Apenas divida as mensagens, sem alterar palavras, sinônimos ou reescrever frases.\n2- Mantenha frases completas: Nunca quebre no meio de uma palavra ou ideia. Sempre finalize a frase antes da quebra.\n3- Limite de caracteres: Divida a resposta em partes de no máximo 80 caracteres (ou outro limite que você preferir).\n4- Use duas quebras de linha. Sempre que precisar dividir uma mensagem, insira um \\n entre os trechos.\n5- Não remova formatações: Se a resposta tiver negrito, emojis ou caracteres especiais, mantenha tudo intacto.\n6- Se a mensagem estiver menos do que 80 caracteres, não divida. Apenas insira quebras se a mensagem ultrapassar o limite definido.\n7- Se a resposta tiver uma lista (bullets - ou •), cada item deve ser quebrado em uma linha separada. O restante do texto segue o critério normal de limite de caracteres.\n8- Nunca inclua mensagens ou comentário adicionais.\n9- Nunca corte o texto depois da virgula.\n10- Remova completamente qualquer formatação em Markdown, deixando o texto totalmente limpo, sem negrito, itálico, listas, cabeçalhos ou qualquer outro tipo de estilização."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          -4880,
          1744
        ],
        "id": "fe7319a5-d340-4acc-8d29-5845e68f5ebb",
        "name": "dividirRespostaLimpa",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -4880,
          1936
        ],
        "id": "5227184c-ecce-47ff-bc0f-c5b8a45b7017",
        "name": "modeloOpenaiQuebraTexto",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1500,
        "credentials": {
          "openAiApi": {
            "id": "Ugq6gWB6qnLfgDP0",
            "name": "[OpenAi] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const mensagensTexto = $input.first().json.output || \"\";\n\nif (typeof mensagensTexto !== \"string\" || !mensagensTexto.trim()) {\n  return [];\n}\n\nconst textoCorrigido = mensagensTexto.replace(/\\\\n/g, \"\\n\");\n\nconst mensagensArray = textoCorrigido\n  .split(/\\n/)\n  .map(line => line.trim())\n  .filter(line => line.length > 0);\n\nreturn mensagensArray.map(msg => ({ json: { output: msg } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4512,
          1744
        ],
        "id": "26a31d69-e073-4b13-a459-20087b6ed947",
        "name": "formatarMensagensTexto"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -4224,
          1744
        ],
        "id": "ff20101f-5c9d-46ca-8943-4551ef842169",
        "name": "separarMensagensAgent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -3984,
          1744
        ],
        "id": "253eb72c-7a30-4f0c-aeb6-092cb9cccfbe",
        "name": "processarMensagensPorLote"
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -3536,
          1904
        ],
        "id": "47af6528-1f55-4476-8fa2-f8c5af082d1a",
        "name": "aguardarDoisSegundos",
        "webhookId": "e995a06c-8096-49e9-9964-862b97d2a4ef"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "AxC91tA0FIIIOY3P",
            "mode": "id",
            "cachedResultUrl": "/workflow/AxC91tA0FIIIOY3P"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "idLead": "={{ $('capturarContextoAtendimento').item.json.identificadorLead }}",
              "numberLead": "={{ $('capturarContextoAtendimento').item.json.identificadorLead.split('@')[0] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "idLead",
                "displayName": "idLead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "numberLead",
                "displayName": "numberLead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -3120,
          1744
        ],
        "id": "5d153325-e5cd-4f22-b19e-ae632a3b4935",
        "name": "crm",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "number": "={{ $('extrairDadosUazapi').first().json.msg.numberLead }}",
          "text": "={{ $json.output }}"
        },
        "type": "n8n-nodes-uazapi.uazApi",
        "typeVersion": 1,
        "position": [
          -3744,
          1856
        ],
        "id": "e16178d4-9895-4c34-8bba-f219570996cc",
        "name": "sendTextMessage",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "uazApiApi": {
            "id": "X1fMx33cYe40m5dN",
            "name": "[UazAPI] - Clinic"
          }
        }
      },
      {
        "parameters": {
          "content": "# ADM",
          "height": 296,
          "width": 744,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -6272,
          1168
        ],
        "typeVersion": 1,
        "id": "72cb4080-f97c-4c2d-8bb7-b517f4c95976",
        "name": "notaAdm"
      },
      {
        "parameters": {
          "operation": "deleteTable",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "clin_chat_histories",
            "mode": "list",
            "cachedResultName": "clin_chat_histories"
          },
          "deleteCommand": "delete",
          "where": {
            "values": [
              {
                "column": "session_id",
                "value": "558888136242@s.whatsapp.net"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -6208,
          1280
        ],
        "id": "0ba13220-8629-4f83-a7a5-78a7a81c1830",
        "name": "limparHistoricoChat",
        "credentials": {
          "postgres": {
            "id": "lYJd0K4KbtjQBOZi",
            "name": "[Postgres] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "558888136242@s.whatsapp.net"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -5744,
          1280
        ],
        "id": "8e88906f-cdbd-4756-98e3-555d575ebb94",
        "name": "limparCacheWhatsapp",
        "credentials": {
          "redis": {
            "id": "bB29oDoN6P0nc0vn",
            "name": "[Redis] - Agents"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "clin_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "Identificador do usuario",
                "condition": "eq",
                "keyValue": "=558888136242@s.whatsapp.net"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -5968,
          1280
        ],
        "id": "a3e64faa-ee71-4b0b-8313-b119459f85fe",
        "name": "apagarDadosCrm",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "lPqw6Aku7HwsgBAG",
            "name": "[Supabase] - acessos@"
          }
        }
      },
      {
        "parameters": {
          "content": "# Filtrar mensagens (Uazapi)",
          "height": 840,
          "width": 796
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -11328,
          1504
        ],
        "typeVersion": 1,
        "id": "dc8152d1-a440-4ddf-84bb-63cc52404a1b",
        "name": "notaFiltrarMensagem"
      },
      {
        "parameters": {
          "content": "# Validar e cadastrar lead no CRM",
          "height": 840,
          "width": 784,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -10480,
          1504
        ],
        "typeVersion": 1,
        "id": "04366ef4-ce40-49f9-84ab-5d450a4ac805",
        "name": "notaValidarLeadCrm"
      },
      {
        "parameters": {
          "content": "# Tratamento de Mensagem: Texto, Imagem ou Áudio",
          "height": 840,
          "width": 1440,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -9664,
          1504
        ],
        "typeVersion": 1,
        "id": "1115d789-9833-4af5-8f26-cd35cd1ded2a",
        "name": "notaTratamentoMensagem"
      },
      {
        "parameters": {
          "content": "# Buffer de mensagens (Redis)",
          "height": 840,
          "width": 1280
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -8176,
          1504
        ],
        "typeVersion": 1,
        "id": "e6b3f017-7d77-4a08-a4fd-36b9ace73fcf",
        "name": "notaBufferMensagens"
      },
      {
        "parameters": {
          "content": "# Secretária Athena - RNB Clinic Prime",
          "height": 816,
          "width": 1276,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -6480,
          1504
        ],
        "typeVersion": 1,
        "id": "778d3556-f5d0-48b1-b57b-cea56837dc8f",
        "name": "notaSecretariaAthena"
      },
      {
        "parameters": {
          "content": "## TOOLS:",
          "height": 232,
          "width": 432
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -5680,
          2016
        ],
        "typeVersion": 1,
        "id": "b3666a5a-2257-4f68-a453-d300eabbd72e",
        "name": "notaTools"
      },
      {
        "parameters": {
          "content": "# Gerar contexto de datas",
          "height": 460,
          "width": 300,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -6848,
          1504
        ],
        "typeVersion": 1,
        "id": "6c957494-a98d-48df-bb80-c37c107eacbc",
        "name": "notaDatas"
      },
      {
        "parameters": {
          "content": "# Quebra resposta e remove markdown",
          "height": 560,
          "width": 812,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -5152,
          1552
        ],
        "typeVersion": 1,
        "id": "864107bf-c70c-437c-8ada-4ce4eeef848b",
        "name": "notaQuebraResposta"
      },
      {
        "parameters": {
          "content": "# Envio sequencial via Uazapi",
          "height": 560,
          "width": 980,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -4304,
          1552
        ],
        "typeVersion": 1,
        "id": "fb504a0e-fbbf-4dad-892c-3bb94992f71d",
        "name": "notaEnvioSequencial"
      },
      {
        "parameters": {
          "content": "# Atualizar CRM",
          "height": 560,
          "width": 340,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -3232,
          1552
        ],
        "typeVersion": 1,
        "id": "6f379969-9720-4a1a-90fa-4fd6203225dd",
        "name": "notaCrm"
      }
    ],
    "connections": {
      "receberWebhookUazapi": {
        "main": [
          [
            {
              "node": "validarPayload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "validarPayload": {
        "main": [
          [
            {
              "node": "filtroNumeroPermitido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "filtroNumeroPermitido": {
        "main": [
          [
            {
              "node": "filtrarMensagemEntrada",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "nadaFazerWebhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "filtrarMensagemEntrada": {
        "main": [
          [
            {
              "node": "nadaFazerWebhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "nadaFazerWebhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "nadaFazerWebhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "extrairDadosUazapi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extrairDadosUazapi": {
        "main": [
          [
            {
              "node": "buscarLeadCrm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "buscarLeadCrm": {
        "main": [
          [
            {
              "node": "roteamentoUsuarioCrm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "roteamentoUsuarioCrm": {
        "main": [
          [
            {
              "node": "roteamentoTipoMensagem",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "cadastrarNovoLead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cadastrarNovoLead": {
        "main": [
          [
            {
              "node": "roteamentoTipoMensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "roteamentoTipoMensagem": {
        "main": [
          [
            {
              "node": "baixarAudioWhatsapp",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "registrarTextoConvertido",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "transcreverImagemOpenai",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "pararErroMensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "baixarAudioWhatsapp": {
        "main": [
          [
            {
              "node": "transcreverAudioOpenai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "transcreverAudioOpenai": {
        "main": [
          [
            {
              "node": "capturarTextoAudio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "capturarTextoAudio": {
        "main": [
          [
            {
              "node": "unificarMensagensMulti",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "registrarTextoConvertido": {
        "main": [
          [
            {
              "node": "unificarMensagensMulti",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "transcreverImagemOpenai": {
        "main": [
          [
            {
              "node": "capturarTextoImagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "capturarTextoImagem": {
        "main": [
          [
            {
              "node": "unificarMensagensMulti",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "unificarMensagensMulti": {
        "main": [
          [
            {
              "node": "estruturarMensagemBuffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "estruturarMensagemBuffer": {
        "main": [
          [
            {
              "node": "enviarBufferRedis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "enviarBufferRedis": {
        "main": [
          [
            {
              "node": "aguardarMensagensEntrada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "aguardarMensagensEntrada": {
        "main": [
          [
            {
              "node": "buscarMensagensRedis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "buscarMensagensRedis": {
        "main": [
          [
            {
              "node": "verificarNovaMensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "verificarNovaMensagem": {
        "main": [
          [
            {
              "node": "concatenarMensagensBuffer",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "nadaFazer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "concatenarMensagensBuffer": {
        "main": [
          [
            {
              "node": "limparBufferRedis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "limparBufferRedis": {
        "main": [
          [
            {
              "node": "capturarContextoAtendimento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "capturarContextoAtendimento": {
        "main": [
          [
            {
              "node": "gerarProximosDias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gerarProximosDias": {
        "main": [
          [
            {
              "node": "assistenteAthenaSecretaria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "assistenteAthenaSecretaria": {
        "main": [
          [
            {
              "node": "prepararMensagemAgent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "modeloGpt41Mini": {
        "ai_languageModel": [
          [
            {
              "node": "assistenteAthenaSecretaria",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "memoriaConversaAthena": {
        "ai_memory": [
          [
            {
              "node": "assistenteAthenaSecretaria",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "toolExplicarProcedimentos": {
        "ai_tool": [
          [
            {
              "node": "assistenteAthenaSecretaria",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "toolInformarClinica": {
        "ai_tool": [
          [
            {
              "node": "assistenteAthenaSecretaria",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "toolVerificarAgenda": {
        "ai_tool": [
          [
            {
              "node": "assistenteAthenaSecretaria",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "prepararMensagemAgent": {
        "main": [
          [
            {
              "node": "dividirRespostaLimpa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "dividirRespostaLimpa": {
        "main": [
          [
            {
              "node": "formatarMensagensTexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "modeloOpenaiQuebraTexto": {
        "ai_languageModel": [
          [
            {
              "node": "dividirRespostaLimpa",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "formatarMensagensTexto": {
        "main": [
          [
            {
              "node": "separarMensagensAgent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "separarMensagensAgent": {
        "main": [
          [
            {
              "node": "processarMensagensPorLote",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "processarMensagensPorLote": {
        "main": [
          [
            {
              "node": "crm",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "sendTextMessage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "aguardarDoisSegundos": {
        "main": [
          [
            {
              "node": "processarMensagensPorLote",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "sendTextMessage": {
        "main": [
          [
            {
              "node": "aguardarDoisSegundos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "RNB Soluções",
    "name": "Version 1f90c494",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "1f90c494-dfd6-4282-be73-92fd22e1cb7f",
  "connections": {
    "receberWebhookUazapi": {
      "main": [
        [
          {
            "node": "validarPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validarPayload": {
      "main": [
        [
          {
            "node": "filtroNumeroPermitido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtroNumeroPermitido": {
      "main": [
        [
          {
            "node": "filtrarMensagemEntrada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nadaFazerWebhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrarMensagemEntrada": {
      "main": [
        [
          {
            "node": "nadaFazerWebhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nadaFazerWebhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nadaFazerWebhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "extrairDadosUazapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrairDadosUazapi": {
      "main": [
        [
          {
            "node": "buscarLeadCrm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarLeadCrm": {
      "main": [
        [
          {
            "node": "roteamentoUsuarioCrm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "roteamentoUsuarioCrm": {
      "main": [
        [
          {
            "node": "roteamentoTipoMensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrarNovoLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrarNovoLead": {
      "main": [
        [
          {
            "node": "roteamentoTipoMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "roteamentoTipoMensagem": {
      "main": [
        [
          {
            "node": "baixarAudioWhatsapp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "registrarTextoConvertido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "transcreverImagemOpenai",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pararErroMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixarAudioWhatsapp": {
      "main": [
        [
          {
            "node": "transcreverAudioOpenai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreverAudioOpenai": {
      "main": [
        [
          {
            "node": "capturarTextoAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capturarTextoAudio": {
      "main": [
        [
          {
            "node": "unificarMensagensMulti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrarTextoConvertido": {
      "main": [
        [
          {
            "node": "unificarMensagensMulti",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "transcreverImagemOpenai": {
      "main": [
        [
          {
            "node": "capturarTextoImagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capturarTextoImagem": {
      "main": [
        [
          {
            "node": "unificarMensagensMulti",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "unificarMensagensMulti": {
      "main": [
        [
          {
            "node": "estruturarMensagemBuffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estruturarMensagemBuffer": {
      "main": [
        [
          {
            "node": "enviarBufferRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviarBufferRedis": {
      "main": [
        [
          {
            "node": "aguardarMensagensEntrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aguardarMensagensEntrada": {
      "main": [
        [
          {
            "node": "buscarMensagensRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarMensagensRedis": {
      "main": [
        [
          {
            "node": "verificarNovaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificarNovaMensagem": {
      "main": [
        [
          {
            "node": "concatenarMensagensBuffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nadaFazer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concatenarMensagensBuffer": {
      "main": [
        [
          {
            "node": "limparBufferRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limparBufferRedis": {
      "main": [
        [
          {
            "node": "capturarContextoAtendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capturarContextoAtendimento": {
      "main": [
        [
          {
            "node": "gerarProximosDias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gerarProximosDias": {
      "main": [
        [
          {
            "node": "assistenteAthenaSecretaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assistenteAthenaSecretaria": {
      "main": [
        [
          {
            "node": "prepararMensagemAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modeloGpt41Mini": {
      "ai_languageModel": [
        [
          {
            "node": "assistenteAthenaSecretaria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memoriaConversaAthena": {
      "ai_memory": [
        [
          {
            "node": "assistenteAthenaSecretaria",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "toolExplicarProcedimentos": {
      "ai_tool": [
        [
          {
            "node": "assistenteAthenaSecretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "toolInformarClinica": {
      "ai_tool": [
        [
          {
            "node": "assistenteAthenaSecretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "toolVerificarAgenda": {
      "ai_tool": [
        [
          {
            "node": "assistenteAthenaSecretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prepararMensagemAgent": {
      "main": [
        [
          {
            "node": "dividirRespostaLimpa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dividirRespostaLimpa": {
      "main": [
        [
          {
            "node": "formatarMensagensTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modeloOpenaiQuebraTexto": {
      "ai_languageModel": [
        [
          {
            "node": "dividirRespostaLimpa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "formatarMensagensTexto": {
      "main": [
        [
          {
            "node": "separarMensagensAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separarMensagensAgent": {
      "main": [
        [
          {
            "node": "processarMensagensPorLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "processarMensagensPorLote": {
      "main": [
        [
          {
            "node": "crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sendTextMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aguardarDoisSegundos": {
      "main": [
        [
          {
            "node": "processarMensagensPorLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sendTextMessage": {
      "main": [
        [
          {
            "node": "aguardarDoisSegundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-04T14:19:36.170Z",
  "id": "9JkiG1jfihrHUuO2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Athena Secretária — RNB Clinic Prime v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "athena-v2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -11776,
        1904
      ],
      "id": "04748b53-9cc3-4166-983f-e497556d93dd",
      "name": "receberWebhookUazapi",
      "webhookId": "605a7ec4-4931-4aa9-a8e4-6bf60663e49b"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body?.message?.chatid || !body?.message?.messageTimestamp) {\n  throw new Error(`Payload Uazapi inválido: ${JSON.stringify(body || {}).slice(0, 200)}`);\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11568,
        1712
      ],
      "id": "64778cb1-b6cb-462a-8801-d4a55dc184ac",
      "name": "validarPayload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "98931498-7212-4c21-afb5-193cc7498fdb",
              "leftValue": "={{ $json.body.message.sender_pn }}",
              "rightValue": "558888136242@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b628c4f2-9e90-4330-8ab1-1a796d881d06",
              "leftValue": "={{ $json.body.message.sender_pn }}",
              "rightValue": "5518997913488@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6390a602-43c0-46ef-9a50-d34f8350c195",
              "leftValue": "={{ $json.body.message.sender_pn }}",
              "rightValue": "5518997726660@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11360,
        1904
      ],
      "id": "5fc46916-373b-4f0b-b1eb-fb025f6f1d72",
      "name": "filtroNumeroPermitido"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "filtro-fromMe",
                    "leftValue": "={{ $json.body.message.fromMe }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msgDoProprioBot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "filtro-api",
                    "leftValue": "={{ $json.body.message.wasSentByApi }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msgEnviadaPorApi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "filtro-grupo",
                    "leftValue": "={{ $json.body.message.isGroup }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msgDeGrupo"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -11120,
        1904
      ],
      "id": "1613c11e-6a79-47cc-9787-e00e7a4a2aae",
      "name": "filtrarMensagemEntrada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-conversa",
              "name": "msg.conversa",
              "value": "={{ $('receberWebhookUazapi').item.json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "msg-nomeLead",
              "name": "msg.nomeLead",
              "value": "={{ $('receberWebhookUazapi').item.json.body.chat.wa_name || $('receberWebhookUazapi').item.json.body.message.senderName || $('receberWebhookUazapi').item.json.body.chat.name || '' }}",
              "type": "string"
            },
            {
              "id": "msg-identicacaoLead",
              "name": "msg.identicacaoLead",
              "value": "={{ $('receberWebhookUazapi').item.json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "msg-numberLead",
              "name": "msg.numberLead",
              "value": "={{ $('receberWebhookUazapi').item.json.body.message.chatid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "msg-media",
              "name": "msg.media",
              "value": "={{ $('receberWebhookUazapi').item.json.body.message.type !== 'text' ? $('receberWebhookUazapi').item.json.body.message.type : '' }}",
              "type": "string"
            },
            {
              "id": "msg-urlMedia",
              "name": "msg.urlMedia",
              "value": "={{ $('receberWebhookUazapi').item.json.body.message.type !== 'text' ? ($('receberWebhookUazapi').item.json.body.message.content || '') : '' }}",
              "type": "string"
            },
            {
              "id": "msg-timestamp",
              "name": "msg.timestamp",
              "value": "={{ $('receberWebhookUazapi').item.json.body.message.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "msg-baseUrl",
              "name": "msg.baseUrl",
              "value": "={{ $('receberWebhookUazapi').item.json.body.BaseUrl }}",
              "type": "string"
            },
            {
              "id": "msg-token",
              "name": "msg.token",
              "value": "={{ $('receberWebhookUazapi').item.json.body.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10816,
        2000
      ],
      "id": "979b5dd9-7272-4f76-ba18-bbc593320d6b",
      "name": "extrairDadosUazapi",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -10816,
        1648
      ],
      "id": "4d53859a-adf9-479f-9976-0420e3404dc3",
      "name": "nadaFazerWebhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clin_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "keyValue": "={{ $json.msg.identicacaoLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -10432,
        1840
      ],
      "id": "bb29837d-41f8-4af9-a11f-8d989968d876",
      "name": "buscarLeadCrm",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "lPqw6Aku7HwsgBAG",
          "name": "[Supabase] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32a5f010",
                    "leftValue": "={{ $json.Whatsapp ? $json.Whatsapp.toString() : '' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "existe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Whatsapp ? $json.Whatsapp.toString() : '' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "c71b31fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "naoExiste"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -10176,
        1840
      ],
      "id": "30cf0212-ed63-4bfb-8395-b68d33fc2027",
      "name": "roteamentoUsuarioCrm"
    },
    {
      "parameters": {
        "tableId": "clin_leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Inicio do atendimento",
              "fieldValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "Whatsapp",
              "fieldValue": "={{ $('extrairDadosUazapi').first().json.msg.numberLead }}"
            },
            {
              "fieldId": "Identificador do usuario",
              "fieldValue": "={{ $('extrairDadosUazapi').first().json.msg.identicacaoLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -9936,
        2112
      ],
      "id": "99867e10-26ae-4184-91dc-0b6d56da6bf3",
      "name": "cadastrarNovoLead",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "lPqw6Aku7HwsgBAG",
          "name": "[Supabase] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2afd618",
                    "leftValue": "={{ $('extrairDadosUazapi').first().json.msg.media }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioTranscrito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd779138",
                    "leftValue": "={{ $('extrairDadosUazapi').first().json.msg.conversa }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1873e517",
                    "leftValue": "={{ $('extrairDadosUazapi').first().json.msg.media }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -9616,
        1840
      ],
      "id": "03da436c-ab67-4491-be15-96dd600758c8",
      "name": "roteamentoTipoMensagem"
    },
    {
      "parameters": {
        "url": "={{ $('extrairDadosUazapi').first().json.msg.urlMedia }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9328,
        1632
      ],
      "id": "ff2eec14-1c51-42cc-9438-80b7cbd62b9f",
      "name": "baixarAudioWhatsapp",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -9136,
        1632
      ],
      "id": "bf928af9-5244-4c8d-9845-6a65c1d3d2ce",
      "name": "transcreverAudioOpenai",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb",
              "name": "msg",
              "value": "={{ $('transcreverAudioOpenai').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8928,
        1632
      ],
      "id": "3b31abfa-2cbc-415d-9b57-afcf6fa0172f",
      "name": "capturarTextoAudio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb",
              "name": "msg",
              "value": "={{ $('extrairDadosUazapi').first().json.msg.conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8928,
        1856
      ],
      "id": "8c5be184-04fd-4a8b-aaf0-08e9e90d2a53",
      "name": "registrarTextoConvertido"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Você analisa imagens enviadas por pacientes da **RNB - Clinic Prime** via WhatsApp e gera um resumo **objetivo** do conteúdo.\n\n## TIPOS DE IMAGEM\n\n**1. Comprovantes de pagamento**\n- Informe se o comprovante está **legível**.\n- Identifique o **valor pago**, a **data** e o **tipo de transação** (ex: PIX).\n\n**2. Documentos pessoais**\n- Identifique o tipo do documento (ex: RG, CPF).\n- Verifique se os **dados principais** (nome, número) estão visíveis e legíveis.\n\n**3. Resultados de exames ou documentos clínicos**\n- Indique o tipo de exame ou documento.\n- **Não interprete resultados clínicos**, apenas informe o tipo e se está legível.\n\n**4. Outros tipos de imagem**\n- Se for uma **selfie, foto do corpo ou imagem estética**, identifique o tipo.\n- Informe se a imagem é **adequada para avaliação visual** (qualidade, iluminação).\n- **Nunca emita diagnóstico ou julgamento estético.** Apenas identifique a imagem.\n\n**5. Imagens ilegíveis ou sem contexto**\n> Se a imagem estiver embaçada, cortada ou fora de contexto, informe que está **ilegível ou sem clareza** e **sugira o reenvio.**",
        "imageUrls": "={{ $('extrairDadosUazapi').first().json.msg.urlMedia }}",
        "simplify": false,
        "options": {}
      },
      "id": "119756a4-a957-44fc-9de7-ea74224aeee2",
      "name": "transcreverImagemOpenai",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -9264,
        2032
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb",
              "name": "msg",
              "value": "={{ $('transcreverImagemOpenai').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8928,
        2032
      ],
      "id": "cfed81c6-b64b-496d-9952-039bedd72ebb",
      "name": "capturarTextoImagem"
    },
    {
      "parameters": {
        "errorMessage": "Tipo de mensagem não suportado"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -9408,
        2192
      ],
      "id": "d39fe70e-ffea-40da-b653-a68bfd121384",
      "name": "pararErroMensagem"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -8624,
        1840
      ],
      "id": "b209477e-b464-471c-b9d4-58de6899fbfd",
      "name": "unificarMensagensMulti"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd",
              "name": "msg.conversa",
              "value": "={{ $('unificarMensagensMulti').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "64446d4b",
              "name": "msg.identicacaoLead",
              "value": "={{ $('extrairDadosUazapi').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "ed72d279",
              "name": "msg.numberLead",
              "value": "={{ $('extrairDadosUazapi').first().json.msg.numberLead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8416,
        1856
      ],
      "id": "04b4a440-aecf-4603-849a-ec83750920fc",
      "name": "estruturarMensagemBuffer"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('estruturarMensagemBuffer').item.json.msg.numberLead }}",
        "messageData": "={{ $json.msg.conversa }}",
        "tail": true
      },
      "id": "6aa3d406-cfba-4feb-8726-f351c96099e5",
      "name": "enviarBufferRedis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -8048,
        1632
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "0dde703e-9908-4c00-b7ba-80048a9a3ad9",
      "name": "aguardarMensagensEntrada",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7840,
        1632
      ],
      "webhookId": "7806ff3e-0172-4811-afe3-ed33d340d77c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('estruturarMensagemBuffer').item.json.msg.numberLead }}",
        "keyType": "list",
        "options": {}
      },
      "id": "4bcf3895-81b6-4757-b678-d7dd0c33edcd",
      "name": "buscarMensagensRedis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -8048,
        1952
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512bac58",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('aguardarMensagensEntrada').item.json.msg.conversa }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7824,
        1952
      ],
      "id": "a596efd6-65c9-4873-8c38-6be534069001",
      "name": "verificarNovaMensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5148f5a0",
              "name": "message",
              "value": "={{ $('buscarMensagensRedis').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7520,
        1872
      ],
      "id": "09dc2604-22c7-4371-ac5f-ab0e6f307422",
      "name": "concatenarMensagensBuffer"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('estruturarMensagemBuffer').item.json.msg.numberLead }}"
      },
      "id": "5e119983-f025-426b-849d-a33dfb132c2f",
      "name": "limparBufferRedis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7296,
        1872
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -7328,
        2144
      ],
      "id": "563dd346-4632-4159-a162-51e9e819388b",
      "name": "nadaFazer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ec52fa2",
              "name": "msgLead",
              "value": "={{ $('concatenarMensagensBuffer').item.json.message }}",
              "type": "string"
            },
            {
              "id": "65fdfb70",
              "name": "identificadorLead",
              "value": "={{ $('extrairDadosUazapi').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "6f897731",
              "name": "nomeUser",
              "value": "=As informações abaixo servem para personalizar suas respostas e evitar que você faça perguntas repetidas e manter a conversa coerente.\n\nNome do usuário: {{ $('buscarLeadCrm').item.json.Nome }}",
              "type": "string"
            },
            {
              "id": "9236f2a8",
              "name": "procedimento",
              "value": "=Procedimento que tem interesse: {{ $('buscarLeadCrm').item.json.Procedimento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7056,
        1872
      ],
      "id": "f156d375-11cd-4ee2-b9d4-f9fce521fa80",
      "name": "capturarContextoAtendimento"
    },
    {
      "parameters": {
        "jsCode": "const TZ = 'America/Sao_Paulo';\nconst pad = (n) => String(n).padStart(2, '0');\nconst nomes = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado'];\n\nfunction nowInTimeZone(timeZone) {\n  const dtf = new Intl.DateTimeFormat('en-CA', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  });\n\n  const parts = dtf.formatToParts(new Date());\n  const map = {};\n  for (const p of parts) {\n    if (p.type !== 'literal') map[p.type] = p.value;\n  }\n\n  return new Date(`${map.year}-${map.month}-${map.day}T${map.hour}:${map.minute}:${map.second}`);\n}\n\nconst now = nowInTimeZone(TZ);\n\nlet result = `Hoje é ${nomes[now.getDay()]}, ${pad(now.getDate())}/${pad(now.getMonth() + 1)}/${now.getFullYear()} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 7; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  const dia = pad(future.getDate());\n  const mes = pad(future.getMonth() + 1);\n  const ano = future.getFullYear();\n  const nomeDia = nomes[future.getDay()];\n\n  if (i === 1) {\n    result += `Amanhã é ${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  } else if (i === 2) {\n    result += `Depois de amanhã é ${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  } else {\n    result += `${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  }\n}\n\nreturn [{ json: { resultado: result.trim() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6768,
        1744
      ],
      "id": "3774c261-f40c-4b7d-94b5-08fe8ff62f4d",
      "name": "gerarProximosDias"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('capturarContextoAtendimento').item.json.msgLead }}\n\n\n{{ $('capturarContextoAtendimento').item.json.nomeUser }}\n{{ $('capturarContextoAtendimento').item.json.procedimento }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n-   Você é **Athena**, secretária da clínica de estética **RNB - Clinic Prime**.\n-   Fale sempre como uma pessoa real — nada de dizer que é assistente virtual ou inteligência artificial.\n-   A forma de se comunicar deve ser **elegante, acolhedora e sofisticada**, como se estivesse em uma conversa exclusiva com o paciente no WhatsApp da clínica.\n\n## SUA FUNÇÃO\n-   Você atende os pacientes **pelo WhatsApp**, podendo receber **mensagens de texto, áudios e imagens**.\n-   Seu papel é **acolher o paciente com empatia, criar conexão genuína e conduzir a conversa de forma elegante e natural até o agendamento da avaliação**.\n\n## TOM DE VOZ\n-   Comunique-se de forma **educada, gentil e sofisticada**, transmitindo exclusividade e cuidado genuíno.\n-   Transmita **atenção e interesse** em ajudar o paciente a entender o melhor caminho para o cuidado que ele busca.\n-   Use uma **linguagem elegante e acessível**, sempre correta gramaticalmente.\n    -   Evite gírias, abreviações ou informalidade excessiva.\n    -   Prefira formas que transmitam atenção personalizada:\n        -   \"será um prazer te ajudar com isso\"\n        -   \"vou verificar a melhor opção para você\"\n        -   \"posso te explicar com mais detalhes\"\n        -   \"vamos encontrar o caminho ideal para o seu caso\"\n-   **Nunca repita o nome do paciente durante a conversa.** Após coletar o nome, trate a pessoa de forma próxima e acolhedora, mas sem repetir o nome.\n-   Sempre responda com mensagens curtas com no máximo 40 palavras.\n-   Use frases curtas e objetivas.\n-   **Demonstre empatia real** — sempre mostre que você entendeu o que a pessoa disse antes de responder.\n-   Emojis podem ser usados com parcimônia, no máximo **um por mensagem**, priorizando os que transmitem sofisticação e cuidado: ✨🤍🌿💎🕊️\n\n## FLUXO DE ATENDIMENTO\n**Etapa 1 — Apresentação e acolhimento**\n-   Inicie se apresentando como Athena, secretária da RNB - Clinic Prime e peça o nome da pessoa.\n- Exemplo: _\"Olá, tudo bem? Eu sou a Athena, secretária da RNB - Clinic Prime. Posso saber seu nome?\"_\n\n**Etapa 2 — Interesse do paciente**\n-   Após coletar o nome, ofereça os atalhos de ação do menu inicial:\n\n    1️⃣ Conhecer nossos tratamentos\n    2️⃣ Agendar uma avaliação gratuita\n    3️⃣ Falar com a equipe\n\n-   Exemplo: _\"Prazer, [nome]! Como posso te ajudar hoje? ✨\"_ seguido das opções numeradas acima.\n\n- Se o paciente já tiver dito o que deseja na primeira mensagem (ex: \"quero saber sobre botox\"), pule direto para o **fluxo de procedimento e serviços**, sem mostrar o menu.\n\n## FLUXO PROCEDIMENTOS E SERVIÇOS\n\n### Etapa 3 — Criar rapport e entender o interesse\n\n-   Quando o paciente mencionar **um tratamento, tecnologia, categoria ou objetivo estético**, registre o que ele disse e demonstre interesse genuíno.\n-   Se o paciente escolheu a opção 1️⃣ do menu inicial ou disse que quer conhecer tratamentos sem especificar, apresente as **categorias de tratamento** com atalhos:\n\n    1️⃣ Tratamentos faciais\n    2️⃣ Tratamentos corporais\n    3️⃣ Emagrecimento estético\n    4️⃣ Depilação a laser\n\n-   Se o paciente já mencionou um tratamento específico, **NÃO mostre as categorias** — siga direto para o rapport.\n-   Faça **no máximo duas perguntas**, sempre **uma por vez** — envie a primeira, espere a resposta e só então envie a segunda.\n-   As perguntas devem ser **elegantes, personalizadas e estratégicas**, ajudando a entender melhor o caso. Exemplo:\n    -   **Região de interesse** (rosto, abdômen, pernas etc.)\n    -   **Experiência prévia** (já realizou algo parecido?)\n    -   **Expectativa de resultado** (o que espera alcançar?)\n-   O objetivo é **aprofundar o vínculo** e coletar informações úteis para a próxima etapa.\n\n### Etapa 4 — Acionar a tool e explicar o tratamento\n\n-   Depois de entender o caso, **use a tool toolExplicarProcedimentos** para responder sobre o procedimento ou tecnologia mencionada.\n-   Envie **todo o contexto relevante**, incluindo o que o paciente busca, dúvidas, histórico e expectativas.\n-   Com base na resposta da tool:\n    -   Explique o tratamento de forma **elegante, personalizada e acessível**, destacando os **benefícios e resultados**.\n    -   Se o paciente citar **um procedimento que a clínica não oferece**, mas houver **outro tratamento que atenda ao mesmo objetivo**, apresente essa opção de forma natural e faça uma pergunta para ele se conhece.\n-   Sempre finalize com **uma pergunta contextual**, mantendo a conversa ativa:\n    -   Se o paciente ainda estiver explorando → faça **uma pergunta elegante de rapport** (ex: \"Você já teve a oportunidade de experimentar algo similar?\").\n    -   Se o paciente demonstrar interesse claro → avance para a próxima etapa (explicação da avaliação presencial).\n\n### Etapa 5 — Explicar a avaliação presencial\n\n-   Mostre que a **avaliação é gratuita** e é o **próximo passo natural** após entender o caso do paciente.\n-   Explique de forma sofisticada que ela é feita por **uma profissional qualificada**, que avalia individualmente, entende o objetivo do paciente e monta um **plano de cuidado personalizado**.\n-   Reforce que essa etapa é importante para **garantir resultados reais e seguros**, e que o paciente pode **iniciar o tratamento no mesmo dia**, se desejar.\n-   Finalize de forma persuasiva e motivadora, perguntando diretamente qual dia e horário o paciente prefere para realizar a avaliação.\n\n### Etapa 6 — Verificação de Disponibilidade do Horário\n- Após o paciente informar o dia e horário desejado, acione a tool **toolVerificarAgenda** com a intenção de verificar a disponibilidade da data/hora.\n   - *Exemplo: \"Favor verificar disponibilidade de horário para o paciente João no sábado dia 25/11 às 10h para o procedimento Botox e Criolipólise\"*\n - **Importante:** Nessa etapa, nunca acione a tool com a intenção de marcar a consulta — apenas para **verificar a disponibilidade da data/hora**.\n- Se o horário estiver indisponível:\n  - Informe ao paciente e peça outra opção de dia/horário.\n- Se o horário estiver disponível:\n  - Vá para a **Etapa 7** para explicar sobre a confirmação do horário.\n\n**Importante:**\n- Caso o paciente não fale o dia e horário e perguntar **quais horários estão disponíveis**, não liste horários e nem busque na tool \"toolVerificarAgenda\", faça isso:\n   -   Responda de volta ao paciente, pedindo que ele **informe o dia e horário** que prefere, pois fica mais fácil de verificar disponibilidade na agenda.\n        -   Exemplo de mensagem: _\"Para facilitar, poderia me informar **qual dia e horário** seria mais conveniente para você? Assim verifico a disponibilidade na agenda ✨\"_\n\n### Etapa 7 - Confirmação da Reserva\nApós validar a disponibilidade do horário:\n  - Confirme para o paciente que o horário esta livre para agendamento.\n  - Depois informe que para garantir o agendamento, você precisa do **nome completo** dele.\n     - Exemplo: _\"Excelente! O dia e horário que você indicou está disponível. Poderia me informar seu nome completo para que eu finalize o agendamento?\"_\n\n### Etapa 8 - Confirmação de reserva\n-  Após o paciente informar o nome completo dele, apresente um resumo e peça confirmação com atalhos:\n\n   _\"Vou confirmar sua avaliação: [procedimento], [dia e horário], no nome de [nome completo].\"_\n\n   1️⃣ Confirmar agendamento\n   2️⃣ Alterar dia ou horário\n\n-  Se o paciente confirmar (responder \"1\", \"confirmar\" ou equivalente), acione a tool **toolVerificarAgenda** com a intenção de marcar o horário.\n       - Exemplo: _\"Por favor, marque agora na agenda a avaliação do paciente João Silva para segunda dia 12/05 às 15hrs. Ele deseja realizar o procedimento de Botox e Criolipólise.\"_\n-  Se o paciente quiser alterar (responder \"2\" ou equivalente), pergunte qual dia e horário prefere e volte à **Etapa 6**.\n\n## ATALHOS DE AÇÃO (HOTKEYS)\n\nEm momentos específicos de decisão, ofereça opções numeradas em linhas separadas para facilitar a resposta do paciente.\n\n### Regras dos atalhos:\n- Use 1️⃣ 2️⃣ 3️⃣ 4️⃣ (os emojis numerados dos atalhos NÃO contam no limite de 1 emoji por mensagem).\n- As linhas de atalho NÃO contam no limite de 40 palavras.\n- Se o paciente responder apenas com o número, interprete como a opção correspondente da sua **ÚLTIMA mensagem que continha atalhos**.\n- Ao receber apenas um número, SEMPRE interprete como referência à **ÚLTIMA lista que você apresentou** — nunca a listas anteriores da conversa.\n- Se o paciente responder com texto livre, siga normalmente ignorando os números.\n- Máximo de **4 opções** por mensagem.\n\n### Quando incluir atalhos:\n- Após coletar o nome → **menu inicial** (conhecer tratamentos / agendar avaliação / falar com equipe)\n- Quando o paciente quer explorar sem especificar → **categorias de tratamento** (facial / corporal / emagrecimento / depilação)\n- Após explicar procedimento e paciente demonstrar interesse → **próximo passo** (1️⃣ Agendar avaliação gratuita  2️⃣ Conhecer outro tratamento)\n- Confirmação de agendamento → **confirmar ou alterar** (1️⃣ Confirmar agendamento  2️⃣ Alterar dia ou horário)\n\n### Quando NÃO incluir atalhos:\n- Na mensagem de apresentação (antes de coletar nome)\n- Durante rapport ou coleta de informações (queixas, expectativas, região de interesse)\n- Durante explicação de procedimento ou tratamento\n- Durante quebra de objeções ou inseguranças\n- Quando o paciente já disse exatamente o que quer fazer\n- Em confirmações curtas ou conversacionais\n- Quando o paciente está fazendo perguntas específicas\n\n### ⚠️ REGRA CRÍTICA: Resolver escolhas ANTES de chamar tools\n\nQuando o paciente responder com um número referente a uma lista que você apresentou, você DEVE resolver esse número para o valor real ANTES de chamar qualquer tool.\n\n**Exemplos:**\n\nSe você mostrou:\n1️⃣ Tratamentos faciais\n2️⃣ Tratamentos corporais\n3️⃣ Emagrecimento estético\n4️⃣ Depilação a laser\n\nE o paciente respondeu \"1\"\n→ Passe para a toolExplicarProcedimentos: \"O paciente deseja conhecer os tratamentos faciais disponíveis na clínica\"\n→ NUNCA passe: \"opção 1 escolhida pelo paciente\" ou \"categoria selecionada\"\n\nSe você mostrou:\n1️⃣ Confirmar agendamento\n2️⃣ Alterar dia ou horário\n\nE o paciente respondeu \"1\"\n→ Acione a toolVerificarAgenda com dados concretos: \"Marcar avaliação do paciente João Silva para segunda dia 12/05 às 15h, procedimento Botox\"\n→ NUNCA passe: \"paciente confirmou a opção 1\"\n\n**Regra:** As tools NÃO têm acesso à sua conversa. Elas não sabem qual lista você mostrou. Você DEVE enviar dados concretos (nomes de tratamento, datas, horários, procedimentos), nunca referências vagas.\n\n## REGRAS DE ATENDIMENTO\n\n-   **NUNCA envie mensagens de espera** como \"peço um momento\", \"vou verificar\", \"já retorno com informações\", \"deixa eu consultar\" ou similares. Quando precisar acionar uma tool, acione-a silenciosamente e entregue a resposta COMPLETA com as informações retornadas. O paciente NÃO deve perceber que você está consultando ferramentas internas. Sua resposta deve conter SEMPRE o conteúdo final, nunca a narração da ação que você está executando.\n-   Sempre **inicie a conversa se apresentando e coletando o nome do paciente**. Nenhuma informação deve ser passada antes disso.\n-   **Jamais explique qualquer procedimento ou protocolo sem antes acionar a tool toolExplicarProcedimentos**, mesmo que o paciente já tenha mencionado o nome.\n-   Nunca invente respostas ou adapte procedimentos por conta própria — sempre utilize a tool toolExplicarProcedimentos para garantir precisão.\n-   Nunca use perguntas genéricas como _\"quer saber mais?\"_, _\"posso te explicar melhor?\"_, _\"quer que eu te conte como funciona?\"_ ou semelhantes.\n-   A explicação sobre a **avaliação** deve ser personalizada com base na conversa anterior e sempre deve finalizar com uma **pergunta direta** convidando para agendar.\n-   Sempre que o paciente tiver **objeção ou insegurança** sobre o procedimento (valor, resultado, dor, duração, segurança, etc.), **acionar obrigatoriamente a toolExplicarProcedimentos** com o contexto completo da fala.\n-   Sempre que houver **objeção ou dúvida** sobre a **clínica, equipe ou credibilidade**, **acionar obrigatoriamente a toolInformarClinica** com o contexto completo.\n-  Para enviar endereço, link do Google maps, instagram, site ou qualquer outra informação institucional da clinica, **obrigatoriamente** acione a tool toolInformarClinica.\n      - Jamais responda por conta própria.\n\n## TOOLS DISPONÍVEIS\n\n### Tool: **toolExplicarProcedimentos**\n\n**Quando usar:**\n-   Quando o paciente **não souber o nome do procedimento** e quiser saber o que pode fazer para determinada queixa ou objetivo.\n-   Quando o paciente **mencionar um procedimento ou categoria** (ex: rejuvenescimento, emagrecimento, bem-estar) e quiser saber como funciona.\n-   Quando precisar **explicar um procedimento ou protocolo**.\n-   Quando houver **dúvidas, objeções ou perguntas sobre os procedimentos** (ex: \"vale a pena?\", \"tem dor?\", \"é seguro?\", \"qual a diferença entre X e Y?\", \"qual o preço\", etc).\n-   Quando o paciente perguntar sobre **resultados, quantas sessões, tempo de efeito, valores, promoções ou formas de pagamento dos procedimentos**.\n-   Quando precisar gerar **perguntas de rapport** personalizadas para criar conexão durante o atendimento.\n\n**Quando não usar:**\n-   Para assuntos institucionais (ex: localização da clínica, horário de atendimento, redes sociais, equipe etc) → usar a tool **toolInformarClinica**.\n-   Para agendamento → usar a tool **toolVerificarAgenda**.\n\n### Tool: **toolInformarClinica**\n\n**Quando usar:**\n-   Quando o paciente perguntar sobre **localização da clínica, endereço, link Google Maps, horário de funcionamento, canais oficiais (site, Instagram)**.\n-   Quando houver **objeções sobre a clínica** (ex: \"é confiável?\", \"quem são os profissionais?\", \"é seguro?\", \"já atendeu muita gente?\", etc).\n-   Para dúvidas sobre **estrutura, equipamentos, avaliações no Google, tempo de mercado ou diferenciais da clínica como empresa**.\n\n**Quando não usar:**\n-   Para qualquer explicação sobre **procedimentos, protocolos, valores ou tratamentos** → usar a tool **toolExplicarProcedimentos**.\n-   Para agendamento → usar a tool **toolVerificarAgenda**.\n\n### Tool: **toolVerificarAgenda**\n\n**Quando usar:**\n-   Para **verificar disponibilidade de datas e horários** para avaliação.\n-   Para **confirmar agendamentos** após o paciente dizer que deseja marcar.\n-   Sempre **informe o nome completo do paciente e o contexto** (ex: tipo de protocolo ou categoria de interesse).\n\n**Importante:**\n- Para marcar qualquer avaliação você deve sempre coletar o nome completo do paciente e o procedimento que ele tem interesse.\n\n**Quando não usar:**\n-   Antes do paciente dar um **\"sim\" claro** para a avaliação.\n-   Para responder perguntas sobre tratamentos ou a clínica — use **toolExplicarProcedimentos** ou **toolInformarClinica** conforme o caso.\n\n## DATA E HORA ATUALIZADOS\n\nPara efeito de contexto durante as suas conversas segue a data e hora de hoje e os próximos dias:\n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -5952,
        1744
      ],
      "id": "4ae569b1-c43f-4fc4-9b00-4430711de000",
      "name": "assistenteAthenaSecretaria",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -6192,
        1984
      ],
      "id": "f4ef8f3d-c692-4807-912e-a37a88b0259b",
      "name": "modeloGpt41Mini",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('capturarContextoAtendimento').item.json.identificadorLead }}",
        "tableName": "clin_chat_histories",
        "contextWindowLength": 80
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -6064,
        1984
      ],
      "id": "6d0aa8b6-d3bd-4b9a-b77a-4c009fa8baad",
      "name": "memoriaConversaAthena",
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "description": "=**Quando usar:**\n- Quando o paciente mencionar procedimentos ou tratamentos.\n- Quando precisar explicar um procedimento.\n- Para dúvidas ou objeções sobre procedimentos.",
        "workflowId": {
          "__rl": true,
          "value": "N1eXrn4LfURLIQmn",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MsgLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('MsgLead', `Coloque aqui a duvida do paciente.`, 'string') }}",
            "identificador Lead": "={{ $('capturarContextoAtendimento').item.json.identificadorLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MsgLead",
              "displayName": "MsgLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "identificador Lead",
              "displayName": "identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -5648,
        2112
      ],
      "id": "382edce6-6acd-4321-a5e1-f052f4102b45",
      "name": "toolExplicarProcedimentos",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tT4aCGvRZNHWfoccL2RTuVHD-zlRPhP9dVqXh6M0jcs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1619477594,
          "mode": "list",
          "cachedResultName": "infoTool",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tT4aCGvRZNHWfoccL2RTuVHD-zlRPhP9dVqXh6M0jcs/edit#gid=1619477594"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -5504,
        2112
      ],
      "id": "5b369ba4-31a5-444a-9c40-7c1d34a0e1c6",
      "name": "toolInformarClinica",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KIM9Z8S69kIM7Ztk",
          "name": "[Google Sheets] - acessos@"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "name": "toolVerificarAgenda",
        "description": "=**Quando usar:**\n- Para verificar disponibilidade de datas e horários.\n- Para confirmar agendamentos.",
        "workflowId": {
          "__rl": true,
          "value": "R1SjhOTLRMNKuqVm",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('msgLead', `Mensagem com contexto geral.`, 'string') }}",
            "identificador Lead": "={{ $('capturarContextoAtendimento').item.json.identificadorLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "identificador Lead",
              "displayName": "identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "msgLead",
              "displayName": "msgLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -5376,
        2112
      ],
      "id": "cc544594-d482-412b-b0aa-b45e6290456d",
      "name": "toolVerificarAgenda",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4499d032",
              "name": "messageAgent",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5104,
        1744
      ],
      "id": "0ead803e-7c2e-46d6-8c55-9831c4261fca",
      "name": "prepararMensagemAgent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quebre a mensagem abaixo com base e regras das suas informações de sistema e tire toda a formatação markdown. Jamais faça comentários adicionais.\n\nA mensagem:\n\n{{ $('prepararMensagemAgent').item.json.messageAgent }}",
        "options": {
          "systemMessage": "=## Quem é você\nVocê é um renomado e experiente assistente de formatação de mensagens dentro da automação do N8N. Seu objetivo é quebrar as mensagens longas em partes menores, sem alterar o conteúdo original e sem mudar nenhuma palavra sequer. Além disso, você deve remover qualquer formatação em Markdown, deixando o texto completamente limpo e sem estilos.\n\n## Sua função\nSua única função é dividir respostas longas em trechos curtos, mantendo o significado e a estrutura original do texto. Você não altera palavras, não muda sinônimos e não interpreta o conteúdo. Você apenas insire duas quebras de linha onde necessário para melhorar a fluidez da conversa.\n\n## Regras\n1- Não modifique o texto: Apenas divida as mensagens, sem alterar palavras, sinônimos ou reescrever frases.\n2- Mantenha frases completas: Nunca quebre no meio de uma palavra ou ideia. Sempre finalize a frase antes da quebra.\n3- Limite de caracteres: Divida a resposta em partes de no máximo 80 caracteres (ou outro limite que você preferir).\n4- Use duas quebras de linha. Sempre que precisar dividir uma mensagem, insira um \\n entre os trechos.\n5- Não remova formatações: Se a resposta tiver negrito, emojis ou caracteres especiais, mantenha tudo intacto.\n6- Se a mensagem estiver menos do que 80 caracteres, não divida. Apenas insira quebras se a mensagem ultrapassar o limite definido.\n7- Se a resposta tiver uma lista (bullets - ou •), cada item deve ser quebrado em uma linha separada. O restante do texto segue o critério normal de limite de caracteres.\n8- Nunca inclua mensagens ou comentário adicionais.\n9- Nunca corte o texto depois da virgula.\n10- Remova completamente qualquer formatação em Markdown, deixando o texto totalmente limpo, sem negrito, itálico, listas, cabeçalhos ou qualquer outro tipo de estilização."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -4880,
        1744
      ],
      "id": "fe7319a5-d340-4acc-8d29-5845e68f5ebb",
      "name": "dividirRespostaLimpa",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4880,
        1936
      ],
      "id": "5227184c-ecce-47ff-bc0f-c5b8a45b7017",
      "name": "modeloOpenaiQuebraTexto",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensagensTexto = $input.first().json.output || \"\";\n\nif (typeof mensagensTexto !== \"string\" || !mensagensTexto.trim()) {\n  return [];\n}\n\nconst textoCorrigido = mensagensTexto.replace(/\\\\n/g, \"\\n\");\n\nconst mensagensArray = textoCorrigido\n  .split(/\\n/)\n  .map(line => line.trim())\n  .filter(line => line.length > 0);\n\nreturn mensagensArray.map(msg => ({ json: { output: msg } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4512,
        1744
      ],
      "id": "26a31d69-e073-4b13-a459-20087b6ed947",
      "name": "formatarMensagensTexto"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4224,
        1744
      ],
      "id": "ff20101f-5c9d-46ca-8943-4551ef842169",
      "name": "separarMensagensAgent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3984,
        1744
      ],
      "id": "253eb72c-7a30-4f0c-aeb6-092cb9cccfbe",
      "name": "processarMensagensPorLote"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3536,
        1904
      ],
      "id": "47af6528-1f55-4476-8fa2-f8c5af082d1a",
      "name": "aguardarDoisSegundos",
      "webhookId": "e995a06c-8096-49e9-9964-862b97d2a4ef"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AxC91tA0FIIIOY3P",
          "mode": "id",
          "cachedResultUrl": "/workflow/AxC91tA0FIIIOY3P"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "idLead": "={{ $('capturarContextoAtendimento').item.json.identificadorLead }}",
            "numberLead": "={{ $('capturarContextoAtendimento').item.json.identificadorLead.split('@')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idLead",
              "displayName": "idLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numberLead",
              "displayName": "numberLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3120,
        1744
      ],
      "id": "5d153325-e5cd-4f22-b19e-ae632a3b4935",
      "name": "crm",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "number": "={{ $('extrairDadosUazapi').first().json.msg.numberLead }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        -3744,
        1856
      ],
      "id": "e16178d4-9895-4c34-8bba-f219570996cc",
      "name": "sendTextMessage",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "uazApiApi": {
          "id": "X1fMx33cYe40m5dN",
          "name": "[UazAPI] - Clinic"
        }
      }
    },
    {
      "parameters": {
        "content": "# ADM",
        "height": 296,
        "width": 744,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6272,
        1168
      ],
      "typeVersion": 1,
      "id": "72cb4080-f97c-4c2d-8bb7-b517f4c95976",
      "name": "notaAdm"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clin_chat_histories",
          "mode": "list",
          "cachedResultName": "clin_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "558888136242@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6208,
        1280
      ],
      "id": "0ba13220-8629-4f83-a7a5-78a7a81c1830",
      "name": "limparHistoricoChat",
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "558888136242@s.whatsapp.net"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5744,
        1280
      ],
      "id": "8e88906f-cdbd-4756-98e3-555d575ebb94",
      "name": "limparCacheWhatsapp",
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "clin_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "condition": "eq",
              "keyValue": "=558888136242@s.whatsapp.net"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5968,
        1280
      ],
      "id": "a3e64faa-ee71-4b0b-8313-b119459f85fe",
      "name": "apagarDadosCrm",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "lPqw6Aku7HwsgBAG",
          "name": "[Supabase] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "content": "# Filtrar mensagens (Uazapi)",
        "height": 840,
        "width": 796
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -11328,
        1504
      ],
      "typeVersion": 1,
      "id": "dc8152d1-a440-4ddf-84bb-63cc52404a1b",
      "name": "notaFiltrarMensagem"
    },
    {
      "parameters": {
        "content": "# Validar e cadastrar lead no CRM",
        "height": 840,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10480,
        1504
      ],
      "typeVersion": 1,
      "id": "04366ef4-ce40-49f9-84ab-5d450a4ac805",
      "name": "notaValidarLeadCrm"
    },
    {
      "parameters": {
        "content": "# Tratamento de Mensagem: Texto, Imagem ou Áudio",
        "height": 840,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9664,
        1504
      ],
      "typeVersion": 1,
      "id": "1115d789-9833-4af5-8f26-cd35cd1ded2a",
      "name": "notaTratamentoMensagem"
    },
    {
      "parameters": {
        "content": "# Buffer de mensagens (Redis)",
        "height": 840,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8176,
        1504
      ],
      "typeVersion": 1,
      "id": "e6b3f017-7d77-4a08-a4fd-36b9ace73fcf",
      "name": "notaBufferMensagens"
    },
    {
      "parameters": {
        "content": "# Secretária Athena - RNB Clinic Prime",
        "height": 816,
        "width": 1276,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6480,
        1504
      ],
      "typeVersion": 1,
      "id": "778d3556-f5d0-48b1-b57b-cea56837dc8f",
      "name": "notaSecretariaAthena"
    },
    {
      "parameters": {
        "content": "## TOOLS:",
        "height": 232,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5680,
        2016
      ],
      "typeVersion": 1,
      "id": "b3666a5a-2257-4f68-a453-d300eabbd72e",
      "name": "notaTools"
    },
    {
      "parameters": {
        "content": "# Gerar contexto de datas",
        "height": 460,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6848,
        1504
      ],
      "typeVersion": 1,
      "id": "6c957494-a98d-48df-bb80-c37c107eacbc",
      "name": "notaDatas"
    },
    {
      "parameters": {
        "content": "# Quebra resposta e remove markdown",
        "height": 560,
        "width": 812,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5152,
        1552
      ],
      "typeVersion": 1,
      "id": "864107bf-c70c-437c-8ada-4ce4eeef848b",
      "name": "notaQuebraResposta"
    },
    {
      "parameters": {
        "content": "# Envio sequencial via Uazapi",
        "height": 560,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4304,
        1552
      ],
      "typeVersion": 1,
      "id": "fb504a0e-fbbf-4dad-892c-3bb94992f71d",
      "name": "notaEnvioSequencial"
    },
    {
      "parameters": {
        "content": "# Atualizar CRM",
        "height": 560,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3232,
        1552
      ],
      "typeVersion": 1,
      "id": "6f379969-9720-4a1a-90fa-4fd6203225dd",
      "name": "notaCrm"
    }
  ],
  "pinData": {
    "receberWebhookUazapi": [
      {
        "json": {
          "headers": {
            "host": "n8n.ep.rnbsolucoes.com.br",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "2567",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "65.108.141.240",
            "x-forwarded-host": "n8n.ep.rnbsolucoes.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "021c824624ec",
            "x-real-ip": "65.108.141.240"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://rnbsolucoes.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "reb1e616b31c980",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/672841685_1022610373780464_5737156119175669993_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa4QHWZ4MGgmux4qID8QiKQ0sPvhRd_E3AN3nN9n5mWGWJgw&oe=69F56845&_nc_sid=5e03e0&_nc_cat=103",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "Rogerio adriana",
              "owner": "5519988962937",
              "phone": "+55 18 99791-3488",
              "wa_archived": false,
              "wa_chatid": "5518997913488@s.whatsapp.net",
              "wa_chatlid": "233955542470820@lid",
              "wa_contactName": "Rogerio adriana",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "5519988962937:5518997913488",
              "wa_isBlocked": false,
              "wa_isGroup": false,
              "wa_isGroup_admin": false,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": false,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "233955542470820@lid",
              "wa_lastMessageTextVote": "Ola",
              "wa_lastMessageType": "Conversation",
              "wa_lastMsgTimestamp": 1776890420000,
              "wa_muteEndTime": 0,
              "wa_name": "Rogério Nogueira Borges",
              "wa_notes": "",
              "wa_unreadCount": 4
            },
            "chatSource": "updated",
            "instanceName": "clinic",
            "message": {
              "buttonOrListid": "",
              "chatid": "5518997913488@s.whatsapp.net",
              "chatlid": "233955542470820@lid",
              "content": "Ola",
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "",
              "id": "5519988962937:ACF9A00EE1C5FEF198B1AC79E61A74AF",
              "isGroup": false,
              "mediaType": "",
              "messageTimestamp": 1776890420000,
              "messageType": "Conversation",
              "messageid": "ACF9A00EE1C5FEF198B1AC79E61A74AF",
              "owner": "5519988962937",
              "pinned": false,
              "quoted": "",
              "reaction": "",
              "sender": "233955542470820@lid",
              "senderName": "Rogério Nogueira Borges",
              "sender_lid": "233955542470820@lid",
              "sender_pn": "5518997913488@s.whatsapp.net",
              "source": "android",
              "status": "",
              "text": "Ola",
              "track_id": "",
              "track_source": "",
              "type": "text",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "5519988962937",
            "token": "3863c433-0694-49e5-8cee-57c83a963d94"
          },
          "webhookUrl": "https://n8n.ep.rnbsolucoes.com.br/webhook/athena-v2",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-04-04T14:19:36.170Z",
      "createdAt": "2026-04-04T14:19:36.170Z",
      "role": "workflow:owner",
      "workflowId": "9JkiG1jfihrHUuO2",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": {},
  "tags": [
    {
      "updatedAt": "2026-01-22T20:20:33.529Z",
      "createdAt": "2026-01-22T20:20:33.529Z",
      "id": "Fi0iRqfXHshhowHU",
      "name": "prod"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-23T19:09:35.473Z",
  "versionId": "1f90c494-dfd6-4282-be73-92fd22e1cb7f"
}