workflows/Aula Despesas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BaixaAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BaixaImagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TranscricaoAudio": {
      "main": [
        [
          {
            "node": "Normalizar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Normalizar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BaixaAudio": {
      "main": [
        [
          {
            "node": "ConverteAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BaixaImagem": {
      "main": [
        [
          {
            "node": "ConverteImagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConverteAudio": {
      "main": [
        [
          {
            "node": "TranscricaoAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConverteImagem": {
      "main": [
        [
          {
            "node": "TranscreveImagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TranscreveImagem": {
      "main": [
        [
          {
            "node": "Normalizar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LancaDespesas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-03T14:24:13.379Z",
  "id": "ZET8Luxt8SGsoXPp",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Aula Despesas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57422fe9-37cf-4103-b9aa-dc59e6a5c5af",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1248,
        32
      ],
      "id": "53608e3c-452f-4477-b566-e94d48f86806",
      "name": "Webhook",
      "webhookId": "57422fe9-37cf-4103-b9aa-dc59e6a5c5af"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa75eb42-6a5d-47a7-8463-5c951d4cc981",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "531e0e1c-a789-4cea-a47e-9b1a9cbc2aea",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "dcad577c-de9b-48b5-b9b4-015fe22b3abe",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "631e300f-87a3-4978-811d-08459dfbb2f3",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "ba9bbacf-593c-4ae7-8c3b-ecb91dcd317c",
              "name": "tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "5769894d-dd11-4600-b59d-ab994ab5117f",
              "name": "server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "cfbce3c3-a2b7-4513-b6a3-fabb83498bf5",
              "name": "api",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "e09084c9-54db-4de1-a2b4-08aebc9c5cf4",
              "name": "base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "5505ca40-8e54-4c98-bab8-4c5c26a1c87d",
              "name": "mimetype",
              "value": "={{ $json.body.data.message.audioMessage.mimetype.split(';')[0]}}{{$json.body.data.message.imageMessage.mimetype }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        32
      ],
      "id": "f97d1466-4e79-4275-b566-072fd1c52655",
      "name": "Normalizar"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipoMensagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a8d66a2-7d8a-4c4b-936e-031bdeae9b5e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f7987d9-93ca-496d-a73f-f644922155c6",
                    "leftValue": "={{ $json.tipoMensagem }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df365b38-be20-409f-a104-2c1d2452e0b1",
                    "leftValue": "={{ $json.tipoMensagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -784,
        32
      ],
      "id": "81dd910c-a11a-4189-9cb4-6d88ce95ce19",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b66d39a-c1d3-45cc-842d-007d1b8d44e6",
              "name": "mensagem",
              "value": "={{$json.text || $json.content}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ],
      "id": "1478aa0b-ddd9-46b5-b0db-cb22df02c18a",
      "name": "Normalizar2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        160
      ],
      "id": "fb911192-2f59-4481-bf63-fbc262d36000",
      "name": "TranscricaoAudio",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8051d67b-a2a9-464f-b6dc-c4be0f48fd32",
              "name": "text",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "ee6b2b4e-c11f-415f-aa2b-449de5a49350",
      "name": "Texto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.server }}/chat/getBase64FromMediaMessage/{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        160
      ],
      "id": "3f95bfc9-cdbc-485c-b4cd-cb8a85618198",
      "name": "BaixaAudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.server }}/chat/getBase64FromMediaMessage/{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        368
      ],
      "id": "b6d30bd6-4f67-4312-8c9a-487dcade7771",
      "name": "BaixaImagem"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        368
      ],
      "id": "d5a0a26f-acfa-4ec0-b444-2048142c2973",
      "name": "ConverteImagem"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        160
      ],
      "id": "9fcb877a-727b-49cc-bc0f-5ea2a2724542",
      "name": "ConverteAudio"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Extraia as informações abaixo.\n- Itens e seu valor total de cada item\n- Data do documento - se houver\n- Nome do Local - se houver\n\nTraga somente o que te pedi, nenhum texto a mais.\n\nFormato\nNome Estabelecimento\nData\nItem | Valor",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        368
      ],
      "id": "99397ac2-ab7e-46bf-8869-f0febedb5af1",
      "name": "TranscreveImagem",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=Você é um especialista em SQL.\nVocê é responsável por gerar queries SQL para fazer lançamentos e consultas no banco de dados.\n\nEste é um sistema de controle de despesas e reembolso.\n\ntelefone para o lancamento do banco de dados: {{ $('Normalizar').item.json.telefone }}\n\nHoje é: {{ $now }}\n\nSchema do banco de dados\n\nNome da tabela: lancamentodespesas\nColunas: data, telefone, descricao, valor, categoria\n\nVocê irá receber mensagens de valores com descrições e precisará gerar a query na ferramenta LancaDespesas.\n\nSempre escolha uma das opções abaixo em categoria\n- Alimentação\n- Transporte\n- Hospedagem\n\n- lance sucos, refrigerante, agua como Alimentação\n\n- Nunca lance despesas de bebidas alcoolicas como cerveja, whisky, caipirinha.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "2fc2cfc2-4621-4af0-934e-121dc5adca6a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        224
      ],
      "id": "3312201b-b7f8-4e02-9531-06b45a9bfb1f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Gera query SQL",
        "operation": "executeQuery",
        "query": "{{ $fromAI('query','query sql para executar no postgres') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        800,
        208
      ],
      "id": "1e156e36-0e97-4e56-b3b5-1cbdfdc379c6",
      "name": "LancaDespesas",
      "credentials": {
        "postgres": {
          "id": "KWjg1RPWuVUAu2oE",
          "name": "[Postgres] - Supabase"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Normalizar').item.json.instancia }}",
        "remoteJid": "={{ $('Normalizar').item.json.telefone }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "1436c975-a5c1-4ba6-9c68-d788aa631cbb",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "MJGauyHYt3yXYgaK",
          "name": "[Evolution] - RNB"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-03T14:24:13.379Z",
      "createdAt": "2026-03-03T14:24:13.379Z",
      "role": "workflow:owner",
      "workflowId": "ZET8Luxt8SGsoXPp",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-27T17:30:34.491Z",
      "createdAt": "2026-01-27T17:30:34.491Z",
      "id": "sIitmyLEpsHT5YtJ",
      "name": "pause"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-30T19:21:32.979Z",
  "versionId": "cc0d3ccb-7734-48d9-9fd4-29063bf45547"
}