workflows/Calendário Gabriel — Corrigido v3 (timezone fix).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "exec_workflow": {
      "main": [
        [
          {
            "node": "setarInformacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInformacoes": {
      "main": [
        [
          {
            "node": "Switch_Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Evento": {
      "main": [
        [
          {
            "node": "Ja_tem_evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar_Evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidade_Reag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definir_agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ja_tem_evento": {
      "main": [
        [
          {
            "node": "If_Ja_tem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Ja_tem": {
      "main": [
        [
          {
            "node": "Ja_agendado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade": {
      "main": [
        [
          {
            "node": "If_Disponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Disponivel": {
      "main": [
        [
          {
            "node": "Criar_Evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Horario_Ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_Evento": {
      "main": [
        [
          {
            "node": "setarInfo_ag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo_ag": {
      "main": [
        [
          {
            "node": "Salvar_Data_CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar_Data_CRM": {
      "main": [
        [
          {
            "node": "Resp_Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Evento": {
      "main": [
        [
          {
            "node": "Deletar_Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar_Evento": {
      "main": [
        [
          {
            "node": "Resp_Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade_Reag": {
      "main": [
        [
          {
            "node": "If_Disponivel_Reag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Disponivel_Reag": {
      "main": [
        [
          {
            "node": "Buscar_Evento_Reag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Horario_Ocupado_Reag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Evento_Reag": {
      "main": [
        [
          {
            "node": "Atualizar_Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar_Evento": {
      "main": [
        [
          {
            "node": "Resp_Reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir_agenda": {
      "main": [
        [
          {
            "node": "Buscar_Eventos_Cal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Eventos_Cal": {
      "main": [
        [
          {
            "node": "Agregar_Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar_Eventos": {
      "main": [
        [
          {
            "node": "definir_disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir_disponibilidade": {
      "main": [
        [
          {
            "node": "Formatar_Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar_Slots": {
      "main": [
        [
          {
            "node": "Resp_VerHorarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-23T13:15:23.720Z",
  "id": "2n8jLpwk0EJVn4d2",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Calendário Gabriel — Corrigido v3 (timezone fix)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "e51b08f1-df9a-4cf7-bdc4-9086e1bbfa57",
      "name": "exec_workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "i1",
              "name": "NomeLead",
              "value": "={{ $json.query.lead }}",
              "type": "string"
            },
            {
              "id": "i2",
              "name": "servico",
              "value": "={{ $json.servico }}",
              "type": "string"
            },
            {
              "id": "i3",
              "name": "startConsulta",
              "value": "={{ (() => { const v = $json.query.start || ''; if (!v) return ''; if (v.match(/[+-]\\d{2}:\\d{2}$/) || v.endsWith('Z')) return v; return v + '-03:00'; })() }}",
              "type": "string"
            },
            {
              "id": "i4",
              "name": "endConsulta",
              "value": "={{ (() => { const v = $json.query.end || ''; if (!v) return ''; if (v.match(/[+-]\\d{2}:\\d{2}$/) || v.endsWith('Z')) return v; return v + '-03:00'; })() }}",
              "type": "string"
            },
            {
              "id": "i5",
              "name": "Evento",
              "value": "={{ $json.Evento }}",
              "type": "string"
            },
            {
              "id": "i6",
              "name": "identificadorLead",
              "value": "={{ $json.Remotejid }}",
              "type": "string"
            },
            {
              "id": "i7",
              "name": "Whatsapp",
              "value": "={{ $json.Remotejid.replace(/@.*$/,'').replace(/^55/,'') }}",
              "type": "string"
            },
            {
              "id": "i8",
              "name": "calendarId",
              "value": "={{ $json.calendar_id || 'c_534b0b089189e708055d3583581a0b450222b6c100df5903c7931913528d6c2e@group.calendar.google.com' }}",
              "type": "string"
            },
            {
              "id": "i9",
              "name": "profissionalNome",
              "value": "={{ $json.profissional_nome || 'Gabriel' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4e8636b5-9e13-4970-b5a2-4d34fe326916",
      "name": "setarInformacoes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        752
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "cancelamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "reagendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "VerHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VerHorarios"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "1f7ae615-27eb-41b0-8d76-2461b3166613",
      "name": "Switch_Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        496,
        752
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "limit": 1,
        "options": {
          "query": "={{ $('setarInformacoes').first().json.identificadorLead }}"
        }
      },
      "id": "dda04d31-5e2f-426c-b422-a774f13024fd",
      "name": "Ja_tem_evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        736,
        592
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "jt1",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a12b3568-53bd-4bfa-a90f-ceb4ed22d91a",
      "name": "If_Ja_tem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ja1",
              "name": "response",
              "value": "=Você já tem um horário marcado para o dia: {{ (() => { const d=new Date($json.start.dateTime); return d.toLocaleDateString('pt-BR',{day:'2-digit',month:'long',hour:'2-digit',minute:'2-digit',timeZone:'America/Sao_Paulo'}).replace(',',' às'); })() }}. Gostaria de reagendar?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9d93bb96-af00-42f2-95be-ce2fbe9a5e91",
      "name": "Ja_agendado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        512
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "timeMin": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "timeMax": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "options": {}
      },
      "id": "c735ca5f-a232-4697-85c6-d40d4999b521",
      "name": "Disponibilidade",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1168,
        672
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "av1",
              "leftValue": "={{ $json.available }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8cc813f3-b24a-4939-a8f6-b8e7bf276acf",
      "name": "If_Disponivel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        672
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "start": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "end": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "additionalFields": {
          "description": "=ID: {{ $('setarInformacoes').first().json.identificadorLead }}\nNome: {{ $('setarInformacoes').item.json.NomeLead }}\nWhatsapp: {{ $('setarInformacoes').item.json.Whatsapp }}\nProfissional: {{ $('setarInformacoes').item.json.profissionalNome }}\n{{ $('setarInformacoes').item.json.servico }}",
          "summary": "={{ $('setarInformacoes').item.json.profissionalNome }} | {{ $('setarInformacoes').item.json.NomeLead }}"
        }
      },
      "id": "83cfece4-274a-44f1-99e2-68cbb176f339",
      "name": "Criar_Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1616,
        592
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ag1",
              "name": "diaHora",
              "value": "={{ new Date($json.start.dateTime).toLocaleDateString('pt-BR',{day:'2-digit',month:'2-digit',timeZone:'America/Sao_Paulo'}) }} às {{ new Date($json.start.dateTime).toLocaleTimeString('pt-BR',{hour:'2-digit',minute:'2-digit',timeZone:'America/Sao_Paulo'}) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "66235041-34fc-4341-ae17-89eaaf677059",
      "name": "setarInfo_ag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        592
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "CRM_naregua",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').first().json.identificadorLead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Data do agendamento",
              "fieldValue": "={{ $('setarInfo_ag').item.json.diaHora }}"
            }
          ]
        }
      },
      "id": "682f30ea-f497-4f6b-afa8-48116958f9b9",
      "name": "Salvar_Data_CRM",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        592
      ],
      "credentials": {
        "supabaseApi": {
          "id": "lPqw6Aku7HwsgBAG",
          "name": "[Supabase] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ra1",
              "name": "response",
              "value": "=Agendamento confirmado para {{ $('setarInformacoes').item.json.NomeLead }} com {{ $('setarInformacoes').item.json.profissionalNome }} no dia {{ $('setarInfo_ag').item.json.diaHora }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ab34218c-4352-45df-b3de-d9595c5e2465",
      "name": "Resp_Agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "oc1",
              "name": "response",
              "value": "Horário não disponível. Por favor, escolha outro horário.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8ab13581-4700-412c-a1a9-3de24af03a02",
      "name": "Horario_Ocupado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        752
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "query": "={{ $('setarInformacoes').first().json.identificadorLead }}"
        }
      },
      "id": "1a61f74c-c66a-4c6e-a6f4-adee6322cdf8",
      "name": "Buscar_Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        736,
        832
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "id": "54486cbc-16b5-4cfc-8864-794d41032958",
      "name": "Deletar_Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        960,
        832
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rc1",
              "name": "response",
              "value": "Agendamento cancelado com sucesso. Quando quiser marcar novamente é só chamar!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fd6fa31e-ea45-45ed-b7f6-9085068bfc87",
      "name": "Resp_Cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        832
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "timeMin": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "timeMax": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "options": {}
      },
      "id": "1604023f-ba0f-4277-80d6-73bc178fd9d2",
      "name": "Disponibilidade_Reag",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        736,
        1072
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "rg1",
              "leftValue": "={{ $json.available }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa70c3ef-bb9b-45ce-8a3b-497d1fc97500",
      "name": "If_Disponivel_Reag",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "query": "={{ $('setarInformacoes').first().json.identificadorLead }}"
        }
      },
      "id": "dc34d184-7f24-49b9-be09-67e043f1f017",
      "name": "Buscar_Evento_Reag",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1168,
        992
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "eventId": "={{ $item('0').$node['Buscar_Evento_Reag'].json['id'] }}",
        "useDefaultReminders": false,
        "updateFields": {
          "end": "={{ $('setarInformacoes').first().json.endConsulta }}",
          "sendUpdates": "all",
          "start": "={{ $('setarInformacoes').first().json.startConsulta }}"
        }
      },
      "id": "85fcb2ac-df43-46f4-8776-c36526ddc8fd",
      "name": "Atualizar_Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1392,
        992
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rg2",
              "name": "response",
              "value": "=Reagendamento feito! Novo horário: {{ new Date($json.start.dateTime).toLocaleDateString('pt-BR',{day:'2-digit',month:'long',timeZone:'America/Sao_Paulo'}) }} às {{ new Date($json.start.dateTime).toLocaleTimeString('pt-BR',{hour:'2-digit',minute:'2-digit',timeZone:'America/Sao_Paulo'}) }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e06fc4e5-f9a3-44e0-b551-46bff11f0324",
      "name": "Resp_Reagendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        992
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "oc2",
              "name": "response",
              "value": "Horário não disponível para reagendamento. Por favor escolha outro horário.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6ecc4356-5c3f-4354-8bd7-f8b9c4692efb",
      "name": "Horario_Ocupado_Reag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        1152
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"timezone\": \"America/Sao_Paulo\", \"timeBetweenMeetingsMinutes\": 30, \"schedule\": [{\"day\": \"SEG\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"TER\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"QUA\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"QUI\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"SEX\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"SAB\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"14:00\"}}, {\"day\": \"DOM\", \"available\": false, \"hours\": {\"after\": \"\", \"before\": \"\"}}]}",
        "options": {}
      },
      "id": "c06c5f21-41bb-420d-89ed-4bc68ccfe0c4",
      "name": "definir_agenda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        1312
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $now.toISO() }}",
        "timeMax": "={{ $now.plus({ weeks: 3 }).toISO() }}",
        "options": {}
      },
      "id": "b4fb65c2-22ce-44be-a1d5-dd88114300a6",
      "name": "Buscar_Eventos_Cal",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        960,
        1312
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "fb0fe1db-2cd5-4d9f-a78d-bc29e589fbae",
      "name": "Agregar_Eventos",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1168,
        1312
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd1",
              "name": "data",
              "value": "={{\n(() => {\n  const ev = $json.data;\n  const cfg = $('definir_agenda').first().json;\n  const intervalo = cfg.timeBetweenMeetingsMinutes;\n  const dayMap = {0:'DOM',1:'SEG',2:'TER',3:'QUA',4:'QUI',5:'SEX',6:'SAB'};\n  const pad = n => String(n).padStart(2,'0');\n\n  // FIX TIMEZONE: Forçar todas as operações em America/Sao_Paulo\n  // Usar offset -03:00 para criar datas consistentes\n  function spNow() {\n    // Gerar \"agora\" em SP: pegar UTC e subtrair 3h para ter horário SP\n    const utc = new Date();\n    return new Date(utc.getTime() - 3 * 60 * 60 * 1000);\n  }\n\n  function toSPDate(dateStr) {\n    // Converter qualquer dateTime ISO para timestamp absoluto\n    // Se já tem offset (-03:00), Date() interpreta corretamente\n    // Se não tem offset, assumir que é São Paulo e adicionar -03:00\n    if (dateStr && !dateStr.match(/[+-]\\d{2}:\\d{2}$/) && !dateStr.endsWith('Z')) {\n      dateStr = dateStr + '-03:00';\n    }\n    return new Date(dateStr);\n  }\n\n  function getSlot(date, t) {\n    const [h,m] = t.split(':').map(Number);\n    const d = new Date(date);\n    d.setHours(h,m,0,0);\n    return d;\n  }\n\n  function sameDay(a,b) {\n    return a.getFullYear()===b.getFullYear() && a.getMonth()===b.getMonth() && a.getDate()===b.getDate();\n  }\n\n  const result = [];\n  const hoje = spNow();\n  hoje.setHours(0,0,0,0);\n\n  // FIX: Converter eventos para timestamps absolutos via toSPDate\n  const eventos = Array.isArray(ev)\n    ? ev.filter(e => e?.start?.dateTime && e?.end?.dateTime).map(e => ({\n        start: toSPDate(e.start.dateTime),\n        end: toSPDate(e.end.dateTime)\n      }))\n    : [];\n\n  for(let i=0; i<12*7; i++){\n    const d = new Date(hoje);\n    d.setDate(hoje.getDate()+i);\n    d.setHours(0,0,0,0);\n    const dia = dayMap[d.getDay()];\n    const c = cfg.schedule.find(s => s.day===dia);\n    if(!c || !c.available) continue;\n    const ini = getSlot(d, c.hours.after);\n    const fim = getSlot(d, c.hours.before);\n\n    // Filtrar eventos do mesmo dia (comparando em horário SP)\n    const evDia = eventos.filter(e => sameDay(e.start, d) || sameDay(e.end, d));\n\n    for(let s=new Date(ini); s<fim;) {\n      const sf = new Date(s.getTime()+intervalo*60000);\n      if(sf>fim) break;\n\n      // FIX: Comparar slots (horário SP) com eventos (convertidos para SP)\n      const conflito = evDia.some(e => s < e.end && sf > e.start);\n\n      if(!conflito) {\n        result.push({\n          data: s.toISOString().split('T')[0],\n          start: pad(s.getHours())+':'+pad(s.getMinutes()),\n          end: pad(sf.getHours())+':'+pad(sf.getMinutes())\n        });\n      }\n      s = sf;\n    }\n  }\n  return JSON.stringify(result);\n})()\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "9acc1adc-c8ed-491a-8180-4cc2ea0969a2",
      "name": "definir_disponibilidade",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "const slots=items[0].json.data||[];\nconst agrup={};\nfor(const s of slots){if(!agrup[s.data])agrup[s.data]=[];agrup[s.data].push(s.start);}\nconst hoje=new Date();\n// FIX: Usar data SP para filtrar hoje\nconst spNow=new Date(hoje.getTime()-3*60*60*1000);\nconst hojeStr=spNow.toISOString().split('T')[0];\nconst dias=Object.keys(agrup).filter(d=>d!==hojeStr).sort();\nconst sel=[];\nconst ph=h=>{const[hh,mm]=h.split(':').map(Number);return{hh,mm};};\nfor(const dia of dias.slice(0,10)){\n  const ord=agrup[dia].sort();\n  const man=ord.filter(h=>{const{hh}=ph(h);return hh<12;});\n  const tar=ord.filter(h=>ph(h).hh>=13).slice(0,10);\n  const [y,mo,d]=dia.split('-');\n  [...man,...tar].forEach(h=>sel.push(`${d}/${mo} às ${h}`));\n}\nreturn [{json:{disponibilidade:sel.join(', ')}}];"
      },
      "id": "390fc64f-494e-4cbe-9ee2-ab5b0ed43a07",
      "name": "Formatar_Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        1312
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vh1",
              "name": "response",
              "value": "={{ $json.disponibilidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "34cd0ea8-f5e8-41e4-8a20-8508a013ab11",
      "name": "Resp_VerHorarios",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        1312
      ]
    }
  ],
  "pinData": {
    "exec_workflow": [
      {
        "json": {
          "Evento": "VerHorarios",
          "calendar_id": "c_534b0b089189e708055d3583581a0b450222b6c100df5903c7931913528d6c2e@group.calendar.google.com",
          "profissional_nome": "Gabriel"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-23T13:15:23.720Z",
      "createdAt": "2026-03-23T13:15:23.720Z",
      "role": "workflow:owner",
      "workflowId": "2n8jLpwk0EJVn4d2",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-22T20:20:33.529Z",
      "createdAt": "2026-01-22T20:20:33.529Z",
      "id": "Fi0iRqfXHshhowHU",
      "name": "prod"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T14:50:56.182Z",
  "versionId": "87b3574d-6841-42bb-948c-95462ef1d5f1"
}