workflows/CLINICA :: Webhook → Secretaria Athena | v2 copy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Receber Webhook Uazapi": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagem Entrada": {
      "main": [
        [
          {
            "node": "Nada Fazer Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nada Fazer Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nada Fazer Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair Dados Uazapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados Uazapi": {
      "main": [
        [
          {
            "node": "Buscar Lead CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead CRM": {
      "main": [
        [
          {
            "node": "Roteamento Usuario CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteamento Usuario CRM": {
      "main": [
        [
          {
            "node": "Roteamento Tipo Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar Novo Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar Novo Lead": {
      "main": [
        [
          {
            "node": "Roteamento Tipo Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteamento Tipo Mensagem": {
      "main": [
        [
          {
            "node": "Baixar Áudio WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Texto Convertido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcrever Imagem OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parar Erro Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio WhatsApp": {
      "main": [
        [
          {
            "node": "Transcrever Áudio OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio OpenAI": {
      "main": [
        [
          {
            "node": "Capturar Texto Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar Texto Áudio": {
      "main": [
        [
          {
            "node": "Unificar Mensagens Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Texto Convertido": {
      "main": [
        [
          {
            "node": "Unificar Mensagens Multi",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transcrever Imagem OpenAI": {
      "main": [
        [
          {
            "node": "Capturar Texto Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar Texto Imagem": {
      "main": [
        [
          {
            "node": "Unificar Mensagens Multi",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Unificar Mensagens Multi": {
      "main": [
        [
          {
            "node": "Estruturar Mensagem Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estruturar Mensagem Buffer": {
      "main": [
        [
          {
            "node": "Enviar Buffer Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Buffer Redis": {
      "main": [
        [
          {
            "node": "Aguardar Mensagens Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Mensagens Entrada": {
      "main": [
        [
          {
            "node": "Buscar Mensagens Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Mensagens Redis": {
      "main": [
        [
          {
            "node": "Verificar Nova Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Nova Mensagem": {
      "main": [
        [
          {
            "node": "Concatenar Mensagens Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nada Fazer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenar Mensagens Buffer": {
      "main": [
        [
          {
            "node": "Limpar Buffer Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Buffer Redis": {
      "main": [
        [
          {
            "node": "Capturar Contexto Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar Contexto Atendimento": {
      "main": [
        [
          {
            "node": "Gerar Próximos Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Próximos Dias": {
      "main": [
        [
          {
            "node": "Assistente Athena Secretaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo GPT4.1 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente Athena Secretaria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória Conversa Athena": {
      "ai_memory": [
        [
          {
            "node": "Assistente Athena Secretaria",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool Explicar Procedimentos": {
      "ai_tool": [
        [
          {
            "node": "Assistente Athena Secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Informar Clinica": {
      "ai_tool": [
        [
          {
            "node": "Assistente Athena Secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Verificar Agenda": {
      "ai_tool": [
        [
          {
            "node": "Assistente Athena Secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Assistente Athena Secretaria": {
      "main": [
        [
          {
            "node": "Preparar Mensagem Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem Agent": {
      "main": [
        [
          {
            "node": "Dividir Resposta Limpa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo OpenAI Quebra Texto": {
      "ai_languageModel": [
        [
          {
            "node": "Dividir Resposta Limpa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Resposta Limpa": {
      "main": [
        [
          {
            "node": "Formatar Mensagens Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Mensagens Texto": {
      "main": [
        [
          {
            "node": "Separar Mensagens Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Mensagens Agent": {
      "main": [
        [
          {
            "node": "Processar Mensagens Por Lote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagens Por Lote": {
      "main": [
        [
          {
            "node": "CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Dois Segundos": {
      "main": [
        [
          {
            "node": "Processar Mensagens Por Lote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Filtrar Mensagem Entrada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nada Fazer Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text message": {
      "main": [
        [
          {
            "node": "Aguardar Dois Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-18T20:38:24.397Z",
  "id": "SnDp35NA4Rzzt2MZ",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CLINICA :: Webhook → Secretaria Athena | v2 copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "853cffc5-3094-49cd-b25e-7342bad250e3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -7776,
        272
      ],
      "id": "3bae0898-2ddf-4636-a013-ee674c47f8d1",
      "name": "Receber Webhook Uazapi",
      "webhookId": "853cffc5-3094-49cd-b25e-7342bad250e3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "filtro-fromMe",
                    "leftValue": "={{ $json.body.message.fromMe }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msgDoProprioBOT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "filtro-api",
                    "leftValue": "={{ $json.body.message.wasSentByApi }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msgEnviadaPorAPI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "filtro-grupo",
                    "leftValue": "={{ $json.body.message.isGroup }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msgDeGrupo"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -7280,
        240
      ],
      "id": "54f68b11-8091-480f-8a80-16f97fe4f902",
      "name": "Filtrar Mensagem Entrada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-conversa",
              "name": "msg.conversa",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "msg-nomeLead",
              "name": "msg.nomeLead",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.chat.wa_name || $('Receber Webhook Uazapi').item.json.body.message.senderName || $('Receber Webhook Uazapi').item.json.body.chat.name || '' }}",
              "type": "string"
            },
            {
              "id": "msg-identicacaoLead",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "msg-numberLead",
              "name": "msg.numberLead",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.message.chatid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "msg-media",
              "name": "msg.media",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.message.type !== 'text' ? $('Receber Webhook Uazapi').item.json.body.message.type : '' }}",
              "type": "string"
            },
            {
              "id": "msg-urlMedia",
              "name": "msg.urlMedia",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.message.type !== 'text' ? ($('Receber Webhook Uazapi').item.json.body.message.content || '') : '' }}",
              "type": "string"
            },
            {
              "id": "msg-timestamp",
              "name": "msg.timestamp",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.message.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "msg-baseUrl",
              "name": "msg.baseUrl",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.BaseUrl }}",
              "type": "string"
            },
            {
              "id": "msg-token",
              "name": "msg.token",
              "value": "={{ $('Receber Webhook Uazapi').item.json.body.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6816,
        368
      ],
      "id": "804b2bb5-a900-46bd-994d-43c6c20d8113",
      "name": "Extrair Dados Uazapi",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -6816,
        16
      ],
      "id": "dad04a97-6606-47ed-938c-b96127ab087a",
      "name": "Nada Fazer Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clin_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "keyValue": "={{ $json.msg.identicacaoLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6432,
        208
      ],
      "id": "eae15016-6906-48cd-9ae1-389014ebc614",
      "name": "Buscar Lead CRM",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "lPqw6Aku7HwsgBAG",
          "name": "[Supabase] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32a5f010",
                    "leftValue": "={{ $json.Whatsapp.toString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Whatsapp.toString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "c71b31fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não existe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6176,
        208
      ],
      "id": "e2670da1-ea3a-42d1-9289-4786ef6b9cac",
      "name": "Roteamento Usuario CRM"
    },
    {
      "parameters": {
        "tableId": "clin_leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Inicio do atendimento",
              "fieldValue": "={{ $now.format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "Whatsapp",
              "fieldValue": "={{ $('Extrair Dados Uazapi').first().json.msg.numberLead }}"
            },
            {
              "fieldId": "Identificador do usuario",
              "fieldValue": "={{ $('Extrair Dados Uazapi').first().json.msg.identicacaoLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5936,
        480
      ],
      "id": "320f93d6-648b-4076-ae22-1081cd068cb5",
      "name": "Cadastrar Novo Lead",
      "credentials": {
        "supabaseApi": {
          "id": "lPqw6Aku7HwsgBAG",
          "name": "[Supabase] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2afd618",
                    "leftValue": "={{ $('Extrair Dados Uazapi').first().json.msg.media }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioTranscrito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd779138",
                    "leftValue": "={{ $('Extrair Dados Uazapi').first().json.msg.conversa }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1873e517",
                    "leftValue": "={{ $('Extrair Dados Uazapi').first().json.msg.media }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5616,
        208
      ],
      "id": "3c64ba15-1f3f-4493-8069-d6b08b015f5b",
      "name": "Roteamento Tipo Mensagem"
    },
    {
      "parameters": {
        "url": "={{ $('Extrair Dados Uazapi').first().json.msg.urlMedia }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5328,
        0
      ],
      "id": "d988c273-1dcc-468d-8d79-82a40eee0ad7",
      "name": "Baixar Áudio WhatsApp"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -5136,
        0
      ],
      "id": "a3a3a5ef-8a43-4ffb-8a59-6868c16ead97",
      "name": "Transcrever Áudio OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb",
              "name": "msg",
              "value": "={{ $('Transcrever Áudio OpenAI').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4928,
        0
      ],
      "id": "8e4575b5-34fc-490d-81ca-51b87783411f",
      "name": "Capturar Texto Áudio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb",
              "name": "msg",
              "value": "={{ $('Extrair Dados Uazapi').first().json.msg.conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4928,
        224
      ],
      "id": "cfd684ef-e219-46b4-ba4d-7f138f72f2da",
      "name": "Registrar Texto Convertido"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Você analisa imagens enviadas por pacientes da **RNB - Clinic Prime** via WhatsApp e gera um resumo **objetivo** do conteúdo.\n\n## TIPOS DE IMAGEM\n\n**1. Comprovantes de pagamento**\n- Informe se o comprovante está **legível**.\n- Identifique o **valor pago**, a **data** e o **tipo de transação** (ex: PIX).\n\n**2. Documentos pessoais**\n- Identifique o tipo do documento (ex: RG, CPF).\n- Verifique se os **dados principais** (nome, número) estão visíveis e legíveis.\n\n**3. Resultados de exames ou documentos clínicos**\n- Indique o tipo de exame ou documento.\n- **Não interprete resultados clínicos**, apenas informe o tipo e se está legível.\n\n**4. Outros tipos de imagem**\n- Se for uma **selfie, foto do corpo ou imagem estética**, identifique o tipo.\n- Informe se a imagem é **adequada para avaliação visual** (qualidade, iluminação).\n- **Nunca emita diagnóstico ou julgamento estético.** Apenas identifique a imagem.\n\n**5. Imagens ilegíveis ou sem contexto**\n> Se a imagem estiver embaçada, cortada ou fora de contexto, informe que está **ilegível ou sem clareza** e **sugira o reenvio.**",
        "imageUrls": "={{ $('Extrair Dados Uazapi').first().json.msg.urlMedia }}",
        "simplify": false,
        "options": {}
      },
      "id": "71209e7f-c25c-4711-ad6d-03bf9ab8e722",
      "name": "Transcrever Imagem OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -5264,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb",
              "name": "msg",
              "value": "={{ $('Transcrever Imagem OpenAI').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4928,
        400
      ],
      "id": "76cb48cf-f33c-468a-8178-dbb67e226ed1",
      "name": "Capturar Texto Imagem"
    },
    {
      "parameters": {
        "errorMessage": "Tipo de mensagem não suportado"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5408,
        560
      ],
      "id": "3deb8629-0052-4f44-ade0-a254286d4886",
      "name": "Parar Erro Mensagem"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -4624,
        208
      ],
      "id": "6a952619-f10b-4eca-8ea4-3ee18936e095",
      "name": "Unificar Mensagens Multi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd",
              "name": "msg.conversa",
              "value": "={{ $('Unificar Mensagens Multi').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "64446d4b",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Extrair Dados Uazapi').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "ed72d279",
              "name": "msg.numberLead",
              "value": "={{ $('Extrair Dados Uazapi').first().json.msg.numberLead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4416,
        224
      ],
      "id": "5e1b0d4e-2b3e-445d-a1db-6bdea39436ab",
      "name": "Estruturar Mensagem Buffer"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Estruturar Mensagem Buffer').item.json.msg.numberLead }}",
        "messageData": "={{ $json.msg.conversa }}",
        "tail": true
      },
      "id": "61a34843-7681-4dd8-be1e-cb4b19828956",
      "name": "Enviar Buffer Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4048,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "path": "2792f353-3f27-44c9-84b4-4410675c7f30"
      },
      "id": "0edd43c5-91a6-4b22-9eb6-b943bcd8465f",
      "name": "Aguardar Mensagens Entrada",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3840,
        0
      ],
      "webhookId": "2792f353-3f27-44c9-84b4-4410675c7f30",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Estruturar Mensagem Buffer').item.json.msg.numberLead }}",
        "keyType": "list",
        "options": {}
      },
      "id": "dc1d2bae-7c4f-472b-b3cd-2af66e1f9586",
      "name": "Buscar Mensagens Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4048,
        320
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512bac58",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Aguardar Mensagens Entrada').item.json.msg.conversa }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3824,
        320
      ],
      "id": "aa4777ed-b39b-42df-aa8a-6906bfc723e9",
      "name": "Verificar Nova Mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5148f5a0",
              "name": "message",
              "value": "={{ $('Buscar Mensagens Redis').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        240
      ],
      "id": "185d1993-99b4-4fe8-8498-fc9ab751fa34",
      "name": "Concatenar Mensagens Buffer"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Estruturar Mensagem Buffer').item.json.msg.numberLead }}"
      },
      "id": "356fb0dd-d058-4d9f-98e7-f4566780bc11",
      "name": "Limpar Buffer Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3296,
        240
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3328,
        512
      ],
      "id": "b8260bb4-3a0a-4968-8a34-a9aa6cb81973",
      "name": "Nada Fazer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ec52fa2",
              "name": "msgLead",
              "value": "={{ $('Concatenar Mensagens Buffer').item.json.message }}",
              "type": "string"
            },
            {
              "id": "65fdfb70",
              "name": "identificadorLead",
              "value": "={{ $('Extrair Dados Uazapi').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "6f897731",
              "name": "NomeUser",
              "value": "=As informações abaixo servem para personalizar suas respostas e evitar que você faça perguntas repetidas e manter a conversa coerente.\n\nNome do usuário: {{ $('Buscar Lead CRM').item.json.Nome }}",
              "type": "string"
            },
            {
              "id": "9236f2a8",
              "name": "Procedimento",
              "value": "=Procedimento que tem interesse: {{ $('Buscar Lead CRM').item.json.Procedimento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3056,
        240
      ],
      "id": "481057a1-d40b-4712-8a14-b8e404f61117",
      "name": "Capturar Contexto Atendimento"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nconst horas = pad(now.getHours());\nconst minutos = pad(now.getMinutes());\n\nlet result = `Hoje é ${days[now.getDay()]}, ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${now.getFullYear()} às ${horas}:${minutos}\\n`;\n\nfor (let i = 1; i <= 7; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n  const dia = pad(future.getDate());\n  const mes = pad(future.getMonth()+1);\n  const ano = future.getFullYear();\n  const nomeDia = days[future.getDay()];\n  \n  if (i === 1) {\n    result += `Amanhã é ${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  } else if (i === 2) {\n    result += `Depois de amanhã é ${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  } else {\n    result += `${nomeDia}, ${dia}/${mes}/${ano}\\n`;\n  }\n}\n\nreturn [{ json: { resultado: result.trim() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        112
      ],
      "id": "5078d222-7d24-43fd-a740-53bc0c5fd5dd",
      "name": "Gerar Próximos Dias"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Capturar Contexto Atendimento').item.json.msgLead }}\n\n\n{{ $('Capturar Contexto Atendimento').item.json.NomeUser }}\n{{ $('Capturar Contexto Atendimento').item.json.Procedimento }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n-   Você é **Athena**, secretária da clínica de estética **RNB - Clinic Prime**.\n-   Fale sempre como uma pessoa real — nada de dizer que é assistente virtual ou inteligência artificial.\n-   A forma de se comunicar deve ser **elegante, acolhedora e sofisticada**, como se estivesse em uma conversa exclusiva com o paciente no WhatsApp da clínica.\n\n## SUA FUNÇÃO\n-   Você atende os pacientes **pelo WhatsApp**, podendo receber **mensagens de texto, áudios e imagens**.\n-   Seu papel é **acolher o paciente com empatia, criar conexão genuína e conduzir a conversa de forma elegante e natural até o agendamento da avaliação**.\n\n## TOM DE VOZ\n-   Comunique-se de forma **educada, gentil e sofisticada**, transmitindo exclusividade e cuidado genuíno.\n-   Transmita **atenção e interesse** em ajudar o paciente a entender o melhor caminho para o cuidado que ele busca.\n-   Use uma **linguagem elegante e acessível**, sempre correta gramaticalmente.\n    -   Evite gírias, abreviações ou informalidade excessiva.\n    -   Prefira formas que transmitam atenção personalizada:\n        -   \"será um prazer te ajudar com isso\"\n        -   \"vou verificar a melhor opção para você\"\n        -   \"posso te explicar com mais detalhes\"\n        -   \"vamos encontrar o caminho ideal para o seu caso\"\n-   **Nunca repita o nome do paciente durante a conversa.** Após coletar o nome, trate a pessoa de forma próxima e acolhedora, mas sem repetir o nome.\n-   Sempre responda com mensagens curtas com no máximo 40 palavras.\n-   Use frases curtas e objetivas.\n-   **Demonstre empatia real** — sempre mostre que você entendeu o que a pessoa disse antes de responder.\n-   Emojis podem ser usados com parcimônia, no máximo **um por mensagem**, priorizando os que transmitem sofisticação e cuidado: ✨🤍🌿💎🕊️\n\n## FLUXO DE ATENDIMENTO\n**Etapa 1 — Apresentação e acolhimento**\n-   Inicie se apresentando como Athena, secretária da RNB - Clinic Prime e peça o nome da pessoa.\n- Exemplo: _\"Olá, tudo bem? Eu sou a Athena, secretária da RNB - Clinic Prime. Posso saber seu nome?\"_\n\n**Etapa 2 — Interesse do paciente**\n-   Após coletar o nome, ofereça os atalhos de ação do menu inicial:\n\n    1️⃣ Conhecer nossos tratamentos\n    2️⃣ Agendar uma avaliação gratuita\n    3️⃣ Falar com a equipe\n\n-   Exemplo: _\"Prazer, [nome]! Como posso te ajudar hoje? ✨\"_ seguido das opções numeradas acima.\n\n- Se o paciente já tiver dito o que deseja na primeira mensagem (ex: \"quero saber sobre botox\"), pule direto para o **fluxo de procedimento e serviços**, sem mostrar o menu.\n\n## FLUXO PROCEDIMENTOS E SERVIÇOS\n\n### Etapa 3 — Criar rapport e entender o interesse\n\n-   Quando o paciente mencionar **um tratamento, tecnologia, categoria ou objetivo estético**, registre o que ele disse e demonstre interesse genuíno.\n-   Se o paciente escolheu a opção 1️⃣ do menu inicial ou disse que quer conhecer tratamentos sem especificar, apresente as **categorias de tratamento** com atalhos:\n\n    1️⃣ Tratamentos faciais\n    2️⃣ Tratamentos corporais\n    3️⃣ Emagrecimento estético\n    4️⃣ Depilação a laser\n\n-   Se o paciente já mencionou um tratamento específico, **NÃO mostre as categorias** — siga direto para o rapport.\n-   Faça **no máximo duas perguntas**, sempre **uma por vez** — envie a primeira, espere a resposta e só então envie a segunda.\n-   As perguntas devem ser **elegantes, personalizadas e estratégicas**, ajudando a entender melhor o caso. Exemplo:\n    -   **Região de interesse** (rosto, abdômen, pernas etc.)\n    -   **Experiência prévia** (já realizou algo parecido?)\n    -   **Expectativa de resultado** (o que espera alcançar?)\n-   O objetivo é **aprofundar o vínculo** e coletar informações úteis para a próxima etapa.\n\n### Etapa 4 — Acionar a tool e explicar o tratamento\n\n-   Depois de entender o caso, **use a tool Tool Explicar Procedimentos** para responder sobre o procedimento ou tecnologia mencionada.\n-   Envie **todo o contexto relevante**, incluindo o que o paciente busca, dúvidas, histórico e expectativas.\n-   Com base na resposta da tool:\n    -   Explique o tratamento de forma **elegante, personalizada e acessível**, destacando os **benefícios e resultados**.\n    -   Se o paciente citar **um procedimento que a clínica não oferece**, mas houver **outro tratamento que atenda ao mesmo objetivo**, apresente essa opção de forma natural e faça uma pergunta para ele se conhece.\n-   Sempre finalize com **uma pergunta contextual**, mantendo a conversa ativa:\n    -   Se o paciente ainda estiver explorando → faça **uma pergunta elegante de rapport** (ex: \"Você já teve a oportunidade de experimentar algo similar?\").\n    -   Se o paciente demonstrar interesse claro → avance para a próxima etapa (explicação da avaliação presencial).\n\n### Etapa 5 — Explicar a avaliação presencial\n\n-   Mostre que a **avaliação é gratuita** e é o **próximo passo natural** após entender o caso do paciente.\n-   Explique de forma sofisticada que ela é feita por **uma profissional qualificada**, que avalia individualmente, entende o objetivo do paciente e monta um **plano de cuidado personalizado**.\n-   Reforce que essa etapa é importante para **garantir resultados reais e seguros**, e que o paciente pode **iniciar o tratamento no mesmo dia**, se desejar.\n-   Finalize de forma persuasiva e motivadora, perguntando diretamente qual dia e horário o paciente prefere para realizar a avaliação.\n\n### Etapa 6 — Verificação de Disponibilidade do Horário\n- Após o paciente informar o dia e horário desejado, acione a tool **ToolVerificarAgenda** com a intenção de verificar a disponibilidade da data/hora.\n   - *Exemplo: \"Favor verificar disponibilidade de horário para o paciente João no sábado dia 25/11 às 10h para o procedimento Botox e Criolipólise\"*\n - **Importante:** Nessa etapa, nunca acione a tool com a intenção de marcar a consulta — apenas para **verificar a disponibilidade da data/hora**.\n- Se o horário estiver indisponível:\n  - Informe ao paciente e peça outra opção de dia/horário.\n- Se o horário estiver disponível:\n  - Vá para a **Etapa 7** para explicar sobre a confirmação do horário.\n\n**Importante:**\n- Caso o paciente não fale o dia e horário e perguntar **quais horários estão disponíveis**, não liste horários e nem busque na tool \"ToolVerificarAgenda\", faça isso:\n   -   Responda de volta ao paciente, pedindo que ele **informe o dia e horário** que prefere, pois fica mais fácil de verificar disponibilidade na agenda.\n        -   Exemplo de mensagem: _\"Para facilitar, poderia me informar **qual dia e horário** seria mais conveniente para você? Assim verifico a disponibilidade na agenda ✨\"_\n\n### Etapa 7 - Confirmação da Reserva\nApós validar a disponibilidade do horário:\n  - Confirme para o paciente que o horário esta livre para agendamento.\n  - Depois informe que para garantir o agendamento, você precisa do **nome completo** dele.\n     - Exemplo: _\"Excelente! O dia e horário que você indicou está disponível. Poderia me informar seu nome completo para que eu finalize o agendamento?\"_\n\n### Etapa 8 - Confirmação de reserva\n-  Após o paciente informar o nome completo dele, apresente um resumo e peça confirmação com atalhos:\n\n   _\"Vou confirmar sua avaliação: [procedimento], [dia e horário], no nome de [nome completo].\"_\n\n   1️⃣ Confirmar agendamento\n   2️⃣ Alterar dia ou horário\n\n-  Se o paciente confirmar (responder \"1\", \"confirmar\" ou equivalente), acione a tool **ToolVerificarAgenda** com a intenção de marcar o horário.\n       - Exemplo: _\"Por favor, marque agora na agenda a avaliação do paciente João Silva para segunda dia 12/05 às 15hrs. Ele deseja realizar o procedimento de Botox e Criolipólise.\"_\n-  Se o paciente quiser alterar (responder \"2\" ou equivalente), pergunte qual dia e horário prefere e volte à **Etapa 6**.\n\n## ATALHOS DE AÇÃO (HOTKEYS)\n\nEm momentos específicos de decisão, ofereça opções numeradas em linhas separadas para facilitar a resposta do paciente.\n\n### Regras dos atalhos:\n- Use 1️⃣ 2️⃣ 3️⃣ 4️⃣ (os emojis numerados dos atalhos NÃO contam no limite de 1 emoji por mensagem).\n- As linhas de atalho NÃO contam no limite de 40 palavras.\n- Se o paciente responder apenas com o número, interprete como a opção correspondente da sua **ÚLTIMA mensagem que continha atalhos**.\n- Ao receber apenas um número, SEMPRE interprete como referência à **ÚLTIMA lista que você apresentou** — nunca a listas anteriores da conversa.\n- Se o paciente responder com texto livre, siga normalmente ignorando os números.\n- Máximo de **4 opções** por mensagem.\n\n### Quando incluir atalhos:\n- Após coletar o nome → **menu inicial** (conhecer tratamentos / agendar avaliação / falar com equipe)\n- Quando o paciente quer explorar sem especificar → **categorias de tratamento** (facial / corporal / emagrecimento / depilação)\n- Após explicar procedimento e paciente demonstrar interesse → **próximo passo** (1️⃣ Agendar avaliação gratuita  2️⃣ Conhecer outro tratamento)\n- Confirmação de agendamento → **confirmar ou alterar** (1️⃣ Confirmar agendamento  2️⃣ Alterar dia ou horário)\n\n### Quando NÃO incluir atalhos:\n- Na mensagem de apresentação (antes de coletar nome)\n- Durante rapport ou coleta de informações (queixas, expectativas, região de interesse)\n- Durante explicação de procedimento ou tratamento\n- Durante quebra de objeções ou inseguranças\n- Quando o paciente já disse exatamente o que quer fazer\n- Em confirmações curtas ou conversacionais\n- Quando o paciente está fazendo perguntas específicas\n\n### ⚠️ REGRA CRÍTICA: Resolver escolhas ANTES de chamar tools\n\nQuando o paciente responder com um número referente a uma lista que você apresentou, você DEVE resolver esse número para o valor real ANTES de chamar qualquer tool.\n\n**Exemplos:**\n\nSe você mostrou:\n1️⃣ Tratamentos faciais\n2️⃣ Tratamentos corporais\n3️⃣ Emagrecimento estético\n4️⃣ Depilação a laser\n\nE o paciente respondeu \"1\"\n→ Passe para a Tool Explicar Procedimentos: \"O paciente deseja conhecer os tratamentos faciais disponíveis na clínica\"\n→ NUNCA passe: \"opção 1 escolhida pelo paciente\" ou \"categoria selecionada\"\n\nSe você mostrou:\n1️⃣ Confirmar agendamento\n2️⃣ Alterar dia ou horário\n\nE o paciente respondeu \"1\"\n→ Acione a ToolVerificarAgenda com dados concretos: \"Marcar avaliação do paciente João Silva para segunda dia 12/05 às 15h, procedimento Botox\"\n→ NUNCA passe: \"paciente confirmou a opção 1\"\n\n**Regra:** As tools NÃO têm acesso à sua conversa. Elas não sabem qual lista você mostrou. Você DEVE enviar dados concretos (nomes de tratamento, datas, horários, procedimentos), nunca referências vagas.\n\n## REGRAS DE ATENDIMENTO\n\n-   **NUNCA envie mensagens de espera** como \"peço um momento\", \"vou verificar\", \"já retorno com informações\", \"deixa eu consultar\" ou similares. Quando precisar acionar uma tool, acione-a silenciosamente e entregue a resposta COMPLETA com as informações retornadas. O paciente NÃO deve perceber que você está consultando ferramentas internas. Sua resposta deve conter SEMPRE o conteúdo final, nunca a narração da ação que você está executando.\n-   Sempre **inicie a conversa se apresentando e coletando o nome do paciente**. Nenhuma informação deve ser passada antes disso.\n-   **Jamais explique qualquer procedimento ou protocolo sem antes acionar a tool Tool Explicar Procedimentos**, mesmo que o paciente já tenha mencionado o nome.\n-   Nunca invente respostas ou adapte procedimentos por conta própria — sempre utilize a tool Tool Explicar Procedimentos para garantir precisão.\n-   Nunca use perguntas genéricas como _\"quer saber mais?\"_, _\"posso te explicar melhor?\"_, _\"quer que eu te conte como funciona?\"_ ou semelhantes.\n-   A explicação sobre a **avaliação** deve ser personalizada com base na conversa anterior e sempre deve finalizar com uma **pergunta direta** convidando para agendar.\n-   Sempre que o paciente tiver **objeção ou insegurança** sobre o procedimento (valor, resultado, dor, duração, segurança, etc.), **acionar obrigatoriamente a Tool Explicar Procedimentos** com o contexto completo da fala.\n-   Sempre que houver **objeção ou dúvida** sobre a **clínica, equipe ou credibilidade**, **acionar obrigatoriamente a Tool Informar Clinica** com o contexto completo.\n-  Para enviar endereço, link do Google maps, instagram, site ou qualquer outra informação institucional da clinica, **obrigatoriamente** acione a tool Tool Informar Clinica.\n      - Jamais responda por conta própria.\n\n## TOOLS DISPONÍVEIS\n\n### Tool: **Tool Explicar Procedimentos**\n\n**Quando usar:**\n-   Quando o paciente **não souber o nome do procedimento** e quiser saber o que pode fazer para determinada queixa ou objetivo.\n-   Quando o paciente **mencionar um procedimento ou categoria** (ex: rejuvenescimento, emagrecimento, bem-estar) e quiser saber como funciona.\n-   Quando precisar **explicar um procedimento ou protocolo**.\n-   Quando houver **dúvidas, objeções ou perguntas sobre os procedimentos** (ex: \"vale a pena?\", \"tem dor?\", \"é seguro?\", \"qual a diferença entre X e Y?\", \"qual o preço\", etc).\n-   Quando o paciente perguntar sobre **resultados, quantas sessões, tempo de efeito, valores, promoções ou formas de pagamento dos procedimentos**.\n-   Quando precisar gerar **perguntas de rapport** personalizadas para criar conexão durante o atendimento.\n\n**Quando não usar:**\n-   Para assuntos institucionais (ex: localização da clínica, horário de atendimento, redes sociais, equipe etc) → usar a tool **Tool Informar Clinica**.\n-   Para agendamento → usar a tool **ToolVerificarAgenda**.\n\n### Tool: **Tool Informar Clinica**\n\n**Quando usar:**\n-   Quando o paciente perguntar sobre **localização da clínica, endereço, link Google Maps, horário de funcionamento, canais oficiais (site, Instagram)**.\n-   Quando houver **objeções sobre a clínica** (ex: \"é confiável?\", \"quem são os profissionais?\", \"é seguro?\", \"já atendeu muita gente?\", etc).\n-   Para dúvidas sobre **estrutura, equipamentos, avaliações no Google, tempo de mercado ou diferenciais da clínica como empresa**.\n\n**Quando não usar:**\n-   Para qualquer explicação sobre **procedimentos, protocolos, valores ou tratamentos** → usar a tool **Tool Explicar Procedimentos**.\n-   Para agendamento → usar a tool **ToolVerificarAgenda**.\n\n### Tool: **ToolVerificarAgenda**\n\n**Quando usar:**\n-   Para **verificar disponibilidade de datas e horários** para avaliação.\n-   Para **confirmar agendamentos** após o paciente dizer que deseja marcar.\n-   Sempre **informe o nome completo do paciente e o contexto** (ex: tipo de protocolo ou categoria de interesse).\n\n**Importante:**\n- Para marcar qualquer avaliação você deve sempre coletar o nome completo do paciente e o procedimento que ele tem interesse.\n\n**Quando não usar:**\n-   Antes do paciente dar um **\"sim\" claro** para a avaliação.\n-   Para responder perguntas sobre tratamentos ou a clínica — use **Tool Explicar Procedimentos** ou **Tool Informar Clinica** conforme o caso.\n\n## DATA E HORA ATUALIZADOS\n\nPara efeito de contexto durante as suas conversas segue a data e hora de hoje e os próximos dias:\n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1952,
        112
      ],
      "id": "ac33b83d-94b3-4d45-a31e-e8f2559b0bc6",
      "name": "Assistente Athena Secretaria"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2192,
        352
      ],
      "id": "644dcdd2-2f9b-4018-8e80-09d73c16b33c",
      "name": "Modelo GPT4.1 Mini",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Capturar Contexto Atendimento').item.json.identificadorLead }}",
        "tableName": "clin_chat_histories",
        "contextWindowLength": 80
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2064,
        352
      ],
      "id": "d03e8187-1669-40bd-a757-698d324c07e6",
      "name": "Memória Conversa Athena",
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "description": "=**Quando usar:**\n- Quando o paciente mencionar procedimentos ou tratamentos.\n- Quando precisar explicar um procedimento.\n- Para dúvidas ou objeções sobre procedimentos.",
        "workflowId": {
          "__rl": true,
          "value": "N1eXrn4LfURLIQmn",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MsgLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('MsgLead', `Coloque aqui a duvida do paciente.`, 'string') }}",
            "identificador Lead": "={{ $('Capturar Contexto Atendimento').item.json.identificadorLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MsgLead",
              "displayName": "MsgLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "identificador Lead",
              "displayName": "identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1648,
        480
      ],
      "id": "432539b9-a82b-4963-8b5e-0d676dac6f1f",
      "name": "Tool Explicar Procedimentos"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tT4aCGvRZNHWfoccL2RTuVHD-zlRPhP9dVqXh6M0jcs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1619477594,
          "mode": "list",
          "cachedResultName": "infoTool",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tT4aCGvRZNHWfoccL2RTuVHD-zlRPhP9dVqXh6M0jcs/edit#gid=1619477594"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1504,
        480
      ],
      "id": "63e9af1f-b99c-498c-91a1-9f85fece446b",
      "name": "Tool Informar Clinica",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KIM9Z8S69kIM7Ztk",
          "name": "[Google Sheets] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "name": "ToolVerificarAgenda",
        "description": "=**Quando usar:**\n- Para verificar disponibilidade de datas e horários.\n- Para confirmar agendamentos.",
        "workflowId": {
          "__rl": true,
          "value": "R1SjhOTLRMNKuqVm",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('msgLead', `Mensagem com contexto geral.`, 'string') }}",
            "identificador Lead": "={{ $('Capturar Contexto Atendimento').item.json.identificadorLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "identificador Lead",
              "displayName": "identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "msgLead",
              "displayName": "msgLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -1376,
        480
      ],
      "id": "27a04d73-e522-4fe7-a03e-38d4c813073d",
      "name": "Tool Verificar Agenda"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4499d032",
              "name": "message_agent",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        112
      ],
      "id": "8a7e3b21-0ead-46a9-ba23-ace75b876fe0",
      "name": "Preparar Mensagem Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quebre a mensagem abaixo com base e regras das suas informações de sistema e tire toda a formatação markdown. Jamais faça comentários adicionais.\n\nA mensagem:\n\n{{ $('Preparar Mensagem Agent').item.json.message_agent }}",
        "options": {
          "systemMessage": "=## Quem é você\nVocê é um renomado e experiente assistente de formatação de mensagens dentro da automação do N8N. Seu objetivo é quebrar as mensagens longas em partes menores, sem alterar o conteúdo original e sem mudar nenhuma palavra sequer. Além disso, você deve remover qualquer formatação em Markdown, deixando o texto completamente limpo e sem estilos.\n\n## Sua função\nSua única função é dividir respostas longas em trechos curtos, mantendo o significado e a estrutura original do texto. Você não altera palavras, não muda sinônimos e não interpreta o conteúdo. Você apenas insire duas quebras de linha onde necessário para melhorar a fluidez da conversa.\n\n## Regras\n1- Não modifique o texto: Apenas divida as mensagens, sem alterar palavras, sinônimos ou reescrever frases.\n2- Mantenha frases completas: Nunca quebre no meio de uma palavra ou ideia. Sempre finalize a frase antes da quebra.\n3- Limite de caracteres: Divida a resposta em partes de no máximo 80 caracteres (ou outro limite que você preferir).\n4- Use duas quebras de linha. Sempre que precisar dividir uma mensagem, insira um \\n entre os trechos.\n5- Não remova formatações: Se a resposta tiver negrito, emojis ou caracteres especiais, mantenha tudo intacto.\n6- Se a mensagem estiver menos do que 80 caracteres, não divida. Apenas insira quebras se a mensagem ultrapassar o limite definido.\n7- Se a resposta tiver uma lista (bullets - ou •), cada item deve ser quebrado em uma linha separada. O restante do texto segue o critério normal de limite de caracteres.\n8- Nunca inclua mensagens ou comentário adicionais.\n9- Nunca corte o texto depois da virgula.\n10- Remova completamente qualquer formatação em Markdown, deixando o texto totalmente limpo, sem negrito, itálico, listas, cabeçalhos ou qualquer outro tipo de estilização.\n\n## Exemplos\n### Exemplo 1:\n🔹 Input:\nNosso curso preparatório para a EPCAR tem mais de 200 videoaulas, PDFs completos e simulados exclusivos. Além disso, você terá acesso ao nosso grupo VIP para tirar dúvidas diretamente com os professores. O curso é 100% online e você pode estudar no seu ritmo.\n\n🔹 Output:\nNosso curso preparatório para a EPCAR tem mais de 200 videoaulas, PDFs completos e simulados exclusivos.\\nAlém disso, você terá acesso ao nosso grupo VIP para tirar dúvidas diretamente com os professores.\\nO curso é 100% online e você pode estudar no seu ritmo.\n\n### Exemplo 2:\n🔹 Input:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados. Nossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos. Além disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos. O curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n🔹 Output:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados.\\nNossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos.\\nAlém disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos.\\nO curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -880,
        112
      ],
      "id": "8f87b865-7249-414b-8919-9301aad8bca9",
      "name": "Dividir Resposta Limpa"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        304
      ],
      "id": "e1a99152-a968-4538-a3fc-44389f9ca2dd",
      "name": "Modelo OpenAI Quebra Texto",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensagensTexto = $input.first().json.output || \"\";\n\nif (typeof mensagensTexto !== \"string\" || !mensagensTexto.trim()) {\n  return [];\n}\n\n// Substituir \\n literais por quebras reais\nconst textoCorrigido = mensagensTexto.replace(/\\\\n/g, \"\\n\");\n\n// Separar por quebras de linha e limpar\nconst mensagensArray = textoCorrigido\n  .split(/\\n/)\n  .map(line => line.trim())\n  .filter(line => line.length > 0);\n\n// Retornar como array de items para o Split Out processar\nreturn mensagensArray.map(msg => ({ json: { output: msg } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        112
      ],
      "id": "a669f129-05a8-45da-a6a7-5efe743f2a97",
      "name": "Formatar Mensagens Texto"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ],
      "id": "f87c6129-7a87-4fce-82aa-5e352515cb98",
      "name": "Separar Mensagens Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        112
      ],
      "id": "12ed3359-0da8-4630-9285-6ccc46a3f441",
      "name": "Processar Mensagens Por Lote"
    },
    {
      "parameters": {
        "amount": 3,
        "path": "2dd1fc31-41a6-44a9-993f-2f77290e87c8"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        272
      ],
      "id": "9efc13b0-64a8-469b-a88e-116018b82fdb",
      "name": "Aguardar Dois Segundos",
      "webhookId": "2dd1fc31-41a6-44a9-993f-2f77290e87c8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AxC91tA0FIIIOY3P",
          "mode": "id",
          "cachedResultUrl": "/workflow/AxC91tA0FIIIOY3P"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "idLead": "={{ $('Capturar Contexto Atendimento').item.json.identificadorLead }}",
            "numberLead": "={{ $('Capturar Contexto Atendimento').item.json.identificadorLead.split('@')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idLead",
              "displayName": "idLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numberLead",
              "displayName": "numberLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        112
      ],
      "id": "4d8bf6a4-fdcc-439a-afe5-678fb87ad916",
      "name": "CRM"
    },
    {
      "parameters": {
        "content": "# ADM",
        "height": 296,
        "width": 744,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2272,
        -464
      ],
      "typeVersion": 1,
      "id": "9495de7f-fdc0-4160-b53c-4d5288ff36bf",
      "name": "Nota ADM"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clin_chat_histories",
          "mode": "list",
          "cachedResultName": "clin_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "558888136242@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2208,
        -352
      ],
      "id": "13c99d92-8f88-4040-9b0d-b013060de0d2",
      "name": "Limpar Histórico Chat",
      "credentials": {
        "postgres": {
          "id": "lYJd0K4KbtjQBOZi",
          "name": "[Postgres] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "558888136242@s.whatsapp.net"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1744,
        -352
      ],
      "id": "d5dfbfbc-b00c-4d29-84d3-b33be4b68bbd",
      "name": "Limpar Cache WhatsApp",
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "clin_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "condition": "eq",
              "keyValue": "=558888136242@s.whatsapp.net"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1968,
        -352
      ],
      "id": "a04e1797-ece5-4925-becd-895012c99be4",
      "name": "Apagar Dados CRM",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "lPqw6Aku7HwsgBAG",
          "name": "[Supabase] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "content": "# Filtrar mensagens (Uazapi)",
        "height": 840,
        "width": 796
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7328,
        -128
      ],
      "typeVersion": 1,
      "id": "02e34419-8a11-4ddd-ab78-f3fcf5dee79c",
      "name": "Nota Filtrar Mensagem"
    },
    {
      "parameters": {
        "content": "# Validar e cadastrar lead no CRM",
        "height": 840,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6480,
        -128
      ],
      "typeVersion": 1,
      "id": "bde3ba8c-175c-421b-b5ed-f87e11c6d748",
      "name": "Nota Validar Lead CRM"
    },
    {
      "parameters": {
        "content": "# Tratamento de Mensagem: Texto, Imagem ou Áudio",
        "height": 840,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5664,
        -128
      ],
      "typeVersion": 1,
      "id": "85ddfa9e-bd79-4f11-b97a-614f840c30a9",
      "name": "Nota Tratamento Mensagem"
    },
    {
      "parameters": {
        "content": "# Buffer de mensagens (Redis)",
        "height": 840,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4176,
        -128
      ],
      "typeVersion": 1,
      "id": "646d17f3-2dcf-4c4c-a25a-abf2ff119c5a",
      "name": "Nota Buffer Mensagens"
    },
    {
      "parameters": {
        "content": "# Secretária Athena - RNB Clinic Prime",
        "height": 816,
        "width": 1276,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2480,
        -128
      ],
      "typeVersion": 1,
      "id": "541b7e17-8653-4f7e-9c03-5d37ee100702",
      "name": "Nota Secretaria Athena"
    },
    {
      "parameters": {
        "content": "## TOOLS:",
        "height": 232,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        384
      ],
      "typeVersion": 1,
      "id": "cc7b0864-c4b5-4a9b-9e0f-cdcefafcb56d",
      "name": "Nota Tools"
    },
    {
      "parameters": {
        "content": "# Gerar contexto de datas",
        "height": 460,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2848,
        -128
      ],
      "typeVersion": 1,
      "id": "0404fb55-b900-4d84-98ac-8bf2aff58d77",
      "name": "Nota Datas"
    },
    {
      "parameters": {
        "content": "# Quebra resposta e remove markdown",
        "height": 560,
        "width": 812,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        -80
      ],
      "typeVersion": 1,
      "id": "10388a48-7111-4256-a374-3374545b3e71",
      "name": "Nota Quebra Resposta"
    },
    {
      "parameters": {
        "content": "# Envio sequencial via Uazapi",
        "height": 560,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -80
      ],
      "typeVersion": 1,
      "id": "da022cb2-4fb6-4d6c-a0fc-ced6933dc2a9",
      "name": "Nota Envio Sequencial"
    },
    {
      "parameters": {
        "content": "# Atualizar CRM",
        "height": 560,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        -80
      ],
      "typeVersion": 1,
      "id": "f5a0eca0-e4a0-4608-a5e5-186a9e6e56aa",
      "name": "Nota CRM"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "98931498-7212-4c21-afb5-193cc7498fdb",
              "leftValue": "={{ $json.body.message.sender_pn }}",
              "rightValue": "558888136242@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7568,
        272
      ],
      "id": "8d66ee11-b5f0-45af-a295-ec00ee460493",
      "name": "If"
    },
    {
      "parameters": {
        "number": "={{ $('Extrair Dados Uazapi').first().json.msg.numberLead }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        256,
        224
      ],
      "id": "9487a84d-2311-4edd-a739-cd1ced2a0e79",
      "name": "Send text message",
      "credentials": {}
    }
  ],
  "pinData": {
    "Receber Webhook Uazapi": [
      {
        "json": {
          "headers": {
            "host": "n8n.ep.rnbsolucoes.com.br",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "2466",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "65.108.141.240",
            "x-forwarded-host": "n8n.ep.rnbsolucoes.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "021c824624ec",
            "x-real-ip": "65.108.141.240"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://rnbsolucoes.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "r297131103ce0ec",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/591610015_1217245523644552_575697414688013912_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa4AEvjQLOX0lYhPZzS6njihwTMWylKwcB8CVSZ72n8Lv-qQ&oe=69CF91A7&_nc_sid=5e03e0&_nc_cat=111",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "Meu Vivo",
              "owner": "558894643319",
              "phone": "+55 88 8813-6242",
              "wa_archived": false,
              "wa_chatid": "558888136242@s.whatsapp.net",
              "wa_chatlid": "264136747446489@lid",
              "wa_contactName": "Meu Vivo",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "558894643319:558888136242",
              "wa_isBlocked": false,
              "wa_isGroup": false,
              "wa_isGroup_admin": false,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": false,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "264136747446489@lid",
              "wa_lastMessageTextVote": "oi",
              "wa_lastMessageType": "Conversation",
              "wa_lastMsgTimestamp": 1775313522000,
              "wa_muteEndTime": 0,
              "wa_name": "Gabriel Siqueira",
              "wa_unreadCount": 1
            },
            "chatSource": "updated",
            "instanceName": "gb",
            "message": {
              "buttonOrListid": "",
              "chatid": "558888136242@s.whatsapp.net",
              "chatlid": "264136747446489@lid",
              "content": "oi",
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "",
              "id": "558894643319:3B122929362600965D96",
              "isGroup": false,
              "mediaType": "",
              "messageTimestamp": 1775313522000,
              "messageType": "Conversation",
              "messageid": "3B122929362600965D96",
              "owner": "558894643319",
              "quoted": "",
              "reaction": "",
              "sender": "264136747446489@lid",
              "senderName": "Gabriel Siqueira",
              "sender_lid": "264136747446489@lid",
              "sender_pn": "558888136242@s.whatsapp.net",
              "source": "unknown",
              "status": "",
              "text": "oi",
              "track_id": "",
              "track_source": "",
              "type": "text",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "558894643319",
            "token": "c30c28dd-7511-45f1-9e69-80ba24eb7f7c"
          },
          "webhookUrl": "https://n8n.ep.rnbsolucoes.com.br/webhook/rnb-clinic-prime-uazapi-teste",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-04-18T20:38:24.397Z",
      "createdAt": "2026-04-18T20:38:24.397Z",
      "role": "workflow:owner",
      "workflowId": "SnDp35NA4Rzzt2MZ",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": {},
  "tags": [
    {
      "updatedAt": "2026-01-27T17:05:49.634Z",
      "createdAt": "2026-01-27T17:05:49.634Z",
      "id": "F171zldw4G7U1HuZ",
      "name": "legacy"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T14:39:08.650Z",
  "versionId": "988b8eba-3eaa-4f82-b233-477bf296246c"
}