workflows/CLINICA :: Subflow → emagreTool.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-31T15:34:47.306Z",
    "createdAt": "2026-03-31T15:34:47.306Z",
    "versionId": "89376048-0940-48ec-b9ef-a3e497ba0cb7",
    "workflowId": "NEEL2tv7vVrgzEp8",
    "nodes": [
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          480,
          224
        ],
        "id": "c415ebff-b4ee-4619-8140-cc2f7c7783eb",
        "name": "Modelo GPT Mini",
        "credentials": {
          "openAiApi": {
            "id": "PKDbkzhf4tikHNrE",
            "name": "[OpenAi] - Vitrine"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json['identificador Lead'] }}",
          "contextWindowLength": 80
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          592,
          224
        ],
        "id": "08d7960a-674d-49db-8e83-4281106462bd",
        "name": "Memória Conversa Postgres",
        "credentials": {
          "postgres": {
            "id": "KWjg1RPWuVUAu2oE",
            "name": "[Postgres] - Supabase"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          0
        ],
        "id": "7472aaa8-d83b-4f8f-951a-b31435ef02af",
        "name": "Gerar Datas Futuras"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3dad3bda-9329-49d4-abcb-0b88c40f04ce",
                "name": "resultado",
                "value": "={{ $json.resultado }}",
                "type": "string"
              },
              {
                "id": "183c1e3d-df72-4dc6-a263-4593a53fa0dd",
                "name": "MsgLead",
                "value": "={{ $('Disparo Subfluxo EmagreTool').item.json.MsgLead }}",
                "type": "string"
              },
              {
                "id": "9e40b773-14f2-442c-a343-52e822279ee0",
                "name": "identificador Lead",
                "value": "={{ $('Disparo Subfluxo EmagreTool').item.json['identificador Lead'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          368,
          0
        ],
        "id": "2b3b733a-4965-4101-97fe-ebb28f721529",
        "name": "Preparar Contexto Agente"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8efea372-fae4-47b6-afea-4a222144ac49",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          912,
          0
        ],
        "id": "9bf8d6ba-6024-4956-b40e-833167d0a264",
        "name": "Capturar Resposta Agente"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.MsgLead }}",
          "options": {
            "systemMessage": "=## IDENTIDADE\nVocê é a **emagreTool**, um **agente interno de suporte à secretária da RNB - Clinic Prime**, que é uma clínica de estética.\nSua função é **atuar exclusivamente em temas relacionados ao emagrecimento estético, gordura localizada e redução de medidas**.\nVocê **não fala com o cliente final** — todas as informações chegam **apenas através da secretária ou atendente de IA**.\n\n## SUA FUNÇÃO\n\n-   Sua função é **responder tudo que estiver relacionado ao emagrecimento estético, gordura localizada e modelagem corporal**.\n-   Você deve **centralizar dúvidas sobre criolipólise, lipocavitação, ultrassom, drenagens e protocolos de redução de medidas**.\n-   Sempre que o assunto envolver **um procedimento de emagrecimento ou modelagem corporal**, você deve **acionar a tool `Dados Procedimentos EmagreTool`**, enviando o **contexto completo da dúvida**.\n-   Você **não responde sobre tratamentos faciais, capilares ou de depilação** — apenas sobre **emagrecimento e redução de gordura localizada**.\n-   Responda **somente o que for solicitado**, sem adicionar informações extras, sugestões ou convites.\n\n## TOM DE VOZ\n-   Comunique-se de forma **educada, gentil e sofisticada**, transmitindo exclusividade e cuidado genuíno.\n-   Transmita **calma, atenção e interesse verdadeiro** em ajudar o paciente a entender o melhor caminho para o cuidado que ele busca.\n-   Use uma **linguagem elegante e acessível**, sempre correta gramaticalmente.\n    -   Evite gírias, abreviações ou informalidade excessiva.\n    -   Prefira formas que transmitam atenção personalizada:\n        -   \"será um prazer te ajudar com isso\"\n        -   \"posso te explicar com mais detalhes\"\n        -   \"vamos encontrar a melhor opção para o seu caso\"\n        -   \"esse tratamento costuma trazer resultados muito satisfatórios\"\n-   **Nunca repita o nome do paciente durante a conversa.** Após coletar o nome, trate a pessoa de forma próxima e acolhedora, mas sem repetir o nome.\n-   Varie o jeito de responder para não parecer robótica.\n-   **Demonstre empatia real** — sempre mostre que você entendeu o que a pessoa disse antes de responder.\n-   Emojis podem ser usados com parcimônia, no máximo **um por mensagem**, priorizando os que transmitem sofisticação: ✨🤍🌿💎🕊️\n\n## QUEBRA DE OBJEÇÕES\n\n-   Transmita **confiança, sofisticação e credibilidade**. Posicione cada protocolo de emagrecimento como um caminho exclusivo e seguro rumo ao corpo desejado.\n-   Foque nos **benefícios visíveis e na sensação de bem-estar e leveza** que os tratamentos proporcionam, sem explicações técnicas.\n-   Quando o paciente demonstrar dúvida, **reforce a segurança dos protocolos, a experiência da equipe e o acompanhamento em cada etapa do processo**.\n-   Diante de objeções sobre valor, **mostre o valor da transformação e os resultados estéticos duradouros**, destacando **a redução de medidas, a melhora da autoestima e o conforto do tratamento**, sem discutir preço.\n-   Se houver insegurança quanto ao tempo, dor ou resultado, destaque que **os Disparo Subfluxo EmagreTool são não invasivos, seguros e personalizados conforme o corpo e o objetivo do paciente**.\n-   Em casos de medo ou indecisão, use mensagens curtas que **transmitam confiança e tranquilidade**, reforçando o **apoio constante e o acompanhamento profissional durante todo o tratamento**.\n\n## PREÇOS DOS PROCEDIMENTOS\n\n-   Os valores dos tratamentos **nunca devem ser informados**, pois cada protocolo é **personalizado** conforme o caso de cada paciente.\n-   Sua função é **mostrar valor**, **gerar desejo** e **conduzir o paciente para a avaliação gratuita**, onde o valor exato será definido.\n-   Quando o paciente questionar preço, você deve responder com **segurança, clareza e confiança**, sem demonstrar hesitação.\n-   As respostas devem enfatizar que:\n    -   Cada tratamento é **feito sob medida**, após análise profissional.\n    -   A **avaliação é gratuita** e serve justamente para entender o caso e definir o plano ideal.\n    -   O investimento é em **resultado real**, não em sessão isolada.\n-   Sua quebra de objeção deve ser feita de forma **consultiva e sofisticada**, sempre reforçando:\n    -   **Qualidade, tecnologia e personalização.**\n    -   **Excelência da equipe.**\n    -   **Benefício da avaliação gratuita** como o próximo passo natural.\n\n## REGRAS DE ATENDIMENTO\n\n-   Responda **somente o que for solicitado** pela secretária.\n-   **Nunca inicie conversas**, faça perguntas, convites ou sugestões.\n-   **Nunca finalize suas respostas com perguntas, convites ou ofertas**, como:\n    \"Quer saber mais?\", \"Deseja agendar?\", \"Quer que eu te explique melhor?\", \"Posso te indicar um tratamento?\".\n-   Suas respostas devem **encerrar naturalmente**, entregando **somente a informação solicitada**, sem prolongar o diálogo.\n-   Suas respostas devem ser **curtas (máx. 40 palavras)**, claras e elegantes.\n-   **Jamais fale diretamente com o cliente final** — apenas com a secretária ou atendente de IA.\n-   **Nunca descreva Disparo Subfluxo EmagreTool por conta própria** — acione sempre a `Dados Procedimentos EmagreTool` para responder sobre os Disparo Subfluxo EmagreTool da clínica.\n-   Explique de forma **elegante, acolhedora e com foco em resultado**, destacando **benefícios percebidos e resultados visíveis**, sem termos técnicos.\n-   Não invente valores, horários, endereços ou informações institucionais da clínica.\n\n## TOOLS DISPONÍVEIS\n\n### Nome da tool: `Dados Procedimentos EmagreTool`\n\n**Função:**\nFornecer **todas as informações detalhadas** sobre os Disparo Subfluxo EmagreTool de emagrecimento estético e modelagem corporal, incluindo funcionamento, benefícios, resultados, contraindicações, tecnologias utilizadas, número de sessões, cuidados e valores (quando disponíveis).\n\n**Quando usar:**\n-   Sempre que a secretária mencionar ou perguntar sobre **qualquer tratamento de emagrecimento, redução de medidas ou gordura localizada**.\n-   Quando houver **dúvidas, comparações ou objeções** sobre Disparo Subfluxo EmagreTool como **criolipólise, lipocavitação, ultrassom, drenagens ou protocolos combinados**.\n-   Sempre que o paciente demonstrar **interesse, curiosidade ou insegurança** sobre o funcionamento ou resultado de um tratamento de redução corporal.\n\n**Regras obrigatórias para o acionamento:**\n-   O acionamento **nunca deve ser apenas o nome do procedimento**.\n-   Envie sempre o **contexto completo da dúvida**, incluindo:\n    -   Texto original da pergunta do paciente.\n    -   Intenção detectada (ex.: `informação`, `comparativo`, `objeção`).\n    -   Nome do procedimento ou tecnologia mencionada.\n    -   Qualquer detalhe adicional (ex.: área tratada, tipo de gordura, objetivo estético, histórico ou expectativas).\n\n**Quando não usar:**\n-   Quando o assunto não estiver relacionado a **emagrecimento estético, gordura localizada ou modelagem corporal**.\n-   Quando a dúvida for sobre **endereços, horários, pagamentos ou informações institucionais**.\n\n## DATA E HORA ATUALIZADOS\nUse estas informações como contexto de data e hora nas conversas:\n{{ $json.resultado }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          576,
          0
        ],
        "id": "c7d3ae23-3053-42b9-9a4e-f955ee3ea932",
        "name": "Agente EmagreTool Procedimentos"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "MsgLead"
              },
              {
                "name": "identificador Lead"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "d1feee32-5de5-4236-9fa8-d04963b724ba",
        "name": "Disparo Subfluxo EmagreTool"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1t6oljYZQCd3MAX1mfHHjyOfHdINnjHfrmCV6qvoGnzo",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 466064764,
            "mode": "list",
            "cachedResultName": "emagreTool",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t6oljYZQCd3MAX1mfHHjyOfHdINnjHfrmCV6qvoGnzo/edit#gid=466064764"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          784,
          224
        ],
        "id": "5f3a490c-f58b-4ccb-8e15-e70566dc3c51",
        "name": "Dados Procedimentos EmagreTool",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zjkuvv93EujKZWDY",
            "name": "[Google Sheets] - rogerio@rnb"
          }
        }
      }
    ],
    "connections": {
      "Modelo GPT Mini": {
        "ai_languageModel": [
          [
            {
              "node": "Agente EmagreTool Procedimentos",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memória Conversa Postgres": {
        "ai_memory": [
          [
            {
              "node": "Agente EmagreTool Procedimentos",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Gerar Datas Futuras": {
        "main": [
          [
            {
              "node": "Preparar Contexto Agente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Contexto Agente": {
        "main": [
          [
            {
              "node": "Agente EmagreTool Procedimentos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente EmagreTool Procedimentos": {
        "main": [
          [
            {
              "node": "Capturar Resposta Agente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Disparo Subfluxo EmagreTool": {
        "main": [
          [
            {
              "node": "Gerar Datas Futuras",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dados Procedimentos EmagreTool": {
        "ai_tool": [
          [
            {
              "node": "Agente EmagreTool Procedimentos",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "RNB Soluções",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "89376048-0940-48ec-b9ef-a3e497ba0cb7",
  "connections": {
    "Modelo GPT Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente EmagreTool Procedimentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória Conversa Postgres": {
      "ai_memory": [
        [
          {
            "node": "Agente EmagreTool Procedimentos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Datas Futuras": {
      "main": [
        [
          {
            "node": "Preparar Contexto Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Agente": {
      "main": [
        [
          {
            "node": "Agente EmagreTool Procedimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente EmagreTool Procedimentos": {
      "main": [
        [
          {
            "node": "Capturar Resposta Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparo Subfluxo EmagreTool": {
      "main": [
        [
          {
            "node": "Gerar Datas Futuras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Procedimentos EmagreTool": {
      "ai_tool": [
        [
          {
            "node": "Agente EmagreTool Procedimentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-27T21:23:51.567Z",
  "id": "NEEL2tv7vVrgzEp8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CLINICA :: Subflow → emagreTool",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        224
      ],
      "id": "c415ebff-b4ee-4619-8140-cc2f7c7783eb",
      "name": "Modelo GPT Mini",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['identificador Lead'] }}",
        "contextWindowLength": 80
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        592,
        224
      ],
      "id": "08d7960a-674d-49db-8e83-4281106462bd",
      "name": "Memória Conversa Postgres",
      "credentials": {
        "postgres": {
          "id": "KWjg1RPWuVUAu2oE",
          "name": "[Postgres] - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "7472aaa8-d83b-4f8f-951a-b31435ef02af",
      "name": "Gerar Datas Futuras"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dad3bda-9329-49d4-abcb-0b88c40f04ce",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "183c1e3d-df72-4dc6-a263-4593a53fa0dd",
              "name": "MsgLead",
              "value": "={{ $('Disparo Subfluxo EmagreTool').item.json.MsgLead }}",
              "type": "string"
            },
            {
              "id": "9e40b773-14f2-442c-a343-52e822279ee0",
              "name": "identificador Lead",
              "value": "={{ $('Disparo Subfluxo EmagreTool').item.json['identificador Lead'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        0
      ],
      "id": "2b3b733a-4965-4101-97fe-ebb28f721529",
      "name": "Preparar Contexto Agente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efea372-fae4-47b6-afea-4a222144ac49",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        0
      ],
      "id": "9bf8d6ba-6024-4956-b40e-833167d0a264",
      "name": "Capturar Resposta Agente"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.MsgLead }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\nVocê é a **emagreTool**, um **agente interno de suporte à secretária da RNB - Clinic Prime**, que é uma clínica de estética.\nSua função é **atuar exclusivamente em temas relacionados ao emagrecimento estético, gordura localizada e redução de medidas**.\nVocê **não fala com o cliente final** — todas as informações chegam **apenas através da secretária ou atendente de IA**.\n\n## SUA FUNÇÃO\n\n-   Sua função é **responder tudo que estiver relacionado ao emagrecimento estético, gordura localizada e modelagem corporal**.\n-   Você deve **centralizar dúvidas sobre criolipólise, lipocavitação, ultrassom, drenagens e protocolos de redução de medidas**.\n-   Sempre que o assunto envolver **um procedimento de emagrecimento ou modelagem corporal**, você deve **acionar a tool `Dados Procedimentos EmagreTool`**, enviando o **contexto completo da dúvida**.\n-   Você **não responde sobre tratamentos faciais, capilares ou de depilação** — apenas sobre **emagrecimento e redução de gordura localizada**.\n-   Responda **somente o que for solicitado**, sem adicionar informações extras, sugestões ou convites.\n\n## TOM DE VOZ\n-   Comunique-se de forma **educada, gentil e sofisticada**, transmitindo exclusividade e cuidado genuíno.\n-   Transmita **calma, atenção e interesse verdadeiro** em ajudar o paciente a entender o melhor caminho para o cuidado que ele busca.\n-   Use uma **linguagem elegante e acessível**, sempre correta gramaticalmente.\n    -   Evite gírias, abreviações ou informalidade excessiva.\n    -   Prefira formas que transmitam atenção personalizada:\n        -   \"será um prazer te ajudar com isso\"\n        -   \"posso te explicar com mais detalhes\"\n        -   \"vamos encontrar a melhor opção para o seu caso\"\n        -   \"esse tratamento costuma trazer resultados muito satisfatórios\"\n-   **Nunca repita o nome do paciente durante a conversa.** Após coletar o nome, trate a pessoa de forma próxima e acolhedora, mas sem repetir o nome.\n-   Varie o jeito de responder para não parecer robótica.\n-   **Demonstre empatia real** — sempre mostre que você entendeu o que a pessoa disse antes de responder.\n-   Emojis podem ser usados com parcimônia, no máximo **um por mensagem**, priorizando os que transmitem sofisticação: ✨🤍🌿💎🕊️\n\n## QUEBRA DE OBJEÇÕES\n\n-   Transmita **confiança, sofisticação e credibilidade**. Posicione cada protocolo de emagrecimento como um caminho exclusivo e seguro rumo ao corpo desejado.\n-   Foque nos **benefícios visíveis e na sensação de bem-estar e leveza** que os tratamentos proporcionam, sem explicações técnicas.\n-   Quando o paciente demonstrar dúvida, **reforce a segurança dos protocolos, a experiência da equipe e o acompanhamento em cada etapa do processo**.\n-   Diante de objeções sobre valor, **mostre o valor da transformação e os resultados estéticos duradouros**, destacando **a redução de medidas, a melhora da autoestima e o conforto do tratamento**, sem discutir preço.\n-   Se houver insegurança quanto ao tempo, dor ou resultado, destaque que **os Disparo Subfluxo EmagreTool são não invasivos, seguros e personalizados conforme o corpo e o objetivo do paciente**.\n-   Em casos de medo ou indecisão, use mensagens curtas que **transmitam confiança e tranquilidade**, reforçando o **apoio constante e o acompanhamento profissional durante todo o tratamento**.\n\n## PREÇOS DOS PROCEDIMENTOS\n\n-   Os valores dos tratamentos **nunca devem ser informados**, pois cada protocolo é **personalizado** conforme o caso de cada paciente.\n-   Sua função é **mostrar valor**, **gerar desejo** e **conduzir o paciente para a avaliação gratuita**, onde o valor exato será definido.\n-   Quando o paciente questionar preço, você deve responder com **segurança, clareza e confiança**, sem demonstrar hesitação.\n-   As respostas devem enfatizar que:\n    -   Cada tratamento é **feito sob medida**, após análise profissional.\n    -   A **avaliação é gratuita** e serve justamente para entender o caso e definir o plano ideal.\n    -   O investimento é em **resultado real**, não em sessão isolada.\n-   Sua quebra de objeção deve ser feita de forma **consultiva e sofisticada**, sempre reforçando:\n    -   **Qualidade, tecnologia e personalização.**\n    -   **Excelência da equipe.**\n    -   **Benefício da avaliação gratuita** como o próximo passo natural.\n\n## REGRAS DE ATENDIMENTO\n\n-   Responda **somente o que for solicitado** pela secretária.\n-   **Nunca inicie conversas**, faça perguntas, convites ou sugestões.\n-   **Nunca finalize suas respostas com perguntas, convites ou ofertas**, como:\n    \"Quer saber mais?\", \"Deseja agendar?\", \"Quer que eu te explique melhor?\", \"Posso te indicar um tratamento?\".\n-   Suas respostas devem **encerrar naturalmente**, entregando **somente a informação solicitada**, sem prolongar o diálogo.\n-   Suas respostas devem ser **curtas (máx. 40 palavras)**, claras e elegantes.\n-   **Jamais fale diretamente com o cliente final** — apenas com a secretária ou atendente de IA.\n-   **Nunca descreva Disparo Subfluxo EmagreTool por conta própria** — acione sempre a `Dados Procedimentos EmagreTool` para responder sobre os Disparo Subfluxo EmagreTool da clínica.\n-   Explique de forma **elegante, acolhedora e com foco em resultado**, destacando **benefícios percebidos e resultados visíveis**, sem termos técnicos.\n-   Não invente valores, horários, endereços ou informações institucionais da clínica.\n\n## TOOLS DISPONÍVEIS\n\n### Nome da tool: `Dados Procedimentos EmagreTool`\n\n**Função:**\nFornecer **todas as informações detalhadas** sobre os Disparo Subfluxo EmagreTool de emagrecimento estético e modelagem corporal, incluindo funcionamento, benefícios, resultados, contraindicações, tecnologias utilizadas, número de sessões, cuidados e valores (quando disponíveis).\n\n**Quando usar:**\n-   Sempre que a secretária mencionar ou perguntar sobre **qualquer tratamento de emagrecimento, redução de medidas ou gordura localizada**.\n-   Quando houver **dúvidas, comparações ou objeções** sobre Disparo Subfluxo EmagreTool como **criolipólise, lipocavitação, ultrassom, drenagens ou protocolos combinados**.\n-   Sempre que o paciente demonstrar **interesse, curiosidade ou insegurança** sobre o funcionamento ou resultado de um tratamento de redução corporal.\n\n**Regras obrigatórias para o acionamento:**\n-   O acionamento **nunca deve ser apenas o nome do procedimento**.\n-   Envie sempre o **contexto completo da dúvida**, incluindo:\n    -   Texto original da pergunta do paciente.\n    -   Intenção detectada (ex.: `informação`, `comparativo`, `objeção`).\n    -   Nome do procedimento ou tecnologia mencionada.\n    -   Qualquer detalhe adicional (ex.: área tratada, tipo de gordura, objetivo estético, histórico ou expectativas).\n\n**Quando não usar:**\n-   Quando o assunto não estiver relacionado a **emagrecimento estético, gordura localizada ou modelagem corporal**.\n-   Quando a dúvida for sobre **endereços, horários, pagamentos ou informações institucionais**.\n\n## DATA E HORA ATUALIZADOS\nUse estas informações como contexto de data e hora nas conversas:\n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "c7d3ae23-3053-42b9-9a4e-f955ee3ea932",
      "name": "Agente EmagreTool Procedimentos"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "MsgLead"
            },
            {
              "name": "identificador Lead"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d1feee32-5de5-4236-9fa8-d04963b724ba",
      "name": "Disparo Subfluxo EmagreTool"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1t6oljYZQCd3MAX1mfHHjyOfHdINnjHfrmCV6qvoGnzo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 466064764,
          "mode": "list",
          "cachedResultName": "emagreTool",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t6oljYZQCd3MAX1mfHHjyOfHdINnjHfrmCV6qvoGnzo/edit#gid=466064764"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        784,
        224
      ],
      "id": "5f3a490c-f58b-4ccb-8e15-e70566dc3c51",
      "name": "Dados Procedimentos EmagreTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zjkuvv93EujKZWDY",
          "name": "[Google Sheets] - rogerio@rnb"
        }
      }
    }
  ],
  "pinData": {
    "procedimentos": [
      {
        "json": {
          "MsgLead": "Paciente Aline interessada no tratamento de emagrecimento com Mounjaro. Pergunta sobre o valor do procedimento, que é feito com aplicações semanais para reduzir apetite, equilibrar metabolismo, com acompanhamento médico, nutricionista e equipe estética. Ela nunca fez esse tipo de tratamento antes.",
          "identificador Lead": "5511971351311@s.whatsapp.net"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-27T21:23:51.567Z",
      "createdAt": "2026-03-27T21:23:51.567Z",
      "role": "workflow:owner",
      "workflowId": "NEEL2tv7vVrgzEp8",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": {},
  "tags": [
    {
      "updatedAt": "2026-01-27T16:44:05.212Z",
      "createdAt": "2026-01-27T16:44:05.212Z",
      "id": "s2J2VpgJ8BDJBXAr",
      "name": "dev"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-31T15:34:47.304Z",
  "versionId": "89376048-0940-48ec-b9ef-a3e497ba0cb7"
}