workflows/CRM Dispatcher — v2.0.0 B.A.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "exec_workflow": {
      "main": [
        [
          {
            "node": "setarInformacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInformacoes": {
      "main": [
        [
          {
            "node": "Switch_Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Evento": {
      "main": [
        [
          {
            "node": "Ja_tem_evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar_Evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidade_Reag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definir_agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ja_tem_evento": {
      "main": [
        [
          {
            "node": "If_Ja_tem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Ja_tem": {
      "main": [
        [
          {
            "node": "Ja_agendado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade": {
      "main": [
        [
          {
            "node": "If_Disponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Disponivel": {
      "main": [
        [
          {
            "node": "Criar_Evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Horario_Ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_Evento": {
      "main": [
        [
          {
            "node": "setarInfo_ag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo_ag": {
      "main": [
        [
          {
            "node": "Salvar_Data_CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar_Data_CRM": {
      "main": [
        [
          {
            "node": "Resp_Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Evento": {
      "main": [
        [
          {
            "node": "Deletar_Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar_Evento": {
      "main": [
        [
          {
            "node": "Resp_Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade_Reag": {
      "main": [
        [
          {
            "node": "If_Disponivel_Reag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Disponivel_Reag": {
      "main": [
        [
          {
            "node": "Buscar_Evento_Reag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Horario_Ocupado_Reag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Evento_Reag": {
      "main": [
        [
          {
            "node": "Atualizar_Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar_Evento": {
      "main": [
        [
          {
            "node": "Resp_Reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir_agenda": {
      "main": [
        [
          {
            "node": "Buscar_Eventos_Cal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Eventos_Cal": {
      "main": [
        [
          {
            "node": "Agregar_Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar_Eventos": {
      "main": [
        [
          {
            "node": "definir_disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir_disponibilidade": {
      "main": [
        [
          {
            "node": "Formatar_Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar_Slots": {
      "main": [
        [
          {
            "node": "Resp_VerHorarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-15T14:04:24.013Z",
  "id": "0oCe46HDjGZTnu1L",
  "isArchived": true,
  "meta": null,
  "name": "CRM Dispatcher — v2.0.0 B.A",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "3ac0bb13-4f60-4255-a802-2b5a30a70063",
      "name": "exec_workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        1056
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "i1",
              "name": "NomeLead",
              "value": "={{ $json.query.lead }}",
              "type": "string"
            },
            {
              "id": "i2",
              "name": "servico",
              "value": "={{ $json.servico }}",
              "type": "string"
            },
            {
              "id": "i3",
              "name": "startConsulta",
              "value": "={{ (() => { const v = $json.query.start || ''; if (!v) return ''; if (v.match(/[+-]\\d{2}:\\d{2}$/) || v.endsWith('Z')) return v; return v + '-03:00'; })() }}",
              "type": "string"
            },
            {
              "id": "i4",
              "name": "endConsulta",
              "value": "={{ (() => { const v = $json.query.end || ''; if (!v) return ''; if (v.match(/[+-]\\d{2}:\\d{2}$/) || v.endsWith('Z')) return v; return v + '-03:00'; })() }}",
              "type": "string"
            },
            {
              "id": "i5",
              "name": "Evento",
              "value": "={{ $json.Evento }}",
              "type": "string"
            },
            {
              "id": "i6",
              "name": "identificadorLead",
              "value": "={{ $json.Remotejid }}",
              "type": "string"
            },
            {
              "id": "i7",
              "name": "Whatsapp",
              "value": "={{ $json.Remotejid.replace(/@.*$/,'').replace(/^55/,'') }}",
              "type": "string"
            },
            {
              "id": "i8",
              "name": "calendarId",
              "value": "={{ $json.calendar_id }}",
              "type": "string"
            },
            {
              "id": "i9",
              "name": "profissionalNome",
              "value": "={{ $json.profissional_nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "50341b70-d69a-4134-beb1-4c7735811119",
      "name": "setarInformacoes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1056
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "cancelamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "reagendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "VerHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VerHorarios"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "659d9d30-7255-4931-b0f9-56103fb7b308",
      "name": "Switch_Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        560,
        1056
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "limit": 1,
        "options": {
          "query": "={{ $('setarInformacoes').first().json.identificadorLead }}"
        }
      },
      "id": "39c6025b-0704-41ec-9439-4d8806c05341",
      "name": "Ja_tem_evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        800,
        896
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "jt1",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ccbca39-3cda-437f-a381-a52ae7d69f1e",
      "name": "If_Ja_tem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        896
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ja1",
              "name": "response",
              "value": "=Você já tem um horário marcado para o dia: {{ (() => { const d=new Date($json.start.dateTime); return d.toLocaleDateString('pt-BR',{day:'2-digit',month:'long',hour:'2-digit',minute:'2-digit',timeZone:'America/Sao_Paulo'}).replace(',',' às'); })() }}. Gostaria de reagendar?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2fe7348a-85f0-497c-9d27-e7e34fe78892",
      "name": "Ja_agendado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        816
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "timeMin": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "timeMax": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "options": {}
      },
      "id": "3f603eb7-f662-414d-b668-b65cd7534acd",
      "name": "Disponibilidade",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1232,
        976
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "av1",
              "leftValue": "={{ $json.available }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8143b70e-2bc0-4cb0-9b2d-e8ef7e72cc11",
      "name": "If_Disponivel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        976
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "start": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "end": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "additionalFields": {
          "description": "=ID: {{ $('setarInformacoes').first().json.identificadorLead }}\nNome: {{ $('setarInformacoes').item.json.NomeLead }}\nWhatsapp: {{ $('setarInformacoes').item.json.Whatsapp }}\nProfissional: {{ $('setarInformacoes').item.json.profissionalNome }}\n{{ $('setarInformacoes').item.json.servico }}",
          "summary": "={{ $('setarInformacoes').item.json.profissionalNome }} | {{ $('setarInformacoes').item.json.NomeLead }}"
        }
      },
      "id": "07896b8c-e8e0-4675-8a93-8425412cb92c",
      "name": "Criar_Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1680,
        896
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ag1",
              "name": "diaHora",
              "value": "={{ new Date($json.start.dateTime).toLocaleDateString('pt-BR',{day:'2-digit',month:'2-digit',timeZone:'America/Sao_Paulo'}) }} às {{ new Date($json.start.dateTime).toLocaleTimeString('pt-BR',{hour:'2-digit',minute:'2-digit',timeZone:'America/Sao_Paulo'}) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eb415e25-4e02-4977-bb10-67edb833e792",
      "name": "setarInfo_ag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        896
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "46rLIT6MOBLj6mG4",
          "mode": "id",
          "cachedResultUrl": "/workflow/46rLIT6MOBLj6mG4"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "update_schedule",
            "identificadorLead": "={{ $('setarInformacoes').first().json.identificadorLead }}",
            "dataAgendamento": "={{ $('setarInfo_ag').item.json.diaHora }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "identificadorLead",
              "displayName": "identificadorLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dataAgendamento",
              "displayName": "dataAgendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "be4d8852-c4be-4518-a98b-519bfb873a40",
      "name": "Salvar_Data_CRM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2096,
        896
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ra1",
              "name": "response",
              "value": "=Agendamento confirmado para {{ $('setarInformacoes').item.json.NomeLead }} com {{ $('setarInformacoes').item.json.profissionalNome }} no dia {{ $('setarInfo_ag').item.json.diaHora }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "492e7acd-3ca8-4e79-9f98-d09ea5cefee6",
      "name": "Resp_Agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        896
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "oc1",
              "name": "response",
              "value": "Horário não disponível. Por favor, escolha outro horário.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "372343b6-47e1-41be-88b5-d3ca02ea305b",
      "name": "Horario_Ocupado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        1056
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "query": "={{ $('setarInformacoes').first().json.identificadorLead }}"
        }
      },
      "id": "1a1a291e-3d0c-4229-8fb4-29d842f6c723",
      "name": "Buscar_Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        800,
        1136
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "id": "395ce640-ce60-4689-996e-48090f55eea5",
      "name": "Deletar_Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1024,
        1136
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rc1",
              "name": "response",
              "value": "Agendamento cancelado com sucesso. Quando quiser marcar novamente é só chamar!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b7e3df70-7d97-4774-8d6d-a01760af4294",
      "name": "Resp_Cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1136
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "timeMin": "={{ $('setarInformacoes').first().json.startConsulta }}",
        "timeMax": "={{ $('setarInformacoes').first().json.endConsulta }}",
        "options": {}
      },
      "id": "d2e7c64f-5107-4480-98e6-7141636d48c6",
      "name": "Disponibilidade_Reag",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        800,
        1376
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "rg1",
              "leftValue": "={{ $json.available }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b6210c10-8a51-4f9e-8301-27dc5a79432f",
      "name": "If_Disponivel_Reag",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        1376
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "query": "={{ $('setarInformacoes').first().json.identificadorLead }}"
        }
      },
      "id": "11314544-4490-498e-8ac0-e217898eb257",
      "name": "Buscar_Evento_Reag",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1232,
        1296
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "eventId": "={{ $item('0').$node['Buscar_Evento_Reag'].json['id'] }}",
        "useDefaultReminders": false,
        "updateFields": {
          "end": "={{ $('setarInformacoes').first().json.endConsulta }}",
          "sendUpdates": "all",
          "start": "={{ $('setarInformacoes').first().json.startConsulta }}"
        }
      },
      "id": "6df36348-4e85-475d-981b-db47b9daec8f",
      "name": "Atualizar_Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1456,
        1296
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rg2",
              "name": "response",
              "value": "=Reagendamento feito! Novo horário: {{ new Date($json.start.dateTime).toLocaleDateString('pt-BR',{day:'2-digit',month:'long',timeZone:'America/Sao_Paulo'}) }} às {{ new Date($json.start.dateTime).toLocaleTimeString('pt-BR',{hour:'2-digit',minute:'2-digit',timeZone:'America/Sao_Paulo'}) }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "62c83f08-0353-4f67-a0f9-84d03b63f43a",
      "name": "Resp_Reagendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        1296
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "oc2",
              "name": "response",
              "value": "Horário não disponível para reagendamento. Por favor escolha outro horário.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8e3f55dd-8d5a-4b4a-ac87-d4a0c8168409",
      "name": "Horario_Ocupado_Reag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1456
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"timezone\": \"America/Sao_Paulo\", \"timeBetweenMeetingsMinutes\": 30, \"schedule\": [{\"day\": \"SEG\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"TER\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"QUA\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"QUI\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"SEX\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"18:00\"}}, {\"day\": \"SAB\", \"available\": true, \"hours\": {\"after\": \"10:00\", \"before\": \"14:00\"}}, {\"day\": \"DOM\", \"available\": false, \"hours\": {\"after\": \"\", \"before\": \"\"}}]}",
        "options": {}
      },
      "id": "6166b7b5-3d75-493b-818c-e35d7bd803a3",
      "name": "definir_agenda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        1616
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('setarInformacoes').first().json.calendarId }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $now.toISO() }}",
        "timeMax": "={{ $now.plus({ weeks: 3 }).toISO() }}",
        "options": {}
      },
      "id": "e3af11da-d380-4412-9759-dee22f032986",
      "name": "Buscar_Eventos_Cal",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1024,
        1616
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dfEK2l0ooTCncYIR",
          "name": "[Google Calendar] - gabriel@rnb"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "324bdcec-2f72-4452-997f-206086260bf8",
      "name": "Agregar_Eventos",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1232,
        1616
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd1",
              "name": "data",
              "value": "={{\n(() => {\n  const ev = $json.data;\n  const cfg = $('definir_agenda').first().json;\n  const intervalo = cfg.timeBetweenMeetingsMinutes;\n  const dayMap = {0:'DOM',1:'SEG',2:'TER',3:'QUA',4:'QUI',5:'SEX',6:'SAB'};\n  const pad = n => String(n).padStart(2,'0');\n\n  // FIX TIMEZONE: Forçar todas as operações em America/Sao_Paulo\n  // Usar offset -03:00 para criar datas consistentes\n  function spNow() {\n    // Gerar \"agora\" em SP: pegar UTC e subtrair 3h para ter horário SP\n    const utc = new Date();\n    return new Date(utc.getTime() - 3 * 60 * 60 * 1000);\n  }\n\n  function toSPDate(dateStr) {\n    // Converter qualquer dateTime ISO para timestamp absoluto\n    // Se já tem offset (-03:00), Date() interpreta corretamente\n    // Se não tem offset, assumir que é São Paulo e adicionar -03:00\n    if (dateStr && !dateStr.match(/[+-]\\d{2}:\\d{2}$/) && !dateStr.endsWith('Z')) {\n      dateStr = dateStr + '-03:00';\n    }\n    return new Date(dateStr);\n  }\n\n  function getSlot(date, t) {\n    const [h,m] = t.split(':').map(Number);\n    const d = new Date(date);\n    d.setHours(h,m,0,0);\n    return d;\n  }\n\n  function sameDay(a,b) {\n    return a.getFullYear()===b.getFullYear() && a.getMonth()===b.getMonth() && a.getDate()===b.getDate();\n  }\n\n  const result = [];\n  const hoje = spNow();\n  hoje.setHours(0,0,0,0);\n\n  // FIX: Converter eventos para timestamps absolutos via toSPDate\n  const eventos = Array.isArray(ev)\n    ? ev.filter(e => e?.start?.dateTime && e?.end?.dateTime).map(e => ({\n        start: toSPDate(e.start.dateTime),\n        end: toSPDate(e.end.dateTime)\n      }))\n    : [];\n\n  for(let i=0; i<12*7; i++){\n    const d = new Date(hoje);\n    d.setDate(hoje.getDate()+i);\n    d.setHours(0,0,0,0);\n    const dia = dayMap[d.getDay()];\n    const c = cfg.schedule.find(s => s.day===dia);\n    if(!c || !c.available) continue;\n    const ini = getSlot(d, c.hours.after);\n    const fim = getSlot(d, c.hours.before);\n\n    // Filtrar eventos do mesmo dia (comparando em horário SP)\n    const evDia = eventos.filter(e => sameDay(e.start, d) || sameDay(e.end, d));\n\n    for(let s=new Date(ini); s<fim;) {\n      const sf = new Date(s.getTime()+intervalo*60000);\n      if(sf>fim) break;\n\n      // FIX: Comparar slots (horário SP) com eventos (convertidos para SP)\n      const conflito = evDia.some(e => s < e.end && sf > e.start);\n\n      if(!conflito) {\n        result.push({\n          data: s.toISOString().split('T')[0],\n          start: pad(s.getHours())+':'+pad(s.getMinutes()),\n          end: pad(sf.getHours())+':'+pad(sf.getMinutes())\n        });\n      }\n      s = sf;\n    }\n  }\n  return JSON.stringify(result);\n})()\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "46330af9-60a3-494c-9339-2dd3d644ca00",
      "name": "definir_disponibilidade",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "const slots=items[0].json.data||[];\nconst agrup={};\nfor(const s of slots){if(!agrup[s.data])agrup[s.data]=[];agrup[s.data].push(s.start);}\nconst hoje=new Date();\n// FIX: Usar data SP para filtrar hoje\nconst spNow=new Date(hoje.getTime()-3*60*60*1000);\nconst hojeStr=spNow.toISOString().split('T')[0];\nconst dias=Object.keys(agrup).filter(d=>d!==hojeStr).sort();\nconst sel=[];\nconst ph=h=>{const[hh,mm]=h.split(':').map(Number);return{hh,mm};};\nfor(const dia of dias.slice(0,10)){\n  const ord=agrup[dia].sort();\n  const man=ord.filter(h=>{const{hh}=ph(h);return hh<12;});\n  const tar=ord.filter(h=>ph(h).hh>=13).slice(0,10);\n  const [y,mo,d]=dia.split('-');\n  [...man,...tar].forEach(h=>sel.push(`${d}/${mo} às ${h}`));\n}\nreturn [{json:{disponibilidade:sel.join(', ')}}];"
      },
      "id": "f67997af-3fa8-4de7-8cee-c5f3ba0dc240",
      "name": "Formatar_Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1616
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vh1",
              "name": "response",
              "value": "={{ $json.disponibilidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d9e64c4a-7376-420f-9a6b-cba7ee3d12ed",
      "name": "Resp_VerHorarios",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        1616
      ]
    },
    {
      "parameters": {
        "content": "## 📋 HEADER — calendar.dispatcher (v2.0.0)\n\n**Papel:** backend das 4 operações de calendário (agendamento, cancelamento, reagendamento, VerHorarios). Caller único: `agent.scheduling` via 4 nodes `toolWorkflow`.\n\n**Renomeado de `calendar.gabriel` em v2.0.0-B.B** — ID preservado (`2n8jLpwk0EJVn4d2`).\n\n**Timezone:** America/Sao_Paulo (offset -03:00 aplicado em `setarInformacoes`).\n**CRM writes:** desde v2.0.0-B.B, delegadas a `crm.dispatcher` (operation `update_schedule`).\n**Débito OPT-008:** 11 Set nodes ainda presentes — consolidação para 3 Code nodes deferida para v2.1.0 (risco sem testes de regressão).",
        "height": 200,
        "width": 1200
      },
      "id": "db6f5a21-81f1-469e-9af5-ac988edfa916",
      "name": "SN_Header",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        720
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 STAGE 2 — Roteamento interno (ADR-002)\n\nSwitch por `Evento`: agendamento / cancelamento / reagendamento / VerHorarios. Cada rota é independente — não compartilha estado entre si além do `setarInformacoes` inicial.",
        "height": 120,
        "width": 600,
        "color": 7
      },
      "id": "9c178215-b541-473c-9615-1c3093cd0bf4",
      "name": "SN_Switch",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        912
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ WARNING — timezone fix histórico\n\n`setarInformacoes` força offset `-03:00` nos campos `startConsulta`/`endConsulta` quando não presente. Não simplificar sem testar os 4 fluxos — foi fix de bug anterior.",
        "height": 120,
        "width": 480,
        "color": 3
      },
      "id": "ef22e31c-1db9-459d-b54f-902f572a0eba",
      "name": "SN_TZ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        1104
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-15T14:04:24.013Z",
      "createdAt": "2026-04-15T14:04:24.013Z",
      "role": "workflow:owner",
      "workflowId": "0oCe46HDjGZTnu1L",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T14:39:37.082Z",
  "versionId": "4cae3dc1-3954-4198-9129-2263ff3b5a82"
}