workflows/Fred | Barão da Navalha.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-16T16:01:52.777Z",
    "createdAt": "2026-03-16T16:01:48.674Z",
    "versionId": "eeea9270-bf42-4f94-811c-d63dc96daabf",
    "workflowId": "GqlAnyhdIkCx2Kji",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1232,
          96
        ],
        "id": "27d8770a-7d47-4ddc-a889-7f8fe82ad6db",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('setarInfo3').item.json.identificadorLead }}",
          "contextWindowLength": 40
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          512,
          416
        ],
        "id": "8ddf0957-0994-4942-90f5-7508e760f9f5",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "dyQtUNtyUmazwPYe",
            "name": "[Postgres] - Agents"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          336,
          416
        ],
        "id": "355fd6e8-3c80-4f5f-b083-f4c7a14eed19",
        "name": "OpenAI Chat Model2",
        "credentials": {
          "openAiApi": {
            "id": "PKDbkzhf4tikHNrE",
            "name": "[OpenAi] - Vitrine"
          }
        }
      },
      {
        "parameters": {
          "content": "",
          "height": 600,
          "width": 1580,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "7a961ba2-ab51-4cdc-b7e4-7536e3fe274b",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Agenda",
          "height": 240,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          816,
          336
        ],
        "typeVersion": 1,
        "id": "e00bd5bc-6252-497c-89cf-e53f953ac4c5",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3058e999-b1bf-43f3-b95c-bf1d71157c51",
                "name": "Duvida",
                "value": "={{ $('When Executed by Another Workflow').item.json.duvida }}",
                "type": "string"
              },
              {
                "id": "c6e2e733-5bb4-4b3d-9a79-cf43a9e56458",
                "name": "identificadorLead",
                "value": "={{ $('When Executed by Another Workflow').item.json['Identificador Lead'] }}",
                "type": "string"
              },
              {
                "id": "9181a250-f2ad-402e-8bed-2bc4ec9720e6",
                "name": "servico",
                "value": "=Serviço: {{ $('When Executed by Another Workflow').item.json.servico }}",
                "type": "string"
              },
              {
                "id": "2986dc61-de65-440b-846c-d36b4d60d75b",
                "name": "resultado",
                "value": "={{ $json.resultado }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          576,
          96
        ],
        "id": "2664c5f5-219d-4d95-a831-3e8a0a9dafce",
        "name": "setarInfo3"
      },
      {
        "parameters": {
          "name": "criar_reuniao",
          "description": "=**Quando usar:**  \n- Sempre que precisar **marcar um agendamento** na agenda.  \n- Antes de chamar essa tool, é obrigatório ter:\n  1. O **nome completo** do paciente.\n  2. A **data e hora** desejada.\n  3. Serviço que o lead tem interesse.\n\n**Quando não usar:**  \n- Se ainda não tiver o nome completo do paciente.  \n- Se ainda não tiver a data e o horário desejado.\n- Se ainda não tiver o serviço desejado.\n\n#### Regras para marcar o agendamento\nPara marcar qualquer agendamento utilizando a tool **`criar_reuniao`**, é obrigatório definir corretamente:  \n1. O **start** (início do agendamento).  \n2. O **end** (fim do agendamento).  \n\nO tempo de cada consulta é de **30 minutos** (end = start + 30min)  \n\nSempre calcule o horário final (**end**) com base na duração correspondente ao serviço informado. ",
          "workflowId": {
            "__rl": true,
            "value": "z53DHNWKW5ku8LvP",
            "mode": "id",
            "cachedResultUrl": "/workflow/z53DHNWKW5ku8LvP"
          },
          "fields": {
            "values": [
              {
                "name": "Evento",
                "stringValue": "agendamento"
              },
              {
                "name": "Remotejid",
                "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
              },
              {
                "name": "servico",
                "stringValue": "={{ $('setarInfo3').item.json.servico }}"
              },
              {
                "name": "Profissional",
                "stringValue": "Fred"
              }
            ]
          },
          "specifyInputSchema": true,
          "jsonSchemaExample": "{\n    \"lead\": \"nome completo do lead\",\n    \"start\": \"data e hora do inicio da reunião\",\n    \"end\": \"data e hora do fim da reunião\"\n}"
        },
        "id": "c6ac6ea5-ea86-42ed-ae62-7c72ec3a9ef2",
        "name": "criar_reuniao",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.2,
        "position": [
          912,
          448
        ]
      },
      {
        "parameters": {
          "name": "reagendar_reuniao",
          "description": "=**Quando usar:**  \n- Use quando o lead solicitar a **mudança de data ou horário** de um agendamento já marcado.\n- Consulte seu **histórico de conversa com o lead** para puxar o nome e o agendamento anterior.\n\n**Regras para uso:**  \n- Você já tem acesso ao histórico de conversas e agendamentos anteriores, então **não precisa pedir novamente** o nome e o horário anterior.\n\n**Quando não usar:**  \n- Se o paciente não tiver um agendamento previamente agendado.",
          "workflowId": {
            "__rl": true,
            "value": "z53DHNWKW5ku8LvP",
            "mode": "id",
            "cachedResultUrl": "/workflow/z53DHNWKW5ku8LvP"
          },
          "fields": {
            "values": [
              {
                "name": "Evento",
                "stringValue": "reagendamento"
              },
              {
                "name": "Remotejid",
                "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
              }
            ]
          },
          "specifyInputSchema": true,
          "jsonSchemaExample": "{\n    \"lead\": \"nome do lead\",\n    \"start\": \"data e hora do início da reunião\",\n    \"end\": \"data e hora do fim da reunião\"\n}\n"
        },
        "id": "662079ef-23eb-4ab0-8772-b21eb2f76dac",
        "name": "reagendar_reuniao",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.2,
        "position": [
          1232,
          448
        ]
      },
      {
        "parameters": {
          "name": "cancelar_reuniao",
          "description": "=**Quando usar:**  \n- Use quando o paciente solicitar o **cancelamento** de um agendamento já agendado.\n\n**Regras para uso:**  \n- Você já tem acesso ao histórico de conversas e agendamentos anteriores, então **não precisa pedir novamente** o nome ou o horário anterior.\n\n**Quando não usar:**  \n- Se não houver nenhum agendamento agendado com o lead.\n- Se a solicitação for apenas uma dúvida ou pergunta genérica sem intenção de cancelar.",
          "workflowId": {
            "__rl": true,
            "value": "z53DHNWKW5ku8LvP",
            "mode": "id",
            "cachedResultUrl": "/workflow/z53DHNWKW5ku8LvP"
          },
          "fields": {
            "values": [
              {
                "name": "Evento",
                "stringValue": "cancelamento"
              },
              {
                "name": "Remotejid",
                "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
              }
            ]
          },
          "specifyInputSchema": true,
          "jsonSchemaExample": "{\n    \"lead\": \"nome do lead\"\n}\n"
        },
        "id": "f3069637-e4be-4664-a835-a88dbd3791ad",
        "name": "cancelar_reuniao",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.2,
        "position": [
          1392,
          448
        ]
      },
      {
        "parameters": {
          "name": "ver_horarios",
          "description": "=**Quando usar:**  \n- Use para buscar dias e horários disponíveis para agendamento.",
          "workflowId": {
            "__rl": true,
            "value": "z53DHNWKW5ku8LvP",
            "mode": "id",
            "cachedResultUrl": "/workflow/z53DHNWKW5ku8LvP"
          },
          "fields": {
            "values": [
              {
                "name": "Evento",
                "stringValue": "VerHorarios"
              }
            ]
          },
          "jsonSchemaExample": ""
        },
        "id": "f503caa0-9cfc-4f3d-8d08-a299debff1ee",
        "name": "ver_horarios",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.2,
        "position": [
          1072,
          448
        ]
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "duvida"
              },
              {
                "name": "Identificador Lead"
              },
              {
                "name": "servico"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          80,
          96
        ],
        "id": "fc0a5698-8dd1-403b-abb4-a29b23acb711",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();   // <-- ESTA LINHA ESTAVA FALTANDO\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = '';\n\nfor (let i = 1; i <= 10; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          96
        ],
        "id": "8b49cde3-1c27-4bc5-98cb-276b1214060e",
        "name": "proximos_dias"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.Duvida }}\n\n\n{{ $json.servico }}",
          "options": {
            "systemMessage": "=## IDENTIDADE\nVocê é um **agente interno** responsável exclusivamente por gerenciar os **agendamentos do Fred**, profissional da barbearia masculina Barão da Navalha.\n\n## FUNÇÃO\n-   Verificar a **disponibilidade de datas e horários** para agendamentos. \n-   **Agendar, remarcar ou cancelar** atendimentos com clientes interessados.  \n-   Validar sempre os **pré-requisitos obrigatórios** antes de confirmar o agendamento: **nome completo**, data/hora desejada e **serviço escolhido**.\n\n## DIAS E HORÁRIOS DISPONÍVEIS\n\n-   O profissional Fred realiza atendimentos **de segunda a sábado, das 10h às 18h**.\n-   Cada serviço tem duração de **30 minutos**.\n    - Caso o cliente opte por 2 serviços, acrescente mais 30 minutos (por serviço). Exemplo: 2 serviços, vai ser 1 hora.\n-   Domingos e feriados não possuem atendimento disponível.\n-   Os horários devem sempre ser informados com **dia da semana, data (dia e mês) e hora**, no formato:\n    > Exemplo: “Quarta-feira, dia 18/05, às 15h”.\n\n## TOOLS DISPONÍVEIS\n\n### 1. Nome da tool: `criar_reuniao`\n\n**Quando usar:**\n-   Sempre que precisar **marcar um agendamento** na agenda do Fred.\n-   Antes de chamar essa tool, é obrigatório ter:\n    1.  **Nome completo** do cliente\n    2.  **Data e hora** desejado   \n    3.  **Serviço desejado**       \n\n**Quando não usar:**\n-   Se faltar qualquer um dos dados obrigatórios acima.\n\n### 2. Nome da tool: `reagendar_reuniao`\n\n**Quando usar:**\n-   Quando o cliente solicitar a **mudança de data ou horário** de um agendamento já marcado.\n-   Utilize as informações existentes no histórico da conversa.\n\n**Quando não usar:**\n-   Se o cliente não tiver um agendamento previamente agendado.\n\n### 3. Nome da tool: `cancelar_reuniao`\n\n**Quando usar:**\n-   Quando o cliente solicitar o **cancelamento** de um agendamento já agendado.\n\n**Quando não usar:**\n-   Se não houver agendamento marcado ou se o cliente estiver apenas com dúvida.\n\n### 4. Nome da tool: `ver_horarios`\n\n**Quando usar:**\n-   Para **consultar os dias e horários disponíveis** na agenda.\n-   Deve informar de forma clara se o horário está **disponível** ou **indisponível**.\n\n**Quando não usar:**\n-   Para confirmar ou marcar diretamente o agendamento — use apenas para consulta de disponibilidade.\n\n## REGRAS GERAIS\n-   Sempre confirmar os **pré-requisitos obrigatórios** antes de agendar: **nome completo**, **data e hora desejado** e **serviço desejado**.\n-   Cada serviço deve ter **30 minutos de duração**.\n-   Os atendimentos são realizados **de segunda a sábado, das 10h às 18h**.\n-   Sempre que mencionar um horário, informe o **dia da semana**, **data (dia e mês)** e **hora**, no formato:\n    > Exemplo: “Sexta-feira, dia 22/08, às 11h”.\n\n-   **Nunca informe o ano**.\n-   Caso o cliente pergunte sobre horários disponíveis, apresente no máximo **quatro opções**.\n-   Não é necessário nenhum pagamento ou sinal para confirmar o agendamento.\n\n## DATA E HORA ATUALIZADOS\nUse estas informações como contexto de data e hora nas conversas:\n\n{{ $json.resultado }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          832,
          96
        ],
        "id": "74b7e6e3-7eed-4749-a5ad-02d016bd7ade",
        "name": "Fred"
      }
    ],
    "connections": {
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Fred",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Fred",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "setarInfo3": {
        "main": [
          [
            {
              "node": "Fred",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "criar_reuniao": {
        "ai_tool": [
          [
            {
              "node": "Fred",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "reagendar_reuniao": {
        "ai_tool": [
          [
            {
              "node": "Fred",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "cancelar_reuniao": {
        "ai_tool": [
          [
            {
              "node": "Fred",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "ver_horarios": {
        "ai_tool": [
          [
            {
              "node": "Fred",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "proximos_dias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "proximos_dias": {
        "main": [
          [
            {
              "node": "setarInfo3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fred": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "RNB Soluções",
    "name": "Version eeea9270",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "eeea9270-bf42-4f94-811c-d63dc96daabf",
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Fred",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Fred",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo3": {
      "main": [
        [
          {
            "node": "Fred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "Fred",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reagendar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "Fred",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "Fred",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ver_horarios": {
      "ai_tool": [
        [
          {
            "node": "Fred",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fred": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-16T16:01:42.793Z",
  "id": "GqlAnyhdIkCx2Kji",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Fred | Barão da Navalha",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        96
      ],
      "id": "27d8770a-7d47-4ddc-a889-7f8fe82ad6db",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInfo3').item.json.identificadorLead }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        512,
        416
      ],
      "id": "8ddf0957-0994-4942-90f5-7508e760f9f5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "dyQtUNtyUmazwPYe",
          "name": "[Postgres] - Agents"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        416
      ],
      "id": "355fd6e8-3c80-4f5f-b083-f4c7a14eed19",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 600,
        "width": 1580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7a961ba2-ab51-4cdc-b7e4-7536e3fe274b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agenda",
        "height": 240,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        336
      ],
      "typeVersion": 1,
      "id": "e00bd5bc-6252-497c-89cf-e53f953ac4c5",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3058e999-b1bf-43f3-b95c-bf1d71157c51",
              "name": "Duvida",
              "value": "={{ $('When Executed by Another Workflow').item.json.duvida }}",
              "type": "string"
            },
            {
              "id": "c6e2e733-5bb4-4b3d-9a79-cf43a9e56458",
              "name": "identificadorLead",
              "value": "={{ $('When Executed by Another Workflow').item.json['Identificador Lead'] }}",
              "type": "string"
            },
            {
              "id": "9181a250-f2ad-402e-8bed-2bc4ec9720e6",
              "name": "servico",
              "value": "=Serviço: {{ $('When Executed by Another Workflow').item.json.servico }}",
              "type": "string"
            },
            {
              "id": "2986dc61-de65-440b-846c-d36b4d60d75b",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        96
      ],
      "id": "2664c5f5-219d-4d95-a831-3e8a0a9dafce",
      "name": "setarInfo3"
    },
    {
      "parameters": {
        "name": "criar_reuniao",
        "description": "=**Quando usar:**  \n- Sempre que precisar **marcar um agendamento** na agenda.  \n- Antes de chamar essa tool, é obrigatório ter:\n  1. O **nome completo** do paciente.\n  2. A **data e hora** desejada.\n  3. Serviço que o lead tem interesse.\n\n**Quando não usar:**  \n- Se ainda não tiver o nome completo do paciente.  \n- Se ainda não tiver a data e o horário desejado.\n- Se ainda não tiver o serviço desejado.\n\n#### Regras para marcar o agendamento\nPara marcar qualquer agendamento utilizando a tool **`criar_reuniao`**, é obrigatório definir corretamente:  \n1. O **start** (início do agendamento).  \n2. O **end** (fim do agendamento).  \n\nO tempo de cada consulta é de **30 minutos** (end = start + 30min)  \n\nSempre calcule o horário final (**end**) com base na duração correspondente ao serviço informado. ",
        "workflowId": {
          "__rl": true,
          "value": "z53DHNWKW5ku8LvP",
          "mode": "id",
          "cachedResultUrl": "/workflow/z53DHNWKW5ku8LvP"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "agendamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
            },
            {
              "name": "servico",
              "stringValue": "={{ $('setarInfo3').item.json.servico }}"
            },
            {
              "name": "Profissional",
              "stringValue": "Fred"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n    \"lead\": \"nome completo do lead\",\n    \"start\": \"data e hora do inicio da reunião\",\n    \"end\": \"data e hora do fim da reunião\"\n}"
      },
      "id": "c6ac6ea5-ea86-42ed-ae62-7c72ec3a9ef2",
      "name": "criar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        912,
        448
      ]
    },
    {
      "parameters": {
        "name": "reagendar_reuniao",
        "description": "=**Quando usar:**  \n- Use quando o lead solicitar a **mudança de data ou horário** de um agendamento já marcado.\n- Consulte seu **histórico de conversa com o lead** para puxar o nome e o agendamento anterior.\n\n**Regras para uso:**  \n- Você já tem acesso ao histórico de conversas e agendamentos anteriores, então **não precisa pedir novamente** o nome e o horário anterior.\n\n**Quando não usar:**  \n- Se o paciente não tiver um agendamento previamente agendado.",
        "workflowId": {
          "__rl": true,
          "value": "z53DHNWKW5ku8LvP",
          "mode": "id",
          "cachedResultUrl": "/workflow/z53DHNWKW5ku8LvP"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "reagendamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n    \"lead\": \"nome do lead\",\n    \"start\": \"data e hora do início da reunião\",\n    \"end\": \"data e hora do fim da reunião\"\n}\n"
      },
      "id": "662079ef-23eb-4ab0-8772-b21eb2f76dac",
      "name": "reagendar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1232,
        448
      ]
    },
    {
      "parameters": {
        "name": "cancelar_reuniao",
        "description": "=**Quando usar:**  \n- Use quando o paciente solicitar o **cancelamento** de um agendamento já agendado.\n\n**Regras para uso:**  \n- Você já tem acesso ao histórico de conversas e agendamentos anteriores, então **não precisa pedir novamente** o nome ou o horário anterior.\n\n**Quando não usar:**  \n- Se não houver nenhum agendamento agendado com o lead.\n- Se a solicitação for apenas uma dúvida ou pergunta genérica sem intenção de cancelar.",
        "workflowId": {
          "__rl": true,
          "value": "z53DHNWKW5ku8LvP",
          "mode": "id",
          "cachedResultUrl": "/workflow/z53DHNWKW5ku8LvP"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "cancelamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n    \"lead\": \"nome do lead\"\n}\n"
      },
      "id": "f3069637-e4be-4664-a835-a88dbd3791ad",
      "name": "cancelar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1392,
        448
      ]
    },
    {
      "parameters": {
        "name": "ver_horarios",
        "description": "=**Quando usar:**  \n- Use para buscar dias e horários disponíveis para agendamento.",
        "workflowId": {
          "__rl": true,
          "value": "z53DHNWKW5ku8LvP",
          "mode": "id",
          "cachedResultUrl": "/workflow/z53DHNWKW5ku8LvP"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "VerHorarios"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "f503caa0-9cfc-4f3d-8d08-a299debff1ee",
      "name": "ver_horarios",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        448
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "duvida"
            },
            {
              "name": "Identificador Lead"
            },
            {
              "name": "servico"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        96
      ],
      "id": "fc0a5698-8dd1-403b-abb4-a29b23acb711",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();   // <-- ESTA LINHA ESTAVA FALTANDO\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = '';\n\nfor (let i = 1; i <= 10; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        96
      ],
      "id": "8b49cde3-1c27-4bc5-98cb-276b1214060e",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Duvida }}\n\n\n{{ $json.servico }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\nVocê é um **agente interno** responsável exclusivamente por gerenciar os **agendamentos do Fred**, profissional da barbearia masculina Barão da Navalha.\n\n## FUNÇÃO\n-   Verificar a **disponibilidade de datas e horários** para agendamentos. \n-   **Agendar, remarcar ou cancelar** atendimentos com clientes interessados.  \n-   Validar sempre os **pré-requisitos obrigatórios** antes de confirmar o agendamento: **nome completo**, data/hora desejada e **serviço escolhido**.\n\n## DIAS E HORÁRIOS DISPONÍVEIS\n\n-   O profissional Fred realiza atendimentos **de segunda a sábado, das 10h às 18h**.\n-   Cada serviço tem duração de **30 minutos**.\n    - Caso o cliente opte por 2 serviços, acrescente mais 30 minutos (por serviço). Exemplo: 2 serviços, vai ser 1 hora.\n-   Domingos e feriados não possuem atendimento disponível.\n-   Os horários devem sempre ser informados com **dia da semana, data (dia e mês) e hora**, no formato:\n    > Exemplo: “Quarta-feira, dia 18/05, às 15h”.\n\n## TOOLS DISPONÍVEIS\n\n### 1. Nome da tool: `criar_reuniao`\n\n**Quando usar:**\n-   Sempre que precisar **marcar um agendamento** na agenda do Fred.\n-   Antes de chamar essa tool, é obrigatório ter:\n    1.  **Nome completo** do cliente\n    2.  **Data e hora** desejado   \n    3.  **Serviço desejado**       \n\n**Quando não usar:**\n-   Se faltar qualquer um dos dados obrigatórios acima.\n\n### 2. Nome da tool: `reagendar_reuniao`\n\n**Quando usar:**\n-   Quando o cliente solicitar a **mudança de data ou horário** de um agendamento já marcado.\n-   Utilize as informações existentes no histórico da conversa.\n\n**Quando não usar:**\n-   Se o cliente não tiver um agendamento previamente agendado.\n\n### 3. Nome da tool: `cancelar_reuniao`\n\n**Quando usar:**\n-   Quando o cliente solicitar o **cancelamento** de um agendamento já agendado.\n\n**Quando não usar:**\n-   Se não houver agendamento marcado ou se o cliente estiver apenas com dúvida.\n\n### 4. Nome da tool: `ver_horarios`\n\n**Quando usar:**\n-   Para **consultar os dias e horários disponíveis** na agenda.\n-   Deve informar de forma clara se o horário está **disponível** ou **indisponível**.\n\n**Quando não usar:**\n-   Para confirmar ou marcar diretamente o agendamento — use apenas para consulta de disponibilidade.\n\n## REGRAS GERAIS\n-   Sempre confirmar os **pré-requisitos obrigatórios** antes de agendar: **nome completo**, **data e hora desejado** e **serviço desejado**.\n-   Cada serviço deve ter **30 minutos de duração**.\n-   Os atendimentos são realizados **de segunda a sábado, das 10h às 18h**.\n-   Sempre que mencionar um horário, informe o **dia da semana**, **data (dia e mês)** e **hora**, no formato:\n    > Exemplo: “Sexta-feira, dia 22/08, às 11h”.\n\n-   **Nunca informe o ano**.\n-   Caso o cliente pergunte sobre horários disponíveis, apresente no máximo **quatro opções**.\n-   Não é necessário nenhum pagamento ou sinal para confirmar o agendamento.\n\n## DATA E HORA ATUALIZADOS\nUse estas informações como contexto de data e hora nas conversas:\n\n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        832,
        96
      ],
      "id": "74b7e6e3-7eed-4749-a5ad-02d016bd7ade",
      "name": "Fred"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-16T16:01:42.793Z",
      "createdAt": "2026-03-16T16:01:42.793Z",
      "role": "workflow:owner",
      "workflowId": "GqlAnyhdIkCx2Kji",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-20T21:21:25.283Z",
  "versionId": "eeea9270-bf42-4f94-811c-d63dc96daabf"
}