workflows/MALOTES :: Disparos -> Uazapi | v1.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "Conversa",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Executar": {
      "main": [
        [
          {
            "node": "PlanilhaContatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "manual": {
      "main": [
        [
          {
            "node": "PlanilhaContatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PlanilhaContatos": {
      "main": [
        [
          {
            "node": "filtrarJaEnviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrarJaEnviados": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo": {
      "main": [
        [
          {
            "node": "limitarVolume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limitarVolume": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversa": {
      "main": [
        [
          {
            "node": "validarMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validarMensagem": {
      "main": [
        [
          {
            "node": "gerarTempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gerarTempo": {
      "main": [
        [
          {
            "node": "esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "esperar": {
      "main": [
        [
          {
            "node": "enviarMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviarMsg": {
      "main": [
        [
          {
            "node": "atualizarPlanilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "registrarErro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrarErro": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizarPlanilha": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Conversa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-07T20:40:42.922Z",
  "id": "3GvVzrF1uuS9006V",
  "isArchived": true,
  "meta": null,
  "name": "MALOTES :: Disparos -> Uazapi | v1",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 800,
        "width": 3600,
        "color": 4
      },
      "id": "78e3ee57-5d4a-41df-a5be-78a9218a37a1",
      "name": "Sticky Note30",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3504,
        976
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14KH0PFtszg2f3VtIFNZ9YIj1rjWedUfyLQGLX-vcptw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1605491772,
          "mode": "list",
          "cachedResultName": "Contatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14KH0PFtszg2f3VtIFNZ9YIj1rjWedUfyLQGLX-vcptw/edit#gid=1605491772"
        },
        "options": {}
      },
      "id": "c99a3b38-b7eb-4499-8a4a-e7a8710d6beb",
      "name": "PlanilhaContatos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4096,
        1344
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KIM9Z8S69kIM7Ztk",
          "name": "[Google Sheets] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtra leads que ja receberam mensagem ou pediram opt-out\nreturn $input.all().filter(item => {\n  const enviou = (item.json['ENVIOU MSG'] || '').toString().trim().toUpperCase();\n  const optout = (item.json['OPT_OUT'] || '').toString().trim().toUpperCase();\n  return enviou !== 'FEITO' && optout !== 'SIM';\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        1344
      ],
      "id": "9c820968-ab42-449e-8660-d3dded65a17b",
      "name": "filtrarJaEnviados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fm-001",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "fm-002",
              "name": "Nome",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "fm-003",
              "name": "Whatsapp",
              "value": "={{ $json.WHATSAPP }}",
              "type": "string"
            },
            {
              "id": "fm-004",
              "name": "PRODUTO DE INTERESSE",
              "value": "={{ $json['PRODUTO DE INTERESSE'] || '' }}",
              "type": "string"
            },
            {
              "id": "fm-005",
              "name": "DATA DO CADASTRO",
              "value": "={{ $json['DATA DO CADASTRO'] }}",
              "type": "string"
            },
            {
              "id": "fm-006",
              "name": "identificadorUser",
              "value": "={{ $json.WHATSAPP }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "fm-007",
              "name": "TempoMsg",
              "value": "={{ $json.TempoMsg }}",
              "type": "string"
            },
            {
              "id": "fm-008",
              "name": "EMPRESA",
              "value": "={{ $json.EMPRESA || '' }}",
              "type": "string"
            },
            {
              "id": "fm-009",
              "name": "CONTEXTO",
              "value": "={{ $json.CONTEXTO ?? $json['CONTEXTO'] ?? '' }}",
              "type": "string"
            },
            {
              "id": "fm-010",
              "name": "TOM",
              "value": "={{ $json.TOM ?? $json['TOM'] ?? '' }}",
              "type": "string"
            },
            {
              "id": "fm-011",
              "name": "OBJETIVO_DISPARO",
              "value": "={{ $json.OBJETIVO_DISPARO ?? $json['OBJETIVO_DISPARO'] ?? '' }}",
              "type": "string"
            },
            {
              "id": "fm-012",
              "name": "NOME_CONSULTOR",
              "value": "Fulano",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4320,
        1344
      ],
      "id": "03a9b0d6-9737-44af-94f0-f11949f0742a",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.identificadorUser }}",
        "tableName": "federal_n8n_chat_histories",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5200,
        1552
      ],
      "id": "743e566a-d7a8-4617-b88e-3fc7a56ca2b1",
      "name": "memoria",
      "credentials": {
        "postgres": {
          "id": "dyQtUNtyUmazwPYe",
          "name": "[Postgres] - Agents"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MAX_PER_EXECUCAO = 30;\nreturn $input.all().slice(0, MAX_PER_EXECUCAO);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4544,
        1344
      ],
      "id": "42bef909-3edf-4d1c-98e0-1ada6af96405",
      "name": "limitarVolume"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4768,
        1344
      ],
      "id": "1e50a0f4-0fd1-4a6e-a8c8-434d02a818eb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dados do lead para personalizar a mensagem:\n\nNome do lead: {{ $json.Nome }}\n{{ $json['PRODUTO DE INTERESSE'] ? 'Produto de interesse: ' + $json['PRODUTO DE INTERESSE'] : 'Produto de interesse: não informado' }}\n{{ $json.EMPRESA ? 'Empresa do lead: ' + $json.EMPRESA : '' }}\n{{ $json.CONTEXTO ? 'Contexto variável (campanha): ' + $json.CONTEXTO : '' }}\n{{ $json.TOM ? 'Tom desejado: ' + $json.TOM : '' }}\n{{ $json.OBJETIVO_DISPARO ? 'Objetivo deste disparo: ' + $json.OBJETIVO_DISPARO : '' }}\n",
        "options": {
          "systemMessage": "=Data e hora atual: {{ $now }}\n\n## VARIÁVEIS DE CONTEXTO (PLANILHA)\nCampos por lead — têm **prioridade** sobre o modelo fixo quando preenchidos:\n- **CONTEXTO:** {{ $json.CONTEXTO || '—' }}\n- **TOM:** {{ $json.TOM || '—' }}\n- **OBJETIVO_DISPARO:** {{ $json.OBJETIVO_DISPARO || '—' }}\n\n**Regra:** Se CONTEXTO, TOM ou OBJETIVO_DISPARO tiverem texto real (não vazio), adapte o teor e o foco da mensagem a essa diretriz, sem inventar preços nem promessas. Se todos estiverem vazios ou só \"—\", use os **Modelos** abaixo conforme o produto de interesse.\n\n## IDENTIDADE\nVocê é **{{ $json.NOME_CONSULTOR }}**, consultor(a) comercial da **Federal Malotes**.\nVocê se apresenta como uma pessoa real, nunca como IA.\n\n## SOBRE A FEDERAL MALOTES\n- Empresa com **mais de 30 anos de experiência** no mercado.\n- Mais de **11.500 clientes** atendidos em todo o Brasil.\n- Especializada em: **Malotes para Documentos, Capa CTPS, Quadros Fiscais, Pastas, Agendas e Brindes Corporativos** (mouse pads, calendários, canetas).\n- Diferencial: **materiais de alta qualidade**, atendimento personalizado e comunicação direta com especialistas.\n- Site: federalmalotes.com.br\n- Instagram: @federalmalotesoficial\n- WhatsApp: (17) 99763-0370\n\n## SUA FUNÇÃO\nIniciar conversas com potenciais clientes (empresas, escritórios, órgãos públicos, contabilidades, despachantes) que já demonstraram interesse nos produtos da Federal Malotes, despertando curiosidade e incentivando resposta imediata.\n\n## TOM DE VOZ\n- Profissional, consultivo e próximo, transmitindo autoridade e confiança.\n- Persuasivo, sempre conduzindo a conversa para uma resposta positiva.\n- Usar gatilhos de **credibilidade, praticidade, economia e resultado profissional** para gerar interesse imediato.\n- Utilizar **emojis moderadamente**, apenas para reforçar proximidade ou destaque.\n\n## REGRAS DE MENSAGEM\n- Sempre se apresentar como **{{ $json.NOME_CONSULTOR }}**, da **Federal Malotes**.\n- Sempre usar apenas o **primeiro nome** do lead, mesmo que venha o nome completo.\n- Destacar que a pessoa já demonstrou interesse nos produtos da Federal Malotes **anteriormente**.\n- Utilizar o **produto de interesse** informado no cadastro dentro da mensagem, quando disponível. Se o produto não for informado, use o Modelo 5 (genérico) como referência.\n- Se a **empresa do lead** estiver disponível, mencioná-la naturalmente para personalizar (ex: \"vi que na [empresa] vocês podem precisar de...\"). Se não estiver disponível, **não mencione empresa nenhuma** — fale diretamente com a pessoa.\n- Trazer uma **conexão profissional** com a oportunidade, mostrando o benefício para a operação ou organização do cliente.\n- A mensagem deve transmitir **confiança, tradição e qualidade**, valorizando os 30+ anos de experiência, a variedade de produtos e o atendimento personalizado.\n- Deve ter um tom **consultivo e persuasivo**, mostrando como os produtos resolvem problemas reais do dia a dia corporativo.\n- Para manter o texto bem formatado no WhatsApp, utilize **quebra de parágrafo dupla** entre cada trecho da mensagem.\n- A mensagem completa deve ter **no máximo 800 caracteres** (incluindo emojis e formatação).\n- **NUNCA** invente preços, descontos, prazos de entrega ou condições comerciais. Se precisar falar de valores, diga que vai preparar um orçamento personalizado.\n- Sempre terminar com uma **pergunta curta, clara e direta**, que:\n    - Seja curta (1 linha).\n    - Toque no resultado profissional (organização, praticidade, imagem corporativa, economia).\n    - Induza uma resposta afirmativa (\"sim\").\n\n### EXEMPLOS DE MENSAGENS\n**Modelo 1 — Malotes**\nOi[, [primeiro_nome]]! Aqui é {{ $json.NOME_CONSULTOR }} da *Federal Malotes* 👋\n\nVi que você demonstrou interesse em malotes para documentos.\n\nTrabalhamos com malotes de alta resistência, ideais para transporte seguro de documentos entre filiais, departamentos e clientes. São mais de 30 anos fornecendo para empresas de todo o Brasil.\n\n✅ Diversos tamanhos e modelos\n✅ Personalização com a logo da sua empresa\n✅ Material resistente e durável\n✅ Atendimento direto com especialistas\n\nQuer receber um orçamento personalizado para a sua operação? É só responder aqui. 👇\n\n**Modelo 2 — Quadros Fiscais**\nOi[, [primeiro_nome]]! Sou {{ $json.NOME_CONSULTOR }} da *Federal Malotes* 📋\n\nNotei que você se interessou por nossos quadros fiscais.\n\nNossos quadros atendem todas as exigências legais e são produzidos com materiais de primeira qualidade — perfeitos para manter seu estabelecimento sempre em conformidade.\n\n✅ Modelos atualizados conforme legislação\n✅ Acabamento profissional\n✅ Envio para todo o Brasil\n✅ Mais de 11.500 clientes satisfeitos\n\nPosso te enviar as opções disponíveis com valores? 👇\n\n**Modelo 3 — Brindes Corporativos**\nOi[, [primeiro_nome]]! Aqui é {{ $json.NOME_CONSULTOR }} da *Federal Malotes* ✨\n\nVi que você buscou informações sobre brindes corporativos.\n\nTemos uma linha completa de brindes — agendas, calendários, mouse pads e canetas — perfeitos para fortalecer a marca da sua empresa com clientes e colaboradores.\n\n✅ Personalização com logo e cores da empresa\n✅ Pedidos sob medida\n✅ Qualidade garantida com 30+ anos de mercado\n✅ Condições especiais para pedidos em quantidade\n\nQuer ver nosso catálogo e montar um kit personalizado para sua empresa? 👇\n\n**Modelo 4 — Capa CTPS / Pastas**\nOi[, [primeiro_nome]]! Sou {{ $json.NOME_CONSULTOR }} da *Federal Malotes* 📁\n\nVocê demonstrou interesse em capas para CTPS / pastas alguns dias atrás.\n\nNa Federal Malotes, produzimos capas e pastas com acabamento impecável, ideais para escritórios de contabilidade, departamentos de RH e órgãos públicos.\n\n✅ Diversos modelos e acabamentos\n✅ Personalização disponível\n✅ Material de alta durabilidade\n✅ Entrega em todo o Brasil\n\nPosso preparar um orçamento sob medida para a sua necessidade? 👇\n\n**Modelo 5 — Genérico (sem produto específico)**\nOi[, [primeiro_nome]]! Aqui é {{ $json.NOME_CONSULTOR }} da *Federal Malotes* 👋\n\nVi que você entrou em contato com a gente recentemente.\n\nSomos especialistas em malotes, quadros fiscais, pastas, capas CTPS e brindes corporativos — tudo com a qualidade de quem tem mais de 30 anos no mercado e mais de 11.500 clientes atendidos.\n\nGostaria de conhecer nossos produtos e receber um orçamento personalizado? É só me responder aqui. 👇"
        }
      },
      "id": "d5f71014-2ddb-4c67-a95c-295ec0abd104",
      "name": "Conversa",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        5136,
        1344
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14KH0PFtszg2f3VtIFNZ9YIj1rjWedUfyLQGLX-vcptw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1605491772,
          "mode": "list",
          "cachedResultName": "Contatos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WHATSAPP": "={{ $('setarInfo').item.json.Whatsapp }}",
            "TempoMsg": "={{ $('gerarTempo').item.json.delaySeconds }}",
            "ENVIOU MSG": "FEITO",
            "DATA DO ENVIO": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "MSG_ENVIADA": "={{ $('validarMensagem').item.json.output }}",
            "ERRO_ENVIO": "",
            "row_number": "={{ $('PlanilhaContatos').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRODUTO DE INTERESSE",
              "displayName": "PRODUTO DE INTERESSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TempoMsg",
              "displayName": "TempoMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ENVIOU MSG",
              "displayName": "ENVIOU MSG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA DO ENVIO",
              "displayName": "DATA DO ENVIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fcf1c2c2-d077-43b6-8d0d-abe2bc1286cd",
      "name": "atualizarPlanilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6576,
        1520
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KIM9Z8S69kIM7Ztk",
          "name": "[Google Sheets] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nlet msg = (item.json.output || '').trim();\n\n// Fallback se IA nao gerou mensagem\nif (!msg) {\n  const nome = $('setarInfo').first().json.Nome || '';\n  const primeiro = nome.split(' ')[0];\n  const consultor = $('setarInfo').first().json.NOME_CONSULTOR || 'Consultor';\n  msg = `Oi${primeiro ? ', ' + primeiro : ''}! Aqui é ${consultor} da *Federal Malotes* 👋\\n\\nVi que você demonstrou interesse nos nossos produtos. Somos especialistas em malotes, quadros fiscais, pastas e brindes corporativos — mais de 30 anos no mercado.\\n\\nPosso te ajudar com um orçamento personalizado? É só responder aqui. 👇`;\n}\n\n// Truncar se muito longa (max 900 chars)\nif (msg.length > 900) {\n  msg = msg.substring(0, 897) + '...';\n}\n\n// Anti-alucinacao: substituir precos inventados\nmsg = msg.replace(/R\\$\\s*[\\d.,]+/g, '[consulte valores]');\n\nreturn [{ json: { ...item.json, output: msg } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        1344
      ],
      "id": "b6e6da44-b9b6-479f-8e02-faf605afd438",
      "name": "validarMensagem"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14KH0PFtszg2f3VtIFNZ9YIj1rjWedUfyLQGLX-vcptw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1605491772,
          "mode": "list",
          "cachedResultName": "Contatos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ENVIOU MSG": "ERRO",
            "ERRO_ENVIO": "={{ $json.error?.message || $json.error || 'Falha no envio' }}",
            "DATA DO ENVIO": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "row_number": "={{ $('PlanilhaContatos').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ENVIOU MSG",
              "displayName": "ENVIOU MSG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERRO_ENVIO",
              "displayName": "ERRO_ENVIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "DATA DO ENVIO",
              "displayName": "DATA DO ENVIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "54ae42e8-f373-4ac1-97e0-675a3fe01fca",
      "name": "registrarErro",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6576,
        1712
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KIM9Z8S69kIM7Ztk",
          "name": "[Google Sheets] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $('setarInfo').item.json.Whatsapp }}",
        "text": "={{ $('validarMensagem').item.json.output }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        6096,
        1344
      ],
      "id": "b869ead5-fc2c-4352-9391-45dbe401f598",
      "name": "enviarMsg",
      "credentials": {
        "uazApiApi": {
          "id": "XoUttxs9digu7OCd",
          "name": "[UazAPI] - Federal Malotes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Intervalo em MINUTOS\nconst MIN_MINUTES = 2;  // 2 min\nconst MAX_MINUTES = 10; // 10 min\n\n// Último delay em segundos vindo do node \"setarInfo\"\nconst prev = Number($items('setarInfo')[0]?.json?.TempoMsg);\n\nfunction randInt(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction pickDelay(minM, maxM, prevSec) {\n  let tries = 0;\n  let seconds;\n  do {\n    const minutes = randInt(minM, maxM);\n    seconds = minutes * 60;\n    tries++;\n  } while (Number.isFinite(prevSec) && seconds === prevSec && tries < 50);\n\n  if (Number.isFinite(prevSec) && seconds === prevSec) {\n    const up = prevSec + 60;\n    const down = prevSec - 60;\n    const minSec = MIN_MINUTES * 60;\n    const maxSec = MAX_MINUTES * 60;\n    if (up <= maxSec) seconds = up;\n    else if (down >= minSec) seconds = down;\n  }\n  return seconds;\n}\n\nconst delaySeconds = pickDelay(MIN_MINUTES, MAX_MINUTES, prev);\n\nreturn [{ json: { delaySeconds } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        1392
      ],
      "id": "83f81779-6ce0-493a-857f-4b301832f59c",
      "name": "gerarTempo"
    },
    {
      "parameters": {
        "amount": "={{ $json.delaySeconds }}"
      },
      "id": "bad3095c-1d27-49ec-9863-9bb21ef0be33",
      "name": "esperar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5792,
        1392
      ],
      "webhookId": "a1b2c3d4-wh01-4000-8000-000000000000"
    },
    {
      "parameters": {
        "content": "# Dispara seg-sex às 9h e 14h (horário comercial B2B)",
        "height": 576,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3600,
        1120
      ],
      "typeVersion": 1,
      "id": "f1b11ffa-6732-4689-a634-252c908dcffc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,14 * * 1-5"
            }
          ]
        }
      },
      "id": "ff7451c6-3518-4dc0-afdb-79825085c392",
      "name": "Executar",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        3664,
        1344
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3664,
        1552
      ],
      "id": "ed249031-60a5-4409-8b35-184ca943b6de",
      "name": "manual"
    },
    {
      "parameters": {
        "content": "# Lê contatos e mapeia campos\nPlanilha: https://docs.google.com/spreadsheets/d/14KH0PFtszg2f3VtIFNZ9YIj1rjWedUfyLQGLX-vcptw/edit?gid=1605491772#gid=1605491772",
        "height": 576,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3984,
        1120
      ],
      "typeVersion": 1,
      "id": "f9f4acd0-3258-42c0-9591-35e5beb03c12",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Filtra leads já enviados e opt-out\nIgnora ENVIOU MSG = FEITO e OPT_OUT = SIM",
        "height": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4128,
        1120
      ],
      "typeVersion": 1,
      "id": "ab514ef2-92d5-43f3-8681-6c2462f7bea0",
      "name": "Sticky Note Filtro"
    },
    {
      "parameters": {
        "content": "# DISPARO — FEDERAL MALOTES",
        "height": 80,
        "width": 280,
        "color": 4
      },
      "id": "48ede6f5-a635-4ca9-a73a-13aeef75f354",
      "name": "Sticky Note31",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5136,
        992
      ]
    },
    {
      "parameters": {
        "content": "# Limita volume e processa 1 a 1 com IA",
        "height": 592,
        "width": 800,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4464,
        1120
      ],
      "typeVersion": 1,
      "id": "e31815c0-49d8-43fa-bda1-386c1a4d6e5e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Delay aleatório 2-10 min (anti-ban)",
        "height": 592,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5488,
        1120
      ],
      "typeVersion": 1,
      "id": "fbc235cd-223d-4e72-a946-2038c049f88c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Valida mensagem da IA\n- Fallback se vazia\n- Trunca > 900 chars\n- Remove preços inventados (R$)",
        "height": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5328,
        1120
      ],
      "typeVersion": 1,
      "id": "027e4ee6-d054-4889-8ee2-0d298ce7b4e7",
      "name": "Sticky Note Validacao"
    },
    {
      "parameters": {
        "content": "# Registra erro na planilha\nGrava ENVIOU MSG = ERRO + motivo em ERRO_ENVIO",
        "height": 200,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6384,
        1664
      ],
      "typeVersion": 1,
      "id": "5aa806ad-04cc-4f11-b53c-42d1dca62e5f",
      "name": "Sticky Note Erro"
    },
    {
      "parameters": {
        "content": "# Envia via UAZAPI (node nativo)\n⚠️ Vincular credential UazAPI account após importar",
        "height": 592,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6000,
        1120
      ],
      "typeVersion": 1,
      "id": "deea6f0f-3959-4dd2-b970-644b205d2e2f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Atualiza planilha: marca FEITO + data do envio",
        "height": 592,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6384,
        1120
      ],
      "typeVersion": 1,
      "id": "46a078d6-9e50-4e27-bc85-bafb2267df1a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# ⚙️ SETUP — Federal Malotes\n\n## 🔴 Placeholders para preencher:\n\n### 1. Google Sheets\n- Abrir os nós **PlanilhaContatos** e **atualizarPlanilha** na UI\n- Selecionar a planilha e a aba \"Contatos\" pelo seletor visual\n- Vincular credencial Google Sheets\n\n### 2. UAZAPI\n- Vincular credencial **UazAPI account** no nó enviarMsg\n\n### 3. OpenAI\n- Vincular credencial OpenAI no nó **4.1 mini**\n\n### 4. Postgres (memória do agente)\n- Vincular credencial Postgres no nó **memoria**\n\n### 5. Persona\n- No nó **setarInfo**, trocar o valor de `NOME_CONSULTOR` (\"Fulano\") pelo nome real do consultor\n\n## ✅ Colunas esperadas na planilha:\nNOME | WHATSAPP | EMPRESA | PRODUTO DE INTERESSE | CONTEXTO | TOM | OBJETIVO_DISPARO | DATA DO CADASTRO | TempoMsg | ENVIOU MSG | DATA DO ENVIO | OPT_OUT | ERRO_ENVIO | MSG_ENVIADA\n\n**CONTEXTO / TOM / OBJETIVO_DISPARO:** variáveis por linha; altere para mudar o teor sem editar o workflow.\n**OPT_OUT:** preencher com SIM para excluir o lead de futuros disparos.\n**MSG_ENVIADA:** texto real que foi enviado (preenchido automaticamente).\n**ERRO_ENVIO:** se falhar, grava o motivo aqui.\n\n## 🔒 Proteções\n- **Filtro automático**: ignora leads com ENVIOU MSG = FEITO ou OPT_OUT = SIM\n- **Validação de mensagem**: fallback se IA falhar, trunca se longa, remove preços inventados\n- **Registro de erros**: falhas gravam ERRO + motivo na planilha (não são silenciosas)\n- **Limite de 30 leads por execução** (nó limitarVolume)\n- **Delay aleatório 2-10 min** entre cada envio\n- **Seg-Sex, 9h e 14h horário de São Paulo** (timezone explícito)\n- **Auditoria**: cada mensagem enviada fica salva em MSG_ENVIADA",
        "height": 640,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3504,
        224
      ],
      "typeVersion": 1,
      "id": "6c624637-a07e-4a8f-8a6e-c9af95e84f86",
      "name": "Sticky Note Setup"
    },
    {
      "parameters": {
        "content": "## 📋 Dados extraídos — Federal Malotes\n\n**Empresa:** Federal Malotes\n**Site:** federalmalotes.com.br\n**Instagram:** @federalmalotesoficial (232 seguidores, 40 posts)\n**WhatsApp:** (17) 99763-0370\n**Link bio:** bit.ly/federalmalotes_whatsapp\n**Experiência:** +30 anos no mercado\n**Clientes:** 11.500+\n\n**Produtos:**\n- Malotes para Documentos\n- Capa CTPS\n- Quadros Fiscais\n- Pastas\n- Brindes (Agendas, Calendários, Mouse Pad, Canetas)\n\n**Diferenciais:**\n- Materiais de alta qualidade\n- Atendimento personalizado (pessoas, não máquinas)\n- Comunicação direta com especialistas\n- Personalização com logo do cliente\n- Entrega para todo o Brasil\n\n**DDD:** 17 (região de São José do Rio Preto - SP)",
        "height": 600,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4288,
        224
      ],
      "typeVersion": 1,
      "id": "e0415e10-85fe-4885-a3df-b965fb475ca4",
      "name": "Sticky Note Dados"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5088,
        1552
      ],
      "id": "887dea3e-a8ef-4cf4-a44a-835271b75943",
      "name": "4.1 mini",
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-04-07T20:40:42.922Z",
      "createdAt": "2026-04-07T20:40:42.922Z",
      "role": "workflow:owner",
      "workflowId": "3GvVzrF1uuS9006V",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": {
    "node:Executar": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2026-01-27T17:05:49.634Z",
      "createdAt": "2026-01-27T17:05:49.634Z",
      "id": "F171zldw4G7U1HuZ",
      "name": "legacy"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-27T14:50:55.106Z",
  "versionId": "832fde86-e272-4a0f-aef6-d71b3e8da0d2"
}