workflows/Obs Logger — v2.0.0 B.0 copy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When_Executed_by_Another_Workflow": {
      "main": [
        [
          {
            "node": "FN_NormalizarPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_NormalizarPayload": {
      "main": [
        [
          {
            "node": "SUP_InsertObsLog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUP_InsertObsLog": {
      "main": [
        [
          {
            "node": "OUT_OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-15T19:08:41.335Z",
  "id": "qbcG35QQDDhCAKRX",
  "isArchived": true,
  "meta": null,
  "name": "Obs Logger — v2.0.0 B.0 copy",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "stage"
            },
            {
              "name": "workflow"
            },
            {
              "name": "operation"
            },
            {
              "name": "duration_ms"
            },
            {
              "name": "outcome"
            },
            {
              "name": "chatid"
            },
            {
              "name": "messageid"
            },
            {
              "name": "profissional"
            },
            {
              "name": "tokens_prompt"
            },
            {
              "name": "tokens_output"
            },
            {
              "name": "cost_usd"
            },
            {
              "name": "error_message"
            },
            {
              "name": "metadata"
            }
          ]
        }
      },
      "id": "b3db1396-4eae-47a7-a243-90a69059df15",
      "name": "When_Executed_by_Another_Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// FN_NormalizarPayload — v2.0.0 B.0\n// Normaliza input do caller em uma linha de log compatível com obs_logger_v1.\n// Fire-and-forget: qualquer erro é absorvido e transformado em linha de log com outcome=error_logger.\ntry {\n  const i = $input.first().json || {};\n  const toStr = v => (v === undefined || v === null || v === '') ? null : String(v);\n  const toInt = v => {\n    if (v === undefined || v === null || v === '') return null;\n    const n = parseInt(v, 10);\n    return isNaN(n) ? null : n;\n  };\n  const toNum = v => {\n    if (v === undefined || v === null || v === '') return null;\n    const n = Number(v);\n    return isNaN(n) ? null : n;\n  };\n  const toJson = v => {\n    if (v === undefined || v === null || v === '') return null;\n    if (typeof v === 'string') { try { return JSON.parse(v); } catch (_) { return { raw: v }; } }\n    return v;\n  };\n\n  const stage = toStr(i.stage) || 'unknown';\n  const workflow = toStr(i.workflow) || 'unknown';\n  const operation = toStr(i.operation) || 'unknown';\n  const outcome = toStr(i.outcome) || 'success';\n\n  // Campos opcionais\n  const duration_ms = toInt(i.duration_ms);\n  const chatid = toStr(i.chatid);\n  const messageid = toStr(i.messageid);\n  const profissional = toStr(i.profissional);\n  const tokens_prompt = toInt(i.tokens_prompt);\n  const tokens_output = toInt(i.tokens_output);\n  const cost_usd = toNum(i.cost_usd);\n  const error_message = toStr(i.error_message);\n  const metadata = toJson(i.metadata);\n\n  return [{ json: {\n    stage, workflow, operation, outcome,\n    duration_ms, chatid, messageid, profissional,\n    tokens_prompt, tokens_output, cost_usd, error_message, metadata\n  } }];\n} catch (err) {\n  // Nunca propaga erro — fire-and-forget.\n  return [{ json: {\n    stage: 'obs.logger',\n    workflow: 'obs.logger',\n    operation: 'normalize_payload',\n    outcome: 'error_logger',\n    error_message: String(err && err.message || err),\n    metadata: null,\n    duration_ms: null, chatid: null, messageid: null, profissional: null,\n    tokens_prompt: null, tokens_output: null, cost_usd: null\n  } }];\n}\n"
      },
      "id": "2c326026-44e7-4572-b2be-a89418ba980d",
      "name": "FN_NormalizarPayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "id": "2db9dcd3-c70b-4667-8547-7671071c5dcc",
      "name": "SUP_InsertObsLog",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        -112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "lPqw6Aku7HwsgBAG",
          "name": "[Supabase] - acessos@"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok1",
              "name": "ok",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "a98e1790-cc1f-45ef-9bac-e32c86bbea51",
      "name": "OUT_OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -112
      ]
    },
    {
      "parameters": {
        "content": "## 📋 HEADER — obs.logger (v2.0.0 B.0)\n\n**Papel:** sub-workflow chamável via `executeWorkflow` para gravação de logs estruturados em `obs_logger_v1` (Supabase).\n\n**Contrato:**\n- **Input:** `{stage, workflow, operation, duration_ms?, outcome, chatid?, messageid?, profissional?, tokens_prompt?, tokens_output?, cost_usd?, error_message?, metadata?}`\n- **Output:** `{ok: true}` sempre — é **fire-and-forget**. Falha do Supabase NÃO propaga para o caller.\n\n**Callers:** todos os workflows do sistema (Stage 0 a 6).\n**Destino:** tabela `obs_logger_v1` no Supabase (schema em `PLANS/current/v1.2.1-scope.md` / SQL em conversa de 2026-04-14).\n\n**Invariantes:**\n1. Fire-and-forget: nunca bloqueia o fluxo principal do caller.\n2. Schema imutável — mudanças criam `obs_logger_v2`.\n3. Campos opcionais aceitos como null; validação mínima em `FN_NormalizarPayload`.",
        "height": 260,
        "width": 820
      },
      "id": "0ca4e832-c87b-4a39-80c8-72b6c177a8b7",
      "name": "SN_Header",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -432
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ FIRE-AND-FORGET\n\n`SUP_InsertObsLog` tem `continueOnFail: true`. Se o Supabase estiver inacessível, a execução continua e `OUT_OK` retorna `{ok: true}` para o caller. Nenhuma exceção é propagada.\n\nIsto é **proposital**: observabilidade nunca deve quebrar produção.",
        "height": 200,
        "width": 480,
        "color": 3
      },
      "id": "551ee327-8f2c-480e-b85a-91a0acc6f6a7",
      "name": "SN_FireAndForget",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        -432
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-04-15T19:08:41.335Z",
      "createdAt": "2026-04-15T19:08:41.335Z",
      "role": "workflow:owner",
      "workflowId": "qbcG35QQDDhCAKRX",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-04-15T13:55:28.352Z",
      "createdAt": "2026-04-15T13:55:28.352Z",
      "id": "u1SzOkjfNWfArewO",
      "name": "v2.0.0-B.0"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T15:18:23.904Z",
  "versionId": "8ca7485b-ce3c-4fbc-92a1-ff5e8c8132a1"
}