workflows/RNB Solucoes - QR Disparo (Pess).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-25T05:52:30.753Z",
    "createdAt": "2026-04-25T05:52:29.724Z",
    "versionId": "0c6ca66d-2af9-46b3-8883-738ab10babef",
    "workflowId": "YSpWjqOFjFecGmw8",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "rnb-qr-disparo-pess-inbound",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          3440,
          944
        ],
        "id": "7b5e6e89-d91c-4bf2-9c14-8452680e1379",
        "name": "Webhook - QR Disparo Pess",
        "webhookId": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json;\nconst payload = raw.body || raw;\nconst message = payload.message || {};\nconst chat = payload.chat || {};\n\n// Anti-loop: ignora mensagens proprias\nif (message.fromMe === true) {\n  return [];\n}\n\n// Filtra keyword (case-insensitive, trimmed)\nconst texto = String(message.text || message.content || '').trim().toLowerCase();\nif (texto !== 'rnbsolucoes') {\n  return [];\n}\n\n// Sanitiza telefone (somente digitos, min 10)\nconst telefoneBruto = message.sender_pn || chat.phone || '';\nconst telefone = String(telefoneBruto).replace(/\\D/g, '');\nif (!telefone || telefone.length < 10) {\n  return [];\n}\n\n// Extrai nome do contato\nconst nome = String(\n  message.senderName || chat.wa_contactName || chat.name || chat.wa_name || 'Visitante'\n).trim();\n\nreturn [{\n  json: {\n    nome,\n    numero: telefone,\n    texto_recebido: texto,\n    data_hora: new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3680,
          944
        ],
        "id": "40214f31-60bc-4aee-b291-58201311ec66",
        "name": "Code - Validar Mensagem"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Fk_RW0rwFz3GRwR2gun9_8kxtOCihPiiU-q0kRCv9m8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fk_RW0rwFz3GRwR2gun9_8kxtOCihPiiU-q0kRCv9m8/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          3920,
          944
        ],
        "id": "9eef68d7-2f5b-4873-b567-f1479ae1d21b",
        "name": "Google Sheets - Consultar Leads",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zjkuvv93EujKZWDY",
            "name": "[Google Sheets] - rogerio@rnb"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const lead = $('Code - Validar Mensagem').first().json;\nconst allRows = $('Google Sheets - Consultar Leads').all();\nconst rows = allRows.map(i => i.json).filter(r => r && r.Telefone);\n\n// Busca lead existente pelo telefone\nconst existing = rows.find(r => {\n  const tel = String(r.Telefone || '').replace(/\\D/g, '');\n  return tel === lead.numero;\n});\n\n// Verifica cooldown de 24h\nif (existing && existing.Ultimo_Envio) {\n  const lastSent = new Date(existing.Ultimo_Envio);\n  const now = new Date();\n  const hoursElapsed = (now - lastSent) / (1000 * 60 * 60);\n  if (hoursElapsed < 24) {\n    return [];\n  }\n}\n\nreturn [{\n  json: {\n    ...lead,\n    is_new: !existing\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4160,
          944
        ],
        "id": "5e25880f-a6df-46a6-b1ae-9c99061cd57c",
        "name": "Code - Verificar Cooldown"
      },
      {
        "parameters": {
          "jsCode": "const lead = $input.first().json;\nconst nome = lead.nome;\n\nconst msg = `Ol\\u00e1, *${nome}*! \\u{1F44B} Obrigado pelo contato!\n\nPrazer, me chamo Rog\\u00e9rio e sou Fundador da *RNB Solu\\u00e7\\u00f5es*, uma startup especializada em desenvolvimento de sistemas e automa\\u00e7\\u00f5es assistida por Intelig\\u00eancia Artificial.\n\nEstou disponibilizando meu contato e minha agenda para podermos marcar um bate papo inicial sem custo algum e assim eu posso entender a sua necessidade e terei condi\\u00e7\\u00f5es de te enviar uma proposta direta e assertiva para o seu problema.\n\n*Contato:*\n\\u{1F4F1} Celular: (17) 99184-1789\n\\u{1F4E7} Email: rogerio@rnbsolucoes.com.br\n\\u{1F4C5} Agenda: https://calendly.com/rnbsolucoes/30min\n\nGostaria de aproveitar o contato e disponibilizar tamb\\u00e9m mais informa\\u00e7\\u00f5es sobre n\\u00f3s:\n\n*Saiba mais:*\n\\u{1F310} Site: https://www.rnbsolucoes.com.br\n\\u{1F4BC} Portf\\u00f3lio: https://rogerio.rnbsolucoes.com.br/\n\\u{1F517} LinkedIn: https://www.linkedin.com/in/rogerio-rnb-solucoes/\n\nDesde j\\u00e1 agrade\\u00e7o o contato e fico \\u00e0 disposi\\u00e7\\u00e3o para esclarecer qualquer d\\u00favida.\n\nAtenciosamente\n*Rog\\u00e9rio Borges*`;\n\nreturn [{\n  json: {\n    ...lead,\n    text: msg\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4400,
          944
        ],
        "id": "1b228d4e-2c40-46ee-b116-f228b8a0c9bc",
        "name": "Code - Montar Mensagem"
      },
      {
        "parameters": {
          "number": "={{ $json.numero }}",
          "text": "={{ $json.text }}"
        },
        "type": "n8n-nodes-uazapi.uazApi",
        "typeVersion": 1,
        "position": [
          4640,
          832
        ],
        "id": "5293da07-8224-4fcd-9bf6-29fc2bebf254",
        "name": "UazAPI - Enviar Mensagem",
        "credentials": {
          "uazApiApi": {
            "id": "XtNsjEvVTZlgoB4h",
            "name": "[UazAPI] - Nog Pess"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1Fk_RW0rwFz3GRwR2gun9_8kxtOCihPiiU-q0kRCv9m8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fk_RW0rwFz3GRwR2gun9_8kxtOCihPiiU-q0kRCv9m8/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Data": "={{ $json.data_hora }}",
              "Nome": "={{ $json.nome }}",
              "Telefone": "={{ $json.numero }}",
              "Ultimo_Envio": "={{ new Date().toISOString() }}",
              "Origem": "qr-disparo",
              "Status": "mensagem_enviada"
            },
            "matchingColumns": [
              "Telefone"
            ],
            "schema": [
              {
                "id": "Data",
                "displayName": "Data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Nome",
                "displayName": "Nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Telefone",
                "displayName": "Telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ultimo_Envio",
                "displayName": "Ultimo_Envio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "Origem",
                "displayName": "Origem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          4640,
          1072
        ],
        "id": "89b9fd44-6a46-4858-a515-e5c7c23031f4",
        "name": "Google Sheets - Salvar Lead",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zjkuvv93EujKZWDY",
            "name": "[Google Sheets] - rogerio@rnb"
          }
        }
      },
      {
        "parameters": {
          "content": "## 🚀 RNB Soluções - QR Disparo Pess (Paralelo) v2.0\n\n**Fluxo:**\n1. QR Code abre WhatsApp com texto pré-preenchido `rnbsolucoes`\n2. Webhook recebe a mensagem via UazAPI (Nog Pess)\n3. Valida keyword, filtra fromMe, sanitiza telefone\n4. Verifica cooldown (24h) no Google Sheets\n5. Monta mensagem personalizada com nome do contato\n6. Envia resposta via UazAPI + registra lead no Sheets\n\n**QR Code URL:**\n`https://wa.me/5518997913488?text=rnbsolucoes`\n\n**Imagem do QR:** `qr-rnbsolucoes-pess.png` (900x900)\n\n**Cooldown:** 24h entre reenvios\n**Timeout:** 60s por execução\n**Retry:** 3x com 2s entre tentativas\n**Error Workflow:** `Pj5WgxYC-ncyfgLlM7ubE`",
          "height": 420,
          "width": 560,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3312,
          480
        ],
        "id": "03e39eaa-3835-4631-95f6-8a5542de3245",
        "name": "Sticky Note - Overview"
      },
      {
        "parameters": {
          "content": "## ✅ Validação\n- Keyword: `rnbsolucoes` (case-insensitive)\n- Ignora `fromMe` (anti-loop)\n- Telefone: mín 10 dígitos, somente números\n- Retorna `[]` para parar execução",
          "width": 300,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3600,
          768
        ],
        "id": "104d3099-f3a7-4364-a11f-7983c2ee7f36",
        "name": "Sticky Note - Validacao"
      },
      {
        "parameters": {
          "content": "## ⏰ Deduplicação\n- Busca lead pelo telefone no Sheets\n- Cooldown: 24 horas\n- Se já enviou nas últimas 24h, para\n- Coluna `Ultimo_Envio` controla o cooldown",
          "width": 320,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4032,
          768
        ],
        "id": "fe12c13b-58f3-4847-a1f3-183e4c0b38eb",
        "name": "Sticky Note - Deduplicacao"
      },
      {
        "parameters": {
          "content": "## 💬 Mensagem\n- Saudação personalizada com nome\n- Template embutido no Code node\n- Fonte: `msg.txt` (referência, não lido em runtime)\n- Links: Calendly, Site, Portfólio, LinkedIn\n- Formatação WhatsApp (*negrito*, emojis)\n- Para alterar: edite o Code node `Code - Montar Mensagem`",
          "width": 300,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4320,
          768
        ],
        "id": "4eca75d2-e99f-47e4-ba95-df4c91004a67",
        "name": "Sticky Note - Mensagem"
      },
      {
        "parameters": {
          "content": "## 📱 QR Code (Pess)\n\n**Keyword:** `rnbsolucoes`\n**Destino:** `wa.me/5518997913488`\n**URL completa:**\n`https://wa.me/5518997913488?text=rnbsolucoes`\n\n---\n\n**Imagem do QR:** `qr-rnbsolucoes-pess.png`\n(arquivo no diretório do projeto, 900x900)\n\n_Teste paralelo do número pessoal._",
          "height": 360,
          "width": 320,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3920,
          480
        ],
        "id": "88ece743-232c-4938-92c1-74abde845ad2",
        "name": "Sticky Note - QR Code"
      }
    ],
    "connections": {
      "Code - Validar Mensagem": {
        "main": [
          [
            {
              "node": "Google Sheets - Consultar Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Consultar Leads": {
        "main": [
          [
            {
              "node": "Code - Verificar Cooldown",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Verificar Cooldown": {
        "main": [
          [
            {
              "node": "Code - Montar Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Montar Mensagem": {
        "main": [
          [
            {
              "node": "UazAPI - Enviar Mensagem",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Sheets - Salvar Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - QR Disparo Pess": {
        "main": [
          [
            {
              "node": "Code - Validar Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "RNB Soluções",
    "name": "Version 0c6ca66d",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "0c6ca66d-2af9-46b3-8883-738ab10babef",
  "connections": {
    "Code - Validar Mensagem": {
      "main": [
        [
          {
            "node": "Google Sheets - Consultar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Consultar Leads": {
      "main": [
        [
          {
            "node": "Code - Verificar Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Verificar Cooldown": {
      "main": [
        [
          {
            "node": "Code - Montar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Montar Mensagem": {
      "main": [
        [
          {
            "node": "UazAPI - Enviar Mensagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Salvar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - QR Disparo Pess": {
      "main": [
        [
          {
            "node": "Code - Validar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-25T05:47:57.182Z",
  "id": "YSpWjqOFjFecGmw8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RNB Solucoes - QR Disparo (Pess)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rnb-qr-disparo-pess-inbound",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3440,
        944
      ],
      "id": "7b5e6e89-d91c-4bf2-9c14-8452680e1379",
      "name": "Webhook - QR Disparo Pess",
      "webhookId": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst payload = raw.body || raw;\nconst message = payload.message || {};\nconst chat = payload.chat || {};\n\n// Anti-loop: ignora mensagens proprias\nif (message.fromMe === true) {\n  return [];\n}\n\n// Filtra keyword (case-insensitive, trimmed)\nconst texto = String(message.text || message.content || '').trim().toLowerCase();\nif (texto !== 'rnbsolucoes') {\n  return [];\n}\n\n// Sanitiza telefone (somente digitos, min 10)\nconst telefoneBruto = message.sender_pn || chat.phone || '';\nconst telefone = String(telefoneBruto).replace(/\\D/g, '');\nif (!telefone || telefone.length < 10) {\n  return [];\n}\n\n// Extrai nome do contato\nconst nome = String(\n  message.senderName || chat.wa_contactName || chat.name || chat.wa_name || 'Visitante'\n).trim();\n\nreturn [{\n  json: {\n    nome,\n    numero: telefone,\n    texto_recebido: texto,\n    data_hora: new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        944
      ],
      "id": "40214f31-60bc-4aee-b291-58201311ec66",
      "name": "Code - Validar Mensagem"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Fk_RW0rwFz3GRwR2gun9_8kxtOCihPiiU-q0kRCv9m8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fk_RW0rwFz3GRwR2gun9_8kxtOCihPiiU-q0kRCv9m8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3920,
        944
      ],
      "id": "9eef68d7-2f5b-4873-b567-f1479ae1d21b",
      "name": "Google Sheets - Consultar Leads",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zjkuvv93EujKZWDY",
          "name": "[Google Sheets] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Code - Validar Mensagem').first().json;\nconst allRows = $('Google Sheets - Consultar Leads').all();\nconst rows = allRows.map(i => i.json).filter(r => r && r.Telefone);\n\n// Busca lead existente pelo telefone\nconst existing = rows.find(r => {\n  const tel = String(r.Telefone || '').replace(/\\D/g, '');\n  return tel === lead.numero;\n});\n\n// Verifica cooldown de 24h\nif (existing && existing.Ultimo_Envio) {\n  const lastSent = new Date(existing.Ultimo_Envio);\n  const now = new Date();\n  const hoursElapsed = (now - lastSent) / (1000 * 60 * 60);\n  if (hoursElapsed < 24) {\n    return [];\n  }\n}\n\nreturn [{\n  json: {\n    ...lead,\n    is_new: !existing\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        944
      ],
      "id": "5e25880f-a6df-46a6-b1ae-9c99061cd57c",
      "name": "Code - Verificar Cooldown"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst nome = lead.nome;\n\nconst msg = `Ol\\u00e1, *${nome}*! \\u{1F44B} Obrigado pelo contato!\n\nPrazer, me chamo Rog\\u00e9rio e sou Fundador da *RNB Solu\\u00e7\\u00f5es*, uma startup especializada em desenvolvimento de sistemas e automa\\u00e7\\u00f5es assistida por Intelig\\u00eancia Artificial.\n\nEstou disponibilizando meu contato e minha agenda para podermos marcar um bate papo inicial sem custo algum e assim eu posso entender a sua necessidade e terei condi\\u00e7\\u00f5es de te enviar uma proposta direta e assertiva para o seu problema.\n\n*Contato:*\n\\u{1F4F1} Celular: (17) 99184-1789\n\\u{1F4E7} Email: rogerio@rnbsolucoes.com.br\n\\u{1F4C5} Agenda: https://calendly.com/rnbsolucoes/30min\n\nGostaria de aproveitar o contato e disponibilizar tamb\\u00e9m mais informa\\u00e7\\u00f5es sobre n\\u00f3s:\n\n*Saiba mais:*\n\\u{1F310} Site: https://www.rnbsolucoes.com.br\n\\u{1F4BC} Portf\\u00f3lio: https://rogerio.rnbsolucoes.com.br/\n\\u{1F517} LinkedIn: https://www.linkedin.com/in/rogerio-rnb-solucoes/\n\nDesde j\\u00e1 agrade\\u00e7o o contato e fico \\u00e0 disposi\\u00e7\\u00e3o para esclarecer qualquer d\\u00favida.\n\nAtenciosamente\n*Rog\\u00e9rio Borges*`;\n\nreturn [{\n  json: {\n    ...lead,\n    text: msg\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        944
      ],
      "id": "1b228d4e-2c40-46ee-b116-f228b8a0c9bc",
      "name": "Code - Montar Mensagem"
    },
    {
      "parameters": {
        "number": "={{ $json.numero }}",
        "text": "={{ $json.text }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        4640,
        832
      ],
      "id": "5293da07-8224-4fcd-9bf6-29fc2bebf254",
      "name": "UazAPI - Enviar Mensagem",
      "credentials": {
        "uazApiApi": {
          "id": "XtNsjEvVTZlgoB4h",
          "name": "[UazAPI] - Nog Pess"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Fk_RW0rwFz3GRwR2gun9_8kxtOCihPiiU-q0kRCv9m8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fk_RW0rwFz3GRwR2gun9_8kxtOCihPiiU-q0kRCv9m8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.data_hora }}",
            "Nome": "={{ $json.nome }}",
            "Telefone": "={{ $json.numero }}",
            "Ultimo_Envio": "={{ new Date().toISOString() }}",
            "Origem": "qr-disparo",
            "Status": "mensagem_enviada"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Envio",
              "displayName": "Ultimo_Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Origem",
              "displayName": "Origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4640,
        1072
      ],
      "id": "89b9fd44-6a46-4858-a515-e5c7c23031f4",
      "name": "Google Sheets - Salvar Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zjkuvv93EujKZWDY",
          "name": "[Google Sheets] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 RNB Soluções - QR Disparo Pess (Paralelo) v2.0\n\n**Fluxo:**\n1. QR Code abre WhatsApp com texto pré-preenchido `rnbsolucoes`\n2. Webhook recebe a mensagem via UazAPI (Nog Pess)\n3. Valida keyword, filtra fromMe, sanitiza telefone\n4. Verifica cooldown (24h) no Google Sheets\n5. Monta mensagem personalizada com nome do contato\n6. Envia resposta via UazAPI + registra lead no Sheets\n\n**QR Code URL:**\n`https://wa.me/5518997913488?text=rnbsolucoes`\n\n**Imagem do QR:** `qr-rnbsolucoes-pess.png` (900x900)\n\n**Cooldown:** 24h entre reenvios\n**Timeout:** 60s por execução\n**Retry:** 3x com 2s entre tentativas\n**Error Workflow:** `Pj5WgxYC-ncyfgLlM7ubE`",
        "height": 420,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3312,
        480
      ],
      "id": "03e39eaa-3835-4631-95f6-8a5542de3245",
      "name": "Sticky Note - Overview"
    },
    {
      "parameters": {
        "content": "## ✅ Validação\n- Keyword: `rnbsolucoes` (case-insensitive)\n- Ignora `fromMe` (anti-loop)\n- Telefone: mín 10 dígitos, somente números\n- Retorna `[]` para parar execução",
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3600,
        768
      ],
      "id": "104d3099-f3a7-4364-a11f-7983c2ee7f36",
      "name": "Sticky Note - Validacao"
    },
    {
      "parameters": {
        "content": "## ⏰ Deduplicação\n- Busca lead pelo telefone no Sheets\n- Cooldown: 24 horas\n- Se já enviou nas últimas 24h, para\n- Coluna `Ultimo_Envio` controla o cooldown",
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4032,
        768
      ],
      "id": "fe12c13b-58f3-4847-a1f3-183e4c0b38eb",
      "name": "Sticky Note - Deduplicacao"
    },
    {
      "parameters": {
        "content": "## 💬 Mensagem\n- Saudação personalizada com nome\n- Template embutido no Code node\n- Fonte: `msg.txt` (referência, não lido em runtime)\n- Links: Calendly, Site, Portfólio, LinkedIn\n- Formatação WhatsApp (*negrito*, emojis)\n- Para alterar: edite o Code node `Code - Montar Mensagem`",
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4320,
        768
      ],
      "id": "4eca75d2-e99f-47e4-ba95-df4c91004a67",
      "name": "Sticky Note - Mensagem"
    },
    {
      "parameters": {
        "content": "## 📱 QR Code (Pess)\n\n**Keyword:** `rnbsolucoes`\n**Destino:** `wa.me/5518997913488`\n**URL completa:**\n`https://wa.me/5518997913488?text=rnbsolucoes`\n\n---\n\n**Imagem do QR:** `qr-rnbsolucoes-pess.png`\n(arquivo no diretório do projeto, 900x900)\n\n_Teste paralelo do número pessoal._",
        "height": 360,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3920,
        480
      ],
      "id": "88ece743-232c-4938-92c1-74abde845ad2",
      "name": "Sticky Note - QR Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-04-25T05:47:57.182Z",
      "createdAt": "2026-04-25T05:47:57.182Z",
      "role": "workflow:owner",
      "workflowId": "YSpWjqOFjFecGmw8",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-22T20:20:33.529Z",
      "createdAt": "2026-01-22T20:20:33.529Z",
      "id": "Fi0iRqfXHshhowHU",
      "name": "prod"
    },
    {
      "updatedAt": "2026-04-25T05:48:10.848Z",
      "createdAt": "2026-04-25T05:48:10.848Z",
      "id": "K48DLv6yWaaBt1yx",
      "name": "paralelo"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-25T05:52:29.722Z",
  "versionId": "0c6ca66d-2af9-46b3-8883-738ab10babef"
}