workflows/Secretária Amy — Corrigido v3 copy 2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Receber Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Filtrar Contatos Restritos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Contatos Restritos": {
      "main": [
        [
          {
            "node": "Validar Origem WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Origem WhatsApp": {
      "main": [
        [
          {
            "node": "Descartar Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descartar Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair Dados Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados Conversas": {
      "main": [
        [
          {
            "node": "Buscar Lead Por WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead Por WhatsApp": {
      "main": [
        [
          {
            "node": "Detectar Atendimento Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Atendimento Humano": {
      "main": [
        [
          {
            "node": "Rota Atendimento Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Lead Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Lead Existente": {
      "main": [
        [
          {
            "node": "Identificar Tipo Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Novo Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Novo Lead": {
      "main": [
        [
          {
            "node": "Identificar Tipo Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Tipo Mensagem": {
      "main": [
        [
          {
            "node": "MED_DownloadAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MED_DownloadAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Texto Original",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MED_DownloadImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar Midia Nao Suportada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MED_DownloadAudio": {
      "main": [
        [
          {
            "node": "MED_FetchAudioFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MED_FetchAudioFile": {
      "main": [
        [
          {
            "node": "Transcrever Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Audio": {
      "main": [
        [
          {
            "node": "Salvar Texto Transcrito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Texto Transcrito": {
      "main": [
        [
          {
            "node": "Unir Fonte Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Texto Original": {
      "main": [
        [
          {
            "node": "Unir Fonte Mensagem",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MED_DownloadImage": {
      "main": [
        [
          {
            "node": "Preparar Url Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Url Imagem": {
      "main": [
        [
          {
            "node": "Analisar Imagem Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Imagem Cliente": {
      "main": [
        [
          {
            "node": "Salvar Descricao Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor Gemini Imagem": {
      "ai_languageModel": [
        [
          {
            "node": "Analisar Imagem Cliente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ferramenta Gemini Imagem": {
      "ai_tool": [
        [
          {
            "node": "Analisar Imagem Cliente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Descricao Imagem": {
      "main": [
        [
          {
            "node": "Unir Fonte Mensagem",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Unir Fonte Mensagem": {
      "main": [
        [
          {
            "node": "Configurar Mensagem Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Mensagem Final": {
      "main": [
        [
          {
            "node": "Checar Conteudo Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Conteudo Mensagem": {
      "main": [
        [
          {
            "node": "RDS_PushBuffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Terminar Sem Conteudo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RDS_PushBuffer": {
      "main": [
        [
          {
            "node": "WAIT_Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT_Debounce": {
      "main": [
        [
          {
            "node": "RDS_GetBuffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RDS_GetBuffer": {
      "main": [
        [
          {
            "node": "Verificar Ultima Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Ultima Mensagem": {
      "main": [
        [
          {
            "node": "Concatenar Mensagens Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manter Fluxo Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenar Mensagens Buffer": {
      "main": [
        [
          {
            "node": "RDS_ClearBuffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RDS_ClearBuffer": {
      "main": [
        [
          {
            "node": "Gerar Proximos Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Proximos Dias": {
      "main": [
        [
          {
            "node": "Contextualizar Infos Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contextualizar Infos Lead": {
      "main": [
        [
          {
            "node": "Amy Secretaria Barbearia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Conversas Amy": {
      "ai_memory": [
        [
          {
            "node": "Amy Secretaria Barbearia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ferramenta Servicos Naregua": {
      "ai_tool": [
        [
          {
            "node": "Amy Secretaria Barbearia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TOOL_Agendamento": {
      "ai_tool": [
        [
          {
            "node": "Amy Secretaria Barbearia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OUT_AgentResponse": {
      "main": [
        [
          {
            "node": "FN_SplitBaloes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_SplitBaloes": {
      "main": [
        [
          {
            "node": "FN_SepararBaloes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_SepararBaloes": {
      "main": [
        [
          {
            "node": "Dividir Fluxo Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Fluxo Respostas": {
      "main": [
        [
          {
            "node": "Loop Enviar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Enviar Mensagens": {
      "main": [
        [],
        [
          {
            "node": "API_EnviarMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API_EnviarMensagem": {
      "main": [
        [
          {
            "node": "Aguardar Resposta 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Resposta 2s": {
      "main": [
        [
          {
            "node": "Loop Enviar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo ChatGPT 5.4": {
      "ai_languageModel": [
        [
          {
            "node": "Amy Secretaria Barbearia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Amy Secretaria Barbearia": {
      "main": [
        [
          {
            "node": "OUT_AgentResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-14T19:54:04.542Z",
  "id": "PoEkAKgL6nDYojwR",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Secretária Amy — Corrigido v3 copy 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2165abb1-7263-40b2-9fff-dc78bb810531",
        "options": {}
      },
      "id": "d31cded6-5884-49d6-8026-cdea987f3621",
      "name": "Receber Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        28320,
        -688
      ],
      "webhookId": "2165abb1-7263-40b2-9fff-dc78bb810531"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "filter-num1",
              "leftValue": "={{ $json.body.message.chatid }}",
              "rightValue": "558888136242@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "filter-num2",
              "leftValue": "={{ $json.body.message.chatid }}",
              "rightValue": "558888136242@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "456ecb6d-06b2-4625-b807-f406003d6456",
      "name": "Filtrar Contatos Restritos",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        28528,
        -688
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1",
                    "leftValue": "={{ $json.body.message.fromMe }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignorar_fromMe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2",
                    "leftValue": "={{ $json.body.message.isGroup }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignorar_grupo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3",
                    "leftValue": "={{ $json.body.message.chatid }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "9bb219a1-14f1-411d-b9b8-c01774f41eae",
      "name": "Validar Origem WhatsApp",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        28768,
        -688
      ]
    },
    {
      "parameters": {},
      "id": "04963c30-c181-4526-8111-1975a616581c",
      "name": "Descartar Mensagem",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        29008,
        -848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "u1",
              "name": "msg.conversa",
              "value": "={{ $json.body.message.text || '' }}",
              "type": "string"
            },
            {
              "id": "u2",
              "name": "msg.nomeLead",
              "value": "={{ $json.body.message.senderName || 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "u3",
              "name": "msg.numberLead",
              "value": "={{ $json.body.message.chatid.replace(/@s\\.whatsapp\\.net$/,'').replace(/@g\\.us$/,'') }}",
              "type": "string"
            },
            {
              "id": "u4",
              "name": "msg.identicacaoLead",
              "value": "={{ $json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "u5",
              "name": "msg.media",
              "value": "={{ $json.body.message.mediaType || '' }}",
              "type": "string"
            },
            {
              "id": "u6",
              "name": "msg.urlMedia",
              "value": "={{ typeof $json.body.message.content === 'object' ? ($json.body.message.content.url || $json.body.message.content.directPath || '') : '' }}",
              "type": "string"
            },
            {
              "id": "u7",
              "name": "msg.messageType",
              "value": "={{ $json.body.message.messageType || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dd91d5ea-beae-4ef0-8bea-01bfc0388ab5",
      "name": "Extrair Dados Conversas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        29008,
        -688
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "CRM_naregua",
        "filters": {
          "conditions": [
            {
              "keyName": "Whatsapp",
              "keyValue": "={{ $json.msg.numberLead }}"
            }
          ]
        }
      },
      "id": "facb841e-672a-4820-87a8-d213401e4f79",
      "name": "Buscar Lead Por WhatsApp",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        29248,
        -688
      ],
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "hm1",
              "leftValue": "={{ $json.humano }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "956eab13-0ca8-4e4e-8373-cf8dbebd68c0",
      "name": "Detectar Atendimento Humano",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        29488,
        -688
      ]
    },
    {
      "parameters": {},
      "id": "31afd979-ee6e-4fb5-bce1-b73b8595f082",
      "name": "Rota Atendimento Humano",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        29728,
        -848
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "le1",
                    "leftValue": "={{ $json.Whatsapp?.toString() }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "existe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "le2",
                    "leftValue": "={{ $json.Whatsapp?.toString() }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nao_existe"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "557a430b-41cc-4d54-b8d6-64321ca85387",
      "name": "Verificar Lead Existente",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        29728,
        -688
      ]
    },
    {
      "parameters": {
        "tableId": "CRM_naregua",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Inicio do atendimento",
              "fieldValue": "={{ $now.format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "Whatsapp",
              "fieldValue": "={{ $('Extrair Dados Conversas').first().json.msg.numberLead }}"
            },
            {
              "fieldId": "Identificador do usuario",
              "fieldValue": "={{ $('Extrair Dados Conversas').first().json.msg.identicacaoLead }}"
            },
            {
              "fieldId": "humano",
              "fieldValue": "=false"
            },
            {
              "fieldId": "Nome",
              "fieldValue": "={{ $node['Extrair Dados Conversas'].json['msg']['nomeLead'] }}"
            }
          ]
        }
      },
      "id": "1bdcd6eb-3d1c-4b95-be9a-8d5c216e16da",
      "name": "Registrar Novo Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        29968,
        -528
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "m1",
                    "leftValue": "={{ $('Extrair Dados Conversas').first().json.msg.messageType }}",
                    "rightValue": "Audio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "m2",
                    "leftValue": "={{ $('Extrair Dados Conversas').first().json.msg.messageType }}",
                    "rightValue": "Ptt",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ptt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "m3",
                    "leftValue": "={{ $('Extrair Dados Conversas').first().json.msg.conversa }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "m4",
                    "leftValue": "={{ $('Extrair Dados Conversas').first().json.msg.messageType }}",
                    "rightValue": "Image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "1b4ea792-1983-4b63-b93c-1f38340a6878",
      "name": "Identificar Tipo Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        30240,
        -688
      ]
    },
    {
      "parameters": {
        "number": "={{ $('Extrair Dados Conversas').first().json.msg.identicacaoLead }}",
        "text": "Desculpe, não consigo processar esse tipo de mensagem. Pode me enviar por texto? 😊"
      },
      "id": "53055b53-d16d-42b9-9b71-1a8ad9791eeb",
      "name": "Avisar Midia Nao Suportada",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        30480,
        -352
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "downloadMedia",
        "messageId": "={{ $('Receber Webhook WhatsApp').item.json.body.message.messageid }}"
      },
      "id": "5356ba18-fa91-441c-92af-1f9b1c7e7cfd",
      "name": "MED_DownloadAudio",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        30400,
        -848
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "url": "={{ $json.fileURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "eb613734-1674-434a-a7e0-1379088fede4",
      "name": "MED_FetchAudioFile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30640,
        -848
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "4fc5dac3-795d-46f3-bff5-1dbfc04f598f",
      "name": "Transcrever Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        30720,
        -848
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sa1",
              "name": "msg",
              "value": "={{ $('Transcrever Audio').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "83acf578-8b51-4114-8793-c797f58a0244",
      "name": "Salvar Texto Transcrito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        30960,
        -848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "st1",
              "name": "msg",
              "value": "={{ $('Extrair Dados Conversas').first().json.msg.conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7f99a001-4f3e-47a1-863e-961709fab6ac",
      "name": "Salvar Texto Original",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        30480,
        -672
      ]
    },
    {
      "parameters": {
        "operation": "downloadMedia",
        "messageId": "={{ $('Receber Webhook WhatsApp').item.json.body.message.messageid }}"
      },
      "id": "b6af654e-b3d7-4df5-aa16-d8e547d3aa09",
      "name": "MED_DownloadImage",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        30320,
        -512
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ei1",
              "name": "URL",
              "value": "={{ $json.fileURL || $json.url || $json.mediaUrl || $json.publicUrl || $json.downloadUrl || $json.file || '' }}",
              "type": "string"
            },
            {
              "id": "ei2",
              "name": "_mediaKeys",
              "value": "={{ Object.keys($json).join(',') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0b44f592-a477-4121-b66d-237994a72191",
      "name": "Preparar Url Imagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        30480,
        -512
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise essa imagem: {{ $json.URL }}\n\nSempre chame a tool Ferramenta Gemini Imagem.",
        "options": {
          "systemMessage": "Você analisa imagens enviadas por clientes de uma barbearia. Descreva objetivamente: se for referência de corte/barba, detalhe o estilo. Se for comprovante de pagamento, confirme tipo e valor. Inicie sempre com: O cliente enviou uma imagem do tipo [TIPO]: [DESCRIÇÃO]. Não invente informações."
        }
      },
      "id": "11172db9-228e-47bf-af75-5a3bc0ef5674",
      "name": "Analisar Imagem Cliente",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        30720,
        -608
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cdbad8fe-5f27-45db-a7fe-193dd7767ea7",
      "name": "Motor Gemini Imagem",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        30720,
        -432
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "text": "={{ $fromAI('Text_Input','','string') }}",
        "imageUrls": "={{ $json.URL }}",
        "options": {}
      },
      "id": "85db157e-498f-451d-8a84-80a3b23faea0",
      "name": "Ferramenta Gemini Imagem",
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        30960,
        -432
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "img1",
              "name": "msg",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "79a91fbe-f10b-43ac-8147-43aa64a036a7",
      "name": "Salvar Descricao Imagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        30960,
        -608
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "93b79aa4-7768-41eb-bc19-fae51fc37e96",
      "name": "Unir Fonte Mensagem",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        31216,
        -688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sm1",
              "name": "msg.conversa",
              "value": "={{ $node[\"Unir Fonte Mensagem\"].json[\"msg\"] }}",
              "type": "string"
            },
            {
              "id": "sm2",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Extrair Dados Conversas').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "sm3",
              "name": "msg.numberLead",
              "value": "={{ $('Extrair Dados Conversas').first().json.msg.numberLead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3b88d91-4ea8-44bb-8930-968df536e4be",
      "name": "Configurar Mensagem Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        31456,
        -688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "tc1",
              "leftValue": "={{ $json.msg.conversa }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "tc2",
              "leftValue": "={{ $json.msg.messageType }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1503edf4-843b-4207-9a25-ee5bcec63f69",
      "name": "Checar Conteudo Mensagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        31696,
        -688
      ]
    },
    {
      "parameters": {},
      "id": "876aca29-d2c9-474b-a82a-e47953ffb197",
      "name": "Terminar Sem Conteudo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        31872,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "558888136242",
        "messageData": "={{ $json.msg.conversa }}",
        "tail": true
      },
      "id": "16f4efb9-ab15-4a73-9d29-6f882bbfba17",
      "name": "RDS_PushBuffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        31936,
        -688
      ],
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "path": "c4744177-5546-4588-baec-0ab0bedcaf5f"
      },
      "id": "4686cee9-8bdc-46ce-9891-8d6b4a33da65",
      "name": "WAIT_Debounce",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        32176,
        -688
      ],
      "alwaysOutputData": true,
      "webhookId": "c4744177-5546-4588-baec-0ab0bedcaf5f"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "558888136242",
        "keyType": "list",
        "options": {}
      },
      "id": "fa280d7b-97c0-4299-b9bc-d0c335c5325e",
      "name": "RDS_GetBuffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        32176,
        -528
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ul1",
              "leftValue": "={{ $json.message.last()?.toString() ?? '' }}",
              "rightValue": "={{ $('WAIT_Debounce').item.json.msg.conversa?.toString() ?? '' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "629d7ebf-9726-465c-ad6b-566cecbc67e0",
      "name": "Verificar Ultima Mensagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32416,
        -528
      ]
    },
    {
      "parameters": {},
      "id": "169e9c93-b471-4460-9e33-ae745c388cf5",
      "name": "Manter Fluxo Mensagens",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        32656,
        -368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc1",
              "name": "message",
              "value": "={{ $('RDS_GetBuffer').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ca054448-ad1a-4bd4-8e99-cc3aea9c85e5",
      "name": "Concatenar Mensagens Buffer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32656,
        -528
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "558888136242"
      },
      "id": "4f55debd-5fa8-44f2-af03-75a5866428f0",
      "name": "RDS_ClearBuffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        32896,
        -528
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const days=['domingo','segunda','terça','quarta','quinta','sexta','sábado'];\nconst now=new Date(new Date().toLocaleString('en-US',{timeZone:'America/Sao_Paulo'}));\nconst pad=n=>String(n).padStart(2,'0');\n\nconst horaAtual=`${pad(now.getHours())}:${pad(now.getMinutes())}`;\nconst dataAtual=`${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\n\nlet r=`Agora são ${horaAtual} de ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)}.\\n`;\nr+=`Timezone: America/Sao_Paulo (UTC-03:00)\\n\\n`;\n\nfor(let i=1;i<=6;i++){\n  const f=new Date(now); f.setDate(now.getDate()+i);\n  const iso=`${f.getFullYear()}-${pad(f.getMonth()+1)}-${pad(f.getDate())}`;\n  if(i===1) r+=`Amanhã é ${days[f.getDay()]} ${pad(f.getDate())}/${pad(f.getMonth()+1)} → ${iso}\\n`;\n  else if(i===2) r+=`Depois de amanhã é ${days[f.getDay()]} ${pad(f.getDate())}/${pad(f.getMonth()+1)} → ${iso}\\n`;\n  else r+=`A próxima ${days[f.getDay()]} será dia ${pad(f.getDate())}/${pad(f.getMonth()+1)} → ${iso}\\n`;\n}\nreturn [{json:{resultado:r.trim()}}];"
      },
      "id": "573befc7-586f-45a4-b394-4e659fa486cc",
      "name": "Gerar Proximos Dias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        33136,
        -528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sf1",
              "name": "msgLead",
              "value": "={{ $('Concatenar Mensagens Buffer').first().json.message }}",
              "type": "string"
            },
            {
              "id": "sf2",
              "name": "identificadorLead",
              "value": "={{ $('Extrair Dados Conversas').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "sf3",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "sf4",
              "name": "Nome",
              "value": "=As informações abaixo servem para personalizar suas respostas e evitar que você faça perguntas repetidas e manter a conversa coerente.\n\nNome do usuário: {{ $('Buscar Lead Por WhatsApp').item.json.Nome || $('Extrair Dados Conversas').first().json.msg.nomeLead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ca5e5db6-bbde-491d-ac74-d0230c65fa0d",
      "name": "Contextualizar Infos Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        33376,
        -528
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=amy_{{ $('Contextualizar Infos Lead').item.json.identificadorLead }}",
        "tableName": "n8n_chat_histories_barber",
        "contextWindowLength": 80
      },
      "id": "afc545d2-5f8f-497d-80db-7ca346e01721",
      "name": "Memoria Conversas Amy",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        33760,
        -384
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Quando usar:**\n-   Quando o cliente perguntar sobre **valores, duração ou detalhes de qualquer serviço**.\n-   Quando houver **dúvidas sobre diferenças entre serviços** (ex: barba tradicional x barba premium).\n-   Quando quiser **sugerir serviços complementares** de forma natural e persuasiva.\n\n**Quando não usar:**\n-   Quando o cliente estiver apenas **agendando, cancelando ou alterando horários**.",
        "documentId": {
          "__rl": true,
          "value": "1ApOWQzeNp8wiKbfd4Qhd--1jnxTNsILvtUZTTHJd-Z8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 46531958,
          "mode": "list",
          "cachedResultName": "Serviços",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ApOWQzeNp8wiKbfd4Qhd--1jnxTNsILvtUZTTHJd-Z8/edit#gid=46531958"
        },
        "options": {}
      },
      "id": "6b8fd5da-9c1a-4e49-9228-1a466dddbf68",
      "name": "Ferramenta Servicos Naregua",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        33856,
        -496
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "name": "FerramentaAgendarHorarios",
        "description": "**Quando usar:**\n- Quando o cliente quiser marcar, reagendar, cancelar ou verificar disponibilidade.\n- Quando demonstrar interesse direto em agendar após receber informações.\n\n**Quando não usar:**\n- Para dúvidas sobre serviços (use `Ferramenta Servicos Naregua`).\n\n**Nota arquitetural (ADR-003):** esta tool chama o router `system.main`, que resolve o profissional no Supabase antes de delegar ao agente de scheduling. Passar dados concretos no campo `profissional` quando o cliente mencionar preferência.",
        "workflowId": {
          "__rl": true,
          "value": "9mxoW0t5sODoUrxa",
          "mode": "id",
          "cachedResultUrl": "/workflow/9mxoW0t5sODoUrxa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Identificador Lead": "={{ $('Contextualizar Infos Lead').first().json.identificadorLead }}",
            "duvida": "={{ $fromAI('duvida','Intenção do cliente: ver horários, agendar, cancelar ou reagendar. Inclua dados concretos: data, hora, serviço. NUNCA passe referências vagas.','string') }}",
            "servico": "={{ $fromAI('servico','Serviço(s) que o cliente deseja. Nome completo do serviço.','string') }}",
            "nomeCliente": "={{ $fromAI('nomeCliente','Nome do cliente se disponível na conversa.','string') }}",
            "profissional": "={{ $fromAI('profissional','Nome do profissional/barbeiro se o cliente mencionou preferência. Deixe vazio se não mencionou.','string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "duvida",
              "displayName": "duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Identificador Lead",
              "displayName": "Identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nomeCliente",
              "displayName": "nomeCliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "profissional",
              "displayName": "profissional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        }
      },
      "id": "15a14496-bf17-45b7-86ba-1727e55ca041",
      "name": "TOOL_Agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        34096,
        -496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ma1",
              "name": "message_agent",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1c4f823-7247-426c-a4a7-86a5547d5439",
      "name": "OUT_AgentResponse",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        34336,
        -688
      ]
    },
    {
      "parameters": {
        "jsCode": "// OPT-005: split deterministico (substitui agente LLM de split)\n// Input: saida do no \"Salvar Resposta Agente\" com campo message_agent\n// Output: { output: \"<balao1>\\n<balao2>\\n...\" } para o no \"Separar Linhas Resposta\"\nconst raw = ($input.first().json.message_agent || $input.first().json.output || '').toString();\n// 1) strip markdown basico\nlet txt = raw\n  .replace(/```[\\s\\S]*?```/g, m => m.replace(/```/g,''))\n  .replace(/`([^`]*)`/g, '$1')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n  .replace(/__([^_]+)__/g, '$1')\n  .replace(/\\*([^*]+)\\*/g, '$1')\n  .replace(/_([^_]+)_/g, '$1')\n  .replace(/^#{1,6}\\s+/gm, '')\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1')\n  .replace(/^\\s*[-*+]\\s+/gm, '')\n  .replace(/^\\s*\\d+\\.\\s+/gm, '')\n  .replace(/\\r/g, '')\n  .trim();\n// 2) quebrar por paragrafo (\\n\\n) primeiro\nconst MAX = 700;\nconst paragraphs = txt.split(/\\n{2,}/).map(p => p.trim()).filter(Boolean);\nconst baloes = [];\nfor (const p of paragraphs) {\n  if (p.length <= MAX) { baloes.push(p); continue; }\n  const sentences = p.split(/(?<=[.!?])\\s+/);\n  let buf = '';\n  for (const s of sentences) {\n    if ((buf + ' ' + s).trim().length > MAX && buf) { baloes.push(buf.trim()); buf = s; }\n    else { buf = buf ? buf + ' ' + s : s; }\n  }\n  if (buf.trim()) baloes.push(buf.trim());\n}\nconst output = baloes.join('\\n');\nreturn [{ json: { output } }];\n"
      },
      "id": "901800d3-b5a5-462e-9494-2d9bcc799185",
      "name": "FN_SplitBaloes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        34576,
        -688
      ]
    },
    {
      "parameters": {
        "jsCode": "const txt=$input.first().json.output||'';\nif(!txt.trim())return[];\nconst arr=txt.replace(/\\\\n/g,'\\n').split(/\\n/).map(l=>l.trim()).filter(l=>l.length>0);\nreturn arr.map(msg=>({json:{output:msg}}));"
      },
      "id": "0ad7bb18-fef1-4387-a1fb-276a664fda40",
      "name": "FN_SepararBaloes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        34896,
        -688
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "5a3873fe-0769-4e50-b4b9-bdbe54cc47e9",
      "name": "Dividir Fluxo Respostas",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        35056,
        -688
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8cbe40f8-6077-4f99-bbf6-1f9dc9fc98a6",
      "name": "Loop Enviar Mensagens",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        35296,
        -704
      ]
    },
    {
      "parameters": {
        "number": "={{ $('Extrair Dados Conversas').first().json.msg.identicacaoLead }}",
        "text": "={{ $json.output }}"
      },
      "id": "6b70672e-b7b2-4b48-a4c1-8200f7513526",
      "name": "API_EnviarMensagem",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        35536,
        -704
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "amount": 2,
        "path": "8df3de1f-de0f-420e-a105-a7397a2cd2e0"
      },
      "id": "bb9e2567-19e8-4c1a-8b34-739458c46e3c",
      "name": "Aguardar Resposta 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        35776,
        -608
      ],
      "webhookId": "8df3de1f-de0f-420e-a105-a7397a2cd2e0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "options": {}
      },
      "id": "c740fbf2-7f33-4a12-acf4-afba751880c9",
      "name": "Modelo ChatGPT 5.4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        33616,
        -496
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Contextualizar Infos Lead').item.json.msgLead }}\n\n{{ $json.Nome }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n\n- Você é **Amy Secretaria Barbearia**, secretária da barbearia **Narégua RNB Soluções**.\n- Você atende os clientes que entram em contato pelo WhatsApp da barbearia.\n- Fale sempre como uma **pessoa real**, de forma natural e acolhedora — **nunca diga que é assistente virtual ou inteligência artificial**.\n- O cliente deve sentir que está falando com uma secretária humana da barbearia.\n\n## SUA FUNÇÃO\n\n- Seu papel é **acolher o cliente de forma simpática e persuasiva e conduzir o atendimento até o agendamento do serviço desejado**.\n- Mantenha sempre uma conversa **leve, empática e natural**, sem parecer mecânica ou robótica.\n- Você atende exclusivamente via **WhatsApp**, podendo receber **mensagens de texto, áudios e imagens**.\n- Durante a conversa, você deve **acionar as ferramentas (tools)** certas conforme o contexto:\n    - Use a tool **`Ferramenta Servicos Naregua`** sempre que o cliente fizer **perguntas sobre os serviços da barbearia** (dúvidas, valores ou qualquer outro detalhe).\n    - Use a tool **`Ferramenta Agendar Horarios`** quando o cliente quiser **cancelar, reagendar, ver horários disponíveis ou marcar um horário ou confirmar um agendamento**.\n\n## TOM DE VOZ\n\n- Fale como uma **pessoa real**, com **naturalidade e empatia genuína**.\n- Transmita **calma, atenção e interesse verdadeiro** em ajudar o cliente.\n- **Nunca repita o nome do cliente durante a conversa.** Após coletar o nome, trate-o de forma próxima e natural, sem precisar mencioná-lo novamente.\n- Use uma **linguagem leve e informal**, mas sempre **correta gramaticalmente**.\n- Evite termos muito formais como 'gentileza', 'prezado' ou 'por gentileza'.\n- Prefira expressões mais humanas e cotidianas, como:\n    - 'pode me mandar'\n    - 'me confirma'\n    - 'te aviso'\n    - 'tudo certo'\n- Use **emojis de forma moderada**, no máximo **um por mensagem** (exceto emojis numerados dos atalhos — ver seção ATALHOS DE AÇÃO).\n    - Exemplos adequados para o público da barbearia: 💈✂️😄👍🔥👊💪\n\n## FLUXO DE ATENDIMENTO\n\n### Etapa 1 – Abertura e identificação\n\n- Você deve se apresentar como atendente da Narégua RNB Soluções e perguntar o nome do cliente.\n- Caso o cliente já envie uma mensagem com um objetivo claro (ex: marcar, cancelar, saber horário, etc.), **não interrompa pedindo nome antes** — atenda a solicitação e colete o nome apenas se for necessário para o agendamento.\n\n### Etapa 2 – Direcionamento da conversa\n\n- Se o cliente pedir informações sobre algum **serviço específico**, **use a `Ferramenta Servicos Naregua`** para trazer a resposta certa, com uma **linguagem breve, convincente e que desperte vontade de marcar**.\n\n- Se o cliente quiser **agendar**, **use a `Ferramenta Agendar Horarios`** imediatamente, conduzindo de forma natural e fluida.\n\n- Se o cliente quiser **cancelar ou alterar um horário**, use a tool `Ferramenta Agendar Horarios` e mantenha o tom profissional, confirmando o procedimento com calma e empatia.\n\n### Etapa 3 – Confirmação e fechamento\n\n- Após concluir a ação (responder, agendar ou cancelar), **confirme sempre se está tudo certo**.\n\n- Finalize a conversa com leveza e simpatia, reforçando a boa experiência da barbearia.\n\n- Se o cliente demonstrar dúvida sobre serviços adicionais, utilize a `Ferramenta Servicos Naregua` e aproveite para sugerir combinações atrativas (ex: corte + barba, hidratação, etc.), de forma natural e não forçada.\n\n### Atalhos de Ação\n\nEm momentos de decisão, SEMPRE ofereça exatamente 3 opções numeradas em linhas separadas.\n\nRegras dos atalhos:\n\n- Use 1️⃣ 2️⃣ 3️⃣ (os emojis numerados dos atalhos NÃO contam no limite de 1 emoji por mensagem).\n- As linhas de atalho NÃO contam como \"texto longo\".\n- Se o cliente responder só com o número, interprete como a opção correspondente da sua última mensagem.\n- Ao receber apenas um número, SEMPRE interprete como referência à **ÚLTIMA lista que você apresentou** — nunca a listas anteriores da conversa.\n- Se responder com texto livre, siga normalmente ignorando os números.\n- NÃO inclua atalhos em toda mensagem.\n\nQuando incluir:\n\n- Após saudação inicial → agendar horário / serviços e valores / falar com atendente\n- Após informar sobre serviço → quero agendar / outros serviços\n- Após confirmar agendamento → reagendar / cancelar\n\nQuando NÃO incluir:\n\n- Confirmações curtas\n- Cliente já no meio de um fluxo claro\n- Cliente já disse exatamente o que quer\n\n### Horários e Confirmações\n\n**Ao apresentar horários disponíveis:**\n\n- Numere cada horário com 1️⃣ 2️⃣ 3️⃣ 4️⃣ (um por linha).\n- Máximo 4 horários por mensagem.\n- Finalize com uma frase curta pedindo o número (ex: \"Me manda o número do que prefere\").\n- Se o cliente responder com o número, interprete como o horário correspondente.\n- Se responder com texto (ex: \"o das 10h\"), também funciona.\n\n**Ao pedir confirmação (agendar, reagendar, cancelar):**\n\n- Apresente a situação em 1 frase.\n- Ofereça: 1️⃣ Sim 2️⃣ Não\n- Se o cliente responder \"1\" ou \"sim\", prossiga.\n- Se responder \"2\" ou \"não\", pergunte o que prefere fazer.\n- NÃO exija que o cliente escreva frase completa para confirmar.\n\n### ⚠️ REGRA CRÍTICA: Resolver escolhas ANTES de chamar tools\n\nQuando o cliente responder com um número referente a uma lista que você apresentou, você DEVE resolver esse número para o valor real ANTES de chamar qualquer tool.\n\n**Exemplos:**\n\nSe você mostrou: 1️⃣ 26/03 às 10:00 2️⃣ 26/03 às 10:30 E o cliente respondeu \"1\" → Passe para a tool Ferramenta Agendar Horarios: \"agendar para 26/03 às 10:00\" → NUNCA passe: \"agendar horário escolhido pelo cliente\"\n\nSe você mostrou: 1️⃣ Corte Degradê — R$ 50 2️⃣ Corte Quadrado — R$ 45 E o cliente respondeu \"1\" → Passe para a tool: \"Corte Degradê\" → NUNCA passe: \"serviço escolhido pelo cliente\"\n\n**Regra:** A tool NÃO tem acesso à sua conversa. Ela não sabe qual lista você mostrou. Você DEVE enviar dados concretos (datas, horários, nomes de serviço), nunca referências vagas.\n\n## REGRAS DE ATENDIMENTO\n\n- Mantenha o atendimento **ágil, direto e simpático**.\n- Apresente-se sempre no início, de forma **natural e sem formalidade**.\n- **Priorize o que o cliente pediu** antes de fazer novas perguntas.\n- Se o cliente quiser marcar, cancelar ou alterar horário, **resolva primeiro**.\n- Fale sobre os serviços com **segurança e leve persuasão**, destacando qualidade e experiência.\n- Use a **`Ferramenta Servicos Naregua`** para dúvidas, preços e informações sobre serviços.\n- Use a **`Ferramenta Agendar Horarios`** para marcações, reagendamentos e cancelamentos.\n- Nunca diga que é uma assistente virtual ou IA — você é a **Amy Secretaria Barbearia**, secretária da **Narégua RNB Soluções**.\n- **Evite textos longos.** Seja breve e humana.\n- Sempre que possível, **finalize com empatia e leveza**, reforçando a boa experiência.\n- **Não ofereça** serviços que não existam no catálogo da barbearia.\n\n### ⚠️ REGRAS CRÍTICAS SOBRE A TOOL `Ferramenta Agendar Horarios`\n\n- Quando você chamar a tool `Ferramenta Agendar Horarios`, **aguarde o retorno da tool ANTES de confirmar qualquer coisa ao cliente**.\n- **NUNCA diga que o horário foi agendado ou confirmado** se a tool não retornou uma confirmação explícita com data e horário.\n- Se a tool retornar erro ou não retornar dados, informe ao cliente: \"Tive um probleminha para registrar. Vou tentar de novo, tá?\"\n- **Repasse para o cliente EXATAMENTE o que a tool retornou** — não invente detalhes, horários ou confirmações.\n- Você **NÃO sabe** os horários disponíveis da barbearia — só a tool `Ferramenta Agendar Horarios` pode consultar isso.\n\n## TOOLS DISPONÍVEIS\n\n#### Tool: `Ferramenta Servicos Naregua`\n\n**Quando usar:**\n- Quando o cliente perguntar sobre **valores, duração ou detalhes de qualquer serviço**.\n- Quando houver **dúvidas sobre diferenças entre serviços**.\n- Quando quiser **sugerir serviços complementares**.\n\n**Quando não usar:**\n- Quando o cliente estiver apenas **agendando, cancelando ou alterando horários**.\n\n**Como apresentar serviços:**\n- NUNCA liste todos os serviços de uma vez. É muita informação para o WhatsApp.\n- Primeiro, apresente as **categorias** com números:\n    1️⃣ Cortes 2️⃣ Barba 3️⃣ Combos e pacotes 4️⃣ Tratamentos e estética\n- Quando o cliente escolher uma categoria, mostre APENAS os serviços dela, numerados com valores.\n- Máximo de 6 itens por mensagem.\n- Se o cliente pedir \"todos os serviços\" ou \"tudo que vocês fazem\", apresente as categorias primeiro e pergunte qual área interessa.\n- Se o cliente já sabe o que quer (ex: \"quanto custa o degradê?\"), responda direto sem mostrar lista.\n\n**Organização das categorias:**\n- Cortes: Tradicional, Degradê/Fade, Quadrado, Infantil, Máquina Única\n- Barba: Tradicional, Premium (Navalha + Toalha Quente)\n- Combos: Corte + Barba, Corte + Barba + Sobrancelha, Assinatura Mensal\n- Tratamentos: Pigmentação Capilar, Pigmentação da Barba, Design de Sobrancelha, Limpeza de Pele, Hidratação Capilar, Selagem Capilar\n\n**Valores e detalhes:** sempre consulte a Ferramenta Servicos Naregua para trazer valores atualizados. NÃO memorize preços.\n\n#### Tool: `Ferramenta Agendar Horarios`\n\n**Quando usar:**\n- Quando o cliente quiser **marcar, reagendar, cancelar um horário ou verificar disponibilidade**.\n- Quando o cliente demonstrar **interesse direto em agendar** após receber informações sobre um serviço.\n- Quando o cliente quiser saber os **horários disponíveis**.\n\n**Quando não usar:**\n- Quando o cliente estiver apenas tirando **dúvidas sobre serviços** (use a `Ferramenta Servicos Naregua` nesses casos).\n\n**Regra crítica:** Após chamar a tool, só confirme agendamento se o retorno incluir data e horário confirmados. Caso contrário, NÃO diga que está agendado.\n\n**Regra de dados:** Ao chamar a tool, SEMPRE passe informações concretas nos campos:\n- `duvida`: a ação exata com data/hora/serviço resolvidos (ex: \"agendar Corte Degradê para 26/03 às 10:00\")\n- `servico`: nome completo do serviço (ex: \"Corte Degradê / Fade\")\n- `nomeCliente`: nome real do cliente\n- `profissional`: nome do barbeiro se o cliente mencionou preferência. Se não mencionou, deixe vazio.\n- NUNCA passe referências vagas como \"horário escolhido\", \"opção 1\" ou \"serviço selecionado\"\n\n## PROFISSIONAIS\n\nA barbearia tem múltiplos profissionais. Se o cliente mencionar um barbeiro específico, inclua o nome no campo `profissional` ao chamar a tool `Ferramenta Agendar Horarios`. Se não mencionar, deixe vazio — o sistema escolherá automaticamente.\n\nNão pergunte ao cliente qual barbeiro ele prefere, a menos que ele próprio traga o assunto.\n\n## DATA E HORA ATUALIZADOS\n\nPara efeito de contexto durante as suas conversas segue a data e hora de hoje e os próximos dias: {{ $json.resultado }}"
        }
      },
      "id": "413216bf-51a6-4a3c-99bc-97352ceb2b49",
      "name": "Amy Secretaria Barbearia",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        33616,
        -688
      ]
    },
    {
      "parameters": {
        "content": "## 📋 HEADER — secretary.amy (adapter WhatsApp)\n\n**Papel:** único canal WhatsApp hoje. Recebe → filtra → normaliza → bufferiza → invoca agente Amy → responde. 46 nodes. Alvo pós-v2.0.0: split em 3 workflows (adapter + agent + response format).\n\n**ADR-003:** a `TOOL_Agendamento` passa pelo router `system.main` (antes ia direto ao agent.gabriel — bug corrigido em v1.2.0).",
        "height": 200,
        "width": 1600
      },
      "id": "5d055b04-9823-48e5-9c1f-14589cf2e262",
      "name": "SN_Header",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        28256,
        -976
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 STAGE 0 — Entrada WhatsApp\n\nWebhook uazApi → filtro de contatos permitidos → switch de origem (ignora fromMe / grupo). NoOp descarta o que não entra.",
        "height": 120,
        "width": 700,
        "color": 2
      },
      "id": "aee7b841-14c6-4a7f-8444-809ba881a6ca",
      "name": "SN_Entry",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        28304,
        -560
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 STAGE 2 — Classificação de mídia\n\nSwitch por `messageType`: Audio (Whisper) / Ptt / Texto / Image (Gemini + tool). Tipos desconhecidos → avisa o cliente via uazApi.",
        "height": 120,
        "width": 600,
        "color": 2
      },
      "id": "a6ff0524-1a72-43fe-970b-6470036fb1c5",
      "name": "SN_Classify",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        30176,
        -976
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 STAGE 3 — Buffer/Debounce (OPT-006)\n\nRDS_PushBuffer → WAIT_Debounce (5s) → RDS_GetBuffer → IF última do buffer. Só o último bloco prossegue; os anteriores saem por `Manter Fluxo Mensagens`. Evita múltiplas execuções para uma rajada de mensagens.",
        "height": 140,
        "width": 700,
        "color": 4
      },
      "id": "207566e9-7baa-4405-8b43-02661f9cc5b4",
      "name": "SN_Debounce",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        31888,
        -976
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 STAGE 4 — Agente Amy\n\n`PRE_ContextoAgente` monta contexto + data/hora. `AGT_Amy` é o LLM principal com memória Postgres (80 turnos). 2 tools: catálogo de serviços (Google Sheets) + agendamento (via router system.main).",
        "height": 140,
        "width": 700,
        "color": 2
      },
      "id": "dcc82b78-17ca-42db-b884-2cece46a8890",
      "name": "SN_Agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        33360,
        -976
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ WARNING — TOOL_Agendamento passa pelo router (ADR-003)\n\nDesde v1.2.0, `TOOL_Agendamento` chama `system.main` (workflowId `pSsjkLUOh8yt6l0f`), não mais `agent.gabriel` diretamente. Isso permite que o router resolva `profissional` no Supabase e preserve multi-profissional.",
        "height": 140,
        "width": 700,
        "color": 3
      },
      "id": "ab914d3a-613a-46db-bd1b-f2956102cb37",
      "name": "SN_ToolAgendamento",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        34064,
        -384
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 STAGE 5 — Response pipeline (OPT-005)\n\n`FN_SplitBaloes` é determinístico (substituiu agente LLM em v1.1.0): strip markdown + split por parágrafo/sentença com MAX=700 chars. `FN_SepararBaloes` converte em items. Loop envia cada balão com WAIT de 2s.",
        "height": 140,
        "width": 780,
        "color": 2
      },
      "id": "87c43345-9721-4ece-9fbf-e48677f35ab6",
      "name": "SN_Response",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        34496,
        -976
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-04-14T19:54:04.542Z",
      "createdAt": "2026-04-14T19:54:04.542Z",
      "role": "workflow:owner",
      "workflowId": "PoEkAKgL6nDYojwR",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-27T17:05:49.634Z",
      "createdAt": "2026-01-27T17:05:49.634Z",
      "id": "F171zldw4G7U1HuZ",
      "name": "legacy"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T15:18:24.191Z",
  "versionId": "ad9bbe37-0b39-439b-80fc-e035b19fa95e"
}