workflows/🤖[RNB][Helena] - Assistente Pessoal (Rogério) | v7 copy 2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "tool_calculator": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "switch_block": {
      "main": [
        [
          {
            "node": "if_comando_audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "noop_ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rag_data_loader": {
      "ai_document": [
        [
          {
            "node": "pinecone_inserir",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "rag_text_splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "rag_data_loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "llm_openai_rag": {
      "ai_languageModel": [
        [
          {
            "node": "tool_base_conhecimento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "embeddings_openai_query": {
      "ai_embedding": [
        [
          {
            "node": "pinecone_vector_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "pinecone_vector_store": {
      "ai_vectorStore": [
        [
          {
            "node": "tool_base_conhecimento",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "webhook_entrada": {
      "main": [
        [
          {
            "node": "if_numero_autorizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_origem_msg": {
      "main": [
        [
          {
            "node": "redis_timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "switch_block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_filtro_coleta": {
      "main": [
        [
          {
            "node": "noop_direcionador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_texto": {
      "main": [
        [
          {
            "node": "noop_direcionador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_download_audio": {
      "main": [
        [
          {
            "node": "http_baixar_audio_binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_transcrever_audio": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "noop_direcionador": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "http_download_imagem": {
      "main": [
        [
          {
            "node": "convert_imagem_binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_imagem_binary": {
      "main": [
        [
          {
            "node": "openai_analisar_imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_analisar_imagem": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "merge_midia": {
      "main": [
        [
          {
            "node": "set_organizar_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_organizar_info": {
      "main": [
        [
          {
            "node": "redis_push_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_push_buffer": {
      "main": [
        [
          {
            "node": "redis_get_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_get_buffer": {
      "main": [
        [
          {
            "node": "switch_debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_limpar_buffer": {
      "main": [
        [
          {
            "node": "set_refazer_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait_debounce": {
      "main": [
        [
          {
            "node": "redis_get_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_refazer_entrada": {
      "main": [
        [
          {
            "node": "code_limpar_metadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_limpar_metadados": {
      "main": [
        [
          {
            "node": "Helena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_debounce": {
      "main": [
        [
          {
            "node": "noop_descarte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redis_limpar_buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "wait_debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_tipo_midia": {
      "main": [
        [
          {
            "node": "http_download_audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_filtro_coleta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http_download_imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http_download_documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_documento_binary": {
      "main": [
        [
          {
            "node": "extrair_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrair_pdf": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "http_download_documento": {
      "main": [
        [
          {
            "node": "convert_documento_binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memory_redis_chat": {
      "ai_memory": [
        [
          {
            "node": "Helena",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "convert_mp3_base64": {
      "main": [
        [
          {
            "node": "uazapi_enviar_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_preparar_dados": {
      "main": [
        [
          {
            "node": "switch_origem_msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm_claude_sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Helena",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "code_formatar_audio": {
      "main": [
        [
          {
            "node": "http_elevenlabs_tts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_elevenlabs_tts": {
      "main": [
        [
          {
            "node": "convert_mp3_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gcal_buscar_evento": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_criar_evento": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_atualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_excluir_evento": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_enviar": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_listar": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_buscar_label": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_marcar_nao_lido": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_criar_label": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_post_com_imagem": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_linkedin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_post_sem_imagem": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_linkedin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_airbnb_actions": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_airbnb_execute": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_gmail": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_calendar": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_linkedin": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_tavily_search": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "if_numero_autorizado": {
      "main": [
        [
          {
            "node": "set_preparar_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail_responder": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "airtable_buscar_contatos": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "airtable_criar_contato": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "airtable_atualizar_contato": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "airtable_excluir_contato": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_trigger_novos": {
      "main": [
        [
          {
            "node": "gdrive_download_conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_trigger_atualizados": {
      "main": [
        [
          {
            "node": "gdrive_download_conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_download_conhecimento": {
      "main": [
        [
          {
            "node": "pinecone_inserir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "embeddings_openai_ingest": {
      "ai_embedding": [
        [
          {
            "node": "pinecone_inserir",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "tool_base_conhecimento": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "http_baixar_audio_binario": {
      "main": [
        [
          {
            "node": "openai_transcrever_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Helena": {
      "main": [
        [
          {
            "node": "uazapi_enviar_texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gcal_buscar_evento1": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_criar_evento1": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_atualizar_evento1": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_excluir_evento1": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_buscar_evento2": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "if_comando_audio": {
      "main": [
        [
          {
            "node": "redis_buscar_ultima_resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "switch_tipo_midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_buscar_ultima_resposta": {
      "main": [
        [
          {
            "node": "if_tem_resposta_anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_tem_resposta_anterior": {
      "main": [
        [
          {
            "node": "set_preparar_replay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "uazapi_fallback_sem_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_preparar_replay": {
      "main": [
        [
          {
            "node": "code_formatar_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uazapi_enviar_texto": {
      "main": [
        [
          {
            "node": "redis_salvar_ultima_resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-27T20:26:20.394Z",
  "id": "T4x5qSD75bXY97ou",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🤖[RNB][Helena] - Assistente Pessoal (Rogério) | v7 copy 2",
  "nodes": [
    {
      "parameters": {},
      "id": "c5e411fb-d45c-4487-879a-2163618dd1fb",
      "name": "tool_calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -528,
        10832
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "702607fa-3fef-4f1d-bcb8-311e43c6eb9b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA PODE RESPONDER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA NAO PODE RESPONDER"
            }
          ]
        },
        "options": {}
      },
      "id": "1bdd49a4-2a52-47b9-950a-0a061fb5daba",
      "name": "switch_block",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1184,
        9616
      ]
    },
    {
      "parameters": {
        "content": "## Memória para aguardar mensagem particionada do humano\n",
        "height": 840,
        "width": 1399
      },
      "id": "669c6748-b03b-4f54-b1cf-72ff7551ac18",
      "name": "note_buffer_debounce",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2688,
        10192
      ]
    },
    {
      "parameters": {},
      "id": "3e69bf0b-5691-4fff-a18c-9f8bbd473928",
      "name": "noop_descarte",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1840,
        10336
      ]
    },
    {
      "parameters": {
        "content": "## Tratamento da Entrada de Dados",
        "height": 600,
        "width": 2099,
        "color": 2
      },
      "id": "bd0b2e08-a065-46fd-a210-2d515b281b15",
      "name": "note_entrada_dados",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2688,
        9488
      ]
    },
    {
      "parameters": {
        "content": "## Categorização e Identificação do tipo de Dado que veio na Entrada",
        "height": 1220,
        "width": 1999,
        "color": 5
      },
      "id": "3616f99b-d5ef-489e-b49c-28c54b14ba88",
      "name": "note_categorizacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        8928
      ]
    },
    {
      "parameters": {
        "content": "## Agente e suas Ferramentas\n",
        "height": 860,
        "width": 2699,
        "color": 6
      },
      "id": "643ab026-da20-4f66-84fd-4d86b63d31da",
      "name": "note_agente_ferramentas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        10176
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "b042bb99-44cf-4575-a823-dde265890ea5",
      "name": "rag_data_loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1824,
        11408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "179827d2-9ad4-408c-9788-63a9769f4ae8",
      "name": "rag_text_splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1904,
        11552
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "helena",
          "mode": "list",
          "cachedResultName": "helena"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "01385f37-c817-4640-8f60-dc364c446b2e",
      "name": "pinecone_inserir",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -2016,
        11168
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "akvDkCxvWAFFpDee",
          "name": "[PineconeApi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inserir Base de Conhecimento no RAG",
        "height": 658,
        "width": 1404,
        "color": 5
      },
      "id": "705f4ff4-03d8-4a72-ac4e-4b29230ad25b",
      "name": "note_rag_ingest",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2688,
        11072
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "21c0262f-e043-4346-a3fb-bb85174f4c86",
      "name": "llm_openai_rag",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -560,
        11472
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "6db0352b-1b7f-4c11-a00f-9764d1b87906",
      "name": "embeddings_openai_query",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -976,
        11552
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "helena",
          "mode": "list"
        },
        "options": {}
      },
      "id": "523da4dd-1f7f-4262-ab5d-c08d41f13cda",
      "name": "pinecone_vector_store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -944,
        11376
      ],
      "credentials": {
        "pineconeApi": {
          "id": "akvDkCxvWAFFpDee",
          "name": "[PineconeApi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "content": "# Base de Conhecimento do Agente  - RAG\n",
        "height": 658,
        "width": 964,
        "color": 5
      },
      "id": "3a7834c9-018b-4df0-9535-9b8e06b732a2",
      "name": "note_rag_query",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        11072
      ]
    },
    {
      "parameters": {
        "content": "## Saída do Agente e resposta para WhatsApp",
        "height": 580,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        10128
      ],
      "id": "70396284-bb7f-4135-9626-6678e8f99c7c",
      "name": "note_saida_whatsapp"
    },
    {
      "parameters": {
        "content": "## Ferramentas / Funções ",
        "height": 220,
        "width": 2040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        10752
      ],
      "id": "8918c6f1-ceca-4ed5-893c-0da4c10f72b5",
      "name": "note_ferramentas"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2abc4491-8a27-41b4-8b2a-d6eafdf7e905",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2976,
        9760
      ],
      "id": "e6277985-ab33-497e-b9cd-74427b1d6440",
      "name": "webhook_entrada",
      "webhookId": "2abc4491-8a27-41b4-8b2a-d6eafdf7e905"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "24220beb-e1af-40ca-8b4d-444677b8443d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "baaac6fe-0767-48ac-bb60-94a119243df0",
      "name": "switch_origem_msg",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1824,
        9728
      ]
    },
    {
      "parameters": {},
      "id": "980c60c4-06f8-46ed-a1e8-4bc209eeaf9d",
      "name": "noop_ignorar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -848,
        9760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "telefone",
              "value": "={{ $('webhook_entrada').item.json.body.message.sender_pn }}",
              "type": "string"
            },
            {
              "id": "a6004904-d9e1-4627-be79-d2a5b073d44f",
              "name": "mensagem",
              "value": "={{ $('webhook_entrada').item.json.body.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13922ff4-c39c-440b-b177-d955b1a814c2",
      "name": "set_filtro_coleta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        9488
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17694db0-6248-444f-afb9-ff7ed13996ef",
              "name": "pergunta",
              "value": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f92c0713-d287-401d-ab2e-362209d85159",
      "name": "set_texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        256,
        9344
      ],
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "downloadMedia",
        "messageId": "={{ $('set_preparar_dados').item.json.message.message_id }}"
      },
      "id": "0c43311e-de7e-45c9-9326-3629780d6d3b",
      "name": "http_download_audio",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        192,
        9008
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "id": "b34da7d1-1d1b-4862-90a7-fd075e84cddc",
      "name": "convert_audio_binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        480,
        8704
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "aeaa6c51-6444-4207-aefc-9e58ea91aafe",
      "name": "openai_transcrever_audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        688,
        9008
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        9328
      ],
      "id": "fc6c3f57-ff2f-47ca-921c-0196b85d7bbb",
      "name": "noop_direcionador"
    },
    {
      "parameters": {
        "operation": "downloadMediaFile"
      },
      "id": "1a87041c-2f9a-4901-87c2-4d6cbd4565d9",
      "name": "http_download_imagem",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        192,
        9648
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": ""
        }
      },
      "id": "e47f6eaa-e84d-43dd-b5a7-fa575c1cdebd",
      "name": "convert_imagem_binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        464,
        9648
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva essa imagem, identificando o que possui nela !!! Traga todas as informações necessárias de forma detalhada",
        "inputType": "base64",
        "options": {}
      },
      "id": "d5394fa4-ab54-4951-a73c-908ca758b3bc",
      "name": "openai_analisar_imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        688,
        9648
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1040,
        9536
      ],
      "id": "23da61d1-4659-40e5-8bad-51f9c7a74ea7",
      "name": "merge_midia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaff3535-51d6-4046-b6e9-07e1a5071c7a",
              "name": "Mídia_Tratada",
              "value": "={{ $json.mensagem || '' }}{{ $json.text || '' }}{{ $json.content || '' }}{{ $json.pergunta || '' }}",
              "type": "string"
            },
            {
              "id": "b6e5cb3b-e2e6-4bbb-8c36-64e6b5875ef5",
              "name": "message_Id",
              "value": "={{ $('set_preparar_dados').item.json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "4be55584-c63b-4753-ba55-cb8fe4d832d3",
              "name": "Timetamp",
              "value": "={{ $('set_preparar_dados').item.json.message.Timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        9952
      ],
      "id": "acdf37d0-3526-493e-b6c4-4c3580f9f952",
      "name": "set_organizar_info"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('set_preparar_dados').item.json.message.chat_id }}_buf",
        "messageData": "={{ JSON.stringify({ \n    \"messageContent\": $('set_organizar_info').item.json['Mídia_Tratada'],\n    \"messageTime\": $('set_organizar_info').item.json.Timetamp,\n    \"messageID\": $('set_organizar_info').item.json.message_Id,\n    \n}) }}",
        "tail": true
      },
      "id": "b78a5445-b66a-4edc-80e8-100a593469dc",
      "name": "redis_push_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2576,
        10368
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id.toString() }}_buf",
        "options": {}
      },
      "id": "5348e7e2-64b3-47f2-b28a-321878dd9c74",
      "name": "redis_get_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2400,
        10528
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id.toString() }}_buf"
      },
      "id": "31dfb282-1f70-4583-80d7-f555eb572c22",
      "name": "redis_limpar_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1840,
        10560
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "path": "21cf9250-56f4-417b-9b48-bd28d3ecf71c"
      },
      "id": "091324dd-6ec7-410e-9475-b22140d9e09d",
      "name": "wait_debounce",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1856,
        10768
      ],
      "webhookId": "21cf9250-56f4-417b-9b48-bd28d3ecf71c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "messages",
              "value": "={{ $json.messages.map(msg => JSON.parse(msg)).sort((a, b) => new Date(a.messageTime) - new Date(b.messageTime)).map(msg => msg.messageContent).join(' ') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4df3b785-85fa-415e-96e1-7456ea430d74",
      "name": "set_refazer_entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        10560
      ]
    },
    {
      "parameters": {
        "jsCode": "function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  function removerMetadataTecnico(str) {\n    return str\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')\n      .replace(/,\\s*{[^}]*}/g, '')\n      .replace(/,\\s*\\[\\s*\\]/g, '')\n      .replace(/\\s*:\\s*null/g, '')\n      .replace(/\\s*:\\s*\\[\\]/g, '')\n      .replace(/\\s*:\\s*{}/g, '')\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');\n  }\n\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')\n      .replace(/\\\\\\\\\\\"/g, '')\n      .replace(/\\\\\\\\\\\\\\\\/g, '')\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')\n      .replace(/\\\"+/g, '')\n      .replace(/[{}[\\]]/g, '')\n      .trim();\n  }\n\n  function extrairMensagemPrincipal(str) {\n    const frases = str.split(/(?<=[.!?])\\s+/);\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  let resultado = texto;\n  resultado = removerMetadataTecnico(resultado);\n  resultado = extrairMensagemPrincipal(resultado);\n  resultado = limparCaracteresEspeciais(resultado);\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n      let mensagem = item.json.mensagem;\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          return item;\n        }\n      }\n      const mensagemLimpa = limparMensagem(mensagem);\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n      return { json: item.json };\n    } catch (error) {\n      return item;\n    }\n  });\n}\n\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  throw error;\n}\n"
      },
      "id": "7e78da3a-2d27-4230-9fdd-b120c8d1a801",
      "name": "code_limpar_metadados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        10560
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messages.first()).messageID }}",
                    "rightValue": "={{ $('set_organizar_info').item.json.message_Id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "1ce28741-7c43-4598-9fa0-ab2c9e52d75f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}",
              "outputKey": "faz nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1585bc24-0b58-4179-8919-0e9aabc0e35e",
                    "leftValue": "={{ JSON.parse($json.messages.last()).messageTime }}",
                    "rightValue": "={{ $now.minus(3.'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "b2c1cac9-f905-4208-a890-b6ea4ce1afef",
      "name": "switch_debounce",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2160,
        10528
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.message.chat_id }}_timeout",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 900
      },
      "id": "b8ab5cb9-a912-492d-9964-9f6841ff8301",
      "name": "redis_timeout",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1184,
        9936
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'AudioMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4b94d2ac-53e5-4153-9377-4cc6db20cb1c",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'ExtendedTextMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'Conversation' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'ImageMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f33566fd-3eb9-45f4-934a-3a39e2adca6c",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'DocumentMessage' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "253b8e9a-e3af-4d0d-b871-1cd0d0cb231b",
      "name": "switch_tipo_midia",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -448,
        9552
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "=document_{{ $('set_preparar_dados').item.json.message.message_id }}",
          "mimeType": "=application/pdf"
        }
      },
      "id": "760c3316-b0e1-4716-8875-5e5c646c37fd",
      "name": "convert_documento_binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        9952
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f615c020-945b-424e-a9ca-e7e1e543f9a3",
      "name": "extrair_pdf",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        688,
        9952
      ]
    },
    {
      "parameters": {
        "operation": "downloadMediaFile"
      },
      "id": "fa19d989-06b5-44e4-8ae7-c2de34647473",
      "name": "http_download_documento",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        192,
        9952
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('set_preparar_dados').item.json.message.chat_id }}_mem",
        "sessionTTL": 10000,
        "contextWindowLength": 7
      },
      "id": "101f54d7-a057-4dd0-8b77-d33243622f96",
      "name": "memory_redis_chat",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -880,
        10848
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "content": "## Entrada de Dados - Endpoint",
        "height": 300,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3120,
        9648
      ],
      "id": "737105ce-35e8-4fe9-880d-6fd5123081a5",
      "name": "note_endpoint"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2304,
        10240
      ],
      "id": "97580339-7e0e-4c7b-aa30-b593c01b6e6f",
      "name": "convert_mp3_base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('webhook_entrada').item.json.body.message.messageid }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('webhook_entrada').item.json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('audio') ? 'audio' : ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('image') ? 'image' : ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('document') ? 'document' : 'text' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('webhook_entrada').item.json.body.message.text || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.Timestamp",
              "value": "={{ ($('webhook_entrada').item.json.body.message.messageTimestamp || $now.toUnixInteger() * 1000).toDateTime('ms').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.Content_URL",
              "value": "={{ $('webhook_entrada').item.json.body.message.content?.URL || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('webhook_entrada').item.json.body.message.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.Token",
              "value": "={{ $('webhook_entrada').item.json.body.token }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.Server_url",
              "value": "={{ $('webhook_entrada').item.json.body.BaseUrl }}",
              "type": "string"
            },
            {
              "id": "348264f9-ed02-4936-ae78-bb963ccbee29",
              "name": "apiKey_eleven",
              "value": "=sk_3fb2240a9cb010d75bd28da4205c639509633975d7ac5a40",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f0d4bd3f-9a9e-4dc6-8e74-d484f51e74e9",
      "name": "set_preparar_dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        9728
      ]
    },
    {
      "parameters": {
        "content": "## LLM e Memória",
        "height": 260,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        10736
      ],
      "id": "9f6f6645-0d60-4f9e-89a8-d61a2fe3a4da",
      "name": "note_llm_memoria"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1040,
        10832
      ],
      "id": "3a7c305a-3a83-4eff-8c58-7b504c255d47",
      "name": "llm_claude_sonnet",
      "credentials": {
        "openRouterApi": {
          "id": "GI6HNmUQFlDQ6xti",
          "name": "[OpenRouter] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nif (!item || !item.json || !item.json.output) {\n  throw new Error(\"A chave 'output' não foi encontrada no JSON de entrada.\");\n}\n\nconst textoEntrada = item.json.output;\n\nlet textoProcessado = textoEntrada.replace(/\\n/g, \" \");\n\n// Substituições fonéticas para TTS pt-BR\ntextoProcessado = textoProcessado\n  .replace(/\\bn8n\\b/gi, 'nêitiên')\n  .replace(/\\bMCP\\b/g, 'ême cê pê')\n  .replace(/\\bRAG\\b/g, 'réguê')\n  .replace(/\\bLLM\\b/g, 'éle éle ême')\n  .replace(/\\bAPI\\b/g, 'a pê i')\n  .replace(/\\bTTS\\b/g, 'tê tê ésse')\n  .replace(/\\bIA\\b/g, 'inteligência artificial')\n  .replace(/https?:\\/\\/\\S+/g, '')\n  .replace(/#\\w+/g, '');\n\n// Remove emojis\ntextoProcessado = textoProcessado.replace(\n  /[\\u{1F600}-\\u{1F64F}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F700}-\\u{1F77F}]|[\\u{1F780}-\\u{1F7FF}]|[\\u{1F800}-\\u{1F8FF}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA6F}]|[\\u{1FA70}-\\u{1FAFF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F1E0}-\\u{1F1FF}]/gu,\n  \"\"\n);\n\n// Remove caracteres especiais mantendo pontuação útil para TTS\ntextoProcessado = textoProcessado.replace(/[^a-zA-Z0-9À-ÿ\\s.,!?;:\\-()]/g, \"\");\n\n// Normaliza espaços\ntextoProcessado = textoProcessado.replace(/\\s+/g, \" \").trim();\n\nreturn {\n  textoOriginal: textoEntrada,\n  textoSemQuebrasNemEmojisNemEspeciais: textoProcessado,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        10240
      ],
      "id": "4b6c989b-842c-4f0b-80fe-0fbf345352ad",
      "name": "code_formatar_audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/EST9Ui6982FZPSi7gCHi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "={{ $('set_preparar_dados').item.json.apiKey_eleven }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"text\": \"{{ $json.textoSemQuebrasNemEmojisNemEspeciais.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n}",
        "options": {}
      },
      "id": "fc2465ca-472d-481e-9a4f-a95ea910a306",
      "name": "http_elevenlabs_tts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2032,
        10240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "=<datasystem>A data de hoje é {{ $now.weekdayLong }},{{ $now.format('dd/MM/yyyy') }},{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}</datasystem>\n\n# Identidade\nVocê é Helena, uma assistente de IA sofisticada e espirituosa. Você tem uma postura calma e confiante, além de um talento para um humor seco e sutil. Adapte seu tom com base no tipo de interação.\n\n# Comportamento\n\n## Para pedidos de informação específica\nComece com \"Aqui está o que solicitou, senhor,\" e NÃO repita a informação. Adicione um comentário espirituoso.\nExemplo clima: \"Ah, mais um belo dia para conquistar o mundo — ou pelo menos sua lista de afazeres, senhor.\"\nExemplo reuniões: \"Parece que temos mais um dia emocionante de… reuniões. Tente não deixar a empolgação te dominar, senhor.\"\n\n## Para conversas casuais\nResponda naturalmente, engaje de forma cativante, com charme e humor. Sem formalidade de \"Aqui está o que solicitou\".\n\n# Memória\nSe o usuário fornecer informação pessoal relevante (gostos, preferências, escolhas, novidades), utilize a tool salvar_memoria para gravar.\nNÃO informe ao usuário que a informação foi salva. Apenas continue a conversa normalmente.\n\n# Execução Dinâmica\n- Entenda a solicitação e acione ferramentas de forma lógica e sequencial.\n- Se informações faltarem, pergunte antes de prosseguir.\n- Se houver várias etapas, informe sobre cada passo.\n\n# Ferramentas Disponíveis\n- Calendar MCP — Agenda Google (buscar, criar, atualizar, excluir eventos)\n- Gmail MCP — Gmail (enviar, listar, responder, labels)\n- AirBnB Actions / Execute — Busca e reservas Airbnb\n- Buscar/Criar/Atualizar/Excluir Contatos — CRUD no Airtable (criar: garanta e-mail; atualizar: peça nome; excluir: confirme antes)\n- Base de Conhecimento — RAG sobre IA, Agentes e Automações com n8n\n- Tavily — Busca em tempo real na internet\n\n# Regras de Postagem LinkedIn\n- Todo pedido de post deve gerar um DRAFT para aprovação antes de publicar\n- Só chame LinkedIn MCP após aprovação explícita do usuário\n- Use tom conversacional, finalize com CTA para mentoria de Agentes de IA com n8n\n\n# Restrições\n- Respostas concisas (máximo 3 parágrafos para conversas casuais)\n- Não invente dados\n- Não repita informações já entregues pelas ferramentas\n"
        }
      },
      "id": "5a39c83b-dddf-4fc4-aa7a-bdd0376167e7",
      "name": "Helena",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -736,
        10320
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "758dd03a-c3c3-44d4-a34a-d37a7cdd713b",
      "name": "gcal_buscar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -208,
        11328
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "90531756-f615-44bb-8931-c57ac316f872",
      "name": "gcal_criar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -48,
        11328
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "9b784258-98c2-4247-8540-0c6aeb40990f",
      "name": "gcal_atualizar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        96,
        11328
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "id": "5e765a7e-8834-476f-bbb1-2af1e581217d",
      "name": "gcal_excluir_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        256,
        11328
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {},
        "path": "663ce1c3-25e6-420b-87de-5dc861ab007d"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        432,
        11328
      ],
      "id": "0c08ca92-f443-4384-b2ca-ba9c1a417291",
      "name": "gmail_enviar",
      "webhookId": "663ce1c3-25e6-420b-87de-5dc861ab007d",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {},
        "path": "fc89df06-ee2a-4f1c-be9a-173cc80795e7"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        608,
        11328
      ],
      "id": "9ed2b0d8-73ef-44f1-b263-19c511c387d5",
      "name": "gmail_listar",
      "webhookId": "fc89df06-ee2a-4f1c-be9a-173cc80795e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "content": "# MCP Servers",
        "height": 660,
        "width": 2440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        11072
      ],
      "id": "7e8de1c1-e60e-4fe0-b6d9-810a1b6d4d6d",
      "name": "note_mcp_servers"
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "get",
        "labelId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_ID', ``, 'string') }}",
        "path": "6e54d507-979e-4719-9431-07ae3850b849"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1328,
        11328
      ],
      "id": "c664d74a-d1a1-4fea-9e45-47a2796224ea",
      "name": "gmail_buscar_label",
      "webhookId": "6e54d507-979e-4719-9431-07ae3850b849",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "path": "2c4af7ad-2697-4a5f-8eda-00f6ac2d2137"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        784,
        11328
      ],
      "id": "bdb49a74-b9d6-438d-8867-1ee972e15c61",
      "name": "gmail_marcar_nao_lido",
      "webhookId": "2c4af7ad-2697-4a5f-8eda-00f6ac2d2137",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{$fromAI('label')}}",
        "options": {},
        "path": "0a6e7a5a-4350-4824-aae8-32630575afca"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1120,
        11328
      ],
      "id": "80468eae-c300-4984-882a-af6c07c0cbe3",
      "name": "gmail_criar_label",
      "webhookId": "0a6e7a5a-4350-4824-aae8-32630575afca",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "person": "gI9okJLDqL",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input_Binary_Field', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        1632,
        11360
      ],
      "id": "24826d95-313a-40d1-9e58-1c1109c06671",
      "name": "linkedin_post_com_imagem",
      "disabled": true
    },
    {
      "parameters": {
        "person": "gI9okJLDqL",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        1840,
        11360
      ],
      "id": "9d29799b-afe0-4aa1-a1ae-e05b294814c0",
      "name": "linkedin_post_sem_imagem",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        240,
        10832
      ],
      "id": "5eb1fbf0-fd77-46dd-b07e-1afc3e9b358f",
      "name": "mcp_airbnb_actions"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the selected tool to use\") }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        400,
        10832
      ],
      "id": "9a376116-4ddc-4c89-b552-867752485b06",
      "name": "mcp_airbnb_execute"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.ep.rnbsolucoes.com.br/mcp/gmail/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -128,
        10832
      ],
      "id": "bbd9a5d5-1d5d-4ede-9bda-95d315618734",
      "name": "mcp_gmail"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.ep.rnbsolucoes.com.br/mcp/my-calendar/sse",
        "options": {}
      },
      "id": "f1ca9063-fd26-493d-902a-2eb2a484db02",
      "name": "mcp_calendar",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        -320,
        10832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "e0885831-3e4b-4b96-8288-f73674a989ef"
      },
      "id": "0df52a79-053b-4504-a8c5-c5362c338b0d",
      "name": "mcp_server_linkedin",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        1632,
        11136
      ],
      "webhookId": "e0885831-3e4b-4b96-8288-f73674a989ef",
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "path": "f3f82b6c-9f0b-43c4-ac15-c953041b1579"
      },
      "id": "497d5fe9-57cf-437d-8ba0-e370d03f497a",
      "name": "mcp_server_calendar",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        -128,
        11152
      ],
      "webhookId": "f3f82b6c-9f0b-43c4-ac15-c953041b1579",
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "75f6c1a2-14aa-4a69-a62d-1a7bcf2f2da7"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 1,
      "position": [
        800,
        11120
      ],
      "id": "7670d987-5ed4-426c-b166-5c0c6484296e",
      "name": "mcp_server_gmail",
      "webhookId": "75f6c1a2-14aa-4a69-a62d-1a7bcf2f2da7"
    },
    {
      "parameters": {
        "sseEndpoint": "https://webhook.agentes-n8n.com.br/mcp/linkedin/sse",
        "options": {}
      },
      "id": "03b449d9-967f-434e-8ce1-9f3c5d995db8",
      "name": "mcp_linkedin",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        64,
        10832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta pra buscar na internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"api_key\": \"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\",\n   \"query\": \"{searchTerm}\",\n   \"search_depth\": \"basic\",\n   \"include_answer\": true,\n   \"topic\": \"news\",\n   \"include_raw_content\": true,\n   \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        10832
      ],
      "id": "74f74cbb-5b33-494a-87bc-631dd46560d1",
      "name": "tool_tavily_search"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f38e3243-1b8e-45a2-856f-fafe71997d94",
              "leftValue": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"sender_pn\"] }}",
              "rightValue": "5518997913488@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "49878447-a07d-440a-a1d2-650dd0d34df3",
              "leftValue": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"sender_pn\"] }}",
              "rightValue": "558888136242@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e8e06394-848c-462b-8129-c8ae6299495b",
              "leftValue": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"sender_pn\"] }}",
              "rightValue": "5517991841789@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2496,
        9760
      ],
      "id": "9ff83916-a829-43f5-be36-2ecdd2a3a97e",
      "name": "if_numero_autorizado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3aa3973d-97b9-4647-9859-3365191b3411",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 601,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        10320
      ],
      "id": "0eb351cf-246b-4f27-9983-8a994536329d",
      "name": "if_gerar_voz"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {},
        "path": "401c5dd0-c9fb-4e81-99fd-37c60b2a2476"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        960,
        11360
      ],
      "id": "e07b7961-563b-4a8a-b80d-97ff2d644ba6",
      "name": "gmail_responder",
      "webhookId": "401c5dd0-c9fb-4e81-99fd-37c60b2a2476",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appPluzsoOJyabLWr",
          "mode": "list",
          "cachedResultName": "RNB_helena",
          "cachedResultUrl": "https://airtable.com/appPluzsoOJyabLWr"
        },
        "table": {
          "__rl": true,
          "value": "tblWowYVBg5OZWt93",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appPluzsoOJyabLWr/tblWowYVBg5OZWt93"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        592,
        10832
      ],
      "id": "d6af8fa2-08b7-4401-a147-d6da7382b58a",
      "name": "airtable_buscar_contatos",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "ZRWTIboRUA3cRxHR",
          "name": "[Airtable] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appPluzsoOJyabLWr",
          "mode": "list",
          "cachedResultName": "RNB_helena",
          "cachedResultUrl": "https://airtable.com/appPluzsoOJyabLWr"
        },
        "table": {
          "__rl": true,
          "value": "tblWowYVBg5OZWt93",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appPluzsoOJyabLWr/tblWowYVBg5OZWt93"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "WhatsApp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('WhatsApp', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        720,
        10832
      ],
      "id": "39697901-5633-483b-9357-ecfe38b8b484",
      "name": "airtable_criar_contato",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "ZRWTIboRUA3cRxHR",
          "name": "[Airtable] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appPluzsoOJyabLWr",
          "mode": "list",
          "cachedResultName": "RNB_helena",
          "cachedResultUrl": "https://airtable.com/appPluzsoOJyabLWr"
        },
        "table": {
          "__rl": true,
          "value": "tblWowYVBg5OZWt93",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appPluzsoOJyabLWr/tblWowYVBg5OZWt93"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Nome"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        864,
        10832
      ],
      "id": "f25e5b3e-51e9-41ce-bdf8-e339e67264cc",
      "name": "airtable_atualizar_contato",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "ZRWTIboRUA3cRxHR",
          "name": "[Airtable] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appPluzsoOJyabLWr",
          "mode": "list",
          "cachedResultName": "RNB_helena",
          "cachedResultUrl": "https://airtable.com/appPluzsoOJyabLWr"
        },
        "table": {
          "__rl": true,
          "value": "tblWowYVBg5OZWt93",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appPluzsoOJyabLWr/tblWowYVBg5OZWt93"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1008,
        10832
      ],
      "id": "e3843ce6-313a-411f-9c4d-ec0a781c4730",
      "name": "airtable_excluir_contato",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "ZRWTIboRUA3cRxHR",
          "name": "[Airtable] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM",
          "mode": "list",
          "cachedResultName": "RAG Helena",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2576,
        11168
      ],
      "id": "6832503e-ad94-458e-b90a-cf606f56e357",
      "name": "gdrive_trigger_novos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM",
          "mode": "list",
          "cachedResultName": "RAG Helena",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2576,
        11360
      ],
      "id": "7f992783-ae35-49de-a044-d61dc76b6fb6",
      "name": "gdrive_trigger_atualizados",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "055c61f7-913c-4091-a592-fc8e1264ce64",
      "name": "gdrive_download_conhecimento",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2304,
        11248
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "9f790c8f-8d97-4fcf-a44f-e9718036d0b0",
      "name": "embeddings_openai_ingest",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -2224,
        11488
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "name": "helena",
        "description": "Você é uma base de conhecimento que dá respostas sobre infos de IA, Agentes, e Automações com N8N",
        "topK": 8
      },
      "id": "418a82a8-2839-425c-a2ca-03909ecfcc76",
      "name": "tool_base_conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -704,
        11232
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Helena — Config\n\nToken e URL lidos do payload webhook.\napiKey_eleven hardcoded no set_preparar_dados.\nVoice ID hardcoded no http_elevenlabs_tts.\n\n## Webhook UazAPI\n`https://n8n.ep.rnbsolucoes.com.br/webhook/helena`\n\n## Números autorizados\nConfigurados no node 'if_numero_autorizado'",
        "height": 680,
        "width": 580,
        "color": 6
      },
      "id": "9eac0bc3-a0c6-4583-a9f5-44797f7496de",
      "name": "note_config_uazapi",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3408,
        9424
      ]
    },
    {
      "parameters": {
        "number": "={{ $('set_preparar_dados').item.json.message.chat_id }}",
        "text": "={{ $json.output + \"\\n\\n_Envie *1* para ouvir em áudio._\" }}"
      },
      "id": "c3a09b31-26d7-4c22-a2ef-b2848162c758",
      "name": "uazapi_enviar_texto",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        1440,
        10480
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "sendMedia",
        "number": "={{ $('set_preparar_dados').item.json.message.chat_id }}",
        "mediaType": "audio",
        "file": "={{ \"data:audio/mpeg;base64,\" + $json.data }}"
      },
      "id": "7183f974-e18f-4356-919c-70a430d73e1f",
      "name": "uazapi_enviar_audio",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        2624,
        10240
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const textoOriginal = ($json.output ?? '').toString();\n\nfunction sanitizarWhatsApp(texto) {\n  return texto\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n    .replace(/\\*(.*?)\\*/g, '$1')\n    .replace(/__(.*?)__/g, '$1')\n    .replace(/_(.*?)_/g, '$1')\n    .replace(/```[\\s\\S]*?```/g, '')\n    .replace(/`([^`]+)`/g, '$1')\n    .replace(/^#{1,6}\\s*/gm, '')\n    .replace(/^\\s*[-*]\\s+/gm, '• ')\n    .replace(/[^\\p{L}\\p{N}\\s.,!?():\\-•]/gu, '')\n    .replace(/\\s+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nconst textoLimpo = sanitizarWhatsApp(textoOriginal);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      output: textoLimpo\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        10208
      ],
      "id": "3d3962a4-5c82-41fc-b0f1-118d81bb52a8",
      "name": "code_sanitizar_whatsapp",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.fileURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        9008
      ],
      "id": "b714a6ca-4b39-4215-90cb-9bfa8fe26343",
      "name": "http_baixar_audio_binario"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_7d28a25c141deb59409a69ef9a96c8809dd33bbc389361eb0951123bbb47094d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "NOG - Narégua"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "693b4287-c951-4fac-9748-d0735a17655d",
      "name": "gcal_buscar_evento1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -208,
        11488
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_7d28a25c141deb59409a69ef9a96c8809dd33bbc389361eb0951123bbb47094d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "NOG - Narégua"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "3d00d638-d945-414b-808b-6951a66d3bf7",
      "name": "gcal_criar_evento1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -48,
        11488
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "c_7d28a25c141deb59409a69ef9a96c8809dd33bbc389361eb0951123bbb47094d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "NOG - Narégua"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "810f66d0-67d9-4696-bfef-b6b571b30fe8",
      "name": "gcal_atualizar_evento1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        112,
        11488
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "c_7d28a25c141deb59409a69ef9a96c8809dd33bbc389361eb0951123bbb47094d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "NOG - Narégua"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "id": "24df282c-3629-49e6-9826-2ac9caaeb0be",
      "name": "gcal_excluir_evento1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        272,
        11488
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_7d28a25c141deb59409a69ef9a96c8809dd33bbc389361eb0951123bbb47094d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "NOG - Narégua"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "3b7f132c-6d4c-45a0-8b8b-96fca71f935b",
      "name": "gcal_buscar_evento2",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -208,
        11648
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b0a495e",
              "leftValue": "={{ $('set_preparar_dados').item.json.message.content.toString().trim().toLowerCase() }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5526cab3",
              "leftValue": "={{ $('set_preparar_dados').item.json.message.content.toString().trim().toLowerCase() }}",
              "rightValue": "ouvir",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6f1faf9d",
              "leftValue": "={{ $('set_preparar_dados').item.json.message.content.toString().trim().toLowerCase() }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "32bdff8c",
              "leftValue": "={{ $('set_preparar_dados').item.json.message.content.toString().trim().toLowerCase() }}",
              "rightValue": "áudio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "25717ed6-bfc0-4517-9b13-e57251b94756",
      "name": "if_comando_audio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        9616
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "ultimo_texto",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id }}_last_reply",
        "options": {}
      },
      "id": "df9f5f9b-a123-4fab-862a-686fa70db091",
      "name": "redis_buscar_ultima_resposta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -448,
        9328
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c64bb8b4",
              "leftValue": "={{ $json.ultimo_texto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e9e8a124-069e-4c1c-b19b-c2511eb82056",
      "name": "if_tem_resposta_anterior",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        9328
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cccdbacb",
              "name": "output",
              "value": "={{ $json.ultimo_texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "690de627-cf4c-4dad-a263-6edddcfba210",
      "name": "set_preparar_replay",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        9216
      ]
    },
    {
      "parameters": {
        "number": "={{ $('set_preparar_dados').item.json.message.chat_id }}",
        "text": "Ainda não tenho uma resposta anterior para converter em áudio, senhor."
      },
      "id": "986d524e-e451-4aba-857b-b0ff3ae540e2",
      "name": "uazapi_fallback_sem_audio",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        160,
        9456
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id }}_last_reply",
        "value": "={{ $('Helena').item.json.output }}",
        "keyType": "string",
        "expire": true,
        "ttl": 3600
      },
      "id": "6c6b71f9-a1b0-47fd-a9f4-9166230fa9d7",
      "name": "redis_salvar_ultima_resposta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1680,
        10480
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    }
  ],
  "pinData": {
    "webhook_entrada": [
      {
        "json": {
          "headers": {
            "host": "n8n.ep.rnbsolucoes.com.br",
            "user-agent": "uazapiGO-Webhook/1.0"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://rnbsolucoes.uazapi.com",
            "EventType": "messages",
            "chat": {
              "wa_chatid": "5518997913488@s.whatsapp.net",
              "wa_name": "Rogério Nogueira Borges"
            },
            "message": {
              "chatid": "5518997913488@s.whatsapp.net",
              "content": {
                "URL": "https://mmg.whatsapp.net/example",
                "mimetype": "audio/ogg; codecs=opus"
              },
              "fromMe": false,
              "messageType": "AudioMessage",
              "messageid": "AC8A3C1C52F27B1D5F87BFAC20B658F3",
              "messageTimestamp": 1774628840000,
              "sender_pn": "5518997913488@s.whatsapp.net",
              "text": "",
              "type": "media"
            },
            "token": "b1a3a72d-b644-400e-b222-76d307538e2c"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-27T20:26:20.394Z",
      "createdAt": "2026-03-27T20:26:20.394Z",
      "role": "workflow:owner",
      "workflowId": "T4x5qSD75bXY97ou",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": {
    "node:Novos Arquivos": {
      "lastTimeChecked": "2026-03-25T16:18:04Z"
    },
    "node:Novas Atualizações": {
      "lastTimeChecked": "2026-03-25T16:18:04Z"
    },
    "node:gdrive_trigger_novos": {
      "lastTimeChecked": "2026-03-27T20:06:50Z"
    },
    "node:gdrive_trigger_atualizados": {
      "lastTimeChecked": "2026-03-27T20:06:51Z"
    }
  },
  "tags": [
    {
      "updatedAt": "2026-01-27T17:05:49.634Z",
      "createdAt": "2026-01-27T17:05:49.634Z",
      "id": "F171zldw4G7U1HuZ",
      "name": "legacy"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T12:46:30.026Z",
  "versionId": "429eeb5f-c3f6-481b-864f-820f14b833dc"
}