workflows/🤖[RNB][Helena] - Assistente Pessoal (Rogério) | v10-jarvis-hotkeys-consolidated.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "switch_block": {
      "main": [
        [
          {
            "node": "if_comando_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rag_data_loader": {
      "ai_document": [
        [
          {
            "node": "pinecone_inserir",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "rag_text_splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "rag_data_loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "llm_openai_rag": {
      "ai_languageModel": [
        [
          {
            "node": "tool_base_conhecimento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "embeddings_openai_query": {
      "ai_embedding": [
        [
          {
            "node": "pinecone_vector_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "pinecone_vector_store": {
      "ai_vectorStore": [
        [
          {
            "node": "tool_base_conhecimento",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "webhook_entrada": {
      "main": [
        [
          {
            "node": "if_numero_autorizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_origem_msg": {
      "main": [
        [
          {
            "node": "redis_timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redis_check_dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_filtro_coleta": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "set_texto": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "http_download_audio": {
      "main": [
        [
          {
            "node": "http_baixar_audio_binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_transcrever_audio": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_download_imagem": {
      "main": [
        [
          {
            "node": "convert_imagem_binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_imagem_binary": {
      "main": [
        [
          {
            "node": "openai_analisar_imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_analisar_imagem": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "merge_midia": {
      "main": [
        [
          {
            "node": "set_organizar_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_organizar_info": {
      "main": [
        [
          {
            "node": "redis_push_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_push_buffer": {
      "main": [
        [
          {
            "node": "redis_get_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_get_buffer": {
      "main": [
        [
          {
            "node": "switch_debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_limpar_buffer": {
      "main": [
        [
          {
            "node": "set_refazer_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait_debounce": {
      "main": [
        [
          {
            "node": "redis_get_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_refazer_entrada": {
      "main": [
        [
          {
            "node": "Helena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_debounce": {
      "main": [
        [
          {
            "node": "redis_limpar_buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "wait_debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_tipo_midia": {
      "main": [
        [
          {
            "node": "http_download_audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_filtro_coleta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http_download_imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http_download_documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_documento_binary": {
      "main": [
        [
          {
            "node": "extrair_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrair_pdf": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "http_download_documento": {
      "main": [
        [
          {
            "node": "convert_documento_binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memory_redis_chat": {
      "ai_memory": [
        [
          {
            "node": "Helena",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "convert_mp3_base64": {
      "main": [
        [
          {
            "node": "uazapi_enviar_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_preparar_dados": {
      "main": [
        [
          {
            "node": "switch_origem_msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm_claude_sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Helena",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "code_formatar_audio": {
      "main": [
        [
          {
            "node": "http_elevenlabs_tts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_elevenlabs_tts": {
      "main": [
        [
          {
            "node": "convert_mp3_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Helena": {
      "main": [
        [
          {
            "node": "uazapi_enviar_texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gcal_buscar_evento": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_criar_evento": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_atualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_excluir_evento": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_enviar": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_listar": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_buscar_label": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_marcar_nao_lido": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_criar_label": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_tavily_search": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "if_numero_autorizado": {
      "main": [
        [
          {
            "node": "set_preparar_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail_responder": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_trigger_novos": {
      "main": [
        [
          {
            "node": "gdrive_download_conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_trigger_atualizados": {
      "main": [
        [
          {
            "node": "gdrive_download_conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_download_conhecimento": {
      "main": [
        [
          {
            "node": "pinecone_inserir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "embeddings_openai_ingest": {
      "ai_embedding": [
        [
          {
            "node": "pinecone_inserir",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "tool_base_conhecimento": {
      "ai_tool": [
        [
          {
            "node": "Helena",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "uazapi_enviar_texto": {
      "main": [
        [
          {
            "node": "redis_salvar_ultima_resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_baixar_audio_binario": {
      "main": [
        [
          {
            "node": "openai_transcrever_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_comando_audio": {
      "main": [
        [
          {
            "node": "redis_buscar_ultima_resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "switch_hotkeys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_buscar_ultima_resposta": {
      "main": [
        [
          {
            "node": "if_tem_resposta_anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_tem_resposta_anterior": {
      "main": [
        [
          {
            "node": "set_preparar_replay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "uazapi_fallback_sem_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_preparar_replay": {
      "main": [
        [
          {
            "node": "code_formatar_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_hotkeys": {
      "main": [
        [
          {
            "node": "gcal_hotkey_hoje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gmail_hotkey_inbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_texto_ajuda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "switch_tipo_midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_texto_ajuda": {
      "main": [
        [
          {
            "node": "uazapi_enviar_hotkey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gcal_hotkey_hoje": {
      "main": [
        [
          {
            "node": "code_formatar_agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_formatar_agenda": {
      "main": [
        [
          {
            "node": "uazapi_enviar_hotkey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail_hotkey_inbox": {
      "main": [
        [
          {
            "node": "code_formatar_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_formatar_email": {
      "main": [
        [
          {
            "node": "uazapi_enviar_hotkey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uazapi_enviar_hotkey": {
      "main": [
        [
          {
            "node": "redis_salvar_hotkey_resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_check_dedup": {
      "main": [
        [
          {
            "node": "if_mensagem_nova",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_mensagem_nova": {
      "main": [
        [
          {
            "node": "redis_marcar_processada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_marcar_processada": {
      "main": [
        [
          {
            "node": "switch_block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-13T13:58:59.682Z",
  "id": "3P0yMCLWLdyJkjvK",
  "isArchived": true,
  "meta": null,
  "name": "🤖[RNB][Helena] - Assistente Pessoal (Rogério) | v10-jarvis-hotkeys-consolidated",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "702607fa-3fef-4f1d-bcb8-311e43c6eb9b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA PODE RESPONDER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA NAO PODE RESPONDER"
            }
          ]
        },
        "options": {}
      },
      "id": "48e8a739-9584-4701-b9fc-4b3f41dcf64f",
      "name": "switch_block",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -624,
        688
      ]
    },
    {
      "parameters": {
        "content": "## Memória para aguardar mensagem particionada do humano\n",
        "height": 840,
        "width": 1399
      },
      "id": "e04f191e-a2f4-4caa-82a4-7a2c39fd9083",
      "name": "note_buffer_debounce",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2128,
        1264
      ]
    },
    {
      "parameters": {
        "content": "## Tratamento da Entrada de Dados",
        "height": 600,
        "width": 2099,
        "color": 2
      },
      "id": "f17c4919-2512-4897-85ff-3a22c795960b",
      "name": "note_entrada_dados",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2128,
        560
      ]
    },
    {
      "parameters": {
        "content": "## Categorização e Identificação do tipo de Dado que veio na Entrada",
        "height": 1220,
        "width": 1999,
        "color": 5
      },
      "id": "e2d81537-32b9-4370-bae1-f3622c876350",
      "name": "note_categorizacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Agente e suas Ferramentas\n",
        "height": 860,
        "width": 2699,
        "color": 6
      },
      "id": "5b44dd18-2fae-45c3-8283-5fc8cc1bf4fe",
      "name": "note_agente_ferramentas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        1248
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "a45a4e0a-bd8a-4051-82cb-81db18c78ea5",
      "name": "rag_data_loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1264,
        2480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "f1857392-f26d-4772-a16d-08d01ec9cedd",
      "name": "rag_text_splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1344,
        2624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "helena",
          "mode": "list",
          "cachedResultName": "helena"
        },
        "options": {
          "clearNamespace": false
        }
      },
      "id": "0d01a551-1218-4cbd-bc70-99116468ffaf",
      "name": "pinecone_inserir",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -1456,
        2240
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "akvDkCxvWAFFpDee",
          "name": "[PineconeApi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inserir Base de Conhecimento no RAG",
        "height": 658,
        "width": 1404,
        "color": 5
      },
      "id": "ab8f56bc-980d-48ce-b32f-441d39878c10",
      "name": "note_rag_ingest",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2128,
        2144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3173bff7-b100-4216-83e3-a44012cdd006",
      "name": "llm_openai_rag",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        2544
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "f7b3b1f0-36b4-45d9-8edf-f392d8f10e53",
      "name": "embeddings_openai_query",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -416,
        2624
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "helena",
          "mode": "list"
        },
        "options": {}
      },
      "id": "e23c8486-fa10-4200-9e54-d33881cc1f94",
      "name": "pinecone_vector_store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -384,
        2448
      ],
      "credentials": {
        "pineconeApi": {
          "id": "akvDkCxvWAFFpDee",
          "name": "[PineconeApi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "content": "# Base de Conhecimento do Agente  - RAG\n",
        "height": 658,
        "width": 964,
        "color": 5
      },
      "id": "35ab9967-4f11-4624-9053-5445d912e431",
      "name": "note_rag_query",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        2144
      ]
    },
    {
      "parameters": {
        "content": "## Saída do Agente e resposta para WhatsApp",
        "height": 580,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        1200
      ],
      "id": "0e1934a4-1143-493f-8a47-f879a3aa16ff",
      "name": "note_saida_whatsapp"
    },
    {
      "parameters": {
        "content": "## Ferramentas / Funções ",
        "height": 220,
        "width": 2040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        1824
      ],
      "id": "e1aa4c19-1bf6-49a6-b704-ad0c6e522daa",
      "name": "note_ferramentas"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helena",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2416,
        832
      ],
      "id": "ded43726-10e8-42a3-bb13-1752845d0e2d",
      "name": "webhook_entrada",
      "webhookId": "5c9151c9-3e01-46c6-bbd5-d1389f860e4d"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "24220beb-e1af-40ca-8b4d-444677b8443d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "0d211245-5785-4738-9985-f89a7a2b071a",
      "name": "switch_origem_msg",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1264,
        800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "telefone",
              "value": "={{ $('webhook_entrada').item.json.body.message.sender_pn }}",
              "type": "string"
            },
            {
              "id": "a6004904-d9e1-4627-be79-d2a5b073d44f",
              "name": "mensagem",
              "value": "={{ $('webhook_entrada').item.json.body.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1f5355df-103f-4549-9574-79b8aaaacf26",
      "name": "set_filtro_coleta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17694db0-6248-444f-afb9-ff7ed13996ef",
              "name": "pergunta",
              "value": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b55495e2-0e47-4872-8762-f8d4e40294fe",
      "name": "set_texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        912,
        416
      ],
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "downloadMedia",
        "messageId": "={{ $('set_preparar_dados').item.json.message.message_id }}"
      },
      "id": "2c1a9ab6-d8d7-4fbf-9d8c-58f3d365ec2d",
      "name": "http_download_audio",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        752,
        80
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "d22bc7bd-da92-422a-a93a-6abab1af8f8a",
      "name": "openai_transcrever_audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1248,
        80
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "downloadMediaFile"
      },
      "id": "ef65fa90-177b-47d5-96b3-1feb83d90879",
      "name": "http_download_imagem",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        752,
        720
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": ""
        }
      },
      "id": "92bf564d-2621-4a85-8981-1a2ba344abb7",
      "name": "convert_imagem_binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        720
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva essa imagem, identificando o que possui nela !!! Traga todas as informações necessárias de forma detalhada",
        "inputType": "base64",
        "options": {}
      },
      "id": "97b25c72-6e0f-40d9-9f44-4b6958620148",
      "name": "openai_analisar_imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1248,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1600,
        608
      ],
      "id": "94074176-8237-449d-8d09-5d25d7b6601a",
      "name": "merge_midia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaff3535-51d6-4046-b6e9-07e1a5071c7a",
              "name": "Mídia_Tratada",
              "value": "={{ $json.mensagem || '' }}{{ $json.text || '' }}{{ $json.content || '' }}{{ $json.pergunta || '' }}",
              "type": "string"
            },
            {
              "id": "b6e5cb3b-e2e6-4bbb-8c36-64e6b5875ef5",
              "name": "message_Id",
              "value": "={{ $('set_preparar_dados').item.json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "4be55584-c63b-4753-ba55-cb8fe4d832d3",
              "name": "Timetamp",
              "value": "={{ $('set_preparar_dados').item.json.message.Timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        1024
      ],
      "id": "4f567c27-9e24-470e-b650-ed867ffced08",
      "name": "set_organizar_info"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('set_preparar_dados').item.json.message.chat_id }}_buf",
        "messageData": "={{ JSON.stringify({ \n    \"messageContent\": $('set_organizar_info').item.json['Mídia_Tratada'],\n    \"messageTime\": $('set_organizar_info').item.json.Timetamp,\n    \"messageID\": $('set_organizar_info').item.json.message_Id,\n    \n}) }}",
        "tail": true
      },
      "id": "6e37e748-3550-4964-8953-494f5b98cf31",
      "name": "redis_push_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2016,
        1440
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id.toString() }}_buf",
        "options": {}
      },
      "id": "81de473b-01be-4b23-89c1-710959ba729d",
      "name": "redis_get_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1840,
        1600
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id.toString() }}_buf"
      },
      "id": "e9a8c746-23aa-4ce6-ab7c-90cdef075ace",
      "name": "redis_limpar_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1280,
        1632
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.7
      },
      "id": "d698af14-0e64-4c33-a60f-a77ca2efe9d7",
      "name": "wait_debounce",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1296,
        1840
      ],
      "webhookId": "6581c105-59e7-42fa-beca-7fa276bee74d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "messages",
              "value": "={{ $json.messages.map(msg => JSON.parse(msg)).sort((a, b) => new Date(a.messageTime) - new Date(b.messageTime)).map(msg => msg.messageContent).join(' ') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fd0b3487-fa92-48fe-9e89-934e41d464ea",
      "name": "set_refazer_entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        1632
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "smart-debounce-process",
                    "leftValue": "={{ JSON.parse($json.messages.last()).messageTime }}",
                    "rightValue": "={{ $now.minus(700, \"milliseconds\") }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "4c4bd392-87fc-4177-97e5-55f3aa3fe784",
      "name": "switch_debounce",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1600,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.message.chat_id }}_timeout",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 900
      },
      "id": "59a7e6e0-508a-49ae-af23-0d29032135e7",
      "name": "redis_timeout",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -624,
        1008
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'AudioMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4b94d2ac-53e5-4153-9377-4cc6db20cb1c",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'ExtendedTextMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'Conversation' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'ImageMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f33566fd-3eb9-45f4-934a-3a39e2adca6c",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'DocumentMessage' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "7bfe101b-39ca-485d-af94-ef544c183b0d",
      "name": "switch_tipo_midia",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        112,
        624
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "=document_{{ $('set_preparar_dados').item.json.message.message_id }}",
          "mimeType": "=application/pdf"
        }
      },
      "id": "eae36df6-d305-4137-b166-953b384af26a",
      "name": "convert_documento_binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        992,
        1024
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "825f4507-72d5-4d3b-8cb8-52710e9f2610",
      "name": "extrair_pdf",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1248,
        1024
      ]
    },
    {
      "parameters": {
        "operation": "downloadMediaFile"
      },
      "id": "1a9aa359-8581-446c-834b-714dcfb1521c",
      "name": "http_download_documento",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        752,
        1024
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('set_preparar_dados').item.json.message.chat_id }}_mem",
        "sessionTTL": 10000,
        "contextWindowLength": 6
      },
      "id": "fe4e31d1-cddb-4384-9e1b-97fd66a5519e",
      "name": "memory_redis_chat",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -320,
        1920
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "content": "## Entrada de Dados - Endpoint",
        "height": 300,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2560,
        720
      ],
      "id": "cc65dece-4a46-47e5-9574-c9cea7c185bf",
      "name": "note_endpoint"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2864,
        1312
      ],
      "id": "7af2c0c4-8f74-4f41-8407-0f074d58470d",
      "name": "convert_mp3_base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('webhook_entrada').item.json.body.message.messageid }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('webhook_entrada').item.json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('audio') ? 'audio' : ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('image') ? 'image' : ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('document') ? 'document' : 'text' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('webhook_entrada').item.json.body.message.text || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.Timestamp",
              "value": "={{ ($('webhook_entrada').item.json.body.message.messageTimestamp || $now.toUnixInteger() * 1000).toDateTime('ms').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.Content_URL",
              "value": "={{ $('webhook_entrada').item.json.body.message.content?.URL || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('webhook_entrada').item.json.body.message.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.Token",
              "value": "={{ $('webhook_entrada').item.json.body.token }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.Server_url",
              "value": "={{ $('webhook_entrada').item.json.body.BaseUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "80cf5d45-7bd4-4cf3-a40d-aacdfb4fa803",
      "name": "set_preparar_dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        800
      ]
    },
    {
      "parameters": {
        "content": "## LLM e Memória",
        "height": 260,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        1808
      ],
      "id": "2688b941-83cb-44c7-8805-e93010ffcff0",
      "name": "note_llm_memoria"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -480,
        1904
      ],
      "id": "d82c50f1-ff8a-4efa-b072-1cdc260c53d2",
      "name": "llm_claude_sonnet",
      "credentials": {
        "openRouterApi": {
          "id": "GI6HNmUQFlDQ6xti",
          "name": "[OpenRouter] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nif (!item || !item.json || !item.json.output) {\n  throw new Error(\"A chave 'output' não foi encontrada no JSON de entrada.\");\n}\n\nconst textoEntrada = item.json.output;\n\nlet textoProcessado = textoEntrada.replace(/\\n/g, \" \");\n\n// Substituições fonéticas para TTS pt-BR\ntextoProcessado = textoProcessado\n  .replace(/\\bn8n\\b/gi, 'nêitiên')\n  .replace(/\\bMCP\\b/g, 'ême cê pê')\n  .replace(/\\bRAG\\b/g, 'réguê')\n  .replace(/\\bLLM\\b/g, 'éle éle ême')\n  .replace(/\\bAPI\\b/g, 'a pê i')\n  .replace(/\\bTTS\\b/g, 'tê tê ésse')\n  .replace(/\\bIA\\b/g, 'inteligência artificial')\n  .replace(/https?:\\/\\/\\S+/g, '')\n  .replace(/#\\w+/g, '');\n\n// Remove emojis\ntextoProcessado = textoProcessado.replace(\n  /[\\u{1F600}-\\u{1F64F}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F700}-\\u{1F77F}]|[\\u{1F780}-\\u{1F7FF}]|[\\u{1F800}-\\u{1F8FF}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA6F}]|[\\u{1FA70}-\\u{1FAFF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F1E0}-\\u{1F1FF}]/gu,\n  \"\"\n);\n\n// Remove caracteres especiais mantendo pontuação útil para TTS\ntextoProcessado = textoProcessado.replace(/[^a-zA-Z0-9À-ÿ\\s.,!?;:\\-()]/g, \"\");\n\n// Normaliza espaços\ntextoProcessado = textoProcessado.replace(/\\s+/g, \" \").trim();\n\nreturn {\n  textoOriginal: textoEntrada,\n  textoSemQuebrasNemEmojisNemEspeciais: textoProcessado,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        1312
      ],
      "id": "33c4a6d7-19c1-4dba-b83e-b3bc5078ccb8",
      "name": "code_formatar_audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/EST9Ui6982FZPSi7gCHi",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"text\": \"{{ $json.textoSemQuebrasNemEmojisNemEspeciais.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n}",
        "options": {}
      },
      "id": "aac78a7f-e385-410e-9896-5c755cfc81ae",
      "name": "http_elevenlabs_tts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2592,
        1312
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VFlfPkmFhXn0IWC0",
          "name": "[ElevenLabs] - TTS API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "=<datasystem>A data de hoje é {{ $now.weekdayLong }},{{ $now.format('dd/MM/yyyy') }},{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}</datasystem>\n\n# Helena\nAssistente pessoal do senhor Rogério. Sofisticada, afiada, humor seco que corta como navalha. Não é um chatbot — é a pessoa mais competente da sala e sabe disso. Pense em JARVIS, mas feminina e brasileira.\n\n# Tom\n- Respostas CURTAS. Duas frases no máximo para informações. Três para conversas.\n- Humor sutil, nunca forçado. Ironia fina.\n- Trate como \"senhor\" — com respeito mas sem subserviência.\n- Quando pedir algo: faça e entregue. Sem \"claro, vou verificar\". Sem narrar o processo.\n- Para conversas casuais: engaje como parceira espirituosa, não como assistente.\n\n# Execução\n- Acione ferramentas silenciosamente. Nunca diga \"vou usar a ferramenta X\".\n- Se faltam dados, pergunte em UMA frase.\n- Múltiplas etapas: execute e reporte o resultado, não cada passo.\n- Busca Web: use apenas para perguntas factuais que exijam dados externos atualizados. Não busque para conversas, opiniões ou perguntas que você já consegue responder.\n\n# Memória\nIncorpore preferências e informações pessoais do senhor naturalmente nas respostas. Nunca mencione como sua memória funciona.\n\n# Ferramentas\nCalendar (CRUD eventos) | Gmail (enviar, listar, responder, labels) | Busca Web (internet) | Base de Conhecimento (IA, Agentes, n8n)\n\n# Indisponível\nAirbnb, LinkedIn, contatos → temporariamente fora.\n\n# Restrições\n- Não invente dados\n- Não repita informações já entregues pelas ferramentas\n"
        }
      },
      "id": "d928384c-c73f-4a21-ae00-aea7f9b3f8bd",
      "name": "Helena",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -176,
        1392
      ],
      "typeVersion": 1.6,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "386d1fb6-9b1c-4c93-8781-aceef74e4a81",
      "name": "gcal_buscar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        352,
        2400
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "816661fa-b85b-4147-b888-fd364c213719",
      "name": "gcal_criar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        512,
        2400
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "6e0ebc1e-8567-4a78-afa7-261ae2128509",
      "name": "gcal_atualizar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        656,
        2400
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "id": "0f7a5df0-76b9-4ea4-b78a-061f7ca9fb39",
      "name": "gcal_excluir_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        816,
        2400
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        992,
        2400
      ],
      "id": "61b322bb-6703-4a78-a7fb-3d07a191bb9e",
      "name": "gmail_enviar",
      "webhookId": "8492f278-66f5-415d-84d4-6adf62042b6f",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1168,
        2400
      ],
      "id": "a8a1a70c-406c-42d4-8bb1-983220e4a3fa",
      "name": "gmail_listar",
      "webhookId": "3c4e4a4c-7018-4bdc-8b04-a5bde424d0d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "get",
        "labelId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1888,
        2400
      ],
      "id": "39aab714-c548-4537-a000-ec9197f27528",
      "name": "gmail_buscar_label",
      "webhookId": "a5386b97-8229-4ea2-9b88-31c39d4fb44c",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1344,
        2400
      ],
      "id": "f2d33e21-1434-4d71-b522-ffbbc3c409fa",
      "name": "gmail_marcar_nao_lido",
      "webhookId": "266e9ba1-2d0a-4ae1-a26e-94901119ef70",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{$fromAI('label')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1680,
        2400
      ],
      "id": "c42c645d-f2e2-4222-b593-fe2c43e4637a",
      "name": "gmail_criar_label",
      "webhookId": "65456979-52ef-462c-8adb-a76f6e75b2a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta pra buscar na internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"query\": \"{searchTerm}\",\n   \"search_depth\": \"advanced\",\n   \"include_answer\": true,\n   \"topic\": \"general\",\n   \"max_results\": 5\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1728,
        1904
      ],
      "id": "63d3e579-2e9f-4c19-b8d1-f2716a4bb3c6",
      "name": "tool_tavily_search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "E31YCx1qsJyTHih9",
          "name": "[Tavily] - Search API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f38e3243-1b8e-45a2-856f-fafe71997d94",
              "leftValue": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"sender_pn\"] }}",
              "rightValue": "5518997913488@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "49878447-a07d-440a-a1d2-650dd0d34df3",
              "leftValue": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"sender_pn\"] }}",
              "rightValue": "558888136242@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e8e06394-848c-462b-8129-c8ae6299495b",
              "leftValue": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"sender_pn\"] }}",
              "rightValue": "5517991841789@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1936,
        832
      ],
      "id": "0043e899-f3d9-4222-8ae7-47501cf6cf3d",
      "name": "if_numero_autorizado"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1520,
        2432
      ],
      "id": "6ceed185-8b85-4a11-944d-23432cdab82e",
      "name": "gmail_responder",
      "webhookId": "e3624d55-d3fc-48c0-8b7d-2deec09658cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rSk66K0jvTt8lLfoZjf1gL_U6ZPrKF-j",
          "mode": "list",
          "cachedResultName": "RAG Helena",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rSk66K0jvTt8lLfoZjf1gL_U6ZPrKF-j"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        2240
      ],
      "id": "b3139833-d908-4aaf-bb15-66c86e756684",
      "name": "gdrive_trigger_novos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ox8YT5zmotq8dJGp",
          "name": "[Google Drive] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rSk66K0jvTt8lLfoZjf1gL_U6ZPrKF-j",
          "mode": "list",
          "cachedResultName": "RAG Helena",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rSk66K0jvTt8lLfoZjf1gL_U6ZPrKF-j"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        2432
      ],
      "id": "576ff544-7a8d-469a-8a42-35226fee9028",
      "name": "gdrive_trigger_atualizados",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ox8YT5zmotq8dJGp",
          "name": "[Google Drive] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "30ec8b1f-27ef-4b7b-9e79-a4f56f9a9bf8",
      "name": "gdrive_download_conhecimento",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1744,
        2320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ox8YT5zmotq8dJGp",
          "name": "[Google Drive] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "ea7f4eb3-723c-40da-8fcb-532feb4d1ac1",
      "name": "embeddings_openai_ingest",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1664,
        2560
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Ugq6gWB6qnLfgDP0",
          "name": "[OpenAi] - acessos@"
        }
      }
    },
    {
      "parameters": {
        "name": "helena",
        "description": "Você é uma base de conhecimento que dá respostas sobre infos de IA, Agentes, e Automações com N8N",
        "topK": 5
      },
      "id": "def972fc-89ff-4df6-868a-24986a5a0331",
      "name": "tool_base_conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -144,
        2304
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Helena — Config\n\nToken e URL lidos do payload webhook.\napiKey_eleven hardcoded no set_preparar_dados.\nVoice ID hardcoded no http_elevenlabs_tts.\n\n## Webhook UazAPI\n`https://n8n.ep.rnbsolucoes.com.br/webhook/helena`\n\n## Números autorizados\nConfigurados no node 'if_numero_autorizado'",
        "height": 680,
        "width": 580,
        "color": 6
      },
      "id": "128514f1-1aee-4d74-a25d-aaf2a5bf3416",
      "name": "note_config_uazapi",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2848,
        496
      ]
    },
    {
      "parameters": {
        "number": "={{ $('set_preparar_dados').item.json.message.chat_id }}",
        "text": "={{ $json.output }}"
      },
      "id": "dae422e3-b7af-47b5-bec4-1af83fb507c0",
      "name": "uazapi_enviar_texto",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        2000,
        1552
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "sendMedia",
        "number": "={{ $('set_preparar_dados').item.json.message.chat_id }}",
        "mediaType": "audio",
        "file": "={{ \"data:audio/mpeg;base64,\" + $json.data }}"
      },
      "id": "2549a901-2ad2-49e1-a005-6a89fc794191",
      "name": "uazapi_enviar_audio",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        3184,
        1312
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $json.fileURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        80
      ],
      "id": "01703738-c7fd-40ed-a06c-681a5a91e865",
      "name": "http_baixar_audio_binario"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b0a495e",
              "leftValue": "={{ $('set_preparar_dados').item.json.message.content.toString().trim().toLowerCase() }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5526cab3",
              "leftValue": "={{ $('set_preparar_dados').item.json.message.content.toString().trim().toLowerCase() }}",
              "rightValue": "ouvir",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6f1faf9d",
              "leftValue": "={{ $('set_preparar_dados').item.json.message.content.toString().trim().toLowerCase() }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "32bdff8c",
              "leftValue": "={{ $('set_preparar_dados').item.json.message.content.toString().trim().toLowerCase() }}",
              "rightValue": "áudio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2fd34f4d-885e-4ce0-a297-a94f9f91272b",
      "name": "if_comando_audio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        688
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "ultimo_texto",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id }}_last_reply",
        "options": {}
      },
      "id": "043174b1-4c76-48f5-82df-87dd4e1ed745",
      "name": "redis_buscar_ultima_resposta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        112,
        400
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c64bb8b4",
              "leftValue": "={{ $json.ultimo_texto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53694b57-7b8d-46fb-8ea2-4a0bd5cf8690",
      "name": "if_tem_resposta_anterior",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cccdbacb",
              "name": "output",
              "value": "={{ $json.ultimo_texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "50f5145f-766e-4339-a491-d2d131350892",
      "name": "set_preparar_replay",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        288
      ]
    },
    {
      "parameters": {
        "number": "={{ $('set_preparar_dados').item.json.message.chat_id }}",
        "text": "Ainda não tenho uma resposta anterior para converter em áudio, senhor."
      },
      "id": "4e4d72d1-3013-4a68-a8fd-23467efd0641",
      "name": "uazapi_fallback_sem_audio",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        704,
        528
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id }}_last_reply",
        "value": "={{ $('Helena').item.json.output }}",
        "keyType": "string",
        "expire": true,
        "ttl": 3600
      },
      "id": "10872168-b659-4d67-a184-aa54eacb0547",
      "name": "redis_salvar_ultima_resposta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2240,
        1552
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "hk-agenda",
                    "leftValue": "={{ $(\"set_preparar_dados\").item.json.message.content.toString().trim().toLowerCase() }}",
                    "rightValue": "agenda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "hk-email-1",
                    "leftValue": "={{ $(\"set_preparar_dados\").item.json.message.content.toString().trim().toLowerCase() }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "hk-email-2",
                    "leftValue": "={{ $(\"set_preparar_dados\").item.json.message.content.toString().trim().toLowerCase() }}",
                    "rightValue": "emails",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "hk-ajuda-1",
                    "leftValue": "={{ $(\"set_preparar_dados\").item.json.message.content.toString().trim().toLowerCase() }}",
                    "rightValue": "ajuda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "hk-ajuda-2",
                    "leftValue": "={{ $(\"set_preparar_dados\").item.json.message.content.toString().trim().toLowerCase() }}",
                    "rightValue": "?",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "ajuda"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "normal"
        }
      },
      "id": "9c746a3e-9ace-4960-9ce3-388e6daf824d",
      "name": "switch_hotkeys",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -64,
        896
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "hk-ajuda-text",
              "name": "text",
              "value": "*Comandos rápidos:*\n\nagenda → sua agenda de hoje\nemail → últimos emails\n1 ou ouvir → ouvir última resposta em áudio\najuda → esta lista\n\n_Qualquer outra mensagem vai direto para mim._\n— Helena",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5ec9c2a1-3df3-4899-9f13-ffa9c18de6cc",
      "name": "set_texto_ajuda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "rogerio@rnbsolucoes.com.br",
          "mode": "list",
          "cachedResultName": "rogerio@rnbsolucoes.com.br"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.startOf(\"day\").toISO() }}",
          "timeMax": "={{ $now.endOf(\"day\").toISO() }}"
        }
      },
      "id": "e510539e-90b1-48ef-9bed-ac1e4904ec29",
      "name": "gcal_hotkey_hoje",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        352,
        688
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json?.summary) {\n  return [{ json: { text: \"Agenda limpa hoje, senhor. Dia livre para conquistar o mundo.\" } }];\n}\n\nconst lines = items.map(e => {\n  const s = e.json.start?.dateTime || e.json.start?.date || '';\n  const d = new Date(s);\n  const h = d.getHours().toString().padStart(2, '0');\n  const m = d.getMinutes().toString().padStart(2, '0');\n  const time = s.includes('T') ? h + ':' + m : 'dia todo';\n  return time + ' \\u2014 ' + e.json.summary;\n});\n\nreturn [{ json: { text: \"*Agenda de hoje:*\\n\\n\" + lines.join(\"\\n\") } }];"
      },
      "id": "f7a87010-33f9-431b-a82c-369cb3e9f037",
      "name": "code_formatar_agenda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        688
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {}
      },
      "id": "8a94d232-9f77-4a24-9f8d-d19dad6f6dba",
      "name": "gmail_hotkey_inbox",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        896
      ],
      "webhookId": "3717d12f-972b-4130-a4de-e10fccbca5ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { text: \"Inbox limpo, senhor. Milagres acontecem.\" } }];\n}\n\nif (items[0].json?.error || items[0].json?.errorMessage) {\n  return [{ json: { text: \"Falha ao consultar o Gmail, senhor. Tente novamente em instantes.\" } }];\n}\n\nfunction extractFrom(raw) {\n  if (!raw) return 'Desconhecido';\n  if (typeof raw === 'object') return (raw.name || raw.email || 'Desconhecido').substring(0, 25);\n  return raw.toString().replace(/<[^>]+>/g, '').trim().substring(0, 25) || 'Desconhecido';\n}\n\nconst lines = items.slice(0, 5).map(e => {\n  const from = extractFrom(e.json.From || e.json.from || e.json.sender);\n  const subject = (e.json.Subject || e.json.subject || '(sem assunto)').substring(0, 45);\n  return '*' + from + '* \\u2014 ' + subject;\n});\n\nreturn [{ json: { text: \"*\\u00DAltimos emails:*\\n\\n\" + lines.join(\"\\n\") } }];"
      },
      "id": "bb17c527-b707-4dea-8bcc-8f4bc513a651",
      "name": "code_formatar_email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        896
      ]
    },
    {
      "parameters": {
        "number": "={{ $(\"set_preparar_dados\").item.json.message.chat_id }}",
        "text": "={{ $json.text }}"
      },
      "id": "61ae02ae-c741-4e09-93d3-8c69364c90c0",
      "name": "uazapi_enviar_hotkey",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        944,
        896
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $(\"set_preparar_dados\").item.json.message.chat_id }}_last_reply",
        "value": "={{ $(\"uazapi_enviar_hotkey\").item.json.text || \"\" }}",
        "keyType": "string",
        "expire": true,
        "ttl": 3600
      },
      "id": "3266fa8a-363b-48b9-94bb-e02548887db0",
      "name": "redis_salvar_hotkey_resposta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1248,
        896
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "dedup_existente",
        "key": "=dedup_{{ $('set_preparar_dados').item.json.message.message_id }}",
        "options": {}
      },
      "id": "58490be8-885c-4569-99ef-439593b2af80",
      "name": "redis_check_dedup",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1040,
        688
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dedup-cond-empty",
              "leftValue": "={{ $json.dedup_existente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff0d0ff4-b306-4ae0-9c49-a591c7b0fc74",
      "name": "if_mensagem_nova",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        688
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=dedup_{{ $('set_preparar_dados').item.json.message.message_id }}",
        "value": "processed",
        "keyType": "string",
        "expire": true,
        "ttl": 300
      },
      "id": "e403ad5e-3a8d-4f3b-8d06-22ed0351ed6c",
      "name": "redis_marcar_processada",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -688,
        688
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "webhook_entrada": [
      {
        "json": {
          "headers": {
            "host": "n8n.ep.rnbsolucoes.com.br",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "2532",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "65.108.141.240",
            "x-forwarded-host": "n8n.ep.rnbsolucoes.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "021c824624ec",
            "x-real-ip": "65.108.141.240"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://rnbsolucoes.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "r0cd7543ba2601b",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/604146066_1463871968656392_3395320599708031724_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa4AHgH1jFih6mKQwE8ssON1A8pr-4r2XTOgzeA34iMTUd4Q&oe=69CE65BC&_nc_sid=5e03e0&_nc_cat=102",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "Rogerio Borges",
              "owner": "5516988700278",
              "phone": "+55 18 99791-3488",
              "wa_archived": false,
              "wa_chatid": "5518997913488@s.whatsapp.net",
              "wa_chatlid": "233955542470820@lid",
              "wa_contactName": "Rogerio Borges",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "5516988700278:5518997913488",
              "wa_isBlocked": false,
              "wa_isGroup": false,
              "wa_isGroup_admin": false,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": false,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "233955542470820@lid",
              "wa_lastMessageTextVote": "1",
              "wa_lastMessageType": "Conversation",
              "wa_lastMsgTimestamp": 1774861730000,
              "wa_muteEndTime": 0,
              "wa_name": "Rogério Nogueira Borges",
              "wa_unreadCount": 59
            },
            "chatSource": "updated",
            "instanceName": "Nog COM",
            "message": {
              "buttonOrListid": "",
              "chatid": "5518997913488@s.whatsapp.net",
              "chatlid": "233955542470820@lid",
              "content": "1",
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "",
              "id": "5516988700278:ACE72936052C08489EDCC6DDA9DEDDD9",
              "isGroup": false,
              "mediaType": "",
              "messageTimestamp": 1774861730000,
              "messageType": "Conversation",
              "messageid": "ACE72936052C08489EDCC6DDA9DEDDD9",
              "owner": "5516988700278",
              "quoted": "",
              "reaction": "",
              "sender": "233955542470820@lid",
              "senderName": "Rogério Nogueira Borges",
              "sender_lid": "233955542470820@lid",
              "sender_pn": "5518997913488@s.whatsapp.net",
              "source": "android",
              "status": "",
              "text": "1",
              "track_id": "",
              "track_source": "",
              "type": "text",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "5516988700278",
            "token": "b1a3a72d-b644-400e-b222-76d307538e2c"
          },
          "webhookUrl": "https://n8n.ep.rnbsolucoes.com.br/webhook/helena",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "XAGyhvYAw9UC1vDI",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-04-13T13:58:59.682Z",
      "createdAt": "2026-04-13T13:58:59.682Z",
      "role": "workflow:owner",
      "workflowId": "3P0yMCLWLdyJkjvK",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": {
    "node:gdrive_trigger_novos": {
      "lastTimeChecked": "2026-04-13T14:06:18Z"
    },
    "node:gdrive_trigger_atualizados": {
      "lastTimeChecked": "2026-04-13T14:06:18Z"
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2026-04-27T12:46:01.492Z",
  "versionId": "61d6a595-78eb-4d28-a067-6ba48cd506ed"
}