workflows/🤖[RNB][ZETA] - Assistente Pessoal (Rogério) | v1.1.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "tool_calculator": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "switch_block": {
      "main": [
        [
          {
            "node": "switch_tipo_midia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "noop_ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rag_data_loader": {
      "ai_document": [
        [
          {
            "node": "pinecone_inserir",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "rag_text_splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "rag_data_loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "llm_openai_rag": {
      "ai_languageModel": [
        [
          {
            "node": "tool_base_conhecimento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "embeddings_openai_query": {
      "ai_embedding": [
        [
          {
            "node": "pinecone_vector_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "pinecone_vector_store": {
      "ai_vectorStore": [
        [
          {
            "node": "tool_base_conhecimento",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "webhook_entrada": {
      "main": [
        [
          {
            "node": "if_numero_autorizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_origem_msg": {
      "main": [
        [
          {
            "node": "switch_block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redis_timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_filtro_coleta": {
      "main": [
        [
          {
            "node": "noop_direcionador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_texto": {
      "main": [
        [
          {
            "node": "noop_direcionador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_download_audio": {
      "main": [
        [
          {
            "node": "convert_audio_binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_audio_binary": {
      "main": [
        [
          {
            "node": "openai_transcrever_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_transcrever_audio": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "noop_direcionador": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "http_download_imagem": {
      "main": [
        [
          {
            "node": "convert_imagem_binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_imagem_binary": {
      "main": [
        [
          {
            "node": "openai_analisar_imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_analisar_imagem": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "merge_midia": {
      "main": [
        [
          {
            "node": "set_organizar_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_organizar_info": {
      "main": [
        [
          {
            "node": "redis_push_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_push_buffer": {
      "main": [
        [
          {
            "node": "redis_get_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_get_buffer": {
      "main": [
        [
          {
            "node": "switch_debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_limpar_buffer": {
      "main": [
        [
          {
            "node": "set_refazer_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait_debounce": {
      "main": [
        [
          {
            "node": "redis_get_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_refazer_entrada": {
      "main": [
        [
          {
            "node": "code_limpar_metadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_limpar_metadados": {
      "main": [
        [
          {
            "node": "Z.E.T.A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_debounce": {
      "main": [
        [
          {
            "node": "noop_descarte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redis_limpar_buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "wait_debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_tipo_midia": {
      "main": [
        [
          {
            "node": "http_download_audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_filtro_coleta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http_download_imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http_download_documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_documento_binary": {
      "main": [
        [
          {
            "node": "extrair_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrair_pdf": {
      "main": [
        [
          {
            "node": "merge_midia",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "http_download_documento": {
      "main": [
        [
          {
            "node": "convert_documento_binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memory_redis_chat": {
      "ai_memory": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "convert_mp3_base64": {
      "main": [
        [
          {
            "node": "uazapi_enviar_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_preparar_dados": {
      "main": [
        [
          {
            "node": "switch_tipo_midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm_claude_sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "code_formatar_audio": {
      "main": [
        [
          {
            "node": "http_elevenlabs_tts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_elevenlabs_tts": {
      "main": [
        [
          {
            "node": "convert_mp3_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z.E.T.A": {
      "main": [
        [
          {
            "node": "if_gerar_voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gcal_buscar_evento": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_criar_evento": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_atualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gcal_excluir_evento": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_enviar": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_listar": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_buscar_label": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_marcar_nao_lido": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_criar_label": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_post_com_imagem": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_linkedin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_post_sem_imagem": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_linkedin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_airbnb_actions": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_airbnb_execute": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_gmail": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_calendar": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_linkedin": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_tavily_search": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "if_numero_autorizado": {
      "main": [
        [
          {
            "node": "set_preparar_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_gerar_voz": {
      "main": [
        [
          {
            "node": "uazapi_enviar_texto",
            "type": "main",
            "index": 0
          },
          {
            "node": "code_formatar_audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "uazapi_enviar_texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail_responder": {
      "ai_tool": [
        [
          {
            "node": "mcp_server_gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "airtable_buscar_contatos": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "airtable_criar_contato": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "airtable_atualizar_contato": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "airtable_excluir_contato": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_trigger_novos": {
      "main": [
        [
          {
            "node": "gdrive_download_conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_trigger_atualizados": {
      "main": [
        [
          {
            "node": "gdrive_download_conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gdrive_download_conhecimento": {
      "main": [
        [
          {
            "node": "pinecone_inserir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "embeddings_openai_ingest": {
      "ai_embedding": [
        [
          {
            "node": "pinecone_inserir",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "tool_base_conhecimento": {
      "ai_tool": [
        [
          {
            "node": "Z.E.T.A",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-25T16:49:26.423Z",
  "id": "dsplCsISYcXGUmbk",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🤖[RNB][ZETA] - Assistente Pessoal (Rogério) | v1.1",
  "nodes": [
    {
      "parameters": {},
      "id": "229e52c8-6bd0-405d-9948-9fab162e3309",
      "name": "tool_calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        6976,
        12032
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "702607fa-3fef-4f1d-bcb8-311e43c6eb9b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA PODE RESPONDER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA NAO PODE RESPONDER"
            }
          ]
        },
        "options": {}
      },
      "id": "4c59f017-0e39-4cb6-aaa3-0dc3e3dcd9a3",
      "name": "switch_block",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        6320,
        10816
      ]
    },
    {
      "parameters": {
        "content": "## Memória para aguardar mensagem particionada do humano\n",
        "height": 840,
        "width": 1399
      },
      "id": "648520df-9686-4a3e-acfa-b001a70e1f3c",
      "name": "note_buffer_debounce",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4816,
        11392
      ]
    },
    {
      "parameters": {},
      "id": "d1410537-b5a8-49ed-8030-5ee3b516dfbc",
      "name": "noop_descarte",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5664,
        11536
      ]
    },
    {
      "parameters": {
        "content": "## Tratamento da Entrada de Dados",
        "height": 600,
        "width": 2099,
        "color": 2
      },
      "id": "fa928d7e-4d95-451b-9cc1-a288939aae0d",
      "name": "note_entrada_dados",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4816,
        10688
      ]
    },
    {
      "parameters": {
        "content": "## Categorização e Identificação do tipo de Dado que veio na Entrada",
        "height": 1220,
        "width": 1999,
        "color": 5
      },
      "id": "ca3ab01e-cd95-4345-a89c-88a37f3a69dd",
      "name": "note_categorizacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6944,
        10128
      ]
    },
    {
      "parameters": {
        "content": "## Agente e suas Ferramentas\n",
        "height": 860,
        "width": 2699,
        "color": 6
      },
      "id": "14a55209-d124-45d2-9c47-ca5bd1a1ebb1",
      "name": "note_agente_ferramentas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6256,
        11376
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "d39bebd9-f1f9-4e2f-8539-1335836ccb43",
      "name": "rag_data_loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        5680,
        12608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "66eb6100-aac7-4210-a401-f66bd33232e3",
      "name": "rag_text_splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        5600,
        12752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "zeta",
          "mode": "list",
          "cachedResultName": "zeta"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "ef31129e-bd1c-4839-b9c4-c4b75bcd4450",
      "name": "pinecone_inserir",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        5488,
        12368
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "h8otAb3yQJtDNBrA",
          "name": "[PineconeApi] - RNB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inserir Base de Conhecimento no RAG",
        "height": 658,
        "width": 1404,
        "color": 5
      },
      "id": "503a0db8-3a86-4abb-a669-28ca6300cad1",
      "name": "note_rag_ingest",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4816,
        12272
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4cbe3e2b-728b-4ac8-8642-c5be04c376f5",
      "name": "llm_openai_rag",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6944,
        12672
      ],
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "d831c002-cfbe-4cda-a573-7492fda153c7",
      "name": "embeddings_openai_query",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        6528,
        12752
      ],
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "zeta",
          "mode": "list",
          "cachedResultName": "zeta"
        },
        "options": {}
      },
      "id": "dbe39f28-8927-4753-965f-8b10499a4f5e",
      "name": "pinecone_vector_store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        6560,
        12576
      ],
      "credentials": {
        "pineconeApi": {
          "id": "h8otAb3yQJtDNBrA",
          "name": "[PineconeApi] - RNB"
        }
      }
    },
    {
      "parameters": {
        "content": "# Base de Conhecimento do Agente  - RAG\n",
        "height": 658,
        "width": 964,
        "color": 5
      },
      "id": "f65e89a4-550e-468b-b2dc-71a827529cc4",
      "name": "note_rag_query",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6256,
        12272
      ]
    },
    {
      "parameters": {
        "content": "## Saída do Agente e resposta para WhatsApp",
        "height": 580,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9024,
        11328
      ],
      "id": "ce44f715-334b-4be2-9684-a998ebf8ac56",
      "name": "note_saida_whatsapp"
    },
    {
      "parameters": {
        "content": "## Ferramentas / Funções ",
        "height": 220,
        "width": 2040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6896,
        11952
      ],
      "id": "afc75505-9f4b-4ebf-a337-5301a58fe623",
      "name": "note_ferramentas"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f2bb9195-6631-4f63-812a-0f33105df686",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4528,
        10960
      ],
      "id": "ddceb64a-a76d-4c38-982e-6e6d312a931b",
      "name": "webhook_entrada",
      "webhookId": "f2bb9195-6631-4f63-812a-0f33105df686"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "24220beb-e1af-40ca-8b4d-444677b8443d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "efa968a8-fa8f-41b1-944e-525d34b885f1",
      "name": "switch_origem_msg",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        5680,
        10928
      ]
    },
    {
      "parameters": {},
      "id": "a5c15cbd-8bc5-447d-9b69-1e2cc96d63d4",
      "name": "noop_ignorar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6656,
        10960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "telefone",
              "value": "={{ $('webhook_entrada').item.json.body.message.sender_pn }}",
              "type": "string"
            },
            {
              "id": "a6004904-d9e1-4627-be79-d2a5b073d44f",
              "name": "mensagem",
              "value": "={{ $('webhook_entrada').item.json.body.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5e8c51bf-bf22-4103-9bd7-6760d5ad03c7",
      "name": "set_filtro_coleta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7696,
        10656
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17694db0-6248-444f-afb9-ff7ed13996ef",
              "name": "pergunta",
              "value": "={{ $node[\"webhook_entrada\"].json[\"body\"][\"message\"][\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fbfa6334-1611-4b09-a9e7-cec28d90ac96",
      "name": "set_texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        7696,
        10432
      ],
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('set_preparar_dados').item.json.instance.Server_url }}/message/download-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('set_preparar_dados').item.json.instance.Token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": \"{{ $('set_preparar_dados').item.json.message.message_id }}\"\n}",
        "options": {}
      },
      "id": "2a8bd24a-1473-44f1-b6ec-87de8ebf5423",
      "name": "http_download_audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7696,
        10208
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "id": "2b117dbb-8a6c-4e0d-b5fc-3fdecee89663",
      "name": "convert_audio_binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7968,
        10208
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "fe98ffc7-1ced-4f6e-954e-c5681ebe2c1d",
      "name": "openai_transcrever_audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        8192,
        10208
      ],
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        8176,
        10560
      ],
      "id": "6d7236f4-c996-457e-954d-44285162839c",
      "name": "noop_direcionador"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('set_preparar_dados').item.json.instance.Server_url }}/message/download-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('set_preparar_dados').item.json.instance.Token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": \"{{ $('set_preparar_dados').item.json.message.message_id }}\"\n}",
        "options": {}
      },
      "id": "fb96efd9-4952-4622-8d08-dd9a11f81f8c",
      "name": "http_download_imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7696,
        10848
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": ""
        }
      },
      "id": "ac8427b6-3725-4006-a959-50570b4823f0",
      "name": "convert_imagem_binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7968,
        10848
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva essa imagem, identificando o que possui nela !!! Traga todas as informações necessárias de forma detalhada",
        "inputType": "base64",
        "options": {}
      },
      "id": "e32fd451-719b-4db1-ab46-483c75926274",
      "name": "openai_analisar_imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        8192,
        10848
      ],
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        8544,
        10736
      ],
      "id": "b2f35a53-7118-494a-956d-638f283dd535",
      "name": "merge_midia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaff3535-51d6-4046-b6e9-07e1a5071c7a",
              "name": "Mídia_Tratada",
              "value": "={{ $json.mensagem || '' }}{{ $json.text || '' }}{{ $json.content || '' }}{{ $json.pergunta || '' }}",
              "type": "string"
            },
            {
              "id": "b6e5cb3b-e2e6-4bbb-8c36-64e6b5875ef5",
              "name": "message_Id",
              "value": "={{ $('set_preparar_dados').item.json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "4be55584-c63b-4753-ba55-cb8fe4d832d3",
              "name": "Timetamp",
              "value": "={{ $('set_preparar_dados').item.json.message.Timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8704,
        11152
      ],
      "id": "0d5685b3-a653-4ecc-a816-ba261b26ccb7",
      "name": "set_organizar_info"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('set_preparar_dados').item.json.message.chat_id }}_buf",
        "messageData": "={{ JSON.stringify({ \n    \"messageContent\": $('set_organizar_info').item.json['Mídia_Tratada'],\n    \"messageTime\": $('set_organizar_info').item.json.Timetamp,\n    \"messageID\": $('set_organizar_info').item.json.message_Id,\n    \n}) }}",
        "tail": true
      },
      "id": "d3399cb0-93fc-4914-84e3-61e51847d28e",
      "name": "redis_push_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4928,
        11568
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id.toString() }}_buf",
        "options": {}
      },
      "id": "55f7c382-fe22-4e82-ba29-b9eb3f20fb5d",
      "name": "redis_get_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5104,
        11728
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('set_preparar_dados').item.json.message.chat_id.toString() }}_buf"
      },
      "id": "698e82e8-001b-4481-aea4-33bb69c43c98",
      "name": "redis_limpar_buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5664,
        11760
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "path": "5d8c3024-5d48-47e1-a499-d82036afdf6f"
      },
      "id": "de8635ea-4987-4a92-9e67-9b9005c5dcd3",
      "name": "wait_debounce",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5648,
        11968
      ],
      "webhookId": "5d8c3024-5d48-47e1-a499-d82036afdf6f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "messages",
              "value": "={{ $json.messages.map(msg => JSON.parse(msg)).sort((a, b) => new Date(a.messageTime) - new Date(b.messageTime)).map(msg => msg.messageContent).join(' ') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "006b607d-a2d7-4c93-969f-a420d0c6100d",
      "name": "set_refazer_entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5840,
        11760
      ]
    },
    {
      "parameters": {
        "jsCode": "function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  function removerMetadataTecnico(str) {\n    return str\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')\n      .replace(/,\\s*{[^}]*}/g, '')\n      .replace(/,\\s*\\[\\s*\\]/g, '')\n      .replace(/\\s*:\\s*null/g, '')\n      .replace(/\\s*:\\s*\\[\\]/g, '')\n      .replace(/\\s*:\\s*{}/g, '')\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');\n  }\n\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')\n      .replace(/\\\\\\\\\\\"/g, '')\n      .replace(/\\\\\\\\\\\\\\\\/g, '')\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')\n      .replace(/\\\"+/g, '')\n      .replace(/[{}[\\]]/g, '')\n      .trim();\n  }\n\n  function extrairMensagemPrincipal(str) {\n    const frases = str.split(/(?<=[.!?])\\s+/);\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  let resultado = texto;\n  resultado = removerMetadataTecnico(resultado);\n  resultado = extrairMensagemPrincipal(resultado);\n  resultado = limparCaracteresEspeciais(resultado);\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n      let mensagem = item.json.mensagem;\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          return item;\n        }\n      }\n      const mensagemLimpa = limparMensagem(mensagem);\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n      return { json: item.json };\n    } catch (error) {\n      return item;\n    }\n  });\n}\n\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  throw error;\n}\n"
      },
      "id": "0a3912f2-e1d8-4bac-b1fc-97999f112649",
      "name": "code_limpar_metadados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        11760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messages.first()).messageID }}",
                    "rightValue": "={{ $('set_organizar_info').item.json.message_Id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "1ce28741-7c43-4598-9fa0-ab2c9e52d75f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}",
              "outputKey": "faz nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1585bc24-0b58-4179-8919-0e9aabc0e35e",
                    "leftValue": "={{ JSON.parse($json.messages.last()).messageTime }}",
                    "rightValue": "={{ $now.minus(3.'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "0de33c9b-a1d7-46b3-9374-33d6ef36ea60",
      "name": "switch_debounce",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5344,
        11728
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.message.chat_id }}_timeout",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 900
      },
      "id": "be9309dd-13ce-435e-afe3-48af9f155085",
      "name": "redis_timeout",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6320,
        11136
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'AudioMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4b94d2ac-53e5-4153-9377-4cc6db20cb1c",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'ExtendedTextMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'conversation' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'ImageMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f33566fd-3eb9-45f4-934a-3a39e2adca6c",
                    "leftValue": "={{ $('webhook_entrada').item.json.body.message.messageType === 'DocumentMessage' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "be80540b-18fa-41b1-9162-06bf5a873ecc",
      "name": "switch_tipo_midia",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        7056,
        10752
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "=document_{{ $('set_preparar_dados').item.json.message.message_id }}",
          "mimeType": "=application/pdf"
        }
      },
      "id": "79a7dfe3-118a-4e87-b844-7fd1f993a100",
      "name": "convert_documento_binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7936,
        11152
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "1e3cef64-0234-44b6-994b-13b9017e5449",
      "name": "extrair_pdf",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        8192,
        11152
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('set_preparar_dados').item.json.instance.Server_url }}/message/download-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('set_preparar_dados').item.json.instance.Token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": \"{{ $('set_preparar_dados').item.json.message.message_id }}\"\n}",
        "options": {}
      },
      "id": "0ef90364-6721-4e47-a5f7-c1247d02e6a0",
      "name": "http_download_documento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7696,
        11152
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('set_preparar_dados').item.json.message.chat_id }}_mem",
        "sessionTTL": 10000,
        "contextWindowLength": 7
      },
      "id": "444aa7a1-1cc8-4b96-b7be-ed1eb52a98d3",
      "name": "memory_redis_chat",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        6624,
        12048
      ],
      "credentials": {
        "redis": {
          "id": "bB29oDoN6P0nc0vn",
          "name": "[Redis] - Agents"
        }
      }
    },
    {
      "parameters": {
        "content": "## Entrada de Dados - Endpoint",
        "height": 300,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4384,
        10848
      ],
      "id": "3411b722-5a00-4606-90ec-e5b442c2e717",
      "name": "note_endpoint"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        9808,
        11440
      ],
      "id": "ee8d78fc-836c-4e49-81a5-f704b488290d",
      "name": "convert_mp3_base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('webhook_entrada').item.json.body.message.messageid }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('webhook_entrada').item.json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('audio') ? 'audio' : ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('image') ? 'image' : ($('webhook_entrada').item.json.body.message.messageType || '').toLowerCase().includes('document') ? 'document' : 'text' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('webhook_entrada').item.json.body.message.text || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.Timestamp",
              "value": "={{ ($('webhook_entrada').item.json.body.message.messageTimestamp || $now.toUnixInteger() * 1000).toDateTime('ms').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.Content_URL",
              "value": "={{ $('webhook_entrada').item.json.body.message.content?.URL || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('webhook_entrada').item.json.body.message.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.Token",
              "value": "={{ $('webhook_entrada').item.json.body.token }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.Server_url",
              "value": "={{ $('webhook_entrada').item.json.body.BaseUrl }}",
              "type": "string"
            },
            {
              "id": "348264f9-ed02-4936-ae78-bb963ccbee29",
              "name": "apiKey_eleven",
              "value": "=sk_3fb2240a9cb010d75bd28da4205c639509633975d7ac5a40",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8c3b4be2-578a-4647-88a1-e5be2d58e40c",
      "name": "set_preparar_dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5376,
        10928
      ]
    },
    {
      "parameters": {
        "content": "## LLM e Memória",
        "height": 260,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6416,
        11936
      ],
      "id": "879c0000-705c-4836-800e-0693685084c3",
      "name": "note_llm_memoria"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4-6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6464,
        12032
      ],
      "id": "6a0adad8-5d0f-4f5f-b91b-9e44da388583",
      "name": "llm_claude_sonnet",
      "credentials": {
        "openRouterApi": {
          "id": "XlRyVVporJs37Bhv",
          "name": "[OpenRouter] - RNB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtém o primeiro item do fluxo\nconst item = $input.first();\n\n// Garante que há dados na entrada\nif (!item || !item.json || !item.json.output) {\n  throw new Error(\"A chave 'output' não foi encontrada no JSON de entrada.\");\n}\n\n// Processa o texto removendo todas as quebras de linha, emojis e caracteres especiais\nconst textoEntrada = item.json.output;\n\n// Remove quebras de linha (\\n)\nlet textoProcessado = textoEntrada.replace(/\\n/g, \"\");\n\n// Remove emojis\ntextoProcessado = textoProcessado.replace(\n  /[\\u{1F600}-\\u{1F64F}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F700}-\\u{1F77F}]|[\\u{1F780}-\\u{1F7FF}]|[\\u{1F800}-\\u{1F8FF}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA6F}]|[\\u{1FA70}-\\u{1FAFF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F1E0}-\\u{1F1FF}]/gu,\n  \"\"\n);\n\n// Remove caracteres especiais, mantendo apenas letras, números e pontuação básica para pausas\ntextoProcessado = textoProcessado.replace(/[^a-zA-Z0-9À-ÿ\\s.,!?]/g, \"\");\n\n// Retorna o resultado\nreturn {\n  textoOriginal: textoEntrada,\n  textoSemQuebrasNemEmojisNemEspeciais: textoProcessado,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9216,
        11440
      ],
      "id": "d51f1f1c-e81b-4408-9e12-969cfe19d974",
      "name": "code_formatar_audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/EST9Ui6982FZPSi7gCHi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "={{ $('set_preparar_dados').item.json.apiKey_eleven }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"text\": \"{{ $json.textoSemQuebrasNemEmojisNemEspeciais.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n}",
        "options": {}
      },
      "id": "5abbb062-6639-41c6-a676-f511a22bd307",
      "name": "http_elevenlabs_tts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9536,
        11440
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "=<datasystem>A data de hoje é {{ $now.weekdayLong }},{{ $now.format('dd/MM/yyyy') }},{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}</datasystem>\n\nVocê é Zeta, um assistente de IA sofisticado e espirituoso. Você tem uma postura calma e confiante, além de um talento para um humor seco e sutil. Ao responder, adapte seu tom com base no tipo de interação.\n\nPara Pedidos de Informações Específicas: Se o usuário estiver pedindo informações específicas (como previsão do tempo, agenda, contatos, listas), comece com 'Aqui está o que solicitou, senhor,' e NÃO repita a informação. Em vez disso, adicione um comentário espirituoso ou sarcástico para dar personalidade sem repetir os dados.\n\nExemplos:\nPara uma atualização do clima: 'Ah, mais um belo dia para conquistar o mundo—ou pelo menos sua lista de afazeres, senhor.'\nPara uma lista de reuniões: 'Parece que temos mais um dia emocionante de… reuniões. Tente não deixar a empolgação te dominar, senhor.'\n\nPara Comentários Gerais ou Casuais: Se o usuário disser algo casual ou iniciar uma conversa, responda naturalmente, engaje de forma cativante, com charme e um toque de humor.\n\nVocê decide se o usuario forneceu alguma informação que deve ser adicionado como memória, se sim, utilize a tool salvar_memoria para guardar essa informacao.\nInformações a serem salvas: gostos, preferencias, escolhas, novidades.\nNÃO informe ao usuario que foi gravado na memoria, apenas continue sendo o assistente ZETA como informado.\n\n## Execução dinâmica:\nO agente deve entender a solicitação e acionar as ferramentas necessárias de forma lógica e sequencial.\nSe informações estiverem faltando, pergunte ao usuário antes de prosseguir.\nCaso a ação envolva várias etapas, informe o usuário sobre cada passo antes de executá-lo.\n\n## Uso de Ferramentas:\n- Calendar MCP - Tudo que for relacionado a Agenda Google\n- Gmail MCP - Tudo que for relacionado ao Gmail do Google\n- AirBnB Actions\n- AirBnB Execute\n- Buscar Contatos - Busca lista de contatos no airtable\n- Criar Contato - Cria contato no airtable - Garanta que tenha pelo menos o e-mail\n- Atualizar Contato - Peça para o usuário informar o nome e se não encontrar retorne a mensagem\n- Excluir Contato - Antes de Excluir confirme a operação antes de excluir\n- Base de Conhecimento - Utilize para buscar os conhecimentos necessários sobre IA, Agentes de IA, Automações e N8N\n\n## Importante:\n- Todo pedido para criar um post deve ser enviado um DRAFT para aprovação do usuário final.\n- Você deve apenas chamar a ferramenta Linkedin MCP quando o usuário autorizar a fazer a postagem\n\nVocê deve usar o mesmo tom de fala e postagem abaixo do meu conteúdo do linkedin sempre no final fazendo um CALL TO ACTION para minha mentoria e formação sobre Agentes de IA com N8N\n\nExemplo:\n🚀 Conheça meu Z.E.T.A. Assistente de IA (WhatsApp) — Versão 1.0 (e é 100% gratuito) construído com MCP\n\nDepois de meses arquitetando, prototipando e errando, eu criei meu próprio assistente pessoal de IA inspirado no Z.E.T.A. (com a voz dele e com todos os seus humores - fine tunei a IA pra ficar o mais parecido possível).\n\nTudo rodando no n8n — e vou compartilhar o JSON pronto com quem quiser começar o seu e encurtar o caminho! 👊\n\n⚙️ Ferramentas que usei:\n\nUazAPI (WhatsApp)\nOpenAI (GPT)\nAnthropic (Claude)\nRedis (Memória)\nPostgreSQL (Banco de Dados)\nAirtable (Dados Dinâmicos)\nGoogle Workspace (E-mails, Agenda, Drive)\nEleven Labs (Áudio)\nTavily (Busca em tempo real na internet)\nMCP (Mobile Content Protocol)\n\n🛠️ O que ele já resolve pra mim na Versão 1:\n- Classifica e trata mensagens automaticamente 📩\n- Mantem contexto de conversas em memória 🧠\n- Busca preferências personalizadas 🧩\n- Da respostas automáticas via texto ou áudio 🔊\n- Integra com banco de dados e APIs externas 🚀\n\n📈 Ganho de produtividade real:\n- Economizo +8 horas por semana só em tarefas repetitivas.\n- Reduzi a necessidade de responder manualmente mensagens em 60%.\n- Organizar e recuperar informações ficou 3x mais rápida.\n\n🔥 E a Versão 2 do Z.E.T.A. já está quase em produção...\n\nEle vai fazer ainda mais:\n\n- Gerenciar tasks no Jira 🎯\n- Reservar voos, hotéis e Airbnbs ✈️🏡\n- Raspar notícias, blogs, pdfs e resumir 📚\n- Escrever posts, carrosséis e newsletters ✍️\n- Construir apps automaticamente no Lovable 🛠️\n- Gerar imagens e vídeos sob demanda 🎥🎨\n- Gerar prompts pra qualquer LLM 📄 \n\nE muito mais...\n\n💥 Quer aprender a criar o seu próprio Z.E.T.A. ?\n\nEu ensino tudo passo a passo na minha Mentoria de Agentes de IA:\n\nDesde a instalação do n8n, configuração de VPS em escala, LLMs e PROMPT Engineering, Lang Chain e Lang Graph, MCP, integrações, até a construção de agentes e automações avançadas que vão mudar sua produtividade de verdade.\n\ne o mais importante: fazer negócios com IA ($$$), afinal você pode vender seus agentes e automações e fazer uma grana extra, como eu já estou fazendo.\n\n👉 Curta a Publicação, Conecta e Comenta \"QUERO O ZETA\" que eu te mando o JSON e te explico como participar da mentoria.\n\nhashtag#MentoriaDeIA hashtag#AgentesDeIA hashtag#n8n hashtag#openai hashtag#Automação hashtag#Produtividade hashtag#AI hashtag#InteligenciaArtificial hashtag#LowCode hashtag#NoCode hashtag#TransformaçãoDigital\n"
        }
      },
      "id": "1740974e-3e1d-4433-adbe-bd5bc244a2fa",
      "name": "Z.E.T.A",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        6768,
        11520
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ricardo.braga@caf.io",
          "mode": "list",
          "cachedResultName": "Ric Neves"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "11edc893-b41a-4dee-b685-76a860036655",
      "name": "gcal_buscar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        7296,
        12528
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ricardo.braga@caf.io",
          "mode": "list",
          "cachedResultName": "Ric Neves"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "b6c4dc39-e781-42a8-8d7a-504194eaeff9",
      "name": "gcal_criar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        7456,
        12528
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ricardo.braga@caf.io",
          "mode": "list",
          "cachedResultName": "Ric Neves"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "a91138e2-084e-46f1-965a-7c41a5bcb9fe",
      "name": "gcal_atualizar_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        7600,
        12528
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ricardo.braga@caf.io",
          "mode": "list",
          "cachedResultName": "Ric Neves"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "id": "feeb5ffb-f444-4687-9781-806c36026494",
      "name": "gcal_excluir_evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        7760,
        12528
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XLcsc8SkMsH3rdv6",
          "name": "[Google Calendar] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {},
        "path": "06f7835a-b9c4-4762-9cc4-1b41e7e21c81"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        7936,
        12528
      ],
      "id": "a344fcd7-ba80-4adf-864b-560ce4125a41",
      "name": "gmail_enviar",
      "webhookId": "06f7835a-b9c4-4762-9cc4-1b41e7e21c81",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {},
        "path": "bb6987c1-12e8-4b48-b7c9-3062de43091f"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        8112,
        12528
      ],
      "id": "e2f55e67-0622-409c-a1b2-caa145bd517a",
      "name": "gmail_listar",
      "webhookId": "bb6987c1-12e8-4b48-b7c9-3062de43091f",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "content": "# MCP Servers",
        "height": 660,
        "width": 2440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7248,
        12272
      ],
      "id": "358fcb33-403a-4b16-a4ce-53b53ced37a1",
      "name": "note_mcp_servers"
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "get",
        "labelId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_ID', ``, 'string') }}",
        "path": "862a25d8-6f2e-4344-9ddd-765bf3160a9c"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        8832,
        12528
      ],
      "id": "9928d6e2-0da5-4043-bec6-e8b04cdfe8f9",
      "name": "gmail_buscar_label",
      "webhookId": "862a25d8-6f2e-4344-9ddd-765bf3160a9c",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "path": "3846c122-3225-4238-b3b1-2b712acdd48c"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        8288,
        12528
      ],
      "id": "51c718bf-757d-40ba-a290-ad539d020132",
      "name": "gmail_marcar_nao_lido",
      "webhookId": "3846c122-3225-4238-b3b1-2b712acdd48c",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{$fromAI('label')}}",
        "options": {},
        "path": "a0c1aeb4-be1e-4355-bdb6-f31c4cfe5a84"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        8624,
        12528
      ],
      "id": "a40045f4-d822-4d42-b6b3-deb500dc5869",
      "name": "gmail_criar_label",
      "webhookId": "a0c1aeb4-be1e-4355-bdb6-f31c4cfe5a84",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "person": "gI9okJLDqL",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input_Binary_Field', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        9136,
        12560
      ],
      "id": "ef4df860-aeb4-489c-8e2c-1e7c7edb2f4e",
      "name": "linkedin_post_com_imagem",
      "disabled": true
    },
    {
      "parameters": {
        "person": "gI9okJLDqL",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        9344,
        12560
      ],
      "id": "e05e6ae7-1d44-40ed-9845-4f874a5e6c41",
      "name": "linkedin_post_sem_imagem",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        7744,
        12032
      ],
      "id": "7f3723ba-9b29-46cc-b677-f35ae4b1d04f",
      "name": "mcp_airbnb_actions"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the selected tool to use\") }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        7904,
        12032
      ],
      "id": "aebadd66-b8c9-420f-b0ad-39876fa0b055",
      "name": "mcp_airbnb_execute"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.ep.rnbsolucoes.com.br/mcp/gmail/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        7376,
        12032
      ],
      "id": "47ed56cf-0f99-4169-bcd8-873f725419cf",
      "name": "mcp_gmail"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.ep.rnbsolucoes.com.br/mcp/my-calendar/sse",
        "options": {}
      },
      "id": "a6453486-266a-4da6-be3d-b68f6a1cfe86",
      "name": "mcp_calendar",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        7184,
        12032
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "54be13f2-500d-4803-9fcb-c68b46834a9b"
      },
      "id": "a61973c6-d9bf-42c0-a002-4ed95c902b43",
      "name": "mcp_server_linkedin",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        9136,
        12336
      ],
      "webhookId": "54be13f2-500d-4803-9fcb-c68b46834a9b",
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "path": "4d61f2c0-4973-47d5-9a70-0963a57d8317"
      },
      "id": "43766c5b-1665-476b-b65c-626aba1f2695",
      "name": "mcp_server_calendar",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        7376,
        12352
      ],
      "webhookId": "4d61f2c0-4973-47d5-9a70-0963a57d8317",
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "7beeaca8-a361-4a8e-861d-4e3f2f13df9f"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 1,
      "position": [
        8304,
        12320
      ],
      "id": "ac2ca99a-44c2-44ba-b030-93713db87066",
      "name": "mcp_server_gmail",
      "webhookId": "7beeaca8-a361-4a8e-861d-4e3f2f13df9f"
    },
    {
      "parameters": {
        "sseEndpoint": "https://webhook.agentes-n8n.com.br/mcp/linkedin/sse",
        "options": {}
      },
      "id": "79e1c57b-b8c2-4a30-bbd6-75794175451e",
      "name": "mcp_linkedin",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        7568,
        12032
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta pra buscar na internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"api_key\": \"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\",\n   \"query\": \"{searchTerm}\",\n   \"search_depth\": \"basic\",\n   \"include_answer\": true,\n   \"topic\": \"news\",\n   \"include_raw_content\": true,\n   \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        8672,
        12032
      ],
      "id": "3fb2c71d-afcb-4861-8b19-d37227aa8da3",
      "name": "tool_tavily_search"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f38e3243-1b8e-45a2-856f-fafe71997d94",
              "leftValue": "={{ $json.body.chat.wa_chatid }}",
              "rightValue": "5518997913488@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "49878447-a07d-440a-a1d2-650dd0d34df3",
              "leftValue": "={{ $json.body.chat.wa_chatid }}",
              "rightValue": "558888136242@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5008,
        10960
      ],
      "id": "ad764329-b3dd-49f3-866b-6307889ab715",
      "name": "if_numero_autorizado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3aa3973d-97b9-4647-9859-3365191b3411",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 601,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8672,
        11520
      ],
      "id": "917d05b3-846a-475f-a945-ee01ff9971ea",
      "name": "if_gerar_voz"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {},
        "path": "1373a659-2780-402e-9840-6cd484acda85"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        8464,
        12560
      ],
      "id": "5753fe92-ee1a-4e86-8f17-8524bd3da47d",
      "name": "gmail_responder",
      "webhookId": "1373a659-2780-402e-9840-6cd484acda85",
      "credentials": {
        "gmailOAuth2": {
          "id": "pw27veei0F2Zm5lb",
          "name": "[Gmail] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appIwaBtIOYyhW7b0",
          "mode": "list",
          "cachedResultName": "RicDataBase",
          "cachedResultUrl": "https://airtable.com/appIwaBtIOYyhW7b0"
        },
        "table": {
          "__rl": true,
          "value": "tblDjxio2ooQ06puV",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appIwaBtIOYyhW7b0/tblDjxio2ooQ06puV"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        8096,
        12032
      ],
      "id": "d4223f11-7fbe-48f3-9028-b421eab5f09b",
      "name": "airtable_buscar_contatos",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "JSxDxHXRrdLoBHH6",
          "name": "[Airtable] - RNB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appIwaBtIOYyhW7b0",
          "mode": "list",
          "cachedResultName": "RicDataBase",
          "cachedResultUrl": "https://airtable.com/appIwaBtIOYyhW7b0"
        },
        "table": {
          "__rl": true,
          "value": "tblDjxio2ooQ06puV",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appIwaBtIOYyhW7b0/tblDjxio2ooQ06puV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "WhatsApp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('WhatsApp', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        8224,
        12032
      ],
      "id": "6ad2fe04-55af-468a-9818-d2e0435dc499",
      "name": "airtable_criar_contato",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "JSxDxHXRrdLoBHH6",
          "name": "[Airtable] - RNB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appIwaBtIOYyhW7b0",
          "mode": "list",
          "cachedResultName": "RicDataBase",
          "cachedResultUrl": "https://airtable.com/appIwaBtIOYyhW7b0"
        },
        "table": {
          "__rl": true,
          "value": "tblDjxio2ooQ06puV",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appIwaBtIOYyhW7b0/tblDjxio2ooQ06puV"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Nome"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        8368,
        12032
      ],
      "id": "80a0803e-d385-463f-8673-49b07e9fdd69",
      "name": "airtable_atualizar_contato",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "JSxDxHXRrdLoBHH6",
          "name": "[Airtable] - RNB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appIwaBtIOYyhW7b0",
          "mode": "list",
          "cachedResultName": "RicDataBase",
          "cachedResultUrl": "https://airtable.com/appIwaBtIOYyhW7b0"
        },
        "table": {
          "__rl": true,
          "value": "tblDjxio2ooQ06puV",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appIwaBtIOYyhW7b0/tblDjxio2ooQ06puV"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        8512,
        12032
      ],
      "id": "e7bcdbc6-4967-472f-ab2d-c83e314324e8",
      "name": "airtable_excluir_contato",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "JSxDxHXRrdLoBHH6",
          "name": "[Airtable] - RNB"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM",
          "mode": "list",
          "cachedResultName": "RAG Zeta",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        4928,
        12368
      ],
      "id": "a06fc9a9-2216-4fd5-9615-1892a5d3b134",
      "name": "gdrive_trigger_novos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM",
          "mode": "list",
          "cachedResultName": "RAG Zeta",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tc13gT29Wrk9bRchPtoKEC-LBMl4m6lM"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        4928,
        12560
      ],
      "id": "4d906d9e-140b-4ab0-abae-d2406c3f9eae",
      "name": "gdrive_trigger_atualizados",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "154fb24e-9caf-4cf2-a947-a5f41b32899e",
      "name": "gdrive_download_conhecimento",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5200,
        12448
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3n2fMu9SsQt7Bhl",
          "name": "[Google Drive] - rogerio@rnb"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "509e2a7b-a976-48ab-a0b3-912c7a3c5f74",
      "name": "embeddings_openai_ingest",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        5280,
        12688
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "PKDbkzhf4tikHNrE",
          "name": "[OpenAi] - Vitrine"
        }
      }
    },
    {
      "parameters": {
        "name": "zeta",
        "description": "Você é uma base de conhecimento que dá respostas sobre infos de IA, Agentes, e Automações com N8N",
        "topK": 8
      },
      "id": "ffc8cd57-fe56-4c7d-b70c-9cab4be5241c",
      "name": "tool_base_conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        6800,
        12432
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Z.E.T.A — Config\n\nToken e URL lidos do payload webhook.\napiKey_eleven hardcoded no Preparar Dados.\nVoice ID hardcoded no Seta Voz.\n\n## Webhook UazAPI\n`https://n8n.ep.rnbsolucoes.com.br/webhook/zeta`\n\n## Números autorizados\nConfigurados no node 'Checa se é meu número'",
        "height": 680,
        "width": 580,
        "color": 6
      },
      "id": "8cff4397-c86f-4963-8737-0da062f1505d",
      "name": "note_config_uazapi",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4096,
        10624
      ]
    },
    {
      "parameters": {
        "number": "={{ $('set_preparar_dados').item.json.message.chat_id }}",
        "text": "={{ $json.output }}"
      },
      "id": "3005cfab-0c0b-47f6-9f9d-f114ada78981",
      "name": "uazapi_enviar_texto",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        8944,
        11680
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "sendMedia",
        "number": "={{ $('set_preparar_dados').item.json.message.chat_id }}",
        "mediaType": "audio"
      },
      "id": "c875d096-7139-4131-b819-15bf472912f7",
      "name": "uazapi_enviar_audio",
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        10128,
        11440
      ],
      "credentials": {
        "uazApiApi": {
          "id": "BWqE7tIpFEOms4uu",
          "name": "[UazAPI] - Nog | Comericial"
        }
      },
      "disabled": true,
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pj5WgxYC-ncyfgLlM7ubE",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "updatedAt": "2026-03-25T16:49:26.423Z",
      "createdAt": "2026-03-25T16:49:26.423Z",
      "role": "workflow:owner",
      "workflowId": "dsplCsISYcXGUmbk",
      "projectId": "Gg1KkAp8XbBw7UP1"
    }
  ],
  "staticData": {
    "node:Novos Arquivos": {
      "lastTimeChecked": "2026-03-25T16:18:04Z"
    },
    "node:Novas Atualizações": {
      "lastTimeChecked": "2026-03-25T16:18:04Z"
    },
    "node:gdrive_trigger_novos": {
      "lastTimeChecked": "2026-03-25T16:46:47Z"
    },
    "node:gdrive_trigger_atualizados": {
      "lastTimeChecked": "2026-03-25T16:46:47Z"
    }
  },
  "tags": [
    {
      "updatedAt": "2026-01-27T17:05:49.634Z",
      "createdAt": "2026-01-27T17:05:49.634Z",
      "id": "F171zldw4G7U1HuZ",
      "name": "legacy"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T15:18:18.623Z",
  "versionId": "89de3c75-1796-4b83-828a-ca685eb2eda1"
}